<template>
  <CollapseContainer :title="'Return Confirmation'" :canExpan="false">
    <a-button :type="'primary ml-2'" v-show="userRoles.includes('SUPPLIER')">
      Dokumen yang berhubungan
    </a-button>
  </CollapseContainer>
  <div id="invoice-print-div" class="p-1">
    <div class="md:flex enter-y">
      <div class="ant-card ant-card-bordered ant-card-small md:w-1/2 w-full !md:mt-0 !md:mr-4">
        <div class="mx-4 mt-4 info-title"> Return Information </div>
        <Description
          size="small"
          :bordered="true"
          :column="1"
          :data="infos"
          :schema="orderInfoSchema"
        />
      </div>
      <div class="ant-card ant-card-bordered ant-card-small md:w-1/2 w-full !md:mt-0 !md:mr-4">
        <div class="mx-4 mt-4 info-title"> Informasi Supplier </div>
        <div class="mx-4 mb-2 destination"> {{ infos?.nama_supplier }} </div>
        <Description
          size="small"
          :bordered="true"
          :column="2"
          :data="infos"
          :schema="supplierSchema"
        />
      </div>
    </div>
  </div>

  <div class="p-1" style="background-color: white">
    <BasicTable @register="registerTable" class="main-table">
      <template #bodyCell="{ column, record }">
        <template v-if="column.key === 'code'">
          <ItemCodeCell
            :itemCode="record.item_code"
            :sub="record.sub_code"
            :unit="record.unit_code"
          />
        </template>
        <template v-else-if="column.key === 'itemName'">
          <ItemNameCell :itemName="record.item_name" :sub="record.item_name" />
        </template>
        <template v-else-if="column.key === 'orderQuantity'">
          <QtyOrderCell
            :qtyOrder="record.order_qty_in_pack"
            :qtyNormal="record.purchase_price_type"
            :qtyFree="record.free_qty_insku"
          />
        </template>
      </template>
    </BasicTable>
    <div class="md:flex enter-y" id="total-price-box">
      <div class="md:w-4/5 w-full !md:mt-0 !md:mr-4"> Total Harga: </div>
      <div class="md:w-1/5 w-full !md:mt-0 !md:mr-4" id="total-price-amount">
        Rp.{{ toFixedFloat(total) }}</div
      >
    </div>
  </div>
</template>
<script setup lang="ts">
  import { DescItem, Description } from '/@/components/Description';
  import { BasicColumn, useTable, BasicTable } from '/@/components/Table';
  import {
    ItemCodeCell,
    ItemNameCell,
    QtyOrderCell,
    toDateFormat,
    toFixedFloat,
  } from '/@/views/components/DetailTemplates';
  import { defineProps } from 'vue';
  import { CollapseContainer } from '/@/components/Container/index';
  import { useUserStore } from '/@/store/modules/user';
  import { rrcDetailListApi, rrcInfoListApi } from '/@/api/vms/returnRequestConfirmation';

  const props = defineProps({
    rrcId: String,
  });

  const userStore = useUserStore();
  const roles = userStore.getUserInfo.roles;
  let userRoles: string[] = [];
  roles.forEach((role) => {
    userRoles.push(role.value);
  });

  const pfirItemListApiResult = await rrcDetailListApi(props.rrcId);
  const items: Recordable[] = pfirItemListApiResult.items;

  const pfirDetailInfoApiResult = await rrcInfoListApi(props.rrcId);
  const info: Recordable[] = pfirDetailInfoApiResult.items;
  const infos = info[0];

  let total = 0;
  items.forEach((element) => {
    total += element.harga_unit ? parseFloat(element.harga_unit) : 1;
  });

  let data = [];

  for (let index = 0; index < items.length; index++) {
    const element = items[index];
    data.push({
      // eslint-disable-next-line prettier/prettier
      no: element.no,
      // eslint-disable-next-line prettier/prettier
      item_code: element.item_code,
      // eslint-disable-next-line prettier/prettier
      nama_barang: element.nama_barang,
      // eslint-disable-next-line prettier/prettier
      barcode: element.barcode,
      // eslint-disable-next-line prettier/prettier
      qty_dikembalikan: toFixedFloat(element.qty_dikembalikan),
      // eslint-disable-next-line prettier/prettier
      harga_unit: element.harga_unit ? toFixedFloat(element.harga_unit) : '',
      // eslint-disable-next-line prettier/prettier
      nilai_pengembalian: toFixedFloat(element.nilai_pengembalian),
      // eslint-disable-next-line prettier/prettier
      keterangan: element.keterangan,
      // eslint-disable-next-line prettier/prettier
      terima: element.terima,
      // eslint-disable-next-line prettier/prettier
      keterangan1: element.keterangan1,
    });
  }

  let print = [];
  for (let index = 0; index < items.length; index++) {
    const element = items[index];
    print.push({
      // eslint-disable-next-line prettier/prettier
      no: element.no,
      // eslint-disable-next-line prettier/prettier
      item_code: element.item_code,
      // eslint-disable-next-line prettier/prettier
      nama_barang: element.nama_barang,
      // eslint-disable-next-line prettier/prettier
      barcode: element.barcode,
      // eslint-disable-next-line prettier/prettier
      qty_dikembalikan: toFixedFloat(element.qty_dikembalikan),
      // eslint-disable-next-line prettier/prettier
      harga_unit: element.harga_unit ? toFixedFloat(element.harga_unit) : '',
      // eslint-disable-next-line prettier/prettier
      nilai_pengembalian: toFixedFloat(element.nilai_pengembalian),
      // eslint-disable-next-line prettier/prettier
      keterangan: element.keterangan,
      // eslint-disable-next-line prettier/prettier
      terima: element.terima,
      // eslint-disable-next-line prettier/prettier
      keterangan1: element.keterangan1,
    });
  }

  const orderInfoSchema: DescItem[] = [
    { field: 'rtn_confirmation_number', label: 'Return Confirmation Number' },
    { field: 'rtn_confirmation_date', label: 'Return Confirmation Date' },
    { field: 'departemen', label: 'Department' },
    { field: 'store', label: 'Toko' },
    { field: 'picked_up_date', label: 'Pick Up Date' },
  ];

  const supplierSchema: DescItem[] = [
    { field: 'supplier_code', label: 'Kode Supplier' },
    { field: 'name', label: 'Nama Supplier' },
    { field: 'phone', label: 'Telepon' },
    { field: 'fax', label: 'Fax' },
  ];

  const columns: BasicColumn[] = [
    { title: 'Item Code', dataIndex: 'item_code', width: 150 },
    { title: 'Nama Barang', dataIndex: 'nama_barang', width: 240 },
    { title: 'Barcode', dataIndex: 'barcode', width: 150 },
    { title: 'Qty Dikembalikan', dataIndex: 'qty_dikembalikan', width: 80 },
    { title: 'Harga Unit', dataIndex: 'harga_unit', width: 80 },
    { title: 'Nilai Pengembalian', dataIndex: 'nilai_pengembalian', width: 80 },
    { title: 'keterangan', dataIndex: 'keterangan', width: 100 },
    { title: 'Terima', dataIndex: 'terima', width: 100 },
    { title: 'keterangan', dataIndex: 'keterangan1', width: 100 },
  ];

  const [registerTable] = useTable({
    title: 'Tabel Item',
    dataSource: data,
    columns: columns,
    bordered: true,
    tableSetting: { fullScreen: true },
    loading: false,
    pagination: false,
    canResize: true,
    scroll: { y: 300 },
    // showSummary: true,
  });
</script>
<style scoped>
  .destination {
    font-size: 20px;
  }

  .info-title {
    font-size: 14px;
    font-weight: bold;
  }

  #total-price-box {
    padding: 8px;
    font-size: 16px;
    text-align: right;
    margin-bottom: 16px;
  }

  #total-price-amount {
    font-weight: bold;
  }

  #additional-info {
    white-space: pre-line;
    font-size: 14px;
    background-color: #ee2a33;
    color: white;
    border-radius: 20px;
    margin: 0px 10px 20px;
  }
</style>
