<template>
  <CollapseContainer :title="'Purchase Order CDT: ' + props.poId" :canExpan="false">
    <div class="button">
      <a-button :type="'primary'" @click="jsonPrint">Lihat versi cetak</a-button>
      <DocumentDropdownButton :documents="documents2" />
    </div>
  </CollapseContainer>
  <div class="p-1" id="header-pdf">
    <div class="md:flex enter-y">
      <div class="ant-card ant-card-bordered ant-card-small md:w-1/2 w-full !md:mt-0 !md:mr-1">
        <div class="mx-4 mt-4 info-title"> Informasi Order </div>
        <div class="mx-4 mb-2 destination"> {{ poDetailInfoData.delivery_to }} </div>
        <Description
          size="small"
          :bordered="true"
          :column="1"
          :data="poDetailInfoData"
          :schema="orderInfoSchema"
        />
      </div>
      <div class="ant-card ant-card-bordered ant-card-small md:w-1/2 w-full !md:mb-1 !md:mr-1">
        <div class="mx-4 mt-4 info-title"> Informasi Supplier </div>
        <div class="mx-4 mb-2 destination"> {{ poDetailInfoData.supplier_name }} </div>
        <Description
          size="small"
          :bordered="true"
          :column="2"
          :data="poDetailInfoData"
          :schema="supplierSchema"
        />
        <div class="p-4 mb-4 font-bold"> Note: Confirmed Order </div>
      </div>
    </div>
  </div>
  <div class="p-1" style="background-color: white">
    <BasicTable @register="registerTable" class="main-table">
      <template #bodyCell="{ column, record }">
        <template v-if="column.key === 'code'">
          <ItemCodeCell
            :itemCode="record.item_code"
            :sub="record.sub_code"
            :unit="record.unit_code"
          />
        </template>
        <template v-else-if="column.key === 'itemName'">
          <ItemNameCell :itemName="record.item_name" :sub="record.sub_code_name" />
        </template>
        <template v-else-if="column.key === 'orderQuantity'">
          <QtyOrderCell
            :qtyOrder="record.order_qty_in_pack"
            :qtyNormal="record.purchase_price_type"
            :qtyFree="record.free_qty_insku"
          />
        </template>
        <template v-else-if="column.key === 'capacityAndBarcode'">
          {{ record.capacity }} / {{ record.barcode }}
        </template>
        <template v-else-if="column.key === 'qtyPerPack'">
          {{ toFixedFloat(record.qty_per_pack) }}
        </template>
        <template v-else-if="column.key === 'totalQty'">
          {{ toFixedFloat(record.order_qty_in_pack * record.qty_per_pack) }}
        </template>
        <template v-else-if="column.key === 'price'">
          {{ toFixedFloat(record.unit_price) }}
        </template>
      </template>
    </BasicTable>
    <div class="md:flex enter-y" id="total-price-box">
      <div class="md:w-4/5 w-full !md:mt-0 !md:mr-4"> Total Harga: </div>
      <div class="md:w-1/5 w-full !md:mt-0 !md:mr-4" id="total-price-amount">
        {{ toFixedFloat(poDetailInfoData.total_amount) }}
      </div>
    </div>
    <div class="py-4 px-6" id="additional-info">
      <div class="info-title">Keterangan:</div>
      <div>{{ additionalInfoData }}</div>
    </div>
  </div>
</template>
<script setup lang="ts">
  import { poDetailInfoApi, poItemListApi } from '/@/api/vms/purchaseOrder';
  import { DescItem } from '/@/components/Description';
  import { BasicColumn, useTable, BasicTable } from '/@/components/Table';
  import { Description } from '/@/components/Description';
  import {
    ItemCodeCell,
    ItemNameCell,
    QtyOrderCell,
    toDateFormat,
    toFixedFloat,
  } from '/@/views/components/DetailTemplates';
  import { CollapseContainer } from '/@/components/Container';
  // import printJS from 'print-js';
  import jsPDF from 'jspdf';
  import autoTable from 'jspdf-autotable';
  import logo from '/@/assets/images/logo.png';
  import { DocumentDropdownButton } from '/@/views/components/DetailTemplates';
  import { documentListApi, documentListApi2 } from '/@/api/vms/Document';

  const props = defineProps({
    poId: String,
  });

  const orderInfoSchema: DescItem[] = [
    { field: 'sender_code', label: 'Informasi Pengirim' },
    { field: 'dept_code', label: 'Kode Departemen' },
    { field: 'delivery_to', label: 'Pengiriman Ke' },
    { field: 'po_no', label: 'Nomor Order' },
    { field: 'date_updated', label: 'Tanggal Order' },
    { field: 'expected_delivery_date', label: 'Tanggal Penerimaan' },
    { field: 'business_unit_name', label: 'Nama Perusahaan' },
    { field: 'business_unit_registration', label: 'NPWP' },
    { field: 'business_unit_address', label: 'Alamat Perusahaan' },
  ];

  const supplierSchema: DescItem[] = [
    { field: 'supplier_code', label: 'Kode' },
    { field: 'supplier_phone', label: 'Telepon' },
    { field: 'supplier_fax_number', label: 'Fax' },
  ];

  const columns: BasicColumn[] = [
    { title: 'Kode Barang', key: 'code', width: 150 },
    { title: 'Kapasitas/Barcode', key: 'capacityAndBarcode', width: 150 },
    { title: 'Nama Barang', key: 'itemName', width: 240 },
    { title: 'Qty Order', key: 'orderQuantity', width: 120 },
    { title: 'Qty/Pack', key: 'qtyPerPack', width: 80 },
    { title: 'Total Qty', key: 'totalQty', width: 80 },
    { title: 'Harga Unit', key: 'price', width: 100 },
  ];

  interface Document {
    docKey: string;
    reference: string;
    status: string;
    date: Date;
    accepted?: string;
  }
  const documentApiResult = await documentListApi({ id: props.poId! });
  // const document2ApiResult = await documentListApi2({id:documentApiResult.items[0].id, pfi_id:documentApiResult.items[0].pfi_id})
  console.log(documentApiResult);

  let documents: Document[] = [
    {
      docKey: 'po',
      reference: documentApiResult.items[0].id,
      status: documentApiResult.items[0].po_status,
      date: documentApiResult.items[0].po_date,
    },
    {
      docKey: 'ra',
      reference: documentApiResult.items[0].ra_id,
      status: documentApiResult.items[0].ra_status,
      date: documentApiResult.items[0].ra_date,
    },
    {
      docKey: 'rar',
      reference: documentApiResult.items[0].rar_id,
      status: documentApiResult.items[0].rar_status,
      date: documentApiResult.items[0].rar_date,
    },
    {
      docKey: 'pfi',
      reference: documentApiResult.items[0].pfi_id,
      status: documentApiResult.items[0].pfi_status,
      date: documentApiResult.items[0].pfi_date,
    },
    {
      docKey: 'pfir',
      reference: documentApiResult.items[0].pfir_id,
      status: documentApiResult.items[0].pfir_status,
      date: documentApiResult.items[0].pfir_date,
      // accepted: '',
    },
    {
      docKey: 'inv',
      reference: documentApiResult.items[0].i_id,
      status: documentApiResult.items[0].i_status,
      date: documentApiResult.items[0].i_date,
      // accepted: '',
    },
  ];

  let documents2: Document[] = [];
  if (documentApiResult.items[0].id != null) {
    documents2.push(documents[0]);
  }
  if (documentApiResult.items[0].ra_id != null) {
    documents2.push(documents[1]);
  }
  if (documentApiResult.items[0].rar_id != null && documentApiResult.items[0].rar_status != "CANCELLED") {
    documents2.push(documents[2]);
  }
  if (documentApiResult.items[0].pfi_id != null) {
    documents2.push(documents[3]);
  }
  // for (let index = 0; index < document2ApiResult.items.length; index++) {
  //   if(document2ApiResult.items[index].pfir_id!=null){
  //     documents[4].reference = document2ApiResult.items[index].pfir_id,
  //     documents[4].status = document2ApiResult.items[index].pfir_status,
  //     documents[4].date = document2ApiResult.items[index].pfir_date,
  //     documents2.push(documents[4]);
  //   }
  // }

  if (documentApiResult.items[0].pfir_id != null && documentApiResult.items[0].pfir_status != "CANCELLED") {
    documents.push(documents[4]);
  }

  if (documentApiResult.items[0].i_id != null && documentApiResult.items[0].i_status != "CANCELLED") {
    documents2.push(documents[5]);
  }

  const additionalInfoData: String = `- Selalu sertakan dokumen ini saat melakukan pengiriman barang.
  - Pemasok harus menagih TRI/ARI/TGI sesuai harga satuan yang tercantum dalam PO. Dalam hal Pemasok menagih TRI/ARI/TGI dengan harga satuan yang lebih tinggi dari harga satuan yang tercantum dalam PO, maka TRI/ARI/TGI hanya wajib membayar Pemasok sesuai harga satuan tersebut dalam PO.
  - Jika harga yang tertera pada PO kami tidak sesuai dengan kesepakatan, anda bisa menghubungi bagian commercial/buyer yang bersangkutan sebelum melakukan pengiriman.`;

  const poDetailInfoApiResult = await poDetailInfoApi({ id: props.poId! });
  const poDetailInfoData = poDetailInfoApiResult.items[0];
  poDetailInfoData.dept_code = `${poDetailInfoData.dept_code} - ${poDetailInfoData.department_name}`;
  poDetailInfoData.order_date = toDateFormat(poDetailInfoData.order_date);
  poDetailInfoData.date_updated = toDateFormat(poDetailInfoData.date_updated);
  poDetailInfoData.expected_delivery_date = toDateFormat(poDetailInfoData.expected_delivery_date);
  const poItemListApiResult = await poItemListApi({
    page: 1,
    pageSize: 1000,
    purchase_order: props.poId!,
  });
  const items: Recordable[] = poItemListApiResult.items;

  const [registerTable] = useTable({
    title: 'Tabel Item',
    dataSource: items,
    columns: columns,
    bordered: true,
    tableSetting: { fullScreen: true },
    loading: false,
    pagination: false,
    canResize: true,
    scroll: { y: 300 },
    // showSummary: true,
  });

  let print = [];
  for (let index = 0; index < items.length; index++) {
    const element = items[index];
    print.push({
      // eslint-disable-next-line prettier/prettier
      No: element.line_no,
      'Kode Barang':
        element.item_code + ' Sub: ' + element.sub_code + ' Unit: ' + element.unit_code,
      'Kapasitas/ Barcode': element.barcode + ' ' + element.capacity,
      'Nama Barang': element.item_name + ' Sub: ' + element.sub_code_name,
      'Harga Unit': toFixedFloat(element.unit_price),
      'Qty dipesan': toFixedFloat(element.order_qty_in_pack),
      Gratis: toFixedFloat(element.free_qty_insku),
      'Qty perpack': toFixedFloat(element.qty_per_pack),
      'Total Qty': toFixedFloat(element.order_qty_in_pack * element.qty_per_pack),
      'Harga Unit': toFixedFloat(element.unit_price),
    });
  }

  function jsonPrint() {
    let pdfName = `Purchase Order - ${poDetailInfoData.supplier_name}.pdf`;
    var doc = new jsPDF('p', null, 'a4');
    doc.setFontSize(9);
    let image = new Image();
    image.src = logo;
    doc.addImage(image, 'png', 5, 5, 77, 9);
    doc.text(105, 10, 'Purchase Order');
    const tableColumns = columns.map((value) => {
      return {
        header: value.title,
        dataKey: value.key,
      };
    });
    let data = items.map((value) => {
      return {
        // eslint-disable-next-line prettier/prettier
        no: value.line_no,
        code: value.item_code + '\nSub: ' + value.sub_code + '\nUnit: ' + value.unit_code,
        capacityAndBarcode: value.capacity + ' / ' + value.barcode,
        itemName: value.item_name + '\nSub: ' + value.sub_code_name,
        orderQuantity: `${toFixedFloat(value.order_qty_in_pack)}\nKemasan Normal: ${
          value.purchase_price_type
        }\nGratis: ${toFixedFloat(value.free_qty_insku)}`,
        qtyPerPack: toFixedFloat(value.qty_per_pack),
        totalQty: toFixedFloat(value.order_qty_in_pack * value.qty_per_pack),
        price: toFixedFloat(value.unit_price),
      };
    });
    doc.html(document.getElementById('header-pdf'), {
      callback: function (doc) {
        // Save the PDF
        autoTable(doc, {
          columns: [
            {
              header: 'No',
              dataKey: 'no',
            },
            ...tableColumns,
          ],
          body: data,
          startY: 63,
          styles: {
            fontSize: 6,
          },
        });
        doc.setFontSize(9);
        doc.text(
          145,
          doc.lastAutoTable.finalY + 3,
          `Total harga: ${toFixedFloat(poDetailInfoData.total_amount)}`,
        );
        doc.save(pdfName);
      },
      x: 5,
      y: 15,
      width: 200, //target width in the PDF document
      windowWidth: 1500, //window width in CSS pixels
    });
  }
</script>
<style scoped>
  .destination {
    font-size: 20px;
  }

  .info-title {
    font-size: 14px;
    font-weight: bold;
  }

  .button {
    float: right;
    display: block;
    margin-top: -45px;
    margin-right: 20px;
  }
  #total-price-box {
    padding: 8px;
    font-size: 16px;
    text-align: right;
    margin-bottom: 16px;
  }

  #total-price-amount {
    font-weight: bold;
  }

  #additional-info {
    white-space: pre-line;
    font-size: 14px;
    background-color: #ee2a33;
    color: white;
    border-radius: 20px;
    margin: 0px 10px 20px;
  }
</style>
