<template>
  <!-- <CollapseContainer :title="'Consignment Performa Invoice'" :canExpan="false" /> -->
  <CollapseContainer
    :title="'Consignment Proforma Invoice ID: ' + pfirDetailInfoApiResult.items[0].cdt"
    :canExpan="false"
  >
    <div class="button">
      <a-button @click="handleAccept" :type="'primary ml-2'"> Terima </a-button>
      <a-button @click="jsonPrint" :type="'primary'" class="ml-2 btn">Lihat versi cetak</a-button>
      <DocumentDropdownButton :documents="documents2" />
      <!-- <DocumentDropdownButton :documents="documents" :cdt="pfirDetailInfoApiResult.items[0].cdt" /> -->
      <!-- <a-button @click="" :type="'primary'">Lihat versi cetak</a-button> -->
      <!-- <DocumentDropdownButton :documents="documents" :cdt="otherPfiData.cdt" /> -->
    </div>
  </CollapseContainer>
  <div id="invoice-print-div" class="p-1">
    <div class="md:flex enter-y">
      <div class="ant-card ant-card-bordered ant-card-small md:w-1/2 w-full !md:mt-0 !md:mr-4">
        <div class="mx-4 mt-4 info-title"> Informasi PFI </div>
        <Description
          size="small"
          :bordered="true"
          :column="1"
          :data="infos"
          :schema="orderInfoSchema"
        />
      </div>
      <div class="ant-card ant-card-bordered ant-card-small md:w-1/2 w-full !md:mt-0 !md:mr-4">
        <div class="mx-4 mt-4 info-title"> Informasi Supplier </div>
        <div class="mx-4 mb-2 destination"> {{ infos.supplier_name }} </div>
        <Description
          size="small"
          :bordered="true"
          :column="2"
          :data="infos"
          :schema="supplierSchema"
          @click="pfiNumber"
        />
      </div>
    </div>
  </div>

  <div class="p-1" style="background-color: white">
    <BasicTable @register="registerTable" class="main-table">
      <template #bodyCell="{ column, record }">
        <template v-if="column.key === 'code'">
          <BarcodeBankPromoSalesType
            :barcode="record.barcode"
            :bankPromo="record.bank_promo"
            :salesType="record.sales_type"
          />
        </template>
        <template v-else-if="column.key === 'itemName'">
          <ItemNameCell :itemName="record.item_name" :sub="record.item_name" />
        </template>
        <template v-else-if="column.key === 'capacityAndBarcode'">
          {{ record.capacity }} / {{ record.barcode }}
        </template>
        <template v-else-if="column.key === 'totalQty'">
          {{ record.raipoi[0] ? toFixedFloat(record.raipoi[0]?.received_qty) : 1 }}
        </template>
        <template v-else-if="column.key === 'Unitprice'">
          {{ toFixedFloat(record.unit_price) }}
        </template>
        <template v-else-if="column.key === 'reconciled'">
          {{ record.raipoi[0] ? toFixedFloat(record.raipoi[0]?.raipfii[0]?.reconciled) : '' }}
        </template>
        <template v-if="column.key === 'sales_date'">{{
          toDateFormat(record.sales_date)
        }}</template>
      </template>
    </BasicTable>
    <div class="md:flex enter-y" id="total-price-box">
      <div class="md:w-4/5 w-full !md:mt-0 !md:mr-4"> Total Harga: </div>
      <div class="md:w-1/5 w-full !md:mt-0 !md:mr-4" id="total-price-amount">
        Rp.{{ toFixedFloat(total) }}</div
      >
    </div>
  </div>
</template>
<script setup lang="ts">
  import { DescItem, Description } from '/@/components/Description';
  import { BasicColumn, useTable, BasicTable } from '/@/components/Table';
  import {
    toFixedFloat,
    BarcodeBankPromoSalesType,
    toDateFormat,
  } from '/@/views/components/DetailTemplates';
  import { defineProps } from 'vue';
  import { CollapseContainer } from '/@/components/Container/index';
  import { useUserStore } from '/@/store/modules/user';
  import {
    cpfiDetailApi,
    cpfiInfoApi,
    cpfiactionAcceptApi,
  } from '/@/api/vms/ConsigmentproformaInvoice';
  import printJS from 'print-js';
  import { DocumentDropdownButton } from '/@/views/components/DetailTemplates';
  import { documentConsApi, documentListApi, documentListApi2 } from '/@/api/vms/Document';
  import { router } from '/@/router';
  import { useMessage } from '/@/hooks/web/useMessage';
  import { CpfiAcceptParams } from '/@/api/vms/model/cpfi/cpfiAcceptModel';
  import jsPDF from 'jspdf';
  import autoTable from 'jspdf-autotable';
  import logo from '/@/assets/images/logo.png';
  // import { documents } from '../hard-code-materials/descData';

  const props = defineProps({
    cspfiId: String,
  });

  const userStore = useUserStore();
  const roles = userStore.getUserInfo.roles;
  let userRoles: string[] = [];
  roles.forEach((role) => {
    userRoles.push(role.value);
  });

  const pfirItemListApiResult = await cpfiDetailApi(props.cspfiId);
  const items: Recordable[] = pfirItemListApiResult.items;

  const pfirDetailInfoApiResult = await cpfiInfoApi(props.cspfiId);
  const info: Recordable[] = pfirDetailInfoApiResult.items;
  const infos = info[0];

  // const isEditable: boolean =
  //   userRoles.includes('SUPPLIER') && ['DRAFT', 'AWAITING_ACTION'].includes(invStatus);

  let total = 0;
  items.forEach((element) => {
    // let tot =
    //   (element.total_cons_payable ? parseFloat(element.total_cons_payable) : 1) *
    //   parseFloat(items.length);
    // total += parseFloat(tot);
    total += parseFloat(element.total_cons_payable);
  });
  let data = [];

  for (let index = 0; index < items.length; index++) {
    const element = items[index];
    data.push({
      // eslint-disable-next-line prettier/prettier
      no: element.no,
      // eslint-disable-next-line prettier/prettier
      sales_date: element.sales_date,
      // eslint-disable-next-line prettier/prettier
      barcode: element.barcode,
      // eslint-disable-next-line prettier/prettier
      bank_promo: element.bank_promo,
      // eslint-disable-next-line prettier/prettier
      sales_type: element.sales_type,
      // eslint-disable-next-line prettier/prettier
      nama_barang: element.nama_barang,
      // eslint-disable-next-line prettier/prettier
      sales_qty: toFixedFloat(element.sales_qty),
      // eslint-disable-next-line prettier/prettier
      selling_price: toFixedFloat(element.selling_price),
      // eslint-disable-next-line prettier/prettier
      base_cons_margin: toFixedFloat(element.base_cons_margin),
      // eslint-disable-next-line prettier/prettier
      base_cons_payable: toFixedFloat(element.base_cons_payable),
      // eslint-disable-next-line prettier/prettier
      support_promo_sup: toFixedFloat(element.support_promo_sup),
      // eslint-disable-next-line prettier/prettier
      total_cons_payable: toFixedFloat(element.total_cons_payable),
      // eslint-disable-next-line prettier/prettier
      terima: element.terima,
    });
  }

  let print = [];
  for (let index = 0; index < items.length; index++) {
    const element = items[index];
    print.push({
      // eslint-disable-next-line prettier/prettier
      No: element.no,
      // eslint-disable-next-line prettier/prettier
      'Sales Date': element.sales_date,
      // eslint-disable-next-line prettier/prettier
      'Barcode Bank Promo / Sales Type':
        element.barcode +
        ' Bank Promo: ' +
        element.bank_promo +
        ' Sales Type: ' +
        element.sales_type,
      // eslint-disable-next-line prettier/prettier
      'Nama Barang': element.nama_barang,
      // eslint-disable-next-line prettier/prettier
      'Sales Qty': toFixedFloat(element.sales_qty),
      // eslint-disable-next-line prettier/prettier
      'Selling Price': toFixedFloat(element.selling_price),
      // eslint-disable-next-line prettier/prettier
      'Base Consignment Margin': toFixedFloat(element.base_cons_margin),
      // eslint-disable-next-line prettier/prettier
      'Base Consignment Payable': toFixedFloat(element.base_cons_payable),
      // eslint-disable-next-line prettier/prettier
      'Support Promo Supplier': toFixedFloat(element.support_promo_sup),
      // eslint-disable-next-line prettier/prettier
      'Sub Total Consignment Payable': toFixedFloat(element.total_cons_payable),
      // eslint-disable-next-line prettier/prettier
      Terima: element.terima,
    });
  }

  const orderInfoSchema: DescItem[] = [
    { field: 'pfi_number', label: 'PFI Number', edit: true },
    { field: 'tanggal_pfi', label: 'Tanggal PFI' },
    { field: 'revisi', label: 'Revisi' },
    { field: 'store', label: 'Toko' },
    { field: 'department', label: 'Departemen' },
    { field: 'nama_perusahaan', label: 'Nama perusahaan' },
    { field: 'alamat_perusahaan', label: 'Alamat perusahaan' },
    { field: 'npwp', label: 'NPWP' },
    { field: 'sales_start_date', label: 'Sales Start Date' },
    { field: 'sales_end_date', label: 'Sales End Date:' },
    { field: 'con_margin_rate', label: 'Consignment Margin Rate' },
    { field: 'con_margin_value', label: 'Consignment Margin Value' },
  ];

  const supplierSchema: DescItem[] = [
    { field: 'supplier_code', label: 'Kode Supplier' },
    { field: 'supplier_name', label: 'Nama Supplier' },
    { field: 'supplier_phone', label: 'Telepon' },
    { field: 'supplier_fax', label: 'Fax' },
  ];

  const columns: BasicColumn[] = [
    { title: 'Sales Date', key: 'sales_date', width: 150 },
    { title: 'Barcode Bank Promo / Sales Type', key: 'code', width: 240 },
    { title: 'Nama Barang', dataIndex: 'nama_barang', width: 150 },
    { title: 'Sales Qty', dataIndex: 'sales_qty', width: 80 },
    { title: 'Selling Price', dataIndex: 'selling_price', width: 100 },
    { title: 'Base Consignment Margin', dataIndex: 'base_cons_margin', width: 100 },
    { title: 'Base Consignment Payable', dataIndex: 'base_cons_payable', width: 100 },
    { title: 'Support Promo Supplier', dataIndex: 'support_promo_sup', width: 100 },
    { title: 'Sub Total Consignment Payable', dataIndex: 'total_cons_payable', width: 100 },
    { title: 'Terima', dataIndex: 'terima', width: 100 },
  ];

  interface Document {
    docKey: string;
    reference: string;
    status: string;
    date: Date;
    accepted?: string;
  }
  const documentApiResult = await documentConsApi({ cdt: props.cspfiId! });
  console.log(documentApiResult);

  let documents: Document[] = [
    {
      docKey: 'cpfi',
      reference: documentApiResult.items[0].cdt,
      status: documentApiResult.items[0].cpfi_status,
      date: documentApiResult.items[0].cpfi_date,
    },
    {
      docKey: 'cinv',
      reference: documentApiResult.items[0].cdt,
      status: documentApiResult.items[0].ci_status,
      date: documentApiResult.items[0].ci_date,
      // accepted: '',
    },
  ];

  let documents2: Document[] = [];

  if (documentApiResult.items[0].cdt != null) {
    documents2.push(documents[0]);
  }

  if (documentApiResult.items[0].ci_status != null) {
    documents2.push(documents[1]);
  }

  const [registerTable] = useTable({
    title: 'Tabel Item',
    dataSource: data,
    columns: columns,
    bordered: true,
    tableSetting: { fullScreen: true },
    loading: false,
    pagination: false,
    canResize: true,
    scroll: { y: 300 },
    // showSummary: true,
  });
  function jsonPrint() {
    let pdfName = `Consignment PFI - ${infos.pfi_number}.pdf`;
    var doc = new jsPDF('p', null, 'a4');
    doc.setFontSize(9);
    let image = new Image();
    image.src = logo;
    doc.addImage(image, 'png', 5, 5, 77, 9);
    doc.text(105, 10, 'Consignment PFI');
    const tableColumns = columns.map((value) => {
      return {
        header: value.title,
        dataKey: value.key || value.dataIndex,
      };
    });
    let data = items.map((element) => {
      return {
        no: element.no,
        sales_date: element.sales_date,
        code:
          element.barcode +
          '\nBank Promo: ' +
          element.bank_promo +
          ' Sales Type: ' +
          element.sales_type,
        barcode: element.barcode,
        bank_promo: element.bank_promo,
        sales_type: element.sales_type,
        nama_barang: element.nama_barang,
        sales_qty: toFixedFloat(element.sales_qty),
        selling_price: toFixedFloat(element.selling_price),
        base_cons_margin: toFixedFloat(element.base_cons_margin),
        base_cons_payable: toFixedFloat(element.base_cons_payable),
        support_promo_sup: toFixedFloat(element.support_promo_sup),
        total_cons_payable: toFixedFloat(element.total_cons_payable),
        terima: element.terima,
      };
    });
    console.log(data);
    doc.html(document.getElementById('header-pdf'), {
      callback: function (doc) {
        // Save the PDF
        autoTable(doc, {
          columns: [
            {
              header: 'No',
              dataKey: 'no',
            },
            ...tableColumns,
          ],
          body: data,
          startY: 65,
          styles: {
            fontSize: 6,
          },
        });
        doc.setFontSize(9);

        doc.text(143, doc.lastAutoTable.finalY + 3, 'Total Harga: Rp.' + toFixedFloat(total));

        doc.save(pdfName);
      },
      x: 5,
      y: 15,
      width: 200, //target width in the PDF document
      windowWidth: 1500, //window width in CSS pixels
    });
  }

  const { createMessage, createConfirm, createSuccessModal } = useMessage();

  async function handleAccept() {
    // console.log('klik untuk melihat detail', record);
    const actionProps: CpfiAcceptParams = {
      cdt: props.cspfiId!,
      cdt2: props.cspfiId!,
      // action: 'ACCEPT',
    };
    console.log(actionProps);

    createConfirm({
      iconType: 'warning',
      content: 'Apakah anda yakin ingin menerima Consignment Proforma Invoice ini ?',
      async onOk() {
        // notification.success({
        //   message: 'Success',
        //   description: 'Dokumen Receiving Advice disahkan. Membuat Proforma Invoice baru.',
        // });
        const cpfiSendActionApiResult = await cpfiactionAcceptApi(actionProps);

        createSuccessModal({
          title: 'Success',
          content: 'Dokumen Consignment Proforma Invoice Response diTerima.',
          onOk() {
            router.push(`/consignment/invoice/detail/${cpfiSendActionApiResult.inv_id}`); // POST
          },
        });
      },
    });
  }
  function pfiNumber() {
    console.log('cancel');
  }
</script>
<style scoped>
  .destination {
    font-size: 20px;
  }

  .info-title {
    font-size: 14px;
    font-weight: bold;
  }

  #total-price-box {
    padding: 8px;
    font-size: 16px;
    text-align: right;
    margin-bottom: 16px;
  }

  #total-price-amount {
    font-weight: bold;
  }

  #additional-info {
    white-space: pre-line;
    font-size: 14px;
    background-color: #ee2a33;
    color: white;
    border-radius: 20px;
    margin: 0px 10px 20px;
  }

  .button {
    float: right;
    display: block;
    margin-top: -45px;
    margin-right: 20px;
  }
</style>
