<template>
  <CollapseContainer :title="'RETURN REQUEST'" :canExpan="false">
    <div class="button">
      <!-- <a-button @click="" :type="'primary'">Lihat versi cetak</a-button> -->
      <DocumentReturDropdownButton :documents="documents2" />
      <!-- <a-button @click="handleAcceptPfi" :type="'primary ml-2'" v-show="isEditable">
      Terima
    </a-button>
    <a-button @click="handleRejectPfi" :type="'primary ml-2'" v-show="isEditable"> Tolak </a-button>
    <a-button @click="handleRejectPfi" :type="'primary ml-2'" disabled v-show="isAccepted">
      <strong>Diterima</strong>
    </a-button>
    <a-button @click="handleSendBackKPfi" :type="'primary ml-2'" v-show="isRejected">
      Kembalikan
    </a-button> -->
      <a-button @click="handleSendRR" :type="'primary ml-2'" v-show="isEditable"> Kirim </a-button>
      <a-button @click="jsonPrint" :type="'primary'" class="ml-2 btn">Lihat versi cetak</a-button>
    </div>
  </CollapseContainer>
  <div class="p-1" id="header-pdf">
    <div class="md:flex enter-y">
      <div class="ant-card ant-card-bordered ant-card-small md:w-1/2 w-full !md:mt-0 !md:mr-4">
        <div class="mx-4 my-4 info-title"> Return Informations </div>
        <Description
          size="small"
          :bordered="true"
          :column="1"
          :data="infos"
          :schema="orderInfoSchema"
        />
      </div>
      <div class="ant-card ant-card-bordered md:w-1/2 w-full !md:mt-0 !md:mr-4">
        <div class="mx-4 mt-4 info-title"> Informasi Supplier </div>
        <div class="mx-4 mb-2 destination"> {{ infos?.nama_supplier }} </div>
        <Description
          size="small"
          :bordered="true"
          :column="1"
          :data="infos"
          :schema="supplierSchema"
        />
      </div>
    </div>
    <!-- <div class="md:flex enter-y">
      <div class="ant-card ant-card-bordered ant-card-small w-full !md:mt-0 !md:mr-4">
        <div class="mx-4 my-4 info-title"> Detail Invoice </div>
        <Description
          size="small"
          :bordered="true"
          :column="{ xxl: 2, xl: 2, lg: 2, md: 1, sm: 1, xs: 1 }"
          :data="infos"
          :schema="invDetailSchema"
        />
      </div>
    </div> -->
    <!-- <div class="ant-card ant-card-bordered ant-card-small w-full !md:mt-0 !md:mr-4">
      <div class="mx-4 my-4 info-title"> Berkas Faktur Pajak </div>
    </div> -->
    <!-- <div class="md:flex enter-y">
      <BasicTable @register="registerTaxInvoiceTable" class="main-table">
        <template #bodyCell="{ column, record }">
          <template v-if="column.key === 'action'">
            <TableAction
              :actions="[
                {
                  label: '[Action Placeholder]',
                  onClick: handleTaxInvoiceAction.bind(null, record),
                },
              ]"
            />
          </template>
        </template>
      </BasicTable>
    </div> -->

    <!-- <div class="ant-card ant-card-bordered ant-card-small w-full !md:mt-0 !md:mr-4">
      <div class="mx-4 my-4 info-title"> Berkas Dokumen Pendukung </div>
    </div> -->
    <!-- <div class="md:flex enter-y">
      <BasicTable @register="registerSupportingDocumentTable" class="main-table">
        <template #bodyCell="{ column, record }">
          <template v-if="column.key === 'deliveryOrder'">
            <a :href="record.deliveryOrder" v-if="record.deliveryOrder != ''">
              <strong>Download Surat Jalan</strong>
            </a>
            <span style="font-style: italic" v-else> (tidak ada berkas) </span>
          </template>
          <template v-else-if="column.key === 'invoice'">
            <a :href="record.invoice" v-if="record.invoice != ''">
              <strong>Download Invoice</strong>
            </a>
            <span style="font-style: italic" v-else> (tidak ada berkas) </span>
          </template>
          <template v-else-if="column.key === 'receipt'">
            <a :href="record.receipt" v-if="record.receipt != ''">
              <strong>Download Kwitansi</strong>
            </a>
            <span style="font-style: italic" v-else> (tidak ada berkas) </span>
          </template>
        </template>
      </BasicTable>
    </div> -->
  </div>

  <div class="p-1" style="background-color: white">
    <BasicTable
      @register="registerTable"
      class="main-table"
      @edit-end="handleEditEnd"
      @edit-cancel="handleEditCancel"
    >
      <template #bodyCell="{ column, record }">
        <template v-if="column.key === 'code'">
          <ItemCodeCell
            :itemCode="record.itemCode"
            :sub="record.itemCodeSub"
            :unit="record.itemCodeUnit"
          />
        </template>
        <template v-else-if="column.key === 'itemName'">
          <ItemNameCell :itemName="record.itemName" :sub="record.itemNameSub" />
        </template>
        <template v-else-if="column.key === 'totalQty'">
          {{ toFixedFloat(record.total_qty) }}
        </template>
        <!-- <<<<<<< HEAD
        <template v-else-if="column.key === 'price'">
          {{ toFixedFloat(record.harga_unit) }}
        </template>
        <template v-else-if="column.key === 'priceBeforeTax'">
          {{ toFixedFloat(record.harga_sebelum_pajak) }}
        </template>
        <template v-else-if="column.key === 'priceAfterTax'">
          {{ toFixedFloat(record.harga_setelah_pajak) }}
        </template>
        <template v-else-if="column.key === 'taxPercentage'">
          {{ toFixedFloat(record.persen_pajak) }}
        </template>
        <template v-else-if="column.key === 'luxuryTax'">
          {{ toFixedFloat(record.ppn_bm) }}
        </template>
        <template v-else-if="column.field === 'tanggal_order'">
          {{ toDateFormat(record.tanggal_order) }}
        </template>
        <template v-else-if="column.field === 'tgl_faktur_pajak'">
          {{ toDateFormat(record.tgl_faktur_pajak) }}
        </template>
        <template v-else-if="column.field === 'tgl_inv_supplier'">
          {{ toDateFormat(record.tgl_inv_supplier) }}
        </template>
=======
>>>>>>> integ-rar -->
      </template>
    </BasicTable>
    <div class="md:flex enter-y">
      <div class="md:w-1/2 w-full !md:mt-0 !md:mr-4"><br /></div>
      <div class="md:w-1/2 w-full !md:mt-0 !md:mr-4">
        <Description
          size="small"
          :bordered="true"
          :column="1"
          :data="infos"
          :schema="invPriceSchema"
        />
      </div>
    </div>
    <div class="md:flex enter-y" id="total-price-box">
      <div class="md:w-4/5 w-full !md:mt-0 !md:mr-4"> Total Harga: </div>
      <div class="md:w-1/5 w-full !md:mt-0 !md:mr-4" id="total-price-amount">
        Rp.{{ toFixedFloat(total) }}</div
      >
    </div>
    <!-- <div class="py-4 px-6" id="additional-info">
      <div class="info-title">Keterangan:</div>
      <div>{{ additionalInfoData }}</div>
    </div> -->
  </div>
</template>
<script setup lang="ts">
  import { CollapseContainer } from '/@/components/Container/index';
  import { BasicTable, useTable, BasicColumn } from '/@/components/Table';
  import {
    ItemCodeCell,
    ItemNameCell,
    toDateFormat,
    toFixedFloat,
  } from '/@/views/components/DetailTemplates';
  import { DescItem, Description } from '/@/components/Description';
  import { useUserStore } from '/@/store/modules/user';
  import { rrInfoListApi, rrDetailListApi, rrSendApi, rrSaveApi } from '/@/api/vms/returnRequest';
  import jsPDF from 'jspdf';
  import autoTable from 'jspdf-autotable';
  import logo from '/@/assets/images/logo.png';
  import { DocumentReturDropdownButton } from '/@/views/components/DetailTemplates';
  import { documentReturApi } from '/@/api/vms/Document';
  import { router } from '/@/router';
  import { useMessage } from '/@/hooks/web/useMessage';
  import { useTabs } from '/@/hooks/web/useTabs';
  import { RRActionParams } from '/@/api/vms/model/rr/RRActionModel';
  import { RRSaveParams } from '/@/api/vms/model/rr/rrSaveModel';

  const props = defineProps({
    rrId: String,
  });

  const invOrderInfoSchema: DescItem[] = [
    { field: 'nomor_order', label: 'Nomor Order' },
    { field: 'tanggal_order', label: 'Tanggal Order' },
    { field: 'departemen', label: 'Kode Departemen' },
    { field: 'toko', label: 'Toko Transmart' },
    { field: 'nama_perusahaan', label: 'Nama Perusahaan' },
    { field: 'alamat_perusahaan', label: 'Alamat Perusahaan' },
    { field: 'npwp_supp', label: 'NPWP' },
  ];

  const supplierSchema: DescItem[] = [
    { field: 'kode_supplier', label: 'Kode' },
    { field: 'nama_supplier', label: 'Nama Perusahaan' },
    // { field: 'alamat_supplier', label: 'Alamat Perusahaan' },
    // { field: 'kodepos', label: 'Kode Pos' },
    // { field: 'kota', label: 'Kota' },
    // { field: 'negara', label: 'Negara' },
    // { field: 'nama', label: 'Nama' },
    { field: 'telepon', label: 'Telepon' },
    { field: 'fax', label: 'Fax' },
    // { field: 'taxNo', label: 'NPWP' },
    // { field: 'email', label: 'E-Mail' },
  ];

  // const invDetailSchema: DescItem[] = [
  //   { field: 'nomor_seri_pajak', label: 'Nomor Seri Pajak' },
  //   { field: 'confirm_seri_pajak', label: 'Konfirmasi Nomor Seri Pajak' },
  //   { field: 'tgl_faktur_pajak', label: 'Tanggal Faktur Pajak' },
  //   { field: 'no_inv_supplier', label: 'Nomor Invoice Supplier' },
  //   { field: 'tgl_inv_supplier', label: 'Tanggal Invoice Supplier' },
  //   { field: 'revisi', label: 'Revisi' },
  // ];

  // const invPriceSchema: DescItem[] = [
  //   { field: 'sub_total', label: 'Sub Total' },
  //   { field: 'purchasePriceCorrection', label: 'Koreksi Harga Beli' },
  //   { field: 'taxCorrection', label: 'Koreksi PPN' },
  //   { field: 'tax', label: 'PPN' },
  //   { field: 'ppn_bm', label: 'Pajak Barang Mewah' },
  //   { field: 'total', label: 'Total Harga' },
  // ];
  const userStore = useUserStore();
  const roles = userStore.getUserInfo.roles;

  let userRoles: string[] = [];
  roles.forEach((role) => {
    userRoles.push(role.value);
  });
  console.log(userRoles);
  const pfirDetailInfoApiResult = await rrInfoListApi(props.rrId);
  const info: Recordable[] = pfirDetailInfoApiResult.items;
  const infos = info[0];
  const invStatus = infos.status;
  console.log(invStatus);
  const isEditable: boolean =
    userRoles.includes('SUPPLIER') &&
    ['DRAFT', 'SUPPLIER_DRAFT', 'AWAITING_ACTION', 'NEW'].includes(invStatus);

  const columns: BasicColumn[] = [
    {
      title: 'Item Code',
      dataIndex: 'item_code',
      width: 120,
    },
    {
      title: 'Nama Barang',
      dataIndex: 'nama_barang',
      width: 150,
    },
    {
      title: 'Barcode',
      dataIndex: 'barcode',
      width: 150,
    },
    {
      title: 'Qty Dikembalikan',
      dataIndex: 'qty_dikembalikan',
      width: 100,
    },
    {
      title: 'Harga Unit',
      dataIndex: 'harga_unit',
      width: 120,
    },
    {
      title: 'Nilai Pengembalian',
      dataIndex: 'nilai_pengembalian',
      width: 150,
    },
    {
      title: 'Keterangan',
      dataIndex: 'keterangan',
      width: 150,
    },
    {
      title: 'Terima',
      dataIndex: 'terima',
      width: 80,
      edit: isEditable,
    },
    {
      title: 'Keterangan',
      dataIndex: 'keterangan1',
      width: 200,
      edit: isEditable,
      editable: isEditable,
    },
  ];

  interface Document {
    docNumber: string;
    docKey: string;
    reference: string;
    status: string;
    date: Date;
    accepted?: string;
  }
  const documentApiResult = await documentReturApi({ id: props.rrId! });
  console.log(documentApiResult);

  let documents: Document[] = [
    {
      docNumber: documentApiResult.items[0].rr_number,
      docKey: 'rr',
      reference: documentApiResult.items[0].id,
      status: documentApiResult.items[0].rr_status,
      date: documentApiResult.items[0].rr_date,
    },
    {
      docNumber: documentApiResult.items[0].rc_number,
      docKey: 'rc',
      reference: documentApiResult.items[0].rc_id,
      status: documentApiResult.items[0].rc_status,
      date: documentApiResult.items[0].rc_date,
    },
  ];

  let documents2: Document[] = [];
  if (documentApiResult.items[0].id != null) {
    documents2.push(documents[0]);
  }
  if (documentApiResult.items[0].rc_id != null) {
    documents2.push(documents[1]);
  }

  // <<<<<<< HEAD
  //   const additionalInfoData: String = `Always bring this document when delivering goods.
  //   Mulai tanggal 1 January 2014, PT. Trans Retail Indonesia hanya akan menerima invoice yang dilengkapi dengan barcode. OTP VMS harus digunakan untuk proses invoice barcode. Informasi tambahan dan petunjuk penggunaan dapat menghubungi VMS Support melalui email vms_support@transretail.co.id`;
  // =======
  const pfirItemListApiResult = await rrDetailListApi(props.rrId);
  const items: Recordable[] = pfirItemListApiResult.items;
  console.log(pfirItemListApiResult.items);

  let total = 0;
  items.forEach((element) => {
    total += parseFloat(element.total_harga);
  });
  // let total = parseFloat(items.total_harga);

  let data = [];

  for (let index = 0; index < items.length; index++) {
    const element = items[index];
    data.push({
      // eslint-disable-next-line prettier/prettier
      no: element.no,
      // eslint-disable-next-line prettier/prettier
      item_code: element.item_code,
      // eslint-disable-next-line prettier/prettier
      nama_barang: element.nama_barang,
      // eslint-disable-next-line prettier/prettier
      barcode: element.barcode,
      // eslint-disable-next-line prettier/prettier
      qty_dikembalikan: toFixedFloat(element.qty_dikembalikan),
      // eslint-disable-next-line prettier/prettier
      harga_unit: element.harga_unit ? toFixedFloat(element.harga_unit) : '',
      // eslint-disable-next-line prettier/prettier
      nilai_pengembalian: toFixedFloat(element.nilai_pengembalian),
      // eslint-disable-next-line prettier/prettier
      keterangan: element.keterangan,
      // eslint-disable-next-line prettier/prettier
      terima: element.terima,
      // eslint-disable-next-line prettier/prettier
      keterangan1: element.keterangan1,
    });
  }

  let print = [];
  for (let index = 0; index < items.length; index++) {
    const element = items[index];
    print.push({
      // eslint-disable-next-line prettier/prettier
      no: element.no,
      // eslint-disable-next-line prettier/prettier
      item_code: element.item_code,
      // eslint-disable-next-line prettier/prettier
      nama_barang: element.nama_barang,
      // eslint-disable-next-line prettier/prettier
      barcode: element.barcode,
      // eslint-disable-next-line prettier/prettier
      qty_dikembalikan: toFixedFloat(element.qty_dikembalikan),
      // eslint-disable-next-line prettier/prettier
      harga_unit: element.harga_unit ? toFixedFloat(element.harga_unit) : '',
      // eslint-disable-next-line prettier/prettier
      nilai_pengembalian: toFixedFloat(element.nilai_pengembalian),
      // eslint-disable-next-line prettier/prettier
      keterangan: element.keterangan,
      // eslint-disable-next-line prettier/prettier
      terima: element.terima,
      // eslint-disable-next-line prettier/prettier
      keterangan1: element.keterangan1,
    });
  }

  const orderInfoSchema: DescItem[] = [
    { field: 'rtn_req_number', label: 'Return Request Number' },
    { field: 'rtn_req_date', label: 'Return Request Date' },
    { field: 'department', label: 'Department' },
    { field: 'toko', label: 'Toko' },
    { field: 'pick_up_location', label: 'Pick Up Location' },
  ];
  // >>>>>>> integ-rar

  const rrinfoListApiResult = await rrInfoListApi(props.rrId);
  // const infos = rrinfoListApiResult;
  const rrItemListApiResult = await rrDetailListApi(props.rrId);

  // const items: Recordable[] = rrItemListApiResult.items;

  const [registerTable] = useTable({
    title: 'Tabel Item',
    dataSource: items,
    columns: columns,
    bordered: true,
    tableSetting: { fullScreen: true },
    loading: false,
    pagination: false,
    canResize: true,
    scroll: { y: 10000 },
    // showSummary: true,
  });

  function jsonPrint() {
    let pdfName = `Return Request Detail - ${infos.nama_supplier}.pdf`;
    var doc = new jsPDF('p', null, 'a4');
    doc.setFontSize(9);
    let image = new Image();
    image.src = logo;
    doc.addImage(image, 'png', 5, 5, 77, 9);
    doc.text(105, 10, 'Return Request Detail');
    const tableColumns = columns.map((value) => {
      return {
        header: value.title,
        dataKey: value.dataIndex,
      };
    });
    doc.html(document.getElementById('header-pdf'), {
      callback: function (doc) {
        // Save the PDF
        autoTable(doc, {
          columns: [
            {
              header: 'No',
              dataKey: 'no',
            },
            ...tableColumns,
          ],
          body: data,
          startY: 43,
          styles: {
            fontSize: 6,
          },
        });
        doc.setFontSize(9);
        doc.text(115, doc.lastAutoTable.finalY + 3, `Total harga: Rp.${toFixedFloat(total)}`);
        doc.save(pdfName);
      },
      x: 5,
      y: 15,
      width: 200, //target width in the PDF document
      windowWidth: 1500, //window width in CSS pixels
    });
  }

  const { refreshPage } = useTabs();
  const { createMessage, createConfirm, createSuccessModal } = useMessage();

  async function handleSendRR() {
    const actionProps: RRActionParams = {
      id: props.rrId!,
    };

    createConfirm({
      iconType: 'warning',
      content: 'Apakah anda yakin ingin mengirim Retur Request ini ?',
      async onOk() {
        const pfirAcceptionActionApiResult = await rrSendApi(actionProps);
        const rest = pfirAcceptionActionApiResult.items.id;

        createSuccessModal({
          title: 'Success',
          content: 'Retur Request dikirim.',
          onOk() {
            router.push(`/retur/request-response/detail/${rest}`); // POST
            refreshPage();
          },
        });
      },
    });
  }

  function handleEditCancel() {
    console.log('cancel');
  }

  async function handleEditEnd({ record }: Recordable) {
    const actionProps: RRSaveParams = {
      ACCEPTED: record.terima,
      REMARKS: record.keterangan1,
      id: record.id,
    };
    console.log(actionProps);
    const rarSaveActionApiResult = await rrSaveApi(actionProps);
    console.log('test', rarSaveActionApiResult);
  }
</script>
<style scoped>
  .destination {
    font-size: 20px;
  }

  .info-title {
    font-size: 14px;
    font-weight: bold;
  }

  #total-price-box {
    padding: 8px;
    font-size: 16px;
    text-align: right;
    margin-bottom: 16px;
  }

  #total-price-amount {
    font-weight: bold;
  }

  #additional-info {
    white-space: pre-line;
    font-size: 14px;
    background-color: #ee2a33;
    color: white;
    border-radius: 20px;
    margin: 0px 10px 20px;
  }

  .button {
    float: right;
    display: block;
    margin-top: -45px;
    margin-right: 20px;
  }
</style>
