<template>
  <BasicModal
    v-bind="$attrs"
    @register="register"
    title="Edit Information"
    @ok="handleOk"
    @visible-change="handleVisibleChange"
  >
    <div class="pt-3px pr-3px">
      <BasicForm @register="registerForm" />
    </div>
  </BasicModal>
</template>
<script lang="ts">
  import { defineComponent, ref, nextTick } from 'vue';
  import { cnEditApiParams } from '/@/api/vms/model/cn/creditNoteEditModel';
  import { creditNoteEditApi } from '/@/api/vms/CreditNote';
  import { BasicModal, useModalInner } from '/@/components/Modal';
  import { BasicForm, FormSchema, useForm } from '/@/components/Form/index';
  import { reformatDate } from '/@/views/components/DetailTemplates';
  import { useTabs } from '/@/hooks/web/useTabs';

  const schemas: FormSchema[] = [
    {
      field: 'tax_serial_number',
      component: 'Input',
      label: 'Tax Serial Number',
      colProps: {
        span: 24,
      },
    },
    {
      field: 'tax_inv_date',
      component: 'DatePicker',
      label: 'Tax Invoice Date',
      colProps: {
        span: 24,
      },
    },
  ];
  export default defineComponent({
    components: { BasicModal, BasicForm },
    props: {
      userData: { type: Object },
      infos: { type: Object },
    },
    setup(props) {
      const { refreshPage } = useTabs();

      const modelRef = ref({});
      const [registerForm, { setFieldsValue, setProps, getFieldsValue }] = useForm({
        labelWidth: 160,
        labelAlign: 'left',
        schemas,
        showActionButtonGroup: false,
        actionColOptions: {
          span: 24,
        },
      });

      console.log('[ro[s]]', props.infos);

      const [register, { closeModal }] = useModalInner((data) => {
        data && onDataReceive(data);
      });

      async function handleOk() {
        const values = getFieldsValue();

        const actionProps: cnEditApiParams = {
          id: props.infos?.id,
          tax_serial_number: values.tax_serial_number,
          tax_inv_date: reformatDate(values.tax_inv_date),
        };

        await creditNoteEditApi(actionProps);

        // console.log('values:' + JSON.stringify(props.infos?.sc_id));
        console.log('der', actionProps);
        closeModal();
        refreshPage();
      }

      function onDataReceive(data) {
        console.log('Data Received', data);
        // 方式1;
        setFieldsValue({
          tax_serial_number: data.tax_serial_number,
          tax_inv_date: data.tax_inv_date,
        });

        // // 方式2
        modelRef.value = {
          tax_serial_number: data.tax_serial_number,
          tax_inv_date: data.tax_inv_date,
        };

        setProps({
          model: {
            tax_serial_number: data.tax_serial_number,
            tax_inv_date: data.tax_inv_date,
          },
        });
      }

      function handleVisibleChange(v) {
        v && props.infos && nextTick(() => onDataReceive(props.infos));
        // console.log('porps ', props.infos);
      }

      return {
        register,
        schemas,
        registerForm,
        model: modelRef,
        useTabs,
        refreshPage,
        onDataReceive,
        handleOk,
        handleVisibleChange,
      };
    },
  });
</script>
