<template>
  <CollapseContainer :title="'Credit Note'" :canExpan="false">
    <div class="button">
      <a-button
        @click="handleConfirmCn"
        :type="'primary ml-2'"
        style="margin-right: 8px"
        v-show="isConfirm"
      >
        Konfirmasi
      </a-button>
      <a-button :type="'primary'">Lihat versi cetak</a-button>
      <!-- <DocumentDropdownButton :documents="documents2" /> -->
    </div>
  </CollapseContainer>

  <div class="p-1" id="header-pdf">
    <div class="md:flex enter-y">
      <div class="ant-card ant-card-bordered ant-card-small md:w-1/2 w-full !md:mt-0 !md:mr-4">
        <div class="flex">
          <div class="mx-4 mt-4 info-title"> Return Information </div>
          <a-button @click="openModal1" :type="'primary'" class="mx-4 mt-2 ml-auto">
            Edit Information</a-button
          >
          <cnEditInformationModal @register="register1" :infos="cnInfo" />
        </div>
        <div class="mx-4 mb-2 destination"> </div>

        <Description
          size="small"
          :bordered="true"
          :column="1"
          :data="cnInfo"
          :schema="retrunInfoSchema"
        />
      </div>
      <div class="ant-card ant-card-bordered md:w-1/2 w-full !md:mt-0 !md:mr-4">
        <div class="mx-4 mt-4 info-title"> Informasi Supplier </div>
        <Description
          size="small"
          :bordered="true"
          :column="1"
          :data="cnInfo"
          :schema="supplierSchema"
        />
      </div>
    </div>
  </div>

  <div class="p-1" style="background-color: white">
    <BasicTable
      @register="registerTable"
      class="main-table"
      @edit-end="handleEditEnd"
      @edit-cancel="handleEditCancel"
    >
      <template #bodyCell="{ column, record }">
        <template v-if="column.key === 'code'">
          <ItemCodeCell
            :itemCode="record.itemCode"
            :sub="record.itemCodeSub"
            :unit="record.itemCodeUnit"
          />
        </template>
        <template v-else-if="column.key === 'itemName'">
          <ItemNameCell :itemName="record.itemName" :sub="record.itemNameSub" />
        </template>
        <template v-else-if="column.key === 'total_qty'">
          {{ toFixedFloat(record.total_qty) }}
        </template>
        <template v-else-if="column.key === 'harga_unit'">
          {{ toFixedFloat(record.harga_unit) }}
        </template>
        <template v-else-if="column.key === 'harga_sebelum_pajak'">
          {{ toFixedFloat(record.harga_sebelum_pajak) }}
        </template>
        <template v-else-if="column.key === 'harga_sesudah_pajak'">
          {{ toFixedFloat(record.harga_sesudah_pajak) }}
        </template>
        <template v-else-if="column.key === 'pajak'">
          {{ toFixedFloat(record.pajak) }}
        </template>
      </template>
    </BasicTable>
    <div class="md:flex enter-y">
      <div class="md:w-1/2 w-full !md:mt-0 !md:mr-4"><br /></div>
      <div class="md:w-1/2 w-full !md:mt-0 !md:mr-4">
        <Description
          size="small"
          :bordered="true"
          :column="1"
          :data="Price"
          :schema="cnPriceSchema"
        />
      </div>
    </div>
    <div id="footer-pdf">
      <div class="py-4 px-6" id="additional-info">
        <div class="info-title">Keterangan:</div>
        <div>{{ additionalInfoData }}</div>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
  import { CollapseContainer } from '/@/components/Container/index';
  import { DescItem, Description } from '/@/components/Description';
  import { BasicTable, useTable, BasicColumn, FormSchema } from '/@/components/Table';
  import { useMessage } from '/@/hooks/web/useMessage';
  import { router } from '/@/router';
  import { useModal } from '/@/components/Modal';
  import { useTabs } from '/@/hooks/web/useTabs';
  import { PageWrapper } from '/@/components/Page';
  import { useUserStore } from '/@/store/modules/user';

  const { refreshPage } = useTabs();

  import {
    ItemCodeCell,
    ItemNameCell,
    toDateFormat,
    toFixedFloat,
  } from '/@/views/components/DetailTemplates';
  import cnEditInformationModal from '/@/views/components/DetailTemplates/src/cn/cnEditModal.vue';

  import {
    creditNoteDetailApi,
    creditNoteDetailInfoApi,
    creditNoteConfirmApi,
  } from '/@/api/vms/CreditNote';
  import { cnConfirmApiParams } from '/@/api/vms/model/cn/creditNoteConfirmModel';

  const { createConfirm, createSuccessModal } = useMessage();

  const props = defineProps({
    cnId: String,
  });

  const additionalInfoData: String = `Always bring this document when delivering goods.`;

  const retrunInfoSchema: DescItem[] = [
    { field: 'tax_serial_number', label: 'Tax Serial Number' },
    { field: 'tax_inv_date', label: 'Tax Invoice Date' },
    { field: 'return_number', label: 'Return Number' },
    { field: 'return_date', label: 'Return Date' },
    { field: 'store_code', label: 'Toko Transmart' },
    { field: 'nama_perusahaan', label: 'Nama Perusahaan' },
    { field: 'alamat_perusahaan', label: 'Alamat Perusahaan' },
    { field: 'npwp', label: 'NPWP' },
  ];

  const supplierSchema: DescItem[] = [
    { field: 'nama_perusahan_supplier', label: 'Nama Perusahaan' },
    { field: 'alamat_perusahaan_supplier', label: 'Alamat Perusahaan' },
    { field: 'npwp_supplier', label: 'NPWP' },
  ];

  const cnPriceSchema: DescItem[] = [
    { field: 'sub_total', label: 'Sub Total Return' },
    { field: 'ppn_return', label: 'PPN Return' },
    { field: 'total', label: 'Total Amount' },
  ];

  const columns: BasicColumn[] = [
    {
      title: 'Barcode',
      dataIndex: 'barcode',
      width: 150,
    },
    {
      title: 'Nama Barang',
      dataIndex: 'nama_barang',
      width: 120,
    },
    {
      title: 'Total Qty',
      key: 'total_qty',
      width: 80,
    },
    {
      title: 'Harga Unit',
      key: 'harga_unit',
      width: 120,
    },
    {
      title: 'Harga Sebelum Pajak',
      key: 'harga_sebelum_pajak',
      width: 150,
    },
    {
      title: '% Pajak',
      dataIndex: 'pajak',
      width: 100,
      edit: true,
      editRule: true,
    },
    {
      title: 'Harga Setelah Pajak',
      key: 'harga_sesudah_pajak',
      width: 150,
    },
  ];

  const cninfoListApiResult = await creditNoteDetailInfoApi(props.cnId!);
  const cnInfo = cninfoListApiResult.items[0];
  cnInfo.tax_inv_date =
    cnInfo.tax_inv_date != null ? toDateFormat(cnInfo.tax_inv_date) : 'Tue, Nov 12, 2019, 20:11';

  const cnDetailListApiResult = await creditNoteDetailApi({ id: props.cnId });
  const items: Recordable[] = cnDetailListApiResult.items;

  console.log('cn detail', items);

  const [register1, { openModal: openModal1 }] = useModal();

  const [registerTable] = useTable({
    title: 'Tabel Item',
    api: () => creditNoteDetailApi({ id: props.cnId }),
    columns: columns,
    bordered: true,
    tableSetting: { fullScreen: true },
    loading: false,
    pagination: false,
    canResize: true,
    scroll: { y: 300 },
    // showSummary: true,
  });

  let subtotal = 0;
  let ppn_return = 0;
  let total = 0;

  items.forEach((element) => {
    subtotal += parseFloat(element?.sub_total_return);
    ppn_return += parseFloat(element?.ppn_return);
    total += parseFloat(element?.total_amount);
  });

  const Price = {
    sub_total: toFixedFloat(subtotal),
    ppn_return: toFixedFloat(ppn_return),
    total: toFixedFloat(total),
  };

  async function handleConfirmCn() {
    const actionProps: cnConfirmApiParams = {
      id: props.cnId!,
    };

    createConfirm({
      iconType: 'warning',
      content: 'Apakah anda yakin ingin konfirmasi Credit Note ini ?',
      async onOk() {
        // notification.success({
        //   message: 'Success',
        //   description: 'Dokumen Receiving Advice disahkan. Membuat Proforma Invoice baru.',
        // });
        const cnConfirmActionApiResult = await creditNoteConfirmApi(actionProps);

        createSuccessModal({
          title: 'Success',
          content: 'Credit Note berhasil dikonfirmasi.',
          onOk() {
            router.push(`/credit-note/detail/${cnConfirmActionApiResult.cn_id}`);
            refreshPage();
          },
        });
      },
    });
  }

  const userStore = useUserStore();
  const roles = userStore.getUserInfo.roles;

  let userRoles: string[] = [];
  roles.forEach((role) => {
    userRoles.push(role.value);
  });

  const cnStatus = cnInfo.status;
  const isConfirm: boolean =
    userRoles.includes('SUPPLIER') && ['AWAITING_ACTION', 'NEW'].includes(cnStatus);
</script>

<style scoped>
  .destination {
    font-size: 20px;
  }

  .info-title {
    font-size: 14px;
    font-weight: bold;
  }

  #total-price-box {
    padding: 8px;
    font-size: 16px;
    text-align: right;
    margin-bottom: 16px;
  }

  #total-price-amount {
    font-weight: bold;
  }

  #additional-info {
    white-space: pre-line;
    font-size: 14px;
    background-color: #ee2a33;
    color: white;
    border-radius: 20px;
    margin: 0px 10px 20px;
  }
  .button {
    float: right;
    display: block;
    margin-top: -45px;
    margin-right: 20px;
  }

  #tax {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  #tax td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  #tax span {
    color: red;
  }
</style>
