<template>
  <CollapseContainer title="FILTER">
    <BasicForm @register="register" @submit="handleFilter" />
  </CollapseContainer>

  <div class="p-1">
    <div class="w-1/4 !md:mt-0 !md:mr-4" style="display: none">
      <a-input ref="inputRef" allow-clear @change="handleSearch" id="cdt-input">
        <template #prefix></template>
      </a-input>
    </div>
    <BasicTable @register="registerTable">
      <template #bodyCell="{ column, record }">
        <template v-if="column.key === 'action'">
          <TableAction
            :actions="[
              {
                label: 'Download',
                onClick: handleDownload.bind(null, record),
              },
            ]"
          />
        </template>
      </template>
    </BasicTable>
  </div>
</template>

<script lang="ts">
  import { defineComponent, ref } from 'vue';
  import { BasicForm, FormProps, FormSchema, useForm } from '/@/components/Form/index';
  import { CollapseContainer } from '/@/components/Container/index';
  import { useMessage } from '/@/hooks/web/useMessage';
  import { BasicTable, useTable, BasicColumn, TableAction } from '/@/components/Table';
  import { efListApi, efDownload } from '/@/api/vms/efaktur';
  import { toDateFormat, reformatDate } from '/@/views/components/DetailTemplates';
  import createOptions from '../templates/dropdownOptions';
  import { BUSINESS_UNIT_LIST } from '/@/utils/vms/dropdownOptions';
  import { getAppEnvConfig } from '/@/utils/env';

  // import { PageWrapper } from '/@/components/Page';
  // import { areaRecord } from '/@/api/demo/cascader';

  import { useUserStore } from '/@/store/modules/user';
  import { RoleEnum } from '/@/enums/roleEnum';
  const userStore = useUserStore();

  const schemas: FormSchema[] = [
    {
      field: 'status',
      component: 'Select',
      label: 'Status',
      colProps: {
        span: 8,
      },
      componentProps: {
        placeholder: '--Select--',
        options: [
          {
            label: 'DOWNLOADED',
            value: 'DOWNLOADED',
            key: 'DOWNLOADED',
          },
          {
            label: 'NEW',
            value: 'NEW',
            key: 'NEW',
          },
        ],
      },
    },
    {
      field: 'supplier_code',
      component: 'Input',
      label: 'Kode Supplier',
      defaultValue: userStore.getUserInfo.username,
      show: false,
      colProps: {
        span: 8,
      },
      componentProps: {
        placeholder: userStore.getUserInfo.username,
        onChange: (e: any) => {
          return e;
        },
      },
    },
    {
      field: 'Supplier',
      component: 'Input',
      label: 'Supplier',
      show: false,
      colProps: {
        span: 8,
      },
      componentProps: {
        placeholder: 'Supplier',
        onChange: (e: any) => {
          console.log(e);
        },
      },
    },
    {
      field: 'Upload Date From',
      component: 'RangePicker',
      label: 'Upload Date',
      colProps: {
        span: 8,
      },
    },
    {
      field: 'business_unit',
      component: 'Select',
      label: 'Business Unit',
      colProps: {
        span: 8,
      },
      componentProps: {
        placeholder: 'All',
        options: createOptions(BUSINESS_UNIT_LIST, true),
      },
    },
  ];

  const schemas1: FormSchema[] = [
    {
      field: 'status',
      component: 'Select',
      label: 'Status',
      colProps: {
        span: 8,
      },
      componentProps: {
        placeholder: '--Select--',
        options: [
          {
            label: 'DOWNLOADED',
            value: 'DOWNLOADED',
            key: 'DOWNLOADED',
          },
          {
            label: 'NEW',
            value: 'NEW',
            key: 'NEW',
          },
        ],
      },
    },
    {
      field: 'supplier_code',
      component: 'Input',
      label: 'Supplier',
      colProps: {
        span: 8,
      },
      componentProps: {
        placeholder: 'Supplier Kode',
        onChange: (e: any) => {
          console.log(e);
        },
      },
    },
    {
      field: 'Upload Date From',
      component: 'RangePicker',
      label: 'Upload Date',
      colProps: {
        span: 8,
      },
    },
    {
      field: 'business_unit',
      component: 'Select',
      label: 'Business Unit',
      colProps: {
        span: 8,
      },
      componentProps: {
        placeholder: 'All',
        options: createOptions(BUSINESS_UNIT_LIST, true),
      },
    },
  ];

  const columns: BasicColumn[] = [
    {
      title: 'Nama File',
      dataIndex: 'namafile',
    },
    {
      title: 'Nomor Seri Pajak',
      dataIndex: 'nomor_seri_pajak',
    },

    {
      title: 'Upload Date',
      dataIndex: 'upload_date',
    },
    {
      title: 'Download Date',
      dataIndex: 'download_date',
    },
    {
      title: 'Status',
      dataIndex: 'status',
    },
    {
      title: 'Kode Supplier',
      dataIndex: 'supp_code',
    },
  ];

  export function getFormEFaktur(): Partial<FormProps> {
    return {
      schemas: [
        ...schemas,
        {
          field: 'start_date',
          component: 'Input',
          label: '',
          colProps: {
            span: 8,
          },
        },
        {
          field: 'end_date',
          component: 'Input',
          label: '',
          colProps: {
            span: 8,
          },
        },
      ],
    };
  }

  export function getFormEFaktur1(): Partial<FormProps> {
    return {
      schemas: [
        ...schemas1,
        {
          field: 'start_date',
          component: 'Input',
          label: '',
          colProps: {
            span: 8,
          },
        },
        {
          field: 'end_date',
          component: 'Input',
          label: '',
          colProps: {
            span: 8,
          },
        },
      ],
    };
  }

  var FORM_VALUES: Recordable = {};

  export default defineComponent({
    components: { BasicForm, CollapseContainer, BasicTable, TableAction },
    setup() {
      const isSupplier = userStore.getRoleList.includes(RoleEnum.SUPPLIER);

      const { createMessage } = useMessage();

      const [register, { setProps }] = useForm({
        labelWidth: 150,
        schemas: isSupplier ? schemas : schemas1,
        actionColOptions: {
          span: 20,
        },
        submitButtonOptions: {
          text: 'Filter',
        },
        fieldMapToTime: [['fieldTime', ['startTime', 'endTime'], 'MM-YYYY']],
      });

      const [registerTable, { getForm }] = useTable({
        api: efListApi,
        columns: columns,
        useSearchForm: true,
        bordered: true,
        formConfig: isSupplier ? getFormEFaktur() : getFormEFaktur1(),

        tableSetting: { fullScreen: true },
        actionColumn: {
          ellipsis: true,
          width: 100,
          title: 'Action',
          dataIndex: 'action',
        },
        // rowKey: 'id',
        // rowSelection: {
        //   type: 'checkbox',
        // },
      });

      function handleEdit(record: Recordable) {
        console.log('klik untuk mengedit', record);
      }
      function handleDelete(record: Recordable) {
        console.log('klik untuk menghapus', record);
      }
      function handleOpen(record: Recordable) {
        console.log('klik untuk mengaktifkan', record);
      }

      return {
        registerTable,
        handleEdit,
        handleDelete,
        handleOpen,
        register,
        schemas,
        reformatDate,
        toDateFormat,
        getForm,
        handleSubmit: (values: Recordable) => {
          createMessage.success('click search,values:' + JSON.stringify(values));
        },
        setProps,
        // handleLoad,
      };
    },
    methods: {
      async handleFilter(values: Recordable) {
        const cdtInput: HTMLInputElement = <HTMLInputElement>document.getElementById('cdt-input');
        cdtInput.value = '';
        FORM_VALUES = {};
        console.log('raw', values);
        if (values.RAFrom != undefined) {
          const range: string[] = values.RAFrom;
          console.log(range);
          delete values.RAFrom;
          FORM_VALUES = {
            ...values,
            start_date: reformatDate(range[0]),
            end_date: reformatDate(range[1]),
          };
        } else {
          values.start_date = '';
          values.end_date = '';
          FORM_VALUES = values;
        }
        Object.keys(FORM_VALUES).forEach((key) => {
          if (FORM_VALUES[key] === null || values[key] == '') {
            delete FORM_VALUES[key];
          }
        });
        await this.getForm().resetFields();
        await this.getForm().setFieldsValue(FORM_VALUES);
        await this.getForm().submit();
      },
      async handleSearch(e: ChangeEvent) {
        const searchValueRef = ref('');
        searchValueRef.value = e.target.value;
        var SEARCH_FORM_VALUES;
        if (e.target.value != '') {
          SEARCH_FORM_VALUES = { ...FORM_VALUES, purchase_order: searchValueRef.value };
          await this.getForm().setFieldsValue(SEARCH_FORM_VALUES);
          await this.getForm().submit();
        } else {
          await this.getForm().resetFields();
          await this.getForm().setFieldsValue(FORM_VALUES);
          await this.getForm().submit();
        }
      },
      async handleDownload(record: Recordable) {
        const { VITE_FILE_API_URL } = getAppEnvConfig();

        const downloading = await efDownload({
          taxnumber: record.nomor_seri_pajak,
          supp_code: record.supplier_code,
          file_name: record.namafile,
        });

        console.log(downloading);

        const uploadDate = new Date(record.upload_date);
        const filePath = `Efaktur/${uploadDate.getFullYear()}/${
          uploadDate.getMonth() + 1
        }/${uploadDate.getDate()}/${record.supplier_code}/${record.namafile}`;

        const a = document.createElement('a');
        a.href = `${VITE_FILE_API_URL}/${filePath}`;
        a.download = filePath.split('/').pop();
        a.target = '_blank';
        document.body.appendChild(a);
        a.click();
        document.body.removeChild(a);
      },
    },
  });
</script>
