<template>
  <div>
    <PageWrapper title="Upload E-Faktur">
      <form @submit="handleSubmit" id="uploadForm">
        <div class="md:flex mt-3">
          <div class="mb-3 px-3">
            <label for="tax-number">Nomor Seri Pajak</label>
            <input class="ant-input" name="tax" id="tax-number" placeholder="Nomor Seri Pajak" />
          </div>
          <div class="mb-3 px-3">
            <label for="supplier-code">Kode Supplier</label>
            <input
              class="ant-input"
              name="supplier_code"
              id="supplier-code"
              placeholder="Kode Supplier"
            />
          </div>
          <div class="mb-3 px-3">
            <input
              type="file"
              name="uploadFile"
              id="uploadFile"
              class="mt-5 mr-3"
              accept="application/pdf"
              required
            />
          </div>
        </div>
        <button class="ant-btn ant-btn-primary mx-3" id="submit-btn" type="submit">Submit</button>
      </form>
    </PageWrapper>
  </div>
</template>

<script lang="ts">
  import { defineComponent } from 'vue';
  import { BasicForm, FormSchema, useForm } from '/@/components/Form/index';
  import { PageWrapper } from '/@/components/Page';
  import { uploadApi } from '/@/api/sys/upload';
  import { efakturUploadApi } from '/@/api/vms/uploadEFaktur';
  import { useMessage } from '/@/hooks/web/useMessage';
  // import { useRefs } from '/@/hooks/core/useRefs';
  // import { useCdtSearch } from '../application/useCdtSearch';

  // let API_URL_PARAMS: Recordable;

  const schemas: FormSchema[] = [
    {
      field: 'tax',
      component: 'Input',
      label: 'Nomor Seri Pajak',
      colProps: {
        span: 8,
      },
      rules: [{ required: true, message: 'Please input tax number' }],
      componentProps: {
        placeholder: 'Nomor Seri Pajak',
      },
    },
    {
      field: 'supplier',
      component: 'Input',
      label: 'Kode Supplier',
      colProps: {
        span: 8,
      },
      rules: [{ required: true, message: 'Please input supplier code' }],
      componentProps: {
        placeholder: 'Kode Supplier',
      },
    },
    {
      field: 'field3',
      component: 'Upload',
      label: 'Required',
      colProps: {
        span: 8,
      },
      rules: [{ required: true, message: 'Please select upload file' }],
    },
  ];

  export default defineComponent({
    components: {
      BasicForm,
      PageWrapper,
    },
    setup() {
      const [register] = useForm({
        labelWidth: 150,
        schemas,
        actionColOptions: {
          span: 16,
        },
        submitButtonOptions: {
          text: 'Submit',
        },
        showActionButtonGroup: true,
      });

      return {
        uploadApi,
        register,
      };
    },
    methods: {
      handleSubmit(e) {
        const { createMessage } = useMessage();
        e.preventDefault();
        try {
          efakturUploadApi({
            file: e.target.uploadFile.files[0],
            tax: e.target.tax.value,
            supplier_code: e.target.supplier_code.value,
          });

          document.getElementById('uploadForm').reset();

          createMessage.success('File has been uploaded.');
        } catch (err) {
          createMessage.error('Error while uploading.');
        }
      },
    },
  });
</script>
