<template>
  <KeepAlive>
    <Suspense>
      <BusinessUnitEditMain :buId="cdt" />
    </Suspense>
  </KeepAlive>
</template>

<script lang="ts">
  import { defineComponent } from 'vue';
  import { useMessage } from '/@/hooks/web/useMessage';

  import {
    // DocumentDropdownButton,
    toFixedFloat,
    BusinessUnitEditMain,
  } from '/@/views/components/DetailTemplates';

  import { useRoute } from 'vue-router';

  export default defineComponent({
    components: {
      BusinessUnitEditMain,
    },
    setup() {
      const { createMessage } = useMessage();

      const route = useRoute();
      const cdt = route.params.id.toString();

      console.log('params ', cdt);
      return {
        handleSubmit: (values: Recordable) => {
          createMessage.success('click search,values:' + JSON.stringify(values));
        },
        toFixedFloat,
        cdt,
      };
    },
  });
</script>

<style scoped>
  .destination {
    font-size: 16px;
  }

  .info-title {
    font-size: 14px;
    font-weight: bold;
  }

  #additional-info {
    white-space: pre-line;
    font-size: 14px;
    background-color: #ee2a33;
    color: white;
    border-radius: 20px;
    margin: 0px 10px 20px;
  }
</style>
