<template>
  <div>
    <CollapseContainer title="Konfigurasi Warehouse">
      <BasicForm @register="register" @submit="handleUpdate" />
    </CollapseContainer>
  </div>
</template>

<script lang="ts">
  import { defineComponent, ref } from 'vue';
  import { BasicForm, FormSchema, useForm } from '/@/components/Form/index';
  import { CollapseContainer } from '/@/components/Container/index';
  import createOptions from '../templates/dropdownOptions';
  import { STORE_LIST} from '/@/utils/vms/dropdownOptions';
  import { businessUnitUpdateApi, postBusinessUnitApi, postWarehouseApi, warehouseUpdateApi } from '/@/api/vms/admin';
  import { useUserStore } from '/@/store/modules/user';
  import { useRoute } from 'vue-router';
  import { useMessage } from '/@/hooks/web/useMessage';
  import { WarehouseSaveParams } from '/@/api/vms/model/adm/warehouseCreateModel';
import { BusinessUnitSaveParams } from '/@/api/vms/model/adm/businessUnitCreateModel';
  

  const id = "10004"; //route.params.id.toString();
  // const props = defineProps({
  //   store_id: String,
  // });

  // console.log(props.store_id);
  const postStore = await postBusinessUnitApi(id);
  const items = postStore.items[0];
  // const items: Recordable[] = postStore;

  const SETID_LIST = {
    '': '',
    IDMER: 'IDMER',
    IDGEA: 'IDGEA',
  };
  const schemas: FormSchema[] = [
    {
      field: 'business_unit_code',
      component: 'Input',
      label: 'Kode',
      defaultValue: items.business_unit_code,
      colProps: {
        span: 8,
      },
    },
    {
      field: 'business_unit_name',
      component: 'Input',
      label: 'Nama',
      defaultValue: items.business_unit_name,
      colProps: {
        span: 8,
      },
    },
    {
      field: 'business_unitgln',
      component: 'Input',
      label: 'GLN',
      defaultValue: items.business_unitgln,
      colProps: {
        span: 8,
      },
    },
    {
      field: 'business_unit_address',
      component: 'Input',
      label: 'Alamat',
      defaultValue: items.business_unit_address,
      colProps: {
        span: 8,
      },
    },
    {
      field: 'business_unit_registration',
      component: 'Input',
      label: 'Registrasi',
      defaultValue: items.business_unit_registration,
      colProps: {
        span: 8,
      },
    },
    {
      field: 'setid',
      component: 'Select',
      label: 'SetId',
      defaultValue: items.setid,
      colProps: {
        span: 8,
      },
      componentProps: {
        placeholder: 'All',
        options: createOptions(SETID_LIST, true),
      },
    },
    {
      field: 'hm_od_directory',
      component: 'Input',
      label: 'HM/OD Directory',
      defaultValue: items.hm_od_directory,
      colProps: {
        span: 8,
      },
    },
    {
      field: 'ima_store_prefix',
      component: 'Input',
      label: 'IMA-Store Prefix',
      defaultValue: items.ima_store_prefix,
      colProps: {
        span: 8,
      },
    },
  ];

  export default defineComponent({
    components: { BasicForm, CollapseContainer},
    setup() {
      const check = ref(null);
      

      const route = useRoute();
      console.log(route)
      const cdt = route.params.id.toString();
      console.log(cdt)

      const [register] = useForm({
        labelWidth: 150,
        schemas,
        actionColOptions: {
          span: 22,
        },
        submitButtonOptions: {
          text: 'Submit',
        },
      });

      return {
        register,
        check,
      };
    },
    methods: {
      async handleUpdate(values: Recordable) {
        const { createMessage } = useMessage();
        const userStore = useUserStore();
        const roles = userStore.getUserInfo.roles;
        console.log(userStore.getUserInfo);
        console.log(roles);
        const actionProps: BusinessUnitSaveParams = {
          id: id,
          business_unit_code: values.business_unit_code,
          business_unit_name: values.business_unit_name,
          business_unitgln: values.business_unitgln,
          business_unit_address: values.business_unit_address,
          business_unit_registration: values.business_unit_registration,
          setid: values.setid,
          hm_od_directory: values.hm_od_directory,
          ima_store_prefix: values.ima_store_prefix,
        };
        const storeUpdateActionApiResult = await businessUnitUpdateApi(actionProps);
        console.log('der', actionProps);
        createMessage.success('click search,values:' + JSON.stringify(values));
      },
    },
  });
</script>
