<template>
  <div>
    <CollapseContainer title="Business Unit">
      <BasicForm @register="register" @submit="handleCreate" />
    </CollapseContainer>
  </div>
</template>

<script lang="ts">
  import { defineComponent, ref } from 'vue';
  import { BasicForm, FormSchema, useForm } from '/@/components/Form/index';
  import { CollapseContainer } from '/@/components/Container/index';
  import createOptions from '../templates/dropdownOptions';
  import { STORE_LIST} from '/@/utils/vms/dropdownOptions';
  import { businessUnitCreateApi, warehouseCreateApi } from '/@/api/vms/admin';
  import { useUserStore } from '/@/store/modules/user';
  import { WarehouseSaveParams } from '/@/api/vms/model/adm/warehouseCreateModel';
import { BusinessUnitSaveParams } from '/@/api/vms/model/adm/businessUnitCreateModel';
import { useMessage } from '/@/hooks/web/useMessage';
import { router } from '/@/router';
  

const SETID_LIST = {
    '': '',
    IDMER: 'IDMER',
    IDGEA: 'IDGEA',
  };
  const schemas: FormSchema[] = [
    {
      field: 'business_unit_code',
      component: 'Input',
      label: 'Kode',
      colProps: {
        span: 8,
      },
    },
    {
      field: 'business_unit_name',
      component: 'Input',
      label: 'Nama',
      colProps: {
        span: 8,
      },
    },
    {
      field: 'business_unitgln',
      component: 'Input',
      label: 'GLN',
      colProps: {
        span: 8,
      },
    },
    {
      field: 'business_unit_address',
      component: 'Input',
      label: 'Alamat',
      colProps: {
        span: 8,
      },
    },
    {
      field: 'business_unit_registration',
      component: 'Input',
      label: 'Registrasi',
      colProps: {
        span: 8,
      },
    },
    {
      field: 'setid',
      component: 'Select',
      label: 'SetId',
      colProps: {
        span: 8,
      },
      componentProps: {
        placeholder: 'All',
        options: createOptions(SETID_LIST, true),
      },
    },
    {
      field: 'hm_od_directory',
      component: 'Input',
      label: 'HM/OD Directory',
      colProps: {
        span: 8,
      },
    },
    {
      field: 'ima_store_prefix',
      component: 'Input',
      label: 'IMA-Store Prefix',
      colProps: {
        span: 8,
      },
    },
  ];

  export default defineComponent({
    components: { BasicForm, CollapseContainer},
    setup() {
      const check = ref(null);

      const [register] = useForm({
        labelWidth: 150,
        schemas,
        actionColOptions: {
          span: 22,
        },
        submitButtonOptions: {
          text: 'Submit',
        },
      });

      return {
        register,
        check,
      };
    },
    methods: {
      async handleCreate(values: Recordable) {
        const { createMessage } = useMessage();
        const userStore = useUserStore();
        const roles = userStore.getUserInfo.roles;
        console.log(userStore.getUserInfo);
        console.log(roles);
        const actionProps: BusinessUnitSaveParams = {
          business_unit_code: values.business_unit_code,
          business_unit_name: values.business_unit_name,
          business_unitgln: values.business_unitgln,
          business_unit_address: values.business_unit_address,
          business_unit_registration: values.business_unit_registration,
          setid: values.setid,
          hm_od_directory: values.hm_od_directory,
          ima_store_prefix: values.ima_store_prefix,
        };
        const businessUnitSaveActionApiResult = await businessUnitCreateApi(actionProps);
        console.log('der', actionProps);
        createMessage.success('Success Create Business Unit');
        router.push(`/admin/business-unit`);
      },
      updateValue(event) {
      const value = event.target.value
      console.log(value, this.amount)
      if (String(value).length <= 10) {
        this.amount = value
      }
      this.$forceUpdate()
    }
    },
  });
</script>
