<template>
  <CollapseContainer title="DEPARTMENT">
    <div style="float:right; display: block; margin-left:20px;">
      <a-button @click="openModal" type="primary" class="ml-2 btn">Download XLS</a-button>
    </div>
    <div style="margin-bottom: 8px; margin-left: -120px;">
        <div
          class="w-1/6 !md:mt-0 !md:mr-4"
          style="float: left; text-align: right; align-items: center; height: 32px; display: grid"
        >
          Search: &nbsp;
        </div>
        <div class="w-1/4 !md:mt-0 !md:mr-4" style="float: left">
          <a-input ref="inputRef" allow-clear @change="handleSearch" id="cdt-input">
            <template #prefix></template>
          </a-input>
        </div>
      </div>
  </CollapseContainer>

  <div class="p-1" style="background-color: white">
    <BasicTable @register="registerTable" :canResize="false" />
    <ExpExcelModal @register="register" @success="defaultHeader" />
  </div>
</template>

<script lang="ts">
  import { defineComponent } from 'vue';
  import { BasicForm, FormProps, FormSchema, useForm } from '/@/components/Form/index';
  import { CollapseContainer } from '/@/components/Container/index';
  import { useMessage } from '/@/hooks/web/useMessage';
  import { BasicTable, useTable, BasicColumn } from '/@/components/Table';
  import { deptListApi } from '/@/api/vms/internalUser';
  import { ref } from 'vue';
import { useModal } from '/@/components/Modal';
import { ExportModalResult, ExpExcelModal,jsonToSheetXlsx } from '/@/components/Excel';

  const schemas: FormSchema[] = [
    {
      field: 'Search',
      component: 'Input',
      label: 'Search',
      colProps: {
        span: 8,
      },
      componentProps: {
        placeholder: 'Search',
        onChange: (e: any) => {
          console.log(e);
        },
      },
    },
  ];
  const schemas2: FormSchema[] = [
    {
      field: 'supplier_code',
      component: 'Input',
      label: 'Kode Supplier',
      colProps: {
        span: 8,
      },
    },
    {
      field: 'orderFrom',
      component: 'RangePicker',
      label: 'Order From',
      colProps: {
        span: 8,
      },
    },
  ];
  export function getFormPo(): Partial<FormProps> {
    return {
      schemas: [
        ...schemas2,
        {
          field: 'start_date',
          component: 'Input',
          colProps: {
            span: 8,
          },
          label: 'Start Date', //unused
        },
        {
          field: 'end_date',
          component: 'Input',
          colProps: {
            span: 8,
          },
          label: 'End Date', //unused
        },
        {
          field: 'search',
          component: 'Input',
          label: 'Search',
          colProps: {
            span: 8,
          },
          componentProps: {
            placeholder: 'Search',
            onChange: (e: any) => {
              return e;
            },
          },
        },
      ],
    };
  }
  const columns: BasicColumn[] = [
    {
      title: 'Kode Departemen',
      dataIndex: 'kode_departemen', //'code'
    },
    {
      title: 'Nama Departemen',
      dataIndex: 'nama_departemen',
    },
    {
      title: 'Departemen Nama Lokal',
      dataIndex: 'departemen_nama_lokal',
    },
    {
      title: 'Perubahan Terakhir',
      dataIndex: 'perubahan_terakhir',
    },
  ];
  const storeListApiResult = await deptListApi('');
  const store = storeListApiResult.items
  console.log(storeListApiResult)
  let data = [];
  for (let index = 0; index < store.length; index++) {
    const element = store[index];
    data.push({
      // eslint-disable-next-line prettier/prettier
      "kode_departemen": element.kode_departemen,
      // eslint-disable-next-line prettier/prettier
      "nama_departemen": element.nama_departemen,
      // eslint-disable-next-line prettier/prettier
      "departemen_nama_lokal": element.departemen_nama_lokal,
      // eslint-disable-next-line prettier/prettier
      "perubahan_terakhir": element.perubahan_terakhir,
    });
  }

  var FORM_VALUES: Recordable = {};
  export default defineComponent({
    components: { BasicForm, CollapseContainer, BasicTable, ExpExcelModal },
    setup() {
      const { createMessage } = useMessage();

      // const [register, { setProps }] = useForm({
      //   labelWidth: 120,
      //   schemas,
      //   actionColOptions: {
      //     span: 24,
      //   },
      //   fieldMapToTime: [['fieldTime', ['startTime', 'endTime'], 'MM-YYYY']],
      // });

      function defaultHeader({ filename, bookType }: ExportModalResult) {
    // 默认Object.keys(data[0])作为header
        jsonToSheetXlsx({
          data,
          filename,
          write2excelOpts: {
          bookType,
          },
        });
      }

      const [register, { openModal }] = useModal();

      const [registerTable, { getForm }] = useTable({
        title: 'Tabel Departments',
        api: deptListApi,
        columns: columns,
        useSearchForm: true,
        bordered: true,
        formConfig: getFormPo(),
        tableSetting: { fullScreen: true },
      });

      return {
        registerTable,
        register,
        getForm,
        schemas,
        openModal,
        defaultHeader,

        handleSubmit: (values: Recordable) => {
          createMessage.success('click search,values:' + JSON.stringify(values));
        },
      };
    },
    methods: {
      async handleFilter(values: Recordable) {
        const cdtInput: HTMLInputElement = <HTMLInputElement>document.getElementById('cdt-input');
        cdtInput.value = '';
        FORM_VALUES = {};
        if (values.orderFrom != undefined) {
          const range: string[] = values.orderFrom;
          delete values.orderFrom;
          FORM_VALUES = {
            ...values,
            start_date: reformatDate(range[0]),
            end_date: reformatDate(range[1]),
          };
        } else {
          values.start_date = '';
          values.end_date = '';
          FORM_VALUES = values;
        }
        Object.keys(FORM_VALUES).forEach((key) => {
          if (FORM_VALUES[key] === null || values[key] == '') {
            delete FORM_VALUES[key];
          }
        });
        console.log(FORM_VALUES);
        await this.getForm().resetFields();
        await this.getForm().setFieldsValue(FORM_VALUES);
        await this.getForm().submit();
      },
      async handleSearch(e: ChangeEvent) {
        const searchValueRef = ref('');
        searchValueRef.value = e.target.value;
        var SEARCH_FORM_VALUES;
        if (e.target.value != '') {
          SEARCH_FORM_VALUES = { ...FORM_VALUES, search: searchValueRef.value };
          await this.getForm().setFieldsValue(SEARCH_FORM_VALUES);
          await this.getForm().submit();
        } else {
          await this.getForm().resetFields();
          await this.getForm().setFieldsValue(FORM_VALUES);
          await this.getForm().submit();
        }
      },
    },
  });
</script>
