<template>
  <div>
    <CollapseContainer title="Konfigurasi Warehouse">
      <BasicForm @register="register" @submit="handleUpdate" />
    </CollapseContainer>
  </div>
</template>

<script lang="ts">
  import { defineComponent, ref } from 'vue';
  import { BasicForm, FormSchema, useForm } from '/@/components/Form/index';
  import { CollapseContainer } from '/@/components/Container/index';
  import createOptions from '../templates/dropdownOptions';
  import { STORE_LIST} from '/@/utils/vms/dropdownOptions';
  import { internalUserUpdateApi, postWarehouseApi, warehouseUpdateApi } from '/@/api/vms/admin';
  import { useUserStore } from '/@/store/modules/user';
  import { useRoute } from 'vue-router';
  import { useMessage } from '/@/hooks/web/useMessage';
  import { WarehouseSaveParams } from '/@/api/vms/model/adm/warehouseCreateModel';
import { InternalUserSaveParams } from '/@/api/vms/model/adm/internalUserCreateModel';
  

  const id = "10004"; //route.params.id.toString();
  // const props = defineProps({
  //   store_id: String,
  // });

  // console.log(props.store_id);
  const postStore = await postWarehouseApi(id);
  const items = postStore.items[0];
  // const items: Recordable[] = postStore;
  
  const schemas: FormSchema[] = [
  {
      field: 'first_name',
      component: 'Input',
      label: 'Nama Depan',
      colProps: {
        span: 16,
      },
    },
    {
      field: 'username',
      component: 'Input',
      label: 'Username',
      colProps: {
        span: 16,
      },
    },
    {
      field: 'last_name',
      component: 'Input',
      label: 'Nama Belakang',
      colProps: {
        span: 16,
      },
    },
    {
      field: 'email',
      component: 'Input',
      label: 'Email',
      colProps: {
        span: 16,
      },
    },
    {
      field: 'role',
      component: 'CheckboxGroup',
      label: 'Role',
      colProps: {
        span: 16,
      },
      componentProps: {
        options: createOptions(ROLE_LIST, true),
        
      },
    },
    // {
    //   field: '',
    //   component: 'CheckboxGroup',
    //   label: 'Store',
    //   colProps: {
    //     span: 16,
    //   },
    //   componentProps: {
    //     options: createOptions(STORE_LIST, true),
        
    //   },
    // },
    // {
    //   field: '',
    //   component: 'CheckboxGroup',
    //   label: 'Departemen',
    //   colProps: {
    //     span: 16,
    //   },
    //   componentProps: {
    //     options: createOptions(DEPARTMENT_LIST, true),
    //   },
    // },
  ];

  export default defineComponent({
    components: { BasicForm, CollapseContainer},
    setup() {
      const check = ref(null);
      

      const route = useRoute();
      console.log(route)
      const cdt = route.params.id.toString();
      console.log(cdt)

      const [register] = useForm({
        labelWidth: 150,
        schemas,
        actionColOptions: {
          span: 22,
        },
        submitButtonOptions: {
          text: 'Submit',
        },
      });

      return {
        register,
        check,
      };
    },
    methods: {
      async handleUpdate(values: Recordable) {
        const { createMessage } = useMessage();
        const userStore = useUserStore();
        const roles = userStore.getUserInfo.roles;
        console.log(userStore.getUserInfo);
        console.log(roles);
        const actionProps: InternalUserSaveParams = {
          id: id,
          first_name: values.first_name,
          username: values.username,
          last_name: values.last_name,
          email: values.email,
          role: values.role,
        };
        const storeUpdateActionApiResult = await internalUserUpdateApi(actionProps);
        console.log('der', actionProps);
        createMessage.success('click search,values:' + JSON.stringify(values));
      },
    },
  });
</script>
