<template>
  <CollapseContainer title="ACTION">
    <a-button @click="createBusinessUnit" :type="'primary'">Buat User Baru</a-button>
  </CollapseContainer>
  <CollapseContainer title="FILTER">
    <!-- <BasicForm @register="register" @submit="handleSubmit" /> -->
    <div style="margin-bottom: 8px">
        <div
          class="w-1/6 !md:mt-0 !md:mr-4"
          style="float: left; text-align: right; align-items: center; height: 32px; display: grid"
        >
          Search: &nbsp;
        </div>
        <div class="w-1/4 !md:mt-0 !md:mr-4" style="float: left">
          <a-input ref="inputRef" allow-clear @change="handleSearch" id="cdt-input">
            <template #prefix></template>
          </a-input>
        </div>
      </div>
  </CollapseContainer>

  <div class="p-1">
    <BasicTable @register="registerTable" :canResize="false">
      <template #bodyCell="{ column, record }">
        <template v-if="column.key === 'action'">
          <TableAction
            :actions="[
              {
                label: 'Edit',
                onClick: handleEdit.bind(null, record),
              },
              // {
              //   label: 'Hapus',
              //   onClick: handleDelete.bind(null, record),
              // },
            ]"
          />
        </template>
      </template>
    </BasicTable>
    <!-- <internalUserSaveModal @register="register1" :infos="infos2" /> -->
  </div>
</template>

<script lang="ts">
  import { defineComponent, ref } from 'vue';
  import { BasicForm, FormProps, FormSchema, useForm } from '/@/components/Form/index';
  import { CollapseContainer } from '/@/components/Container/index';
  import { useMessage } from '/@/hooks/web/useMessage';
  import { BasicTable, useTable, BasicColumn, TableAction } from '/@/components/Table';
  import { IUListApi, IUListApi2, IUListApi3, internalUserUpdateApi } from '/@/api/vms/admin';
  import { router } from '/@/router';
  import { useModal } from '/@/components/Modal';
  import internalUserSaveModal from '/@/views/demo/comp/modal/internalUserSaveModal.vue';
  import { cinvInfoListApi } from '/@/api/vms/ConsigmentInvoice';
  import { IUParams } from '/@/api/vms/model/adm/usrListModel';
import { internalUserSaveParams } from '/@/api/vms/model/adm/internalUserSaveModel';
  
  const schemas: FormSchema[] = [
    {
      field: 'Search',
      component: 'Input',
      label: 'Search',
      colProps: {
        span: 8,
      },
      componentProps: {
        placeholder: 'Search',
        onChange: (e: any) => {
          console.log(e);
        },
      },
    },
  ];
  const schemas2: FormSchema[] = [
    {
      field: 'supplier_code',
      component: 'Input',
      label: 'Kode Supplier',
      colProps: {
        span: 8,
      },
    },
    {
      field: 'orderFrom',
      component: 'RangePicker',
      label: 'Order From',
      colProps: {
        span: 8,
      },
    },
  ];
  export function getFormPo(): Partial<FormProps> {
    return {
      schemas: [
        ...schemas2,
        {
          field: 'start_date',
          component: 'Input',
          colProps: {
            span: 8,
          },
          label: 'Start Date', //unused
        },
        {
          field: 'end_date',
          component: 'Input',
          colProps: {
            span: 8,
          },
          label: 'End Date', //unused
        },
        {
          field: 'search',
          component: 'Input',
          label: 'Search',
          colProps: {
            span: 8,
          },
          componentProps: {
            placeholder: 'Search',
            onChange: (e: any) => {
              return e;
            },
          },
        },
      ],
    };
  }
  const columns: BasicColumn[] = [
    {
      title: 'Nama Depan',
      dataIndex: 'first_name',
    },
    {
      title: 'Nama Belakang',
      dataIndex: 'last_name',
    },
    {
      title: 'Username',
      dataIndex: 'username',
    },
    {
      title: 'User Role',
      dataIndex: 'role',
    },
  ];
  // const id='100045';
  // const invinfoListApiResult = await IUListApi3(id);
  // const infos = invinfoListApiResult.items[0];

  var FORM_VALUES: Recordable = {};
  export default defineComponent({
    components: { BasicForm, CollapseContainer, BasicTable, TableAction,internalUserSaveModal },
    setup() {
      const { createMessage } = useMessage();

      const [register1, { openModal: openModal1 }] = useModal();

      const [register, { setProps }] = useForm({
        labelWidth: 120,
        schemas,
        actionColOptions: {
          span: 24,
        },
        fieldMapToTime: [['fieldTime', ['startTime', 'endTime'], 'MM-YYYY']],
      });

      const [registerTable, { getForm }] = useTable({
        title: 'Tabel Internal Users',
        api: IUListApi,
        columns: columns,
        useSearchForm: true,
        bordered: true,
        formConfig: getFormPo(),
        tableSetting: { fullScreen: true },
        actionColumn: {
          ellipsis: true,
          width: 120,
          title: 'Action',
          dataIndex: 'action',
        },
      });

      async function handleEdit(record: Recordable) {
        console.log('klik untuk mengedit', record);
        router
          .push(`/admin/internal-user/edit/${record.id}`)
          .then(() => {
            console.log('Navigation successful');
          })
          .catch((error) => {
            console.error('Navigation failed:', error);
          });
      }
      function handleDelete(record: Recordable) {
        console.log('klik untuk menghapus', record);
        // const actionProps: internalUserSaveParams = {
        //     enabled: 'N',
        //   };

        //   await internalUserUpdateApi(actionProps);
      }

      return {
        registerTable,
        handleEdit,
        getForm,
        handleDelete,
        register,
        register1,
        openModal1,
        // infos,
        // infos2,
        schemas,
        handleSubmit: (values: Recordable) => {
          createMessage.success('click search,values:' + JSON.stringify(values));
        },
        createBusinessUnit: (values: Recordable) => {
          createMessage.success('click search,values:' + JSON.stringify(values));
          router
          .push(`/admin/internal-user/create`)
          .then(() => {
            console.log('Navigation successful');
          })
          .catch((error) => {
            console.error('Navigation failed:', error);
          });
        },
        setProps,
      };
    },
    methods: {
      async handleFilter(values: Recordable) {
        const cdtInput: HTMLInputElement = <HTMLInputElement>document.getElementById('cdt-input');
        cdtInput.value = '';
        FORM_VALUES = {};
        if (values.orderFrom != undefined) {
          const range: string[] = values.orderFrom;
          delete values.orderFrom;
          FORM_VALUES = {
            ...values,
            start_date: reformatDate(range[0]),
            end_date: reformatDate(range[1]),
          };
        } else {
          values.start_date = '';
          values.end_date = '';
          FORM_VALUES = values;
        }
        Object.keys(FORM_VALUES).forEach((key) => {
          if (FORM_VALUES[key] === null || values[key] == '') {
            delete FORM_VALUES[key];
          }
        });
        console.log(FORM_VALUES);
        await this.getForm().resetFields();
        await this.getForm().setFieldsValue(FORM_VALUES);
        await this.getForm().submit();
      },
      async handleSearch(e: ChangeEvent) {
        const searchValueRef = ref('');
        searchValueRef.value = e.target.value;
        var SEARCH_FORM_VALUES;
        if (e.target.value != '') {
          SEARCH_FORM_VALUES = { ...FORM_VALUES, search: searchValueRef.value };
          await this.getForm().setFieldsValue(SEARCH_FORM_VALUES);
          await this.getForm().submit();
        } else {
          await this.getForm().resetFields();
          await this.getForm().setFieldsValue(FORM_VALUES);
          await this.getForm().submit();
        }
      },
    },
  });
</script>
