<template>
  <div>
    <CollapseContainer title="Konfigurasi Toko">
      <BasicForm @register="register" @submit="handleCreate" />
    </CollapseContainer>
  </div>
</template>

<script lang="ts">
  import { defineComponent, ref } from 'vue';
  import { BasicForm, FormSchema, useForm } from '/@/components/Form/index';
  import { CollapseContainer } from '/@/components/Container/index';
  import createOptions from '../templates/dropdownOptions';
  import { BUSINESS_UNIT2_LIST} from '/@/utils/vms/dropdownOptions';
  import { StoreSaveParams } from '/@/api/vms/model/adm/storeCreateModel';
  import { storeSaveApi } from '/@/api/vms/admin';
  import { useUserStore } from '/@/store/modules/user';
import { router } from '/@/router';
import { useMessage } from '/@/hooks/web/useMessage';
  
  const schemas: FormSchema[] = [
    {
      field: 'store_id',
      component: 'Input',
      label: 'Kode Toko',
      colProps: {
        span: 8,
      },
    },
    {
      field: 'name',
      component: 'Input',
      label: 'Nama Toko',
      colProps: {
        span: 8,
      },
    },
    {
      field: 'gln',
      component: 'Input',
      label: 'GLN',
      colProps: {
        span: 8,
      },
    },
    {
      field: 'business_unit',
      component: 'Select',
      label: 'Business Unit',
      colProps: {
        span: 8,
      },
      componentProps: {
        placeholder: 'All',
        options: createOptions(BUSINESS_UNIT2_LIST, true),
      },
    },
    {
      field: 'is_logistic',
      component: 'Checkbox',
      label: 'Is Logistic',
      colProps: {
        span: 8,
      },
    },
  ];

  export default defineComponent({
    components: { BasicForm, CollapseContainer},
    setup() {
      const check = ref(null);

      const [register] = useForm({
        labelWidth: 150,
        schemas,
        actionColOptions: {
          span: 22,
        },
        submitButtonOptions: {
          text: 'Submit',
        },
      });

      return {
        register,
        check,
      };
    },
    methods: {
      async handleCreate(values: Recordable) {
        const { createMessage } = useMessage();
        const userStore = useUserStore();
        const roles = userStore.getUserInfo.roles;
        console.log(userStore.getUserInfo);
        console.log(roles);
        const actionProps: StoreSaveParams = {
          store_id: values.store_id,
          name: values.name,
          gln: values.gln,
          business_unit: values.business_unit,
          is_logistic: values.is_logistic,
          created_by: userStore.getUserInfo.username,
          // last_updated_by: userStore.getUserInfo.username,
        };
        const storeSaveActionApiResult = await storeSaveApi(actionProps);
        console.log('der', actionProps);
        createMessage.success('Success Create Store');
        router.push(`/admin/store`);
      },
    },
  });
</script>
