<template>
  <div>
    <CollapseContainer title="Konfigurasi Toko">
      <BasicForm @register="register" @submit="handleUpdate" />
    </CollapseContainer>
  </div>
</template>

<script lang="ts">
  import { defineComponent, ref } from 'vue';
  import { BasicForm, FormSchema, useForm } from '/@/components/Form/index';
  import { CollapseContainer } from '/@/components/Container/index';
  import createOptions from '../templates/dropdownOptions';
  import { BUSINESS_UNIT2_LIST} from '/@/utils/vms/dropdownOptions';
  import { StoreSaveParams } from '/@/api/vms/model/adm/storeCreateModel';
  import { postStoreApi, storeSaveApi, storeUpdateApi } from '/@/api/vms/admin';
  import { useUserStore } from '/@/store/modules/user';
  import { useRoute } from 'vue-router';
  import { defineProps } from 'vue';
import { useMessage } from '/@/hooks/web/useMessage';

  // const route = useRoute();
  // console.log(route)
  // const cdt = route.params.id.toString();
  // console.log(cdt)
  

  const id = "YKW25"; //route.params.id.toString();
  // const props = defineProps({
  //   store_id: String,
  // });

  // console.log(props.store_id);
  const postStore = await postStoreApi(id);
  const items = postStore.items[0];
  // const items: Recordable[] = postStore;
console.log(postStore.items[0].store_id);
 // console.log(postStore);
  console.log(items);
  console.log(items.c4business_unit);
  console.log(items.name);
  console.log(items.created_by);
  let flag;
  if(items.logistic_flag=='y'){
    flag = true;
  }else{
    flag = false;
  }
  
  const schemas: FormSchema[] = [
    {
      field: 'store_id',
      component: 'Input',
      label: 'Kode Toko',
      defaultValue: items.store_id,
      colProps: {
        span: 8,
      },
    },
    {
      field: 'name',
      component: 'Input',
      label: 'Nama Toko',
      defaultValue: items.name,
      colProps: {
        span: 8,
      },
    },
    {
      field: 'gln',
      component: 'Input',
      label: 'GLN',
      defaultValue: items.storegln,
      colProps: {
        span: 8,
      },
    },
    {
      field: 'business_unit',
      component: 'Select',
      label: 'Business Unit',
      defaultValue: items.c4business_unit,
      colProps: {
        span: 8,
      },
      componentProps: {
        placeholder: items.c4business_unit,
        options: createOptions(BUSINESS_UNIT2_LIST, true),
      },
    },
    {
      field: 'is_logistic',
      component: 'Checkbox',
      label: 'Is Logistic',
      defaultValue: flag,
      colProps: {
        span: 8,
      },
    },
  ];

  export default defineComponent({
    components: { BasicForm, CollapseContainer},
    setup() {
      const check = ref(null);
      

      const route = useRoute();
      console.log(route)
      const cdt = route.params.id.toString();
      console.log(cdt)

      const [register] = useForm({
        labelWidth: 150,
        schemas,
        actionColOptions: {
          span: 22,
        },
        submitButtonOptions: {
          text: 'Submit',
        },
      });

      return {
        register,
        check,
        cdt
      };
    },
    methods: {
      async handleUpdate(values: Recordable) {
        const { createMessage } = useMessage();
        const userStore = useUserStore();
        const roles = userStore.getUserInfo.roles;
        console.log(userStore.getUserInfo);
        console.log(roles);
        const actionProps: StoreSaveParams = {
          id: id,
          store_id: values.store_id,
          name: values.name,
          gln: values.gln,
          business_unit: values.business_unit,
          is_logistic: values.is_logistic,
          last_updated_by: userStore.getUserInfo.username,
          // last_updated_by: userStore.getUserInfo.username,
        };
        const storeUpdateActionApiResult = await storeUpdateApi(actionProps);
        console.log('der', actionProps);
        createMessage.success('click search,values:' + JSON.stringify(values));
      },
    },
  });
</script>
