<template>
  <CollapseContainer title="FILTER">
    <div style="float:right; display: block; margin-left:20px;">
      <a-button @click="openModal" :type="'secondary ml-2'"> Export To Excel </a-button>
    </div>
    <div style="margin-bottom: 8px">
        <div
          class="w-1/15 !md:mt-0 !md:mr-4"
          style="float: left; text-align: right; align-items: center; height: 32px; display: grid"
        >
          Search: &nbsp;
        </div>
        <div class="w-1/4 !md:mt-0 !md:mr-4" style="float: left">
          <a-input ref="inputRef" allow-clear @change="handleSearch" id="cdt-input">
            <template #prefix></template>
          </a-input>
        </div>
      </div>
  </CollapseContainer>

  <div class="p-1" style="background-color: white">
    <BasicTable @register="registerTable" :canResize="false">
      <template #bodyCell="{ column, record }">
        <template v-if="column.key === 'action'">
          <TableAction
            :actions="[
              {
                label: 'Edit',
                onClick: handleEdit.bind(null, record),
                // onClick: openModal2.bind(null, record)
              },
            ]"
            :stopButtonPropagation="true"
          />
        </template>
      </template>
    </BasicTable>
    <ExpExcelModal @register="register" @success="defaultHeader" />
    <invSaveDetailModal @register="register2" :infos="infos" />
  </div>
</template>


<script lang="ts">
  import { defineComponent } from 'vue';
  import { BasicForm, FormProps, FormSchema} from '/@/components/Form/index';
  import { CollapseContainer } from '/@/components/Container/index';
  import { useMessage } from '/@/hooks/web/useMessage';
  import { BasicTable, useTable, BasicColumn, TableAction } from '/@/components/Table';
  import { storeListApi } from '/@/api/vms/internalUser';
  import { ref } from 'vue';
  import { router } from '/@/router';
  import { ExportModalResult, ExpExcelModal, jsonToSheetXlsx } from '/@/components/Excel';
  import { useModal } from '/@/components/Modal';
  import invSaveDetailModal from '/@/views/demo/comp/modal/invSaveDetailModal.vue';
import { postStoreApi } from '/@/api/vms/admin';

  

  const schemas: FormSchema[] = [
    {
      field: 'Search',
      component: 'Input',
      label: 'Search',
      colProps: {
        span: 8,
      },
      componentProps: {
        placeholder: 'Search',
        onChange: (e: any) => {
          console.log(e);
        },
      },
    },
  ];
  const schemas2: FormSchema[] = [
    {
      field: 'supplier_code',
      component: 'Input',
      label: 'Kode Supplier',
      colProps: {
        span: 8,
      },
    },
    {
      field: 'orderFrom',
      component: 'RangePicker',
      label: 'Order From',
      colProps: {
        span: 8,
      },
    },
  ];
  export function getFormPo(): Partial<FormProps> {
    return {
      schemas: [
        ...schemas2,
        {
          field: 'start_date',
          component: 'Input',
          colProps: {
            span: 8,
          },
          label: 'Start Date', //unused
        },
        {
          field: 'end_date',
          component: 'Input',
          colProps: {
            span: 8,
          },
          label: 'End Date', //unused
        },
        {
          field: 'search',
          component: 'Input',
          label: 'Search',
          colProps: {
            span: 8,
          },
          componentProps: {
            placeholder: 'Search',
            onChange: (e: any) => {
              return e;
            },
          },
        },
      ],
    };
  }

  const columns: BasicColumn[] = [
    {
      title: 'Kode Toko',
      // dataIndex: 'store_id', //code
      dataIndex: 'kode_toko', //code
    },
    {
      title: 'Nama Toko',
      // dataIndex: 'name',
      dataIndex: 'nama_toko',
    },
    {
      title: 'GLN',
      // dataIndex: 'storegln',
      dataIndex: 'gln',
    },
  ];

  
  var FORM_VALUES: Recordable = {};
 
  const storeListApiResult = await storeListApi('');
  const store = storeListApiResult.items
  console.log(storeListApiResult)

  // let id = '';
  // function getId(record: Recordable){
  //   id =  record.id;
  // }

  

  // const postStore = await postStoreApi(id);
  // const infos = postStore.items[0];
  
  // async function handleEdit2(record: Recordable) {
  //       // console.log('Klik untuk mengedit', record);
  //       // console.log('id : ', record.id);
  //       // router.push(`/admin/store/edit/${record.kode_toko}`);
  //       const postStore = await postStoreApi(record.id);
  //       const infos = postStore.items[0];
  //       return infos;
  //     }
  let data = [];
  for (let index = 0; index < store.length; index++) {
    const element = store[index];
    data.push({
      // eslint-disable-next-line prettier/prettier
      "kode_toko": element.kode_toko,
      // eslint-disable-next-line prettier/prettier
      "nama_toko": element.nama_toko,
      // eslint-disable-next-line prettier/prettier
      "gln": element.gln,
    });
  }

  export default defineComponent({
    components: { BasicForm, CollapseContainer, TableAction, BasicTable,ExpExcelModal, invSaveDetailModal },
    setup() {
      const { createMessage } = useMessage();

      // const [register, { setProps }] = useForm({
      //   labelWidth: 120,
      //   schemas,
      //   actionColOptions: {
      //     span: 24,
      //   },
      //   fieldMapToTime: [['fieldTime', ['startTime', 'endTime'], 'MM-YYYY']],
      // });

      function defaultHeader({ filename, bookType }: ExportModalResult) {
    // 默认Object.keys(data[0])作为header
        jsonToSheetXlsx({
          data,
          filename,
          write2excelOpts: {
          bookType,
          },
        });
      }

      const [register, { openModal }] = useModal();
      // const [register2, { openModal: openModal2 }] = useModal();

      

      const [registerTable, { getForm }] = useTable({
        title: 'Tabel Store',
        api: storeListApi,
        columns: columns,
        useSearchForm: true,
        bordered: true,
        formConfig: getFormPo(),
        tableSetting: { fullScreen: true },
        actionColumn: {
          ellipsis: true,
          width: 250,
          title: 'Action',
          dataIndex: 'action',
        },
      });

      function handleEdit(record: Recordable) {
        console.log('Klik untuk mengedit', record);
        console.log('id : ', record.id);
        router.push(`/admin/store/edit/${record.kode_toko}`)
      }

      return {
        registerTable,
        handleEdit,
        register,
        // registers,
        defaultHeader,
        getForm,
        openModal,
        // openModal2,
        // register2,
        schemas,
        handleSubmit: (values: Recordable) => {
          createMessage.success('click search,values:' + JSON.stringify(values));
        },
        createStore: () => {
          // createMessage.success('click search,values:' + JSON.stringify(record));
          router
          .push(`/admin/store/create`)
          .then(() => {
            console.log('Navigation successful');
          })
          .catch((error) => {
            console.error('Navigation failed:', error);
          });
        },
        // setProps,
      };
    },
    methods: {
      async handleSearch(e: ChangeEvent) {
        const searchValueRef = ref('');
        searchValueRef.value = e.target.value;
        var SEARCH_FORM_VALUES;
        if (e.target.value != '') {
          SEARCH_FORM_VALUES = { ...FORM_VALUES, search: searchValueRef.value };
          await this.getForm().setFieldsValue(SEARCH_FORM_VALUES);
          await this.getForm().submit();
        } else {
          await this.getForm().resetFields();
          await this.getForm().setFieldsValue(FORM_VALUES);
          await this.getForm().submit();
        }
      },
    },
  });
</script>
