<template>
  <div>
    <!-- <CollapseContainer title="RETUR REQUEST" :canExpan="false">
      <a-button @click="handlePrintSelected" :type="'primary'">Cetak yang dipilih</a-button>
      <a-button @click="handleDownloadXML" :type="'primary'" class="ml-2 btn"
        >Download XML</a-button
      >
    </CollapseContainer> -->
    <CollapseContainer title="Konfigurasi Toko">
      <BasicForm @register="register" @submit="handleCreate" />
    </CollapseContainer>
    <!-- <div class="p-1" style="background-color: white">
      <div style="margin-bottom: 8px">
        <div
          class="w-1/6 !md:mt-0 !md:mr-4"
          style="float: left; text-align: right; align-items: center; height: 32px; display: grid"
        >
          Search Retur Request No: &nbsp;
        </div>
        <div class="w-1/4 !md:mt-0 !md:mr-4" style="float: left">
          <a-input ref="inputRef" allow-clear @change="handleSearch" id="cdt-input">
            <template #prefix></template>
          </a-input>
        </div>
      </div>
      <BasicTable @register="registerTable" :canResize="false">
        <template #bodyCell="{ column, record }">
          <template v-if="column.key === 'action'">
            <TableAction
              :actions="[
                {
                  label: 'Download',
                  onClick: handleViewDetail.bind(null, record),
                },
              ]"
            />
          </template>
          <template v-if="column.key === 'status'">{{ STATUS_LIST[record.status] }}</template>
          <template v-if="column.key === 'request_created_date'">{{
            toDateFormat(record.request_created_date)
          }}</template>
          <template v-if="column.key === 'invoice_date'">{{
            toDateFormat(record.invoice_date)
          }}</template>
          <template v-if="column.key === 'download_date'">{{
            toDateFormat(record.download_date)
          }}</template>
          <template v-if="column.key === 'store_code'"
            >{{ record.store_code }} - {{ record.delivery_to }}</template
          >
        </template>
      </BasicTable>
    </div> -->
  </div>
</template>

<script lang="ts">
  import { defineComponent, ref } from 'vue';
  import { BasicForm, FormSchema, useForm } from '/@/components/Form/index';
  import { CollapseContainer } from '/@/components/Container/index';
  import { BasicTable, FormProps, useTable, BasicColumn, TableAction } from '/@/components/Table';
  import createOptions from '../templates/dropdownOptions';
  import { router } from '/@/router';
  import { toDateFormat, reformatDate } from '/@/views/components/DetailTemplates';
  import { BUSINESS_UNIT2_LIST} from '/@/utils/vms/dropdownOptions';
  import { lBPFRListApi } from '/@/api/vms/buktiPotongFeeRebate';
import { StoreSaveParams } from '/@/api/vms/model/adm/storeCreateModel';
import { storeSaveApi } from '/@/api/vms/admin';
import { useUserStore } from '/@/store/modules/user';
  
  const STATUS_LIST = {
    '': 'All',
    NEW: 'Baru',
    DOWNLOADED: 'Downloaded',
    CANCELLED: 'Dibatalkan',
  };

  const schemas: FormSchema[] = [
    {
      field: 'store_id',
      component: 'Input',
      label: 'Kode Toko',
      colProps: {
        span: 8,
      },
    },
    {
      field: 'name',
      component: 'Input',
      label: 'Nama Toko',
      colProps: {
        span: 8,
      },
    },
    {
      field: 'gln',
      component: 'Input',
      label: 'GLN',
      colProps: {
        span: 8,
      },
    },
    {
      field: 'business_unit',
      component: 'Select',
      label: 'Business Unit',
      colProps: {
        span: 8,
      },
      componentProps: {
        placeholder: 'All',
        options: createOptions(BUSINESS_UNIT2_LIST, true),
      },
    },
    // {
    //   field: 'business_unit',
    //   component: 'Input',
    //   label: 'Business Unit',
    //   colProps: {
    //     span: 8,
    //   },
    // },
    {
      field: 'is_logistic',
      component: 'Checkbox',
      label: 'Is Logistic',
      colProps: {
        span: 8,
      },
      // componentProps: {

      // }
      
    },
  ];

  export function getFormPo(): Partial<FormProps> {
    return {
      schemas: [
        ...schemas,
        {
          field: 'start_date',
          component: 'Input',
          colProps: {
            span: 8,
          },
          label: 'Start Date', //unused
        },
        {
          field: 'end_date',
          component: 'Input',
          colProps: {
            span: 8,
          },
          label: 'End Date', //unused
        },
        {
          field: 'nomor_invoice',
          component: 'Input',
          label: 'Search Retur Request No',
          colProps: {
            span: 8,
          },
          componentProps: {
            placeholder: 'Search Retur Request No',
            onChange: (e: any) => {
              return e;
            },
          },
        },
      ],
    };
  }

  const columns: BasicColumn[] = [
    { title: 'Nomor Invoice', dataIndex: 'nomor_invoice' },
    { title: 'Kode Supplier', dataIndex: 'supplier_code' },
    { title: 'Nama Supplier', dataIndex: 'supplier_name' },
    { title: 'Invoice Date', key: 'invoice_date' },
    { title: 'Download Date ', key: 'download_date' },
    { title: 'Status', dataIndex: 'status' },
  ];

  var FORM_VALUES: Recordable = {};

  export default defineComponent({
    components: { BasicForm, CollapseContainer, TableAction, BasicTable },
    setup() {
      const check = ref(null);

      const [register] = useForm({
        labelWidth: 150,
        schemas,
        actionColOptions: {
          span: 22,
        },
        submitButtonOptions: {
          text: 'Submit',
        },
        fieldMapToTime: [['fieldTime', ['startTime', 'endTime'], 'MM-YYYY']],
      });

      const [registerTable, { getForm }] = useTable({
        title: 'Tabel Retur Request',
        api: lBPFRListApi,
        columns: columns,
        useSearchForm: true,
        bordered: true,
        formConfig: getFormPo(),
        tableSetting: { fullScreen: true },
        rowSelection: {
          type: 'checkbox',
        },
        actionColumn: {
          ellipsis: true,
          width: 250,
          title: 'Action',
          dataIndex: 'action',
        },
      });

      function handleViewDocument(record: Recordable) {
        console.log('klik untuk melihat detail', record.reference);
      }

      // function handleCreate({ record }: Recordable) {
      //   const actionProps: PfirSaveParams = {
      //     IS_ACCEPTED: record.is_accepted,
      //     RECONCILED: record.reconciled,
      //     REMARKS: record.remarks,
      //     RAIID: record.receiving_advice_item,
      //   };

      //   const pfirSaveActionApiResult = await pfirSaveApi(actionProps);
      //   console.log('der', actionProps);
      // }

      function handleViewDetail(record: Recordable) {
        router.push(`/retur/request/detail/${record.id}`);
      }

      function handlePrintSelected(record: Recordable) {
        //TODO
        console.log('klik untuk melihat detail', record);
      }

      function handleDownloadXML(record: Recordable) {
        //TODO
        console.log('klik untuk melihat detail', record);
      }

      return {
        registerTable,
        handleViewDocument,
        handleViewDetail,
        handlePrintSelected,
        handleDownloadXML,
        getForm,
        register,
        check,
        toDateFormat,
        STATUS_LIST,
      };
    },
    methods: {
      async handleFilter(values: Recordable) {
        const cdtInput: HTMLInputElement = <HTMLInputElement>document.getElementById('cdt-input');
        cdtInput.value = '';
        FORM_VALUES = {};
        if (values.orderFrom != undefined) {
          const range: string[] = values.orderFrom;
          delete values.orderFrom;
          FORM_VALUES = {
            ...values,
            start_date: reformatDate(range[0]),
            end_date: reformatDate(range[1]),
          };
        } else {
          values.start_date = '';
          values.end_date = '';
          FORM_VALUES = values;
        }
        Object.keys(FORM_VALUES).forEach((key) => {
          if (FORM_VALUES[key] === null || values[key] == '') {
            delete FORM_VALUES[key];
          }
        });
        console.log(FORM_VALUES);
        await this.getForm().resetFields();
        await this.getForm().setFieldsValue(FORM_VALUES);
        await this.getForm().submit();
      },
      async handleCreate(values: Recordable) {
        const userStore = useUserStore();
        const roles = userStore.getUserInfo.roles;
        console.log(userStore.getUserInfo);
        console.log(roles);
        const actionProps: StoreSaveParams = {
          store_id: values.store_id,
          name: values.name,
          gln: values.gln,
          business_unit: values.business_unit,
          is_logistic: values.is_logistic,
          created_by: userStore.getUserInfo.username,
          // last_updated_by: userStore.getUserInfo.username,
        };
        const storeSaveActionApiResult = await storeSaveApi(actionProps);
        console.log('der', actionProps);
      },
    },
  });
</script>
