<template>
  <div>
    <CollapseContainer title="Warehouse">
      <BasicForm @register="register" @submit="handleCreate" />
    </CollapseContainer>
  </div>
</template>

<script lang="ts">
  import { defineComponent, ref } from 'vue';
  import { BasicForm, FormSchema, useForm } from '/@/components/Form/index';
  import { CollapseContainer } from '/@/components/Container/index';
  import createOptions from '../templates/dropdownOptions';
  import { STORE_LIST} from '/@/utils/vms/dropdownOptions';
  import { warehouseCreateApi } from '/@/api/vms/admin';
  import { useUserStore } from '/@/store/modules/user';
  import { WarehouseSaveParams } from '/@/api/vms/model/adm/warehouseCreateModel';
import { router } from '/@/router';
import { useMessage } from '/@/hooks/web/useMessage';
  
  const schemas: FormSchema[] = [
    {
      field: 'warehouse_code',
      component: 'Input',
      label: 'Warehouse Code',
      colProps: {
        span: 8,
      },
    },
    {
      field: 'warehouse_name',
      component: 'Input',
      label: 'Warehouse Name',
      colProps: {
        span: 8,
      },
    },
    {
      field: 'int_code',
      component: 'Input',
      label: 'Int Code',
      colProps: {
        span: 8,
      },
    },
    {
      field: 'store_code',
      component: 'Select',
      label: 'Toko',
      colProps: {
        span: 8,
      },
      componentProps: {
        placeholder: 'All',
        options: createOptions(STORE_LIST, true),
      },
    },
    {
      field: 'for_interface',
      component: 'Checkbox',
      label: 'For Interface',
      colProps: {
        span: 8,
      },
    },
  ];

  export default defineComponent({
    components: { BasicForm, CollapseContainer},
    setup() {
      const check = ref(null);

      const [register] = useForm({
        labelWidth: 150,
        schemas,
        actionColOptions: {
          span: 22,
        },
        submitButtonOptions: {
          text: 'Submit',
        },
      });

      return {
        register,
        check,
      };
    },
    methods: {
      async handleCreate(values: Recordable) {
        const { createMessage } = useMessage();
        const userStore = useUserStore();
        const roles = userStore.getUserInfo.roles;
        console.log(userStore.getUserInfo);
        console.log(roles);
        const actionProps: WarehouseSaveParams = {
          warehouse_code: values.warehouse_code,
          warehouse_name: values.warehouse_name,
          int_code: values.int_code,
          store_code: values.store_code,
          for_interface: values.for_interface,
        };
        const warehouseSaveActionApiResult = await warehouseCreateApi(actionProps);
        console.log('der', actionProps);
        createMessage.success('Success Create Warehouse');
        router.push(`/admin/warehouse`);
      },
    },
  });
</script>
