<template>
  <div>
    <CollapseContainer title="Konfigurasi Warehouse">
      <BasicForm @register="register" @submit="handleUpdate" />
    </CollapseContainer>
  </div>
</template>

<script lang="ts">
  import { defineComponent, ref } from 'vue';
  import { BasicForm, FormSchema, useForm } from '/@/components/Form/index';
  import { CollapseContainer } from '/@/components/Container/index';
  import createOptions from '../templates/dropdownOptions';
  import { STORE_LIST} from '/@/utils/vms/dropdownOptions';
  import { postWarehouseApi, warehouseUpdateApi } from '/@/api/vms/admin';
  import { useUserStore } from '/@/store/modules/user';
  import { useRoute } from 'vue-router';
  import { useMessage } from '/@/hooks/web/useMessage';
  import { WarehouseSaveParams } from '/@/api/vms/model/adm/warehouseCreateModel';
  

  const id = "10004"; //route.params.id.toString();
  // const props = defineProps({
  //   store_id: String,
  // });

  // console.log(props.store_id);
  const postStore = await postWarehouseApi(id);
  const items = postStore.items[0];
  // const items: Recordable[] = postStore;

  let flag;
  if(items.for_interface=='Y'){
    flag = true;
  }else{
    flag = false;
  }
  
  const schemas: FormSchema[] = [
    {
      field: 'warehouse_code',
      component: 'Input',
      label: 'Warehouse Code',
      defaultValue: items.warehouse_code,
      colProps: {
        span: 8,
      },
    },
    {
      field: 'warehouse_name',
      component: 'Input',
      label: 'Warehouse Name',
      defaultValue: items.warehouse_name,
      colProps: {
        span: 8,
      },
    },
    {
      field: 'int_code',
      component: 'Input',
      label: 'Int Code',
      defaultValue: items.int_code,
      colProps: {
        span: 8,
      },
    },
    {
      field: 'store_code',
      component: 'Select',
      label: 'Toko',
      defaultValue: items.store_code,
      colProps: {
        span: 8,
      },
      componentProps: {
        placeholder: 'All',
        options: createOptions(STORE_LIST, true),
      },
    },
    {
      field: 'for_interface',
      component: 'Checkbox',
      label: 'For Interface',
      defaultValue: flag,
      colProps: {
        span: 8,
      },
    },
  ];

  export default defineComponent({
    components: { BasicForm, CollapseContainer},
    setup() {
      const check = ref(null);
      

      const route = useRoute();
      console.log(route)
      const cdt = route.params.id.toString();
      console.log(cdt)

      const [register] = useForm({
        labelWidth: 150,
        schemas,
        actionColOptions: {
          span: 22,
        },
        submitButtonOptions: {
          text: 'Submit',
        },
      });

      return {
        register,
        check,
      };
    },
    methods: {
      async handleUpdate(values: Recordable) {
        const { createMessage } = useMessage();
        const userStore = useUserStore();
        const roles = userStore.getUserInfo.roles;
        console.log(userStore.getUserInfo);
        console.log(roles);
        const actionProps: WarehouseSaveParams = {
          id: id,
          warehouse_code: values.warehouse_code,
          warehouse_name: values.warehouse_name,
          int_code: values.int_code,
          store_code: values.store_code,
          for_interface: values.for_interface,
        };
        const storeUpdateActionApiResult = await warehouseUpdateApi(actionProps);
        console.log('der', actionProps);
        createMessage.success('click search,values:' + JSON.stringify(values));
      },
    },
  });
</script>
