<template>
  <div>
    <!-- <CollapseContainer title="RETUR REQUEST" :canExpan="false">
      <a-button @click="handlePrintSelected" :type="'primary'">Cetak yang dipilih</a-button>
      <a-button @click="handleDownloadXML" :type="'primary'" class="ml-2 btn"
        >Download XML</a-button
      >
    </CollapseContainer> -->
    <CollapseContainer title="Filter">
      <BasicForm @register="register" @submit="handleFilter" />
    </CollapseContainer>
    <div class="p-1" style="background-color: white">
      <div style="margin-bottom: 8px">
        <div
          class="w-1/6 !md:mt-0 !md:mr-4"
          style="float: left; text-align: right; align-items: center; height: 32px; display: grid"
        >
          Search Retur Request No: &nbsp;
        </div>
        <div class="w-1/4 !md:mt-0 !md:mr-4" style="float: left">
          <a-input ref="inputRef" allow-clear @change="handleSearch" id="cdt-input">
            <template #prefix></template>
          </a-input>
        </div>
      </div>
      <BasicTable @register="registerTable" :canResize="false">
        <template #bodyCell="{ column, record }">
          <template v-if="column.key === 'action'">
            <TableAction
              :actions="[
                {
                  label: 'Detail',
                  onClick: handleViewDetail.bind(null, record),
                },
              ]"
            />
          </template>
          <template v-if="column.key === 'status'">{{ STATUS_LIST[record.status] }}</template>
          <template v-if="column.key === 'request_created_date'">{{
            toDateFormat(record.request_created_date)
          }}</template>
          <template v-if="column.key === 'read_date'">{{
            toDateFormat(record.read_date)
          }}</template>
          <template v-if="column.key === 'action_date'">{{
            toDateFormat(record.action_date)
          }}</template>
          <template v-if="column.key === 'store_code'"
            >{{ record.store_code }} - {{ record.delivery_to }}</template
          >
        </template>
      </BasicTable>
    </div>
  </div>
</template>

<script lang="ts">
  import { defineComponent, ref } from 'vue';
  import { BasicForm, FormSchema, useForm } from '/@/components/Form/index';
  import { CollapseContainer } from '/@/components/Container/index';
  import { BasicTable, FormProps, useTable, BasicColumn, TableAction } from '/@/components/Table';
  import createOptions from '../templates/dropdownOptions';
  import { router } from '/@/router';
  import { toDateFormat, reformatDate } from '/@/views/components/DetailTemplates';
  import { BUSINESS_UNIT_LIST, STORE_LIST, SUPPLIER_LIST } from '/@/utils/vms/dropdownOptions';
  import { rrnListApi } from '/@/api/vms/returnRequestNotification';
  // import { useRefs } from '/@/hooks/core/useRefs';
  // import { useCdtSearch } from '../application/useCdtSearch';

  // let API_URL_PARAMS: Recordable;
  import { useUserStore } from '/@/store/modules/user';
  import { RoleEnum } from '/@/enums/roleEnum';
  const userStore = useUserStore();

  const STATUS_LIST = {
    '': 'All',
    NEW: 'Baru',
    AWAITING: 'Menunggu',
    REJECTED: 'DiTolak',
    CANCELLED: 'Dibatalkan',
    APPROVED: 'Diterima',
  };

  const schemas: FormSchema[] = [
    {
      field: 'supplier_code',
      component: 'Input',
      label: 'Kode Supplier',
      defaultValue: userStore.getUserInfo.username,
      show: false,
      colProps: {
        span: 8,
      },
      componentProps: {
        placeholder: userStore.getUserInfo.username,
        onChange: (e: any) => {
          return e;
        },
      },
    },
    {
      field: 'orderFrom',
      component: 'RangePicker',
      label: 'Order From',
      colProps: {
        span: 8,
      },
    },
    {
      field: 'status',
      component: 'Select',
      label: 'Status',
      colProps: {
        span: 8,
      },
      componentProps: {
        placeholder: '--Select--',
        options: createOptions(STATUS_LIST),
      },
    },
    {
      field: 'toko',
      component: 'Select',
      label: 'Toko',
      show: false,
      colProps: {
        span: 8,
      },
      componentProps: {
        placeholder: '--Select--',
        options: createOptions(STORE_LIST, true),
      },
    },
    // {
    //   field: 'isRevisedPO',
    //   component: 'CheckboxGroup',
    //   label: 'View Revised POs',
    //   colProps: {
    //     span: 8,
    //   },
    //   componentProps: {
    //     options: [
    //       {
    //         value: '1',
    //       },
    //     ],
    //   },
    // },
    {
      field: 'business_unit',
      component: 'Select',
      label: 'Business Unit',
      colProps: {
        span: 8,
      },
      componentProps: {
        placeholder: 'All',
        options: createOptions(BUSINESS_UNIT_LIST, true),
      },
    },
  ];
  const schemas1: FormSchema[] = [
    {
      field: 'supplier',
      component: 'Select',
      label: 'Merchant',
      colProps: {
        span: 8,
      },
      componentProps: {
        placeholder: 'All',
        options: createOptions(SUPPLIER_LIST, true),
      },
    },
    {
      field: 'supplier',
      component: 'Input',
      label: 'Kode Supplier',
      colProps: {
        span: 8,
      },
    },
    {
      field: 'orderFrom',
      component: 'RangePicker',
      label: 'Order From',
      colProps: {
        span: 8,
      },
    },
    {
      field: 'status',
      component: 'Select',
      label: 'Status',
      colProps: {
        span: 8,
      },
      componentProps: {
        placeholder: '--Select--',
        options: createOptions(STATUS_LIST),
      },
    },
    {
      field: 'toko',
      component: 'Select',
      label: 'Toko',
      colProps: {
        span: 8,
      },
      componentProps: {
        placeholder: '--Select--',
        options: createOptions(STORE_LIST, true),
      },
    },
    // {
    //   field: 'isRevisedPO',
    //   component: 'CheckboxGroup',
    //   label: 'View Revised POs',
    //   colProps: {
    //     span: 8,
    //   },
    //   componentProps: {
    //     options: [
    //       {
    //         value: '1',
    //       },
    //     ],
    //   },
    // },
    {
      field: 'business_unit',
      component: 'Select',
      label: 'Business Unit',
      colProps: {
        span: 8,
      },
      componentProps: {
        placeholder: 'All',
        options: createOptions(BUSINESS_UNIT_LIST, true),
      },
    },
  ];

  export function getFormPo(): Partial<FormProps> {
    return {
      schemas: [
        ...schemas,
        {
          field: 'start_date',
          component: 'Input',
          colProps: {
            span: 8,
          },
          label: 'Start Date', //unused
        },
        {
          field: 'end_date',
          component: 'Input',
          colProps: {
            span: 8,
          },
          label: 'End Date', //unused
        },
        {
          field: 'return_request_number',
          component: 'Input',
          label: 'Search Retur Request No',
          colProps: {
            span: 8,
          },
          componentProps: {
            placeholder: 'Search Retur Request No',
            onChange: (e: any) => {
              return e;
            },
          },
        },
      ],
    };
  }
  export function getFormPo1(): Partial<FormProps> {
    return {
      schemas: [
        ...schemas1,
        {
          field: 'start_date',
          component: 'Input',
          colProps: {
            span: 8,
          },
          label: 'Start Date', //unused
        },
        {
          field: 'end_date',
          component: 'Input',
          colProps: {
            span: 8,
          },
          label: 'End Date', //unused
        },
        {
          field: 'return_request_number',
          component: 'Input',
          label: 'Search Retur Request No',
          colProps: {
            span: 8,
          },
          componentProps: {
            placeholder: 'Search Retur Request No',
            onChange: (e: any) => {
              return e;
            },
          },
        },
      ],
    };
  }

  const columns: BasicColumn[] = [
    { title: 'Return Request Number', dataIndex: 'return_request_number' },
    { title: 'RQ/RQR Created Date', key: 'request_created_date' },
    { title: 'Supplier', dataIndex: 'supplier' },
    { title: 'Notification', dataIndex: 'notification' },
    { title: 'Read Date', key: 'read_date' },
    { title: 'Read By', dataIndex: 'read_by' },
    { title: 'Action Date', key: 'action_date' },
    { title: 'Action By', dataIndex: 'action_by' },
    { title: 'Status', dataIndex: 'status' },
  ];

  var FORM_VALUES: Recordable = {};

  export default defineComponent({
    components: { BasicForm, CollapseContainer, TableAction, BasicTable },
    setup() {
      const isSupplier = userStore.getRoleList.includes(RoleEnum.SUPPLIER);

      const check = ref(null);

      const [register] = useForm({
        labelWidth: 150,
        schemas: isSupplier ? schemas : schemas1,
        actionColOptions: {
          span: 22,
        },
        submitButtonOptions: {
          text: 'Filter',
        },
        fieldMapToTime: [['fieldTime', ['startTime', 'endTime'], 'MM-YYYY']],
      });

      const [registerTable, { getForm }] = useTable({
        api: rrnListApi,
        columns: columns,
        useSearchForm: true,
        bordered: true,
        formConfig: isSupplier ? getFormPo() : getFormPo1(),
        tableSetting: { fullScreen: true },
        // rowSelection: {
        //   type: 'checkbox',
        // },
        actionColumn: {
          ellipsis: true,
          width: 100,
          title: 'Action',
          dataIndex: 'action',
        },
      });

      function handleViewDocument(record: Recordable) {
        console.log('klik untuk melihat detail', record.reference);
      }

      function handleViewDetail(record: Recordable) {
        router.push(`/retur/request-notification/detail/${record.id}`);
      }

      function handlePrintSelected(record: Recordable) {
        //TODO
        console.log('klik untuk melihat detail', record);
      }

      function handleDownloadXML(record: Recordable) {
        //TODO
        console.log('klik untuk melihat detail', record);
      }

      return {
        registerTable,
        handleViewDocument,
        handleViewDetail,
        handlePrintSelected,
        handleDownloadXML,
        getForm,
        register,
        check,
        toDateFormat,
        STATUS_LIST,
      };
    },
    methods: {
      async handleFilter(values: Recordable) {
        const cdtInput: HTMLInputElement = <HTMLInputElement>document.getElementById('cdt-input');
        cdtInput.value = '';
        FORM_VALUES = {};
        if (values.orderFrom != undefined) {
          const range: string[] = values.orderFrom;
          delete values.orderFrom;
          FORM_VALUES = {
            ...values,
            start_date: reformatDate(range[0]),
            end_date: reformatDate(range[1]),
          };
        } else {
          values.start_date = '';
          values.end_date = '';
          FORM_VALUES = values;
        }
        Object.keys(FORM_VALUES).forEach((key) => {
          if (FORM_VALUES[key] === null || values[key] == '') {
            delete FORM_VALUES[key];
          }
        });
        console.log(FORM_VALUES);
        await this.getForm().resetFields();
        await this.getForm().setFieldsValue(FORM_VALUES);
        await this.getForm().submit();
      },

      async handleSearch(e: ChangeEvent) {
        const searchValueRef = ref('');
        searchValueRef.value = e.target.value;
        var SEARCH_FORM_VALUES;
        if (e.target.value != '') {
          SEARCH_FORM_VALUES = { ...FORM_VALUES, return_request_number: searchValueRef.value };
          await this.getForm().setFieldsValue(SEARCH_FORM_VALUES);
          await this.getForm().submit();
        } else {
          await this.getForm().resetFields();
          await this.getForm().setFieldsValue(FORM_VALUES);
          await this.getForm().submit();
        }
      },
    },
  });
</script>
