<template>
  <CollapseContainer
    :title="'Proforma Invoice ID: ' + pfirDetailInfoApiResult.items[0].id"
    :canExpan="false"
  >
    <div class="button">
      <a-button @click="jsonPrint" :type="'primary'" class="ml-2 btn">Lihat versi cetak</a-button>
      <DocumentDropdownButton :documents="documents" :cdt="pfirDetailInfoApiResult.items[0].cdt" />
      <a-button @click="handleClose" :type="'primary ml-2'" v-show="isClosed"> Close </a-button>
    </div>
    <!-- <a-button @click="" :type="'primary'">Lihat versi cetak</a-button> -->
    <!-- <DocumentDropdownButton :documents="documents" :cdt="otherPfiData.cdt" /> -->
  </CollapseContainer>
  <div id="header-pdf" class="p-1">
    <div class="md:flex enter-y">
      <div class="ant-card ant-card-bordered ant-card-small md:w-1/2 w-full !md:mt-0 !md:mr-4">
        <div class="mx-4 mt-4 info-title"> Analisis Penjualan Litigasi </div>
        <Description
          size="small"
          :bordered="true"
          :column="1"
          :data="infos"
          :schema="orderInfoSchema"
        />
      </div>
      <div class="ant-card ant-card-bordered ant-card-small md:w-1/2 w-full !md:mt-0 !md:mr-4">
        <div class="mx-4 mt-4 info-title"> Informasi Supplier </div>
        <div class="mx-4 mb-2 destination"> {{ infos.supplier_name }} </div>
        <Description
          size="small"
          :bordered="true"
          :column="2"
          :data="infos"
          :schema="supplierSchema"
        />
      </div>
    </div>
  </div>

  <div class="p-1" style="background-color: white">
    <BasicTable @register="registerTable" class="main-table">
      <template #bodyCell="{ column, record }">
        <template v-if="column.key === 'fields'">
          <Field
            :fieldMargin="record.field_margin"
            :fieldSelling="record.field_selling"
            :fieldQty="record.field_qty"
          />
        </template>
        <template v-if="column.key === 'original'">
          <Field
            :fieldMargin="record.margin"
            :fieldSelling="record.sellingprice"
            :fieldQty="record.qty"
          />
        </template>
        <template v-if="column.key === 'dicocokkan'">
          <Field
            :fieldMargin="record.dicocokkan_margin"
            :fieldSelling="record.dicocokkan_selling"
            :fieldQty="record.dicocokkan_qty"
          />
        </template>
        <template v-if="column.key === 'remarks'">
          <Remark
            :fieldMargin="record.remarks_margin"
            :fieldSelling="record.remarks_selling"
            :fieldQty="record.remarks_qty"
          />
        </template>
        <template v-else-if="column.key === 'itemName'">
          <ItemNameCell :itemName="record.item_name" :sub="record.item_name" />
        </template>
        <template v-else-if="column.key === 'fieldss'">
          {{ record.field_margin + record.field_selling + record.field_qty }}
        </template>
        <template v-else-if="column.key === 'originall'">
          {{ record.original }}
        </template>
        <template v-else-if="column.key === 'dicocokkann'">
          {{ record.dicocokkan }}
        </template>
        <template v-else-if="column.key === 'totalQty'">
          {{ record.raipoi[0] ? toFixedFloat(record.raipoi[0]?.received_qty) : 1 }}
        </template>
        <template v-else-if="column.key === 'Unitprice'">
          {{ toFixedFloat(record.unit_price) }}
        </template>
        <template v-else-if="column.key === 'reconciled'">
          {{ record.raipoi[0] ? toFixedFloat(record.raipoi[0]?.raipfii[0]?.reconciled) : '' }}
        </template>
        <template v-if="column.key === 'sales_date'">{{
          toDateFormat(record.sales_date)
        }}</template>
      </template>
    </BasicTable>
    <!-- <div class="md:flex enter-y" id="total-price-box">
      <div class="md:w-4/5 w-full !md:mt-0 !md:mr-4"> Total Harga: </div>
      <div class="md:w-1/5 w-full !md:mt-0 !md:mr-4" id="total-price-amount">
        Rp.{{ toFixedFloat(total) }}</div
      >
    </div> -->
  </div>
</template>
<script setup lang="ts">
  import { DescItem, Description } from '/@/components/Description';
  import { BasicColumn, useTable, BasicTable } from '/@/components/Table';
  import { toFixedFloat, Field, Remark, toDateFormat } from '/@/views/components/DetailTemplates';
  import { defineProps } from 'vue';
  import { CollapseContainer } from '/@/components/Container/index';
  import { useUserStore } from '/@/store/modules/user';
  import { router } from '/@/router';

  import { useMessage } from '/@/hooks/web/useMessage';
  const { createMessage, createConfirm, createSuccessModal, createErrorModal } = useMessage();
  import { useTabs } from '/@/hooks/web/useTabs';

  // import printJS from 'print-js';
  import { slaDetailApi, slaInfoApi, slaCloseApi, slaListApi } from '/@/api/vms/SalesLitAnalys';
  import { SlaCloseParams } from '/@/api/vms/model/sla/slaCloseModel';

  import jsPDF from 'jspdf';
  import autoTable from 'jspdf-autotable';
  import logo from '/@/assets/images/logo.png';
  // import { documents } from '../hard-code-materials/descData';

  const props = defineProps({
    csslaId: String,
  });

  const userStore = useUserStore();
  const roles = userStore.getUserInfo.roles;
  let userRoles: string[] = [];
  roles.forEach((role) => {
    userRoles.push(role.value);
  });

  const { refreshPage } = useTabs();

  async function handleClose() {
    const actionProps: SlaCloseParams = {
      id: props.csslaId!,
      status: 'CLOSE',
    };

    createConfirm({
      iconType: 'warning',
      content: 'Apakah anda yakin ingin Menutup Sales Litigation Analis ini ?',
      async onOk() {
        // notification.success({
        //   message: 'Success',
        //   description: 'Dokumen Receiving Advice disahkan. Membuat Proforma Invoice baru.',
        // });
        const SlaCloseActionModel = await slaCloseApi(actionProps);

        createSuccessModal({
          title: 'Success',
          content: 'Dokumen Sales Litigation Analis status ditutup.',
          onOk() {
            router.push(
              `/consignment/sales-litigation-analysis/detail/${SlaCloseActionModel.sla_id}`,
            );
            refreshPage();
          },
        });
      },
    });
  }

  const pfirItemListApiResult = await slaDetailApi(props.csslaId);
  const items: Recordable[] = pfirItemListApiResult.items;
  // const RARStatus = pfirItemListApiResult.items[0].status;

  const slaItemListApiResult = await slaListApi({ lit_no: props.csslaId });
  const slaItems: Recordable[] = slaItemListApiResult.items;
  const slaStatus = slaItems[0].status;

  const isClosed: boolean =
    userRoles.includes('Mechandiser') && ['NEW', 'ACTION_WAITING'].includes(slaStatus);

  const pfirDetailInfoApiResult = await slaInfoApi(props.csslaId);
  const info: Recordable[] = pfirDetailInfoApiResult.items;
  const infos = info[0];

  let total = 0;
  items.forEach((element) => {
    // let tot =
    //   (element.total_cons_payable ? parseFloat(element.total_cons_payable) : 1) *
    //   parseFloat(items.length);
    // total += parseFloat(tot);
    total += parseFloat(element.total_cons_payable);
  });
  let data = [];

  for (let index = 0; index < items.length; index++) {
    const element = items[index];
    data.push({
      // eslint-disable-next-line prettier/prettier
      // no: element.no,
      // eslint-disable-next-line prettier/prettier
      nama_barang: element.nama_barang,
      // eslint-disable-next-line prettier/prettier
      field_margin: element.field_margin,
      // eslint-disable-next-line prettier/prettier
      field_selling: element.field_selling,
      // eslint-disable-next-line prettier/prettier
      field_qty: element.field_qty,
      // eslint-disable-next-line prettier/prettier
      margin: element.margin,
      // eslint-disable-next-line prettier/prettier
      sellingprice: element.sellingprice,
      // eslint-disable-next-line prettier/prettier
      qty: element.qty,
      // eslint-disable-next-line prettier/prettier
      dicocokkan_margin: element.dicocokkan_margin,
      // eslint-disable-next-line prettier/prettier
      dicocokkan_selling: element.dicocokkan_selling,
      // eslint-disable-next-line prettier/prettier
      dicocokkan_qty: element.dicocokkan_qty,
      // eslint-disable-next-line prettier/prettier
      remarks_margin: element.remarks_margin,
      // eslint-disable-next-line prettier/prettier
      remarks_selling: element.remarks_selling,
      // eslint-disable-next-line prettier/prettier
      remarks_qty: element.remarks_qty,
      // eslint-disable-next-line prettier/prettier
    });
  }

  let print = [];
  // for (let index = 0; index < items.length; index++) {
  //   const element = items[index];
  //   print.push({
  //     // eslint-disable-next-line prettier/prettier
  //     No: element.no,
  //     // eslint-disable-next-line prettier/prettier
  //     'Sales Date': element.sales_date,
  //     // eslint-disable-next-line prettier/prettier
  //     'Barcode Bank Promo / Sales Type':
  //       element.barcode +
  //       ' Bank Promo: ' +
  //       element.bank_promo +
  //       ' Sales Type: ' +
  //       element.sales_type,
  //     // eslint-disable-next-line prettier/prettier
  //     'Nama Barang': element.nama_barang,
  //     // eslint-disable-next-line prettier/prettier
  //     'Sales Qty': toFixedFloat(element.sales_qty),
  //     // eslint-disable-next-line prettier/prettier
  //     'Selling Price': toFixedFloat(element.selling_price),
  //     // eslint-disable-next-line prettier/prettier
  //     'Base Consignment Margin': toFixedFloat(element.base_cons_margin),
  //     // eslint-disable-next-line prettier/prettier
  //     'Base Consignment Payable': toFixedFloat(element.base_cons_payable),
  //     // eslint-disable-next-line prettier/prettier
  //     'Support Promo Supplier': toFixedFloat(element.support_promo_sup),
  //     // eslint-disable-next-line prettier/prettier
  //     'Sub Total Consignment Payable': toFixedFloat(element.total_cons_payable),
  //     // eslint-disable-next-line prettier/prettier
  //     Terima: element.terima,
  //   });
  // }

  const orderInfoSchema: DescItem[] = [
    { field: 'store', label: 'Toko' },
    { field: 'department', label: 'Department' },
    { field: 'sales_date', label: 'Sales Date' },
  ];

  const supplierSchema: DescItem[] = [
    { field: 'supplier_code', label: 'Kode Supplier' },
    { field: 'supplier_name', label: 'Nama Supplier' },
    { field: 'supplier_phone', label: 'Telepon' },
    { field: 'supplier_fax', label: 'Fax' },
  ];

  const columns: BasicColumn[] = [
    { title: 'Nama Barang', dataIndex: 'nama_barang', width: 150 },
    { title: 'Fields', key: 'fields', width: 100 },
    { title: 'Original', key: 'original', width: 100 },
    { title: 'Dicocokkan', key: 'dicocokkan', width: 100 },
    { title: 'Remarks', key: 'remarks', width: 200 },
  ];

  const [registerTable] = useTable({
    title: 'Tabel Item',
    dataSource: data,
    columns: columns,
    bordered: true,
    tableSetting: { fullScreen: true },
    loading: false,
    pagination: false,
    canResize: true,
    scroll: { y: 300 },
    // showSummary: true,
  });
  // function jsonPrint() {
  //   printJS({
  //     printable: print,
  //     properties: [
  //       'No',
  //       'Sales Date',
  //       'Barcode Bank Promo / Sales Type',
  //       'Nama Barang',
  //       'Sales Qty',
  //       'Selling Price',
  //       'Base Consignment Margin',
  //       'Base Consignment Payable',
  //       'Support Promo Supplier',
  //       'Sub Total Consignment Payable',
  //       'Terima',
  //     ],
  //     type: 'json',
  //     //   printJS({
  //     //   printable: 'invoice-print-div',
  //     //   type: 'html',
  //     //   style: ['@page { size: A4; margin: 2mm;} body {margin: 2;} h4 {margin:2}'],
  //     //   targetStyles: ['*'],
  //     // });
  //   });
  // }

  function jsonPrint() {
    let pdfName = `Return Request Response - ${infos.nama_supplier}.pdf`;
    var doc = new jsPDF('p', null, 'a4');
    doc.setFontSize(9);
    let image = new Image();
    image.src = logo;
    doc.addImage(image, 'png', 5, 5, 77, 9);
    doc.text(105, 10, 'Return Request Response');
    const tableColumns = columns.map((value) => {
      return {
        header: value.title,
        dataKey: value.dataIndex || value.key,
      };
    });
    let body = data.map((value, i) => {
      return {
        no: i + 1,
        nama_barang: value.nama_barang,
        fields: `${value.field_margin.split(' ').join('')}\n${value.field_selling
          .split(' ')
          .join('')}\n${value.field_qty.split(' ').join('')}`,
        original: `${value.margin}\n${value.sellingprice}\n${value.qty}`,
        dicocokkan: `${value.dicocokkan_margin}\n${value.dicocokkan_selling}\n${value.dicocokkan_qty}`,
        remarks: `${value.remarks_margin}\n${value.remarks_selling}\n${value.remarks_qty}`,
      };
    });
    doc.html(document.getElementById('header-pdf'), {
      callback: function (doc) {
        // Save the PDF
        autoTable(doc, {
          columns: [
            {
              header: 'No',
              dataKey: 'no',
            },
            ...tableColumns,
          ],
          body,
          startY: 33,
          styles: {
            fontSize: 6,
          },
        });
        doc.save(pdfName);
      },
      x: 5,
      y: 15,
      width: 200, //target width in the PDF document
      windowWidth: 1500, //window width in CSS pixels
    });
  }
</script>
<style scoped>
  .destination {
    font-size: 20px;
  }

  .info-title {
    font-size: 14px;
    font-weight: bold;
  }

  .button {
    float: right;
    display: block;
    margin-top: -45px;
    margin-right: 20px;
  }
  #total-price-box {
    padding: 8px;
    font-size: 16px;
    text-align: right;
    margin-bottom: 16px;
  }

  #total-price-amount {
    font-weight: bold;
  }

  #additional-info {
    white-space: pre-line;
    font-size: 14px;
    background-color: #ee2a33;
    color: white;
    border-radius: 20px;
    margin: 0px 10px 20px;
  }
</style>
