<template>
  <CollapseContainer :title="'Receiving Advice CDT: ' + raDetailInfoData.po.id" :canExpan="false">
    <a-button @click="handlePrint" :type="'primary'">Lihat versi cetak</a-button>
    <a-button
      @click="handleAcceptRa"
      :type="'primary ml-2'"
      v-show="userRoles.includes('SUPPLIER')"
    >
      Cancel PFIR
    </a-button>
    <a-button
      @click="handleRejectRa"
      :type="'primary ml-2'"
      v-show="userRoles.includes('SUPPLIER')"
    >
      Kirim
    </a-button>
    <a-button
      @click="handleRejectRa"
      :type="'primary ml-2'"
      v-show="userRoles.includes('SUPPLIER')"
    >
      Ubah Dokumen
    </a-button>
    <a-button
      @click="handleRejectRa"
      :type="'primary ml-2'"
      v-show="userRoles.includes('SUPPLIER')"
    >
      Dokumen yang berhubungan
    </a-button>
    <!-- <DocumentDropdownButton :documents="documents" :cdt="documents[0].receiving_advice_date" /> -->
  </CollapseContainer>
  <div class="p-1">
    <div class="md:flex enter-y">
      <div class="ant-card ant-card-bordered ant-card-small md:w-1/2 w-full !md:mt-0 !md:mr-1">
        <div class="mx-4 mt-4 info-title"> Informasi Order </div>
        <Description
          size="small"
          :bordered="true"
          :column="1"
          :data="raDetailInfoData.po"
          :schema="orderInfoSchema"
        />
        <div class="mx-4 mt-4 info-title"> Informasi RA </div>
        <Description
          size="small"
          :bordered="true"
          :column="1"
          :data="raDetailInfoData"
          :schema="raInfoSchema"
        />
      </div>
      <div class="ant-card ant-card-bordered ant-card-small md:w-1/2 w-full !md:mb-1 !md:mr-1">
        <div class="mx-4 mt-4 info-title"> Informasi Supplier </div>
        <div class="mx-4 mb-2 destination"> {{ raDetailInfoData.po.supplier_name }} </div>
        <Description
          size="small"
          :bordered="true"
          :column="2"
          :data="raDetailInfoData.po"
          :schema="supplierSchema"
        />
        <div class="p-4 mb-4 font-bold"> Note: Confirmed Order </div>
      </div>
    </div>
  </div>
  <div class="p-1" style="background-color: white">
    <BasicTable @register="registerTable" class="main-table">
      <template #bodyCell="{ column, record }">
        <template v-if="column.key === 'code'">
          <ItemCodeCell
            :itemCode="record.item_code"
            :sub="record.sub_code"
            :unit="record.unit_code"
          />
        </template>
        <template v-else-if="column.key === 'itemName'">
          <ItemNameCell :itemName="record.item_name" :sub="record.sub_code_name" />
        </template>
        <template v-else-if="column.key === 'orderQuantity'">
          <QtyOrderCell
            :qtyOrder="record.order_qty_in_pack"
            :qtyNormal="record.purchase_price_type"
            :qtyFree="record.free_qty_insku"
          />
        </template>
        <template v-else-if="column.key === 'capacityAndBarcode'">
          {{ record.capacity }} / {{ record.barcode }}
        </template>
        <template v-else-if="column.key === 'freeQty'">
          {{ toFixedFloat(record.free_qty_insku) }}
        </template>
        <template v-else-if="column.key === 'orderedQty'">
          {{ toFixedFloat(record.order_qty_insku) }}
        </template>
        <!-- TODO -->
        <template v-else-if="column.key === 'revised'"> N </template>
        <template v-else-if="column.key === 'receivedQty'">
          {{ toFixedFloat(record.raipoi[0].received_qty) }}
        </template>
        <template v-else-if="column.key === 'serviceLevel'">
          {{ toFixedFloat((record.raipoi[0].received_qty / record.order_qty_insku) * 100) }}%
        </template>
      </template>
    </BasicTable>
  </div>
</template>
<script setup lang="ts">
  import { raInfoApi, raDetailApi, raActionApi } from '/@/api/vms/receivingAdvice';
  import { DescItem, Description } from '/@/components/Description';
  import { BasicColumn, useTable, BasicTable } from '/@/components/Table';
  import {
    ItemCodeCell,
    ItemNameCell,
    QtyOrderCell,
    toDateFormat,
    toFixedFloat,
  } from '/@/views/components/DetailTemplates';
  import { defineProps } from 'vue';
  import { CollapseContainer } from '/@/components/Container/index';
  import { useUserStore } from '/@/store/modules/user';
  import { RaActionParams } from '/@/api/vms/model/ra/raActionModel';
  import { router } from '/@/router';

  const props = defineProps({
    raId: String,
    orderInfoSchema: { type: Array as PropType<DescItem[]> },
    raInfoSchema: { type: Array as PropType<DescItem[]> },
    supplierSchema: { type: Array as PropType<DescItem[]> },
    columns: { type: Array as PropType<BasicColumn[]> },
  });

  const raDetailInfoApiResult = await raInfoApi(props.raId!);
  const raDetailInfoData = raDetailInfoApiResult.items[0];
  raDetailInfoData.po.order_date = toDateFormat(raDetailInfoData.po.order_date);
  raDetailInfoData.receiving_advice_date = toDateFormat(raDetailInfoData.receiving_advice_date);
  raDetailInfoData.po.recipient_code = raDetailInfoData.receiving_advice_number;

  const raItemListApiResult = await raDetailApi(props.raId!);
  const items: Recordable[] = raItemListApiResult.items;

  const userStore = useUserStore();
  const roles = userStore.getUserInfo.roles;
  console.log(userStore.getUserInfo);
  console.log(roles);
  let userRoles: string[] = [];
  roles.forEach((role) => {
    userRoles.push(role.value);
  });
  console.log(userRoles);
  console.log(userRoles.includes('SUPPLIER'));

  const [registerTable] = useTable({
    title: 'Tabel Item',
    dataSource: items,
    columns: props.columns,
    bordered: true,
    tableSetting: { fullScreen: true },
    loading: false,
    pagination: false,
    canResize: true,
    scroll: { y: 300 },
    // showSummary: true,
  });

  function handlePrint(record: Recordable) {
    console.log('klik untuk melihat detail', record);
  }

  async function handleAcceptRa(record: Recordable) {
    console.log('klik untuk melihat detail', record);
    const actionProps: RaActionParams = {
      id: props.raId!,
      action: 'ACCEPT',
    };
    const raAcceptActionApiResult = await raActionApi(actionProps);
    router.push(`/proforma-invoice/${raAcceptActionApiResult.pfi_id}`);
    // POST UNTUK GANTI STATUS RA DAN CREATE PFI
    // req body: {id: ra_id, editor_name: User.name, action}
    // resp body result: {pfi_id: pfi_id}
    // DARI RESPONSE, AMBIL pfi_id, REDIRECT PFI
  }

  function handleRejectRa(record: Recordable) {
    console.log('klik untuk melihat detail', record);
    // POST
  }
</script>
<style scoped>
  .destination {
    font-size: 20px;
  }

  .info-title {
    font-size: 14px;
    font-weight: bold;
  }

  #total-price-box {
    padding: 8px;
    font-size: 16px;
    text-align: right;
    margin-bottom: 16px;
  }

  #total-price-amount {
    font-weight: bold;
  }

  #additional-info {
    white-space: pre-line;
    font-size: 14px;
    background-color: #ee2a33;
    color: white;
    border-radius: 20px;
    margin: 0px 10px 20px;
  }
</style>
