<template>
  <CollapseContainer
    :title="'Proforma Invoice Response CDT: ' + pfirDetailInfoApiResult.RA[0].purchase_order"
    :canExpan="false"
  >
    <div class="button">
      <a-button :type="'primary'" @click="jsonPrint">Lihat versi cetak</a-button>
      <a-button @click="handleAccept" :type="'primary ml-2'" v-show="isAccepted"> Terima </a-button>
      <a-button @click="handleRejectPfir" :type="'primary ml-2'" v-show="isRejected">
        Tolak
      </a-button>
      <a-button @click="handleCancelPFIR" :type="'primary ml-2'" v-show="isCancel">
        Cancel PFIR
      </a-button>
      <a-button @click="handleSendPfir" :type="'primary ml-2'" v-show="isSend"> Kirim </a-button>
      <!-- <a-button @click="onClick" :type="'primary ml-2'" v-show="isDraft"> Ubah Dokumen </a-button> -->
      <!-- <a-button :type="'primary ml-2'" v-show="userRoles.includes('SUPPLIER')">
      Dokumen yang berhubungan
      </a-button> -->
      <!-- <a-button @click="openModal" :type="'secondary ml-2'"> Export To Excel </a-button> -->
      <!-- <DocumentDropdownButton :documents="documents" :cdt="documents[0].receiving_advice_date" /> -->
      <DocumentDropdownButton :documents="documents2" />
    </div>
  </CollapseContainer>
  <div class="p-1" id="header-pdf">
    <div class="md:flex enter-y">
      <div class="ant-card ant-card-bordered ant-card-small md:w-1/2 w-full !md:mt-0 !md:mr-4">
        <div class="mx-4 mt-4 info-title"> Informasi Order </div>
        <div class="mx-4 mb-2 destination"> {{ pfirDetailInfoRa.delivery_to }} </div>
        <Description
          size="small"
          :bordered="true"
          :column="1"
          :data="pfirDetailInfoRa"
          :schema="orderInfoSchema"
        />
        <div class="mx-4 mt-4 info-title"> Informasi PFI </div>
        <Description
          size="small"
          :bordered="true"
          :column="1"
          :data="pfirDetailInfoPFIR"
          :schema="pfirInfoSchema"
        />
      </div>
      <div class="ant-card ant-card-bordered ant-card-small md:w-1/2 w-full !md:mt-0 !md:mr-4">
        <div class="mx-4 mt-4 info-title"> Informasi Supplier </div>
        <div class="mx-4 mb-2 destination"> {{ pfirDetailInfoRa.supplier_name }} </div>
        <Description
          size="small"
          :bordered="true"
          :column="2"
          :data="pfirDetailInfoRa"
          :schema="supplierSchema"
        />
      </div>
    </div>
  </div>

  <div class="p-1" style="background-color: white">
    <BasicTable
      @register="registerTable"
      class="main-table"
      @edit-end="handleEditEnd"
      @edit-cancel="handleEditCancel"
    >
      <template #bodyCell="{ column, record }">
        <template v-if="column.key === 'code'">
          <ItemCodeCell
            :itemCode="record.item_code"
            :sub="record.sub_code"
            :unit="record.unit_code"
          />
        </template>
        <template v-else-if="column.key === 'itemName'">
          <ItemNameCell :itemName="record.item_name" :sub="record.item_name" />
        </template>
        <template v-else-if="column.key === 'orderQuantity'">
          <QtyOrderCell
            :qtyOrder="record.order_qty_in_pack"
            :qtyNormal="record.purchase_price_type"
            :qtyFree="record.free_qty_insku"
          />
        </template>
        <template v-else-if="column.key === 'capacityAndBarcode'">
          {{ record.capacity }} / {{ record.barcode }}
        </template>
        <template v-else-if="column.key === 'remarks'">
          {{ record.raipoi[0]?.raipfii[0]?.remarks }}
        </template>
        <template v-else-if="column.key === 'reconciled'">
          {{ record.raipoi[0] ? toFixedFloat(record.raipoi[0]?.raipfii[0]?.reconciled) : '' }}
        </template>
        <template v-else-if="column.key === 'totalQty'">
          {{ record.raipoi[0] ? toFixedFloat(record.raipoi[0]?.received_qty) : 1 }}
        </template>
        <template v-else-if="column.key === 'Unitprice'">
          {{ toFixedFloat(record.unit_price) }}
        </template>
      </template>
    </BasicTable>
    <ExpExcelModal @register="register" @success="defaultHeader" />
    <div class="md:flex enter-y" id="total-price-box">
      <div class="md:w-4/5 w-full !md:mt-0 !md:mr-4"> Total Harga: </div>
      <div class="md:w-1/5 w-full !md:mt-0 !md:mr-4" id="total-price-amount">
        Rp.{{ toFixedFloat(total) }}</div
      >
    </div>
    <div class="py-4 px-6" id="additional-info">
      <div class="info-title">Keterangan:</div>
      <div>{{ additionalInfoData }}</div>
    </div>
  </div>
</template>
<script setup lang="ts">
  import { DescItem, Description } from '/@/components/Description';
  import { BasicColumn, useTable, BasicTable } from '/@/components/Table';
  import {
    ItemCodeCell,
    ItemNameCell,
    QtyOrderCell,
    toDateFormat,
    toFixedFloat,
  } from '/@/views/components/DetailTemplates';
  import { defineProps } from 'vue';
  import { CollapseContainer } from '/@/components/Container/index';
  import { useUserStore } from '/@/store/modules/user';
  import {
    pfirActionApi,
    pfirDetailApi,
    pfirInfoApi,
    pfirSaveApi,
    pfiractionAcceptRejectApi,
  } from '/@/api/vms/proformaInvoiceResp';
  import { useMessage } from '/@/hooks/web/useMessage';
  import { PfirActionParams } from '/@/api/vms/model/pfir/pfirActionModel';
  import { router } from '/@/router';
  import { PfirSaveParams } from '/@/api/vms/model/pfir/pfirSaveModel';
  import { PfirAcceptRejectParams } from '/@/api/vms/model/pfir/pfirAcceptRejectModel';
  import { jsonToSheetXlsx, ExpExcelModal, ExportModalResult } from '/@/components/Excel';
  import { useModal } from '/@/components/Modal';
  import jsPDF from 'jspdf';
  import autoTable from 'jspdf-autotable';
  import logo from '/@/assets/images/logo.png';
  import { documentListApi6 } from '/@/api/vms/Document';
  import { DocumentDropdownButton } from '/@/views/components/DetailTemplates';
  import { useTabs } from '/@/hooks/web/useTabs';

  const props = defineProps({
    pfirId: String,
  });

  let show = false;

  const userStore = useUserStore();
  const roles = userStore.getUserInfo.roles;
  let userRoles: string[] = [];
  roles.forEach((role) => {
    userRoles.push(role.value);
  });

  const pfirItemListApiResult = await pfirDetailApi(props.pfirId);
  const items: Recordable[] = pfirItemListApiResult.items;

  const pfirDetailInfoApiResult = await pfirInfoApi(props.pfirId);
  const pfirDetailInfoRa = pfirDetailInfoApiResult.RA[0]?.po;
  const pfirDetailInfoPFIR = pfirDetailInfoApiResult.PFIR;
  const PFIRStatus = pfirDetailInfoPFIR.status;
  console.log('ljo', PFIRStatus);
  // const isEditable: boolean =
  //   userRoles.includes('') && ['NEW', 'AWAITING_ACTION'].includes(PFIRStatus);
  // const isDraft: boolean = userRoles.includes('') && ['SUPPLIER_DRAFT'].includes(PFIRStatus);
  // const isDraftnSent: boolean =
  //   userRoles.includes('') && ['SUPPLIER_DRAFT', 'SUPPLIER_SENT'].includes(PFIRStatus);

  const isEditable: boolean =
    userRoles.includes('Mechandiser') ||
    (userRoles.includes('Mechandiser') &&
      ['AWAITING_ACTION', 'NEW', 'SUPPLIER_DRAFT'].includes(PFIRStatus));
  const isAccepted: boolean =
    userRoles.includes('Senior Buyer Role') &&
    ['AWAITING_ACTION', 'NEW', 'SUPPLIER_DRAFT', 'FOR_APPROVAL'].includes(PFIRStatus);
  const isRejected: boolean =
    userRoles.includes('Senior Buyer Role') &&
    ['AWAITING_ACTION', 'NEW', 'SUPPLIER_DRAFT', 'FOR_APPROVAL'].includes(PFIRStatus);
  const isSend: boolean =
    userRoles.includes('Mechandiser') &&
    ['ACCEPTED', 'REJECTED', 'SUPPLIER_DRAFT'].includes(PFIRStatus);
  const isCancel: boolean =
    userRoles.includes('Mechandiser') ||
    (userRoles.includes('SUPPLIER') &&
      ['AWAITING_ACTION', 'NEW', 'SUPPLIER_DRAFT', 'DRAFT'].includes(PFIRStatus));

  const { createMessage, createConfirm, createSuccessModal } = useMessage();

  pfirDetailInfoRa.sender_code = `${pfirDetailInfoRa.sender_code} ${pfirDetailInfoRa.store_code} - ${pfirDetailInfoRa.delivery_to}`;
  pfirDetailInfoRa.dept_code = `${pfirDetailInfoRa.dept_code} - ${pfirDetailInfoRa.department_name}`;
  pfirDetailInfoRa.order_date = toDateFormat(pfirDetailInfoRa.order_date);
  pfirDetailInfoPFIR.date_updated =
    pfirDetailInfoPFIR.date_updated != null
      ? toDateFormat(pfirDetailInfoPFIR.date_updated)
      : 'Tue, Nov 12, 2019, 20:11';

  let data = [];

  for (let index = 0; index < items.length; index++) {
    const element = items[index];
    data.push({
      // eslint-disable-next-line prettier/prettier
      line_no: element.line_no,
      // eslint-disable-next-line prettier/prettier
      item_code: element.item_code,
      // eslint-disable-next-line prettier/prettier
      sub_code: element.sub_code,
      // eslint-disable-next-line prettier/prettier
      unit_code: element.unit_code,
      // eslint-disable-next-line prettier/prettier
      capacityAndBarcode: element.barcode + ' ' + element.capacity,
      // eslint-disable-next-line prettier/prettier
      item_name: element.item_name,
      // eslint-disable-next-line prettier/prettier
      totalQty: element.raipoi[0] ? toFixedFloat(element.raipoi[0]?.received_qty) : '',
      // eslint-disable-next-line prettier/prettier
      Unitprice: toFixedFloat(element.unit_price),
      // eslint-disable-next-line prettier/prettier
      is_accepted: element.raipoi[0]
        ? element.raipoi[0]?.raipfii[0]?.is_accepted === null
          ? 'N'
          : element.raipoi[0]?.raipfii[0]?.is_accepted
        : 'N',
      // eslint-disable-next-line prettier/prettier
      receiving_advice_item: element.raipoi[0]
        ? element.raipoi[0]?.raipfii[0]?.receiving_advice_item
        : '',
      // eslint-disable-next-line prettier/prettier
      reconciled: element.raipoi[0] ? element.raipoi[0]?.raipfii[0]?.reconciled : 0,
      // eslint-disable-next-line prettier/prettier
      remarks:
        element.raipoi[0]?.raipfii[0]?.remarks === (null || undefined)
          ? 'null'
          : element.raipoi[0]?.raipfii[0]?.remarks,
    });
  }

  let print = [];
  for (let index = 0; index < items.length; index++) {
    const element = items[index];
    print.push({
      // eslint-disable-next-line prettier/prettier
      No: element.line_no,
      // eslint-disable-next-line prettier/prettier
      'Kode Barang':
        element.item_code + ' Sub: ' + element.sub_code + ' Unit: ' + element.unit_code,
      // eslint-disable-next-line prettier/prettier
      'Kapasitas Barang': element.barcode + ' ' + element.capacity,
      // eslint-disable-next-line prettier/prettier
      'Nama Barang': element.item_name,
      // eslint-disable-next-line prettier/prettier
      'Total Qty': element.raipoi[0] ? toFixedFloat(element.raipoi[0]?.received_qty) : '',
      // eslint-disable-next-line prettier/prettier
      'Harga Unit': toFixedFloat(element.unit_price),
      // eslint-disable-next-line prettier/prettier
      Terima: element.raipoi[0]
        ? element.raipoi[0]?.raipfii[0]?.is_accepted === null
          ? 'N'
          : element.raipoi[0]?.raipfii[0]?.is_accepted
        : 'N',
      // eslint-disable-next-line prettier/prettier
      Dicocokkan: element.raipoi[0] ? element.raipoi[0]?.raipfii[0]?.reconciled : 0,
      // eslint-disable-next-line prettier/prettier
      Keterangan:
        element.raipoi[0]?.raipfii[0]?.remarks === (null || undefined)
          ? 'null'
          : element.raipoi[0]?.raipfii[0]?.remarks,
    });
  }

  let total = 0;
  items.forEach((element) => {
    let tot =
      (element.raipoi[0] ? parseFloat(element.raipoi[0]?.raipfii[0]?.reconciled) : 1) *
      (element.raipoi[0] ? parseFloat(element.raipoi[0]?.received_qty) : 1);
    total += parseFloat(tot);
  });

  const additionalInfoData: String = `Always bring this document when delivering goods.`;

  const orderInfoSchema: DescItem[] = [
    { field: 'sender_code', label: 'Informasi Pengirim' },
    { field: 'dept_code', label: 'Kode Departemen' },
    { field: 'po_no', label: 'Nomor Order' },
    { field: 'order_date', label: 'Tanggal Order' },
  ];

  const supplierSchema: DescItem[] = [
    { field: 'supplier_code', label: 'Kode' },
    { field: 'supplier_phone', label: 'Telepon' },
    { field: 'supplier_fax_number', label: 'Fax' },
  ];

  const pfirInfoSchema: DescItem[] = [
    { field: 'date_updated', label: 'Tanggal PFI' },
    { field: 'revision', label: 'Revisi' },
  ];

  const columns: BasicColumn[] = [
    { title: 'Kode Barang', key: 'code', width: 150 },
    { title: 'Kapasitas/Barcode', dataIndex: 'capacityAndBarcode', width: 150 },
    { title: 'Nama Barang', dataIndex: 'item_name', width: 240 },
    { title: 'Total Qty', dataIndex: 'totalQty', width: 80 },
    { title: 'Harga Unit', dataIndex: 'Unitprice', width: 80 },
    {
      title: 'Terima',
      dataIndex: 'is_accepted',
      width: 80,
      edit: isEditable,
      editRule: isEditable,
    },
    {
      title: 'Dicocokkan',
      dataIndex: 'reconciled',
      width: 100,
      edit: isEditable,
      editRule: isEditable,
    },
    {
      title: 'keterangan',
      dataIndex: 'remarks',
      width: 100,
      edit: isEditable,
      editRule: isEditable,
    },
  ];

  interface Document {
    docKey: string;
    reference: string;
    status: string;
    date: Date;
    accepted?: string;
  }
  const documentApiResult = await documentListApi6({ pfir_id: props.pfirId! });
  console.log(documentApiResult);

  let documents: Document[] = [
    {
      docKey: 'po',
      reference: documentApiResult.items[0].id,
      status: documentApiResult.items[0].po_status,
      date: documentApiResult.items[0].po_date,
    },
    {
      docKey: 'ra',
      reference: documentApiResult.items[0].ra_id,
      status: documentApiResult.items[0].ra_status,
      date: documentApiResult.items[0].ra_date,
    },
    {
      docKey: 'rar',
      reference: documentApiResult.items[0].rar_id,
      status: documentApiResult.items[0].rar_status,
      date: documentApiResult.items[0].rar_date,
    },
    {
      docKey: 'pfi',
      reference: documentApiResult.items[0].pfi_id,
      status: documentApiResult.items[0].pfi_status,
      date: documentApiResult.items[0].pfi_date,
    },
    {
      docKey: 'pfir',
      reference: documentApiResult.items[0].pfir_id,
      status: documentApiResult.items[0].pfir_status,
      date: documentApiResult.items[0].pfir_date,
      // accepted: '',
    },
    {
      docKey: 'inv',
      reference: documentApiResult.items[0].i_id,
      status: documentApiResult.items[0].i_status,
      date: documentApiResult.items[0].i_date,
      // accepted: '',
    },
  ];

  let documents2: Document[] = [];
  if (documentApiResult.items[0].id != null) {
    documents2.push(documents[0]);
  }
  if (documentApiResult.items[0].ra_id != null) {
    documents2.push(documents[1]);
  }
  if (
    documentApiResult.items[0].rar_id != null &&
    documentApiResult.items[0].rar_status != 'CANCELLED'
  ) {
    documents2.push(documents[2]);
  }
  if (documentApiResult.items[0].pfi_id != null) {
    documents2.push(documents[3]);
  }
  // for (let index = 0; index < document2ApiResult.items.length; index++) {
  //   if(document2ApiResult.items[index].pfir_id!=null){
  //     documents[4].reference = document2ApiResult.items[index].pfir_id,
  //     documents[4].status = document2ApiResult.items[index].pfir_status,
  //     documents[4].date = document2ApiResult.items[index].pfir_date,
  //     documents2.push(documents[4]);
  //   }
  // }

  if (
    documentApiResult.items[0].pfir_id != null &&
    documentApiResult.items[0].pfir_status != 'CANCELLED'
  ) {
    documents2.push(documents[4]);
  }

  if (
    documentApiResult.items[0].i_id != null &&
    documentApiResult.items[0].i_status != 'CANCELLED'
  ) {
    documents2.push(documents[5]);
  }
  function defaultHeader({ filename, bookType }: ExportModalResult) {
    jsonToSheetXlsx({
      data,
      filename,
      write2excelOpts: {
        bookType,
      },
    });
  }

  const [register, { openModal }] = useModal();

  const [registerTable] = useTable({
    title: 'Tabel Item',
    dataSource: data,
    columns: columns,
    bordered: true,
    tableSetting: { fullScreen: true },
    loading: false,
    pagination: false,
    canResize: true,
    scroll: { y: 300 },
    // showSummary: true,
  });

  function onClick() {
    show != true ? (show = true) : (show = false);
  }

  function handleEditCancel() {
    console.log('cancel');
  }

  async function handleEditEnd({ record }: Recordable) {
    const actionProps: PfirSaveParams = {
      IS_ACCEPTED: record.is_accepted,
      RECONCILED: record.reconciled,
      REMARKS: record.remarks,
      RAIID: record.receiving_advice_item,
    };

    const pfirSaveActionApiResult = await pfirSaveApi(actionProps);
    console.log('der', actionProps);
  }

  const { refreshPage } = useTabs();

  //ok
  async function handleAccept() {
    const actionProps: PfirAcceptRejectParams = {
      id: props.pfirId!,
      action: 'ACCEPT',
    };

    createConfirm({
      iconType: 'warning',
      content: 'Apakah anda yakin ingin menerima Proforma Invoice Response ini ?',
      async onOk() {
        const pfirSendActionApiResult = await pfiractionAcceptRejectApi(actionProps);

        createSuccessModal({
          title: 'Success',
          content: 'Dokumen Proforma Invoice Response diTerima.',
          onOk() {
            router.push(`/invoice/detail/${pfirSendActionApiResult.invoice_id}`); // POST
            refreshPage();
          },
        });
      },
    });
  }

  //ok
  async function handleSendPfir() {
    const actionProps: PfirActionParams = {
      id: props.pfirId!,
      action: 'SEND',
    };

    createConfirm({
      iconType: 'warning',
      content: 'Apakah anda yakin ingin mengirim Proforma Invoice Response ini ?',
      async onOk() {
        const pfirAcceptionActionApiResult = await pfirActionApi(actionProps);
        const rest = pfirAcceptionActionApiResult.pfir_id[0].id;

        createSuccessModal({
          title: 'Success',
          content: 'Dokumen Proforma Invoice Response dikirim.',
          onOk() {
            router.push(`/proforma-invoice/detail/${rest}`); // POST
            refreshPage();
          },
        });
      },
    });
  }

  //ok
  async function handleRejectPfir() {
    const actionProps: PfirAcceptRejectParams = {
      id: props.pfirId!,
      action: 'REJECT',
    };

    createConfirm({
      iconType: 'warning',
      content: 'Apakah anda yakin ingin menolak Proforma Invoice Response ini ?',
      async onOk() {
        const pfirCancelActionApiResult = await pfiractionAcceptRejectApi(actionProps);

        createSuccessModal({
          title: 'Success',
          content: 'Dokumen Proforma Invoice Response ditolak. PFIR Draft berhasil dibuat',
          onOk() {
            router.push(`/proforma-invoice-response/detail/${pfirCancelActionApiResult.pfir_id}`); // POST
            refreshPage();
          },
        });
      },
    });
  }

  async function handleCancelPFIR() {
    const actionProps: PfirActionParams = {
      id: props.pfirId!,
      action: 'CANCEL',
    };

    createConfirm({
      iconType: 'warning',
      content: 'Apakah anda yakin ingin membatalkan Proforma Invoice Response ini ?',
      async onOk() {
        const pfirRejectActionApiResult = await pfirActionApi(actionProps);

        createSuccessModal({
          title: 'Success',
          content: 'Dokumen Proforma Invoice Response berhasil dibatalkan.',
          onOk() {
            router.push(`/proforma-invoice/detail/${pfirRejectActionApiResult[0].id}`);
            refreshPage();
          },
        });
      },
    });
  }

  function jsonPrint() {
    let pdfName = `ProForma Invoice Response - ${pfirDetailInfoRa.supplier_name}.pdf`;
    var doc = new jsPDF('p', null, 'a4');
    doc.setFontSize(9);
    let image = new Image();
    image.src = logo;
    doc.addImage(image, 'png', 5, 5, 77, 9);
    doc.text(105, 10, 'ProForma Invoice Response');
    const tableColumns = columns.map((value) => {
      return {
        header: value.title,
        dataKey: value.key || value.dataIndex,
      };
    });
    console.log(tableColumns);
    console.log(items);
    let data = items.map((value) => {
      return {
        no: value.line_no,
        code: value.item_code + '\Sub: ' + value.sub_code + '\nUnit: ' + value.unit_code,
        capacityAndBarcode: value.capacity + ' ' + value.barcode,
        item_name: value.item_name,
        totalQty: value.raipoi[0] ? toFixedFloat(value.raipoi[0]?.received_qty) : '',
        Unitprice: toFixedFloat(value.unit_price),
        is_accepted: value.raipoi[0]
          ? value.raipoi[0]?.raipfii[0]?.is_accepted === null
            ? 'N'
            : value.raipoi[0]?.raipfii[0]?.is_accepted
          : 'N',
        receiving_advice_item: value.raipoi[0]
          ? value.raipoi[0]?.raipfii[0]?.receiving_advice_item
          : '',
        reconciled: value.raipoi[0] ? value.raipoi[0]?.raipfii[0]?.reconciled : 0,
        remarks:
          value.raipoi[0]?.raipfii[0]?.remarks === (null || undefined)
            ? 'null'
            : value.raipoi[0]?.raipfii[0]?.remarks,
      };
    });
    doc.html(document.getElementById('header-pdf'), {
      callback: function (doc) {
        // Save the PDF
        autoTable(doc, {
          columns: [
            {
              header: 'No',
              dataKey: 'no',
            },
            ...tableColumns,
          ],
          body: data,
          startY: 58,
          styles: {
            fontSize: 6,
          },
        });
        doc.setFontSize(9);
        doc.text(115, doc.lastAutoTable.finalY + 3, `Total harga: Rp.${toFixedFloat(total)}`);
        doc.html(document.getElementById('additional-info'), {
          callback: function (doc) {
            // Save the PDF
            doc.save(pdfName);
          },
          x: 5,
          y: doc.lastAutoTable.final + 5,
          width: 200, //target width in the PDF document
          windowWidth: 1500, //window width in CSS pixels
        });
      },
      x: 5,
      y: 15,
      width: 200, //target width in the PDF document
      windowWidth: 1500, //window width in CSS pixels
    });
  }
</script>
<style scoped>
  .button {
    float: right;
    display: block;
    margin-top: -45px;
    margin-right: 20px;
  }
  .destination {
    font-size: 20px;
  }

  .info-title {
    font-size: 14px;
    font-weight: bold;
  }

  #total-price-box {
    padding: 8px;
    font-size: 16px;
    text-align: right;
    margin-bottom: 16px;
  }

  #total-price-amount {
    font-weight: bold;
  }

  #additional-info {
    white-space: pre-line;
    font-size: 14px;
    background-color: #ee2a33;
    color: white;
    border-radius: 20px;
    margin: 0px 10px 20px;
  }
  .button {
    float: right;
    display: block;
    margin-top: -45px;
    margin-right: 20px;
  }
</style>
