<template>
  <div>
    <PageWrapper title="Upload">
      <a-alert message="basic" />
      <!-- <BasicUpload
      :maxSize="20"
      :maxNumber="10"
      @change="handleChange"
      :api="bpfrUploadApi('name')"
      class="my-5"
      :accept="['xls/pdf/*']"
    />

    <a-alert message="Embed form, add form validation" /> -->

      <BasicForm @register="register" class="my-5" />
    </PageWrapper>
    <!-- <CollapseContainer title="RETUR REQUEST" :canExpan="false">
      <a-button @click="handlePrintSelected" :type="'primary'">Cetak yang dipilih</a-button>
      <a-button @click="handleDownloadXML" :type="'primary'" class="ml-2 btn"
        >Download XML</a-button
      >
    </CollapseContainer> -->
    <!-- <CollapseContainer title="Filter">
      <BasicForm @register="register" @submit="handleFilter" />
    </CollapseContainer> -->
    <div class="p-1" style="background-color: white">
      <div style="margin-bottom: 8px">
        <div
          class="w-1/6 !md:mt-0 !md:mr-4"
          style="float: left; text-align: right; align-items: center; height: 32px; display: grid"
        >
          Nama File: &nbsp;
        </div>
        <div class="w-1/4 !md:mt-0 !md:mr-4" style="float: left">
          <a-input ref="inputRef" allow-clear @change="handleSearch" id="cdt-input">
            <template #prefix></template>
          </a-input>
        </div>
      </div>
      <BasicTable @register="registerTable" :canResize="false">
        <template #bodyCell="{ column, record }">
          <!-- <template v-if="column.key === 'action'">
            <TableAction
              :actions="[
                {
                  label: 'Detail',
                  onClick: handleViewDetail.bind(null, record),
                },
              ]"
            />
          </template> -->
          <template v-if="column.key === 'status'">{{ STATUS_LIST[record.status] }}</template>
          <template v-if="column.key === 'request_created_date'">{{
            toDateFormat(record.request_created_date)
          }}</template>
          <template v-if="column.key === 'invoice_date'">{{
            toDateFormat(record.invoice_date)
          }}</template>
          <template v-if="column.key === 'download_date'">{{
            toDateFormat(record.download_date)
          }}</template>
          <template v-if="column.key === 'store_code'"
            >{{ record.store_code }} - {{ record.delivery_to }}</template
          >
        </template>
      </BasicTable>
    </div>
  </div>
</template>

<script lang="ts">
  import { defineComponent, ref } from 'vue';
  import { BasicForm, FormSchema, useForm } from '/@/components/Form/index';
  import { CollapseContainer } from '/@/components/Container/index';
  import { BasicTable, FormProps, useTable, BasicColumn, TableAction } from '/@/components/Table';
  import createOptions from '../templates/dropdownOptions';
  import { router } from '/@/router';
  import { toDateFormat, reformatDate } from '/@/views/components/DetailTemplates';
  import { BUSINESS_UNIT_LIST, STORE_LIST, SUPPLIER_LIST } from '/@/utils/vms/dropdownOptions';
  import { lBPFRListApi, uBPFRListApi } from '/@/api/vms/buktiPotongFeeRebate';
  import { PageWrapper } from '/@/components/Page';
  import { Alert } from 'ant-design-vue';
  import { uploadApi } from '/@/api/sys/upload';
  import { useMessage } from '/@/hooks/web/useMessage';
  // import { useRefs } from '/@/hooks/core/useRefs';
  // import { useCdtSearch } from '../application/useCdtSearch';

  // let API_URL_PARAMS: Recordable;

  const schemas: FormSchema[] = [
    {
      field: 'field1',
      component: 'Upload',
      label: 'field1',
      colProps: {
        span: 8,
      },
      rules: [{ required: true, message: 'Please select upload file' }],
      componentProps: {
        api: uploadApi,
      },
    },
  ];

  const STATUS_LIST = {
    '': 'All',
    NEW: 'Baru',
    DOWNLOADED: 'Downloaded',
    CANCELLED: 'Dibatalkan',
  };

  const schemas2: FormSchema[] = [
    {
      field: 'merchant',
      component: 'Select',
      label: 'Merchant',
      colProps: {
        span: 8,
      },
      componentProps: {
        placeholder: 'All',
        options: createOptions(SUPPLIER_LIST, true),
      },
    },
    {
      field: 'supplier_code',
      component: 'Input',
      label: 'Kode Supplier',
      colProps: {
        span: 8,
      },
    },
    {
      field: 'orderFrom',
      component: 'RangePicker',
      label: 'Order From',
      colProps: {
        span: 8,
      },
    },
    {
      field: 'status',
      component: 'Select',
      label: 'Status',
      colProps: {
        span: 8,
      },
      componentProps: {
        placeholder: '--Select--',
        options: createOptions(STATUS_LIST),
      },
    },
    {
      field: 'toko',
      component: 'Select',
      label: 'Toko',
      colProps: {
        span: 8,
      },
      componentProps: {
        placeholder: '--Select--',
        options: createOptions(STORE_LIST, true),
      },
    },
    // {
    //   field: 'isRevisedPO',
    //   component: 'CheckboxGroup',
    //   label: 'View Revised POs',
    //   colProps: {
    //     span: 8,
    //   },
    //   componentProps: {
    //     options: [
    //       {
    //         value: '1',
    //       },
    //     ],
    //   },
    // },
    {
      field: 'business_unit',
      component: 'Select',
      label: 'Business Unit',
      colProps: {
        span: 8,
      },
      componentProps: {
        placeholder: 'All',
        options: createOptions(BUSINESS_UNIT_LIST, true),
      },
    },
  ];

  export function getFormPo(): Partial<FormProps> {
    return {
      schemas: [
        ...schemas2,
        {
          field: 'start_date',
          component: 'Input',
          colProps: {
            span: 8,
          },
          label: 'Start Date', //unused
        },
        {
          field: 'end_date',
          component: 'Input',
          colProps: {
            span: 8,
          },
          label: 'End Date', //unused
        },
        {
          field: 'namafile',
          component: 'Input',
          label: 'Nama File',
          colProps: {
            span: 8,
          },
          componentProps: {
            placeholder: 'Nama File',
            onChange: (e: any) => {
              return e;
            },
          },
        },
      ],
    };
  }

  const columns: BasicColumn[] = [
    { title: 'Nama File Upload', dataIndex: 'namafile' },
    { title: 'Tanggal Upload', dataIndex: 'tanggal_upload' },
    { title: 'Jumlah Insert (New)', dataIndex: 'jumlah_insert' },
    { title: 'Jumlah Revisi', dataIndex: 'jumlah_revisi' },
    { title: 'Jumalh Gagal', dataIndex: 'jumlah_gagal' },
    { title: 'Gagal Upload (Baris ke-)', dataIndex: 'gagal_upload' },
  ];

  var FORM_VALUES: Recordable = {};

  export default defineComponent({
    components: {
      BasicForm,
      CollapseContainer,
      TableAction,
      BasicTable,
      PageWrapper,
      [Alert.name]: Alert,
    },
    setup() {
      const { createMessage } = useMessage();
      const [register] = useForm({
        labelWidth: 150,
        schemas,
        actionColOptions: {
          span: 16,
        },
        submitButtonOptions: {
          text: 'Filter',
        },
        showActionButtonGroup: false,
        fieldMapToTime: [['fieldTime', ['startTime', 'endTime'], 'MM-YYYY']],
      });
      const check = ref(null);

      // const [register2] = useForm({
      //   labelWidth: 150,
      //   schemas2,
      //   actionColOptions: {
      //     span: 22,
      //   },
      //   submitButtonOptions: {
      //     text: 'Filter',
      //   },
      //   fieldMapToTime: [['fieldTime', ['startTime', 'endTime'], 'MM-YYYY']],
      // });

      const [registerTable, { getForm }] = useTable({
        api: uBPFRListApi,
        columns: columns,
        useSearchForm: true,
        bordered: true,
        formConfig: getFormPo(),
        tableSetting: { fullScreen: true },
        // rowSelection: {
        //   type: 'checkbox',
        // },
        // actionColumn: {
        //   ellipsis: true,
        //   width: 250,
        //   title: 'Action',
        //   dataIndex: 'action',
        // },
      });

      function handleViewDocument(record: Recordable) {
        console.log('klik untuk melihat detail', record.reference);
      }

      function handleViewDetail(record: Recordable) {
        router.push(`/retur/request/detail/${record.id}`);
      }

      function handlePrintSelected(record: Recordable) {
        //TODO
        console.log('klik untuk melihat detail', record);
      }

      function handleDownloadXML(record: Recordable) {
        //TODO
        console.log('klik untuk melihat detail', record);
      }

      return {
        handleChange: (list: string[]) => {
          createMessage.info(`file Uploade${JSON.stringify(list)}`);
        },
        uploadApi,
        register,
        registerTable,
        handleViewDocument,
        handleViewDetail,
        handlePrintSelected,
        handleDownloadXML,
        getForm,
        // register2,
        check,
        toDateFormat,
        STATUS_LIST,
      };
    },
    methods: {
      async handleFilter(values: Recordable) {
        const cdtInput: HTMLInputElement = <HTMLInputElement>document.getElementById('cdt-input');
        cdtInput.value = '';
        FORM_VALUES = {};
        if (values.orderFrom != undefined) {
          const range: string[] = values.orderFrom;
          delete values.orderFrom;
          FORM_VALUES = {
            ...values,
            start_date: reformatDate(range[0]),
            end_date: reformatDate(range[1]),
          };
        } else {
          values.start_date = '';
          values.end_date = '';
          FORM_VALUES = values;
        }
        Object.keys(FORM_VALUES).forEach((key) => {
          if (FORM_VALUES[key] === null || values[key] == '') {
            delete FORM_VALUES[key];
          }
        });
        console.log(FORM_VALUES);
        await this.getForm().resetFields();
        await this.getForm().setFieldsValue(FORM_VALUES);
        await this.getForm().submit();
      },
      async handleSearch(e: ChangeEvent) {
        const searchValueRef = ref('');
        searchValueRef.value = e.target.value;
        var SEARCH_FORM_VALUES;
        if (e.target.value != '') {
          SEARCH_FORM_VALUES = { ...FORM_VALUES, namafile: searchValueRef.value };
          await this.getForm().setFieldsValue(SEARCH_FORM_VALUES);
          await this.getForm().submit();
        } else {
          await this.getForm().resetFields();
          await this.getForm().setFieldsValue(FORM_VALUES);
          await this.getForm().submit();
        }
      },
    },
  });
</script>
