<template>
  <div>
    <!-- <CollapseContainer :title="'CDT: ' + cdt" :canExpan="false">
      <a-button @click="handlePrint" :type="'primary'" class="ml-2 btn">Lihat versi cetak</a-button>
      <DocumentDropdownButton :documents="documents" :cdt="cdt" />
    </CollapseContainer> -->
    <KeepAlive>
      <Suspense>
        <CSpfiDetailMain :cspfiId="cdt" />
      </Suspense>
    </KeepAlive>
  </div>
</template>

<script lang="ts">
  import { defineComponent } from 'vue';
  import { CollapseContainer } from '/@/components/Container/index';
  import { useMessage } from '/@/hooks/web/useMessage';

  // <<<<<<< HEAD
  //   import { toFixedFloat, CpfiDetailMain } from '/@/views/components/DetailTemplates';
  //   import {
  //     cpfiOrderInfoSchema,
  //     cpfiOrderInfoData,
  //     cpfiInfoData,
  //     cpfiInfoSchema,
  //     supplierData,
  //     supplierSchema,
  //     otherCpfiData,
  //     documents,
  //   } from '../hard-code-materials/cpfiData';
  // =======
  import { DocumentDropdownButton, CSpfiDetailMain } from '/@/views/components/DetailTemplates';
  import {
    // totalPriceData,
    additionalInfoData,
    documents,
  } from '../hard-code-materials/descData';
  // import { router } from '/@/router';
  // import { shallowRef } from '@vue/runtime-core';
  // >>>>>>> integ-rar
  import { useRoute } from 'vue-router';

  export default defineComponent({
    components: {
      // <<<<<<< HEAD
      //       CpfiDetailMain,
      // =======
      CollapseContainer,
      DocumentDropdownButton,
      CSpfiDetailMain,
      // >>>>>>> integ-rar
    },
    setup() {
      const { createMessage } = useMessage();

      const route = useRoute();
      console.log(route)
      const cdt = route.params.id.toString();
      console.log(cdt)

      function handleViewDocument(record: Recordable) {
        console.log('klik untuk melihat detail', record);
      }

      function handlePrint(record: Recordable) {
        console.log('klik untuk melihat detail', record);
      }

      function handleDownloadXML(record: Recordable) {
        console.log('klik untuk melihat detail', record);
      }

      return {
        handleViewDocument,
        handlePrint,
        handleDownloadXML,
        handleSubmit: (values: Recordable) => {
          createMessage.success('click search,values:' + JSON.stringify(values));
        },
        // <<<<<<< HEAD
        //         toFixedFloat,
        //         cpfiOrderInfoData,
        //         cpfiOrderInfoSchema,
        //         cpfiInfoData,
        //         cpfiInfoSchema,
        //         supplierData,
        //         supplierSchema,
        //         documents,
        //         otherCpfiData,
        // =======
        additionalInfoData,
        documents,
        // >>>>>>> integ-rar
        cdt,
      };
    },
  });
</script>
