<template>
  <!-- <CollapseContainer title="CONSIGMENT NOTA RETUR" :canExpan="false">
    <a-button @click="handlePrintSelected" :type="'primary'">Cetak yang dipilih</a-button>
  </CollapseContainer> -->
  <CollapseContainer title="Filter">
    <BasicForm @register="register" @submit="handleFilter" />
  </CollapseContainer>

  <div class="p-1" style="background-color: white">
    <div
      class="w-1/6 !md:mt-0 !md:mr-4"
      style="float: left; text-align: right; align-items: center; height: 32px; display: grid"
    >
      Nomor Retur/Nomor PFI: &nbsp;
    </div>
    <div class="w-1/4 !md:mt-0 !md:mr-4" style="float: left">
      <a-input ref="inputRef" allow-clear @change="handleSearch" id="cdt-input">
        <template #prefix></template>
      </a-input>
    </div>
    <BasicTable @register="registerTable">
      <template #bodyCell="{ column, record }">
        <template v-if="column.key === 'action'">
          <TableAction
            :actions="[
              // {
              //   label: 'Dokumen',
              //   onClick: handleViewDocument.bind(null, record),
              // },
              {
                label: 'Download',
                onClick: handleViewDetail.bind(null, record),
              },
            ]"
          />
        </template>
        <template v-if="column.key === 'status'">{{ STATUS_LIST[record.status] }}</template>
        <template v-if="column.key === 'revision'">{{ record.revision }}</template>
        <template v-if="column.key === 'supplier_name'">{{ record.supplier_name }}</template>
        <template v-if="column.key === 'date_updated'">{{
          toDateFormat(record.date_updated)
        }}</template>
        <!-- <template v-if="column.key === 'total_net_amount'"
          >Rp. {{ toFixedFloat(record.total_amount) }}</template
        > -->
        <template v-if="column.key === 'store_code'"
          >{{ record.store_code }} - {{ record.delivery_to }}</template
        >
        <template v-if="column.field === 'supplier_name'">{{ record.supplier_name }}</template>
        <template v-if="column.field === 'store'">{{ record.store_code }}</template>
        <template v-if="column.key === 'store_code'"
          >{{ record.store_code }} - {{ record.delivery_to }}</template
        >
        <template v-if="column.field === 'supplier_name'">{{ record.supplier_name }}</template>
        <template v-if="column.field === 'store'">{{ record.store_code }}</template>
      </template>
    </BasicTable>
  </div>
</template>

<script lang="ts">
  import { defineComponent, ref } from 'vue';
  import { BasicForm, FormProps, FormSchema, useForm } from '/@/components/Form/index';
  import { CollapseContainer } from '/@/components/Container/index';
  import { BasicTable, useTable, BasicColumn, TableAction } from '/@/components/Table';
  import createOptions from '../templates/dropdownOptions';
  import { reformatDate, toDateFormat } from '../DetailTemplates';
  import { router } from '/@/router';
  import { BUSINESS_UNIT_LIST, STORE_LIST, SUPPLIER_LIST } from '/@/utils/vms/dropdownOptions';
  import { cpfiListApi } from '/@/api/vms/ConsigmentproformaInvoice';
  import { cnrListApi, cnrDownloadApi } from '/@/api/vms/ConsigmentnotaRektur';
  import jsPDF from 'jspdf';
  import autoTable from 'jspdf-autotable';
  import logo from '/@/assets/images/logo.png';

  import { useUserStore } from '/@/store/modules/user';
  import { RoleEnum } from '/@/enums/roleEnum';
  const userStore = useUserStore();

  const STATUS_LIST = {
    ALL: 'All',
    NEW: 'Baru',
    AWAITING_ACTION: 'Menunggu respon',
    REJECTED: 'Ditolak',
    ACCEPTED: 'Disahkan',
    CANCELED: 'Dibatalkan',
    LITIGATION: 'Litigasi',
  };

  const schemas: FormSchema[] = [
    {
      field: 'supplier',
      component: 'Select',
      label: 'Merchant',
      show: false,
      colProps: {
        span: 8,
      },
      componentProps: {
        placeholder: 'All',
        options: createOptions(SUPPLIER_LIST, true),
      },
    },
    {
      field: 'supplier_code',
      component: 'Input',
      label: 'Kode Supplier',
      defaultValue: userStore.getUserInfo.username,
      show: false,
      colProps: {
        span: 8,
      },
      componentProps: {
        placeholder: userStore.getUserInfo.username,
        onChange: (e: any) => {
          return e;
        },
      },
    },
    {
      field: 'CPFIFrom',
      component: 'RangePicker',
      label: 'CPFI Date From',
      colProps: {
        span: 8,
      },
    },
    {
      field: 'status',
      component: 'Select',
      label: 'Status',
      colProps: {
        span: 8,
      },
      componentProps: {
        placeholder: '--Select--',
        options: createOptions(STATUS_LIST),
      },
    },
    {
      field: 'store_code',
      component: 'Select',
      label: 'Toko',
      show: false,
      colProps: {
        span: 8,
      },
      componentProps: {
        placeholder: 'All',
        options: createOptions(STORE_LIST, true),
      },
    },
    {
      field: 'businessUnit',
      component: 'Select',
      label: 'Business Unit',
      colProps: {
        span: 8,
      },
      componentProps: {
        placeholder: 'All',
        options: createOptions(BUSINESS_UNIT_LIST, true),
      },
    },
  ];

  const schemas1: FormSchema[] = [
    {
      field: 'supplier',
      component: 'Select',
      label: 'Merchant',
      colProps: {
        span: 8,
      },
      componentProps: {
        placeholder: 'All',
        options: createOptions(SUPPLIER_LIST, true),
      },
    },
    {
      field: 'CPFIFrom',
      component: 'RangePicker',
      label: 'CPFI Date From',
      colProps: {
        span: 8,
      },
    },
    {
      field: 'status',
      component: 'Select',
      label: 'Status',
      colProps: {
        span: 8,
      },
      componentProps: {
        placeholder: '--Select--',
        options: createOptions(STATUS_LIST),
      },
    },
    {
      field: 'store_code',
      component: 'Select',
      label: 'Toko',
      colProps: {
        span: 8,
      },
      componentProps: {
        placeholder: 'All',
        options: createOptions(STORE_LIST, true),
      },
    },
    {
      field: 'businessUnit',
      component: 'Select',
      label: 'Business Unit',
      colProps: {
        span: 8,
      },
      componentProps: {
        placeholder: 'All',
        options: createOptions(BUSINESS_UNIT_LIST, true),
      },
    },
  ];

  const columns: BasicColumn[] = [
    {
      title: 'nomor retur',
      dataIndex: 'nomor_retur',
    },
    {
      title: 'nomor pfi',
      dataIndex: 'nomor_pfi',
    },
    {
      title: 'supplier code',
      dataIndex: 'supplier_code',
    },
    {
      title: 'supplier name',
      dataIndex: 'supplier_name',
    },
    {
      title: 'periode return date',
      dataIndex: 'pfi_date',
    },
    {
      title: 'download date',
      dataIndex: 'download_date',
    },
    {
      title: 'Status',
      dataIndex: 'status',
    },
  ];

  export function getFormCnr(): Partial<FormProps> {
    return {
      schemas: [
        ...schemas,
        {
          field: 'start_date',
          component: 'Input',
          label: '',
          colProps: {
            span: 8,
          },
        },
        {
          field: 'end_date',
          component: 'Input',
          label: '',
          colProps: {
            span: 8,
          },
        },
        {
          field: 'nomor_pfi',
          component: 'Input',
          label: 'Search CDT/PO No',
          colProps: {
            span: 8,
          },
          componentProps: {
            placeholder: 'Search CDT/PO No',
            onChange: (e: any) => {
              return e;
            },
          },
        },
      ],
    };
  }

  export function getFormCnr1(): Partial<FormProps> {
    return {
      schemas: [
        ...schemas1,
        {
          field: 'start_date',
          component: 'Input',
          label: '',
          colProps: {
            span: 8,
          },
        },
        {
          field: 'end_date',
          component: 'Input',
          label: '',
          colProps: {
            span: 8,
          },
        },
        {
          field: 'nomor_pfi',
          component: 'Input',
          label: 'Search CDT/PO No',
          colProps: {
            span: 8,
          },
          componentProps: {
            placeholder: 'Search CDT/PO No',
            onChange: (e: any) => {
              return e;
            },
          },
        },
      ],
    };
  }

  var FORM_VALUES: Recordable = {};

  export default defineComponent({
    components: { BasicForm, CollapseContainer, TableAction, BasicTable },
    setup() {
      const isSupplier = userStore.getRoleList.includes(RoleEnum.SUPPLIER);

      const check = ref(null);

      const [register] = useForm({
        labelWidth: 150,
        schemas: isSupplier ? schemas : schemas1,
        actionColOptions: {
          span: 20,
        },
        submitButtonOptions: {
          text: 'Filter',
        },
        fieldMapToTime: [['fieldTime', ['startTime', 'endTime'], 'MM-YYYY']],
      });

      const [registerTable, { getForm }] = useTable({
        api: cnrListApi,
        columns: columns,
        bordered: true,
        useSearchForm: true,
        tableSetting: { fullScreen: true },
        formConfig: isSupplier ? getFormCnr() : getFormCnr1(),
        // rowSelection: {
        //   type: 'checkbox',
        // },
        actionColumn: {
          ellipsis: true,
          width: 100,
          title: 'Action',
          dataIndex: 'action',
        },
      });

      function handleViewDocument(record: Recordable) {
        console.log('klik untuk melihat detail', record);
      }

      async function handleViewDetail(record: Recordable) {
        const details = await cnrDownloadApi({
          id: record.id,
        });
        const items = details.items;

        let pdfName = `Consignment Nota Retur - ${items[0].pfi_number}.pdf`;
        var doc = new jsPDF('p', null, 'a4');
        items.forEach((detail, index) => {
          doc.setFontSize(8);
          let image = new Image();
          image.src = logo;
          doc.addImage(image, 'png', 5, 5, 77, 9);
          doc.text(105, 10, 'Nota Retur Report');

          const structure = [
            {
              title: 'No',
              content: detail.pfi_number,
            },
            {
              title: 'Tanggal',
              content: detail.pfi_date,
            },
            {
              title: 'Kode Toko',
              content: detail.store_code,
            },
            {
              title: 'Nama Toko',
              content: detail.store_name,
            },
            {
              title: 'Nomor Pengembalian Barang',
              content: detail.retur_number,
            },
          ];

          let startY = 25;

          structure.forEach((value, index) => {
            console.log(value.title);
            console.log(value.content);
            doc.text(5, startY + index * 5, value.title);
            doc.text(56, startY + index * 5, ':');
            doc.text(58, startY + index * 5, value.content);
          });

          doc.text(5, 55, 'Atas Faktur Pajak Nomor');
          doc.text(56, 55, ':');
          doc.text(58, 55, detail.tax_inv_pengacu);

          doc.text(135, 55, 'Tanggal');
          doc.text(150, 55, ':');
          doc.text(152, 55, detail.tax_inv_pengacu_date || '');

          doc.rect(5, 60, 200, 25);

          doc.setFontSize(8);
          doc.text(8, 65, 'PEMBELI');

          doc.text(8, 70, 'Nama');
          doc.text(20, 70, ':');
          doc.text(22, 70, detail.business_unit);

          doc.text(8, 75, 'Alamat');
          doc.text(20, 75, ':');
          doc.text(22, 75, detail.business_unit_address.split('\n').join(' '));

          doc.text(8, 80, 'NPWP');
          doc.text(20, 80, ':');
          doc.text(22, 80, detail.business_unit_npwp);

          doc.text(100, 80, 'NPKP');
          doc.text(115, 80, ':');
          doc.text(117, 80, detail.business_unit_npkp);

          doc.rect(5, 95, 200, 25);

          doc.setFontSize(8);
          doc.text(8, 100, 'PENJUAL');

          doc.text(8, 105, 'Nama');
          doc.text(20, 105, ':');
          doc.text(22, 105, detail.supplier_name);

          doc.text(8, 110, 'Alamat');
          doc.text(20, 110, ':');
          doc.text(22, 110, detail.supplier_address.split('\n').join(' '));

          doc.text(8, 115, 'NPWP');
          doc.text(20, 115, ':');
          doc.text(22, 115, detail.supplier_npwp);

          doc.text(100, 115, 'NPKP');
          doc.text(115, 115, ':');
          doc.text(117, 115, detail.supplier_npkp);

          autoTable(doc, {
            columns: [
              {
                header: 'No Unit',
                dataKey: 'no',
              },
              {
                header: 'Macam & Jenis Barang Kena Pajak',
                dataKey: 'item_name',
              },
              {
                header: 'Quantity',
                dataKey: 'qty',
              },
              {
                header: 'Harga Satuan',
                dataKey: 'unit_price',
              },
              {
                header: 'Harga Total',
                dataKey: 'total_price',
              },
            ],
            body: [{ no: 1, ...detail }],
            startY: 125,
            styles: {
              fontSize: 6,
            },
          });

          doc.text(80, doc.lastAutoTable.finalY + 10, 'Jumlah harga barang BKP yang dikembalikan');
          doc.text(170, doc.lastAutoTable.finalY + 10, detail.total_price);

          doc.text(
            80,
            doc.lastAutoTable.finalY + 15,
            'Pajak pertambahan nilai yang diminta kembali',
          );
          doc.text(170, doc.lastAutoTable.finalY + 15, detail.vat);

          doc.text(125, doc.lastAutoTable.finalY + 25, detail.posting_date);

          doc.text(
            5,
            doc.lastAutoTable.finalY + 35,
            'Lembar ke-1: Untuk Pengusaha Kena Pajak yang menerbitkan Faktur Pajak',
          );
          doc.text(5, doc.lastAutoTable.finalY + 45, 'Lembar ke-2: Untuk Pembali');
          doc.text(5, doc.lastAutoTable.finalY + 55, 'Lembar ke-3: Untuk Arsip');

          if (index === items.length - 2) doc.addPage();
        });
        doc.save(pdfName);
      }

      function handlePrintSelected(record: Recordable) {
        console.log('klik untuk melihat detail', record);
      }
      return {
        registerTable,
        handleViewDocument,
        handleViewDetail,
        handlePrintSelected,
        register,
        reformatDate,
        check,
        getForm,
        STATUS_LIST,
        toDateFormat,
        // handleLoad,
      };
    },
    methods: {
      async handleFilter(values: Recordable) {
        const cdtInput: HTMLInputElement = <HTMLInputElement>document.getElementById('cdt-input');
        cdtInput.value = '';
        FORM_VALUES = {};
        if (values.CPFIFrom != undefined) {
          const range: string[] = values.CPFIFrom;
          delete values.CPFIFrom;
          FORM_VALUES = {
            ...values,
            start_date: reformatDate(range[0]),
            end_date: reformatDate(range[1]),
          };
        } else {
          values.start_date = '';
          values.end_date = '';
          FORM_VALUES = values;
        }
        Object.keys(FORM_VALUES).forEach((key) => {
          if (FORM_VALUES[key] === null || values[key] == '') {
            delete FORM_VALUES[key];
          }
        });

        await this.getForm().resetFields();
        await this.getForm().setFieldsValue(FORM_VALUES);
        await this.getForm().submit();
      },
      async handleSearch(e: ChangeEvent) {
        const searchValueRef = ref('');
        searchValueRef.value = e.target.value;
        var SEARCH_FORM_VALUES;
        if (e.target.value != '') {
          SEARCH_FORM_VALUES = { ...FORM_VALUES, nomor_pfi: searchValueRef.value };
          console.log('koko', SEARCH_FORM_VALUES);
          await this.getForm().setFieldsValue(SEARCH_FORM_VALUES);
          await this.getForm().submit();
        } else {
          await this.getForm().resetFields();
          await this.getForm().setFieldsValue(FORM_VALUES);
          await this.getForm().submit();
        }
      },
    },
  });
</script>
