<template>
  <!-- <CollapseContainer title="CONSIGMENT INVOICE" :canExpan="false">
    <a-button @click="handlePrintSelected" :type="'primary'">Cetak yang dipilih</a-button>
    <a-button type="primary" class="ml-2 btn">Download XLS</a-button>
  </CollapseContainer> -->
  <CollapseContainer title="Filter">
    <div class="p-3"><BasicForm @register="register" @submit="handleFilter" /></div>
  </CollapseContainer>

  <div class="p-1" style="background-color: white">
    <div
      class="w-1/6 !md:mt-0 !md:mr-4"
      style="float: left; text-align: right; align-items: center; height: 32px; display: grid"
    >
      Search CDT/PO No: &nbsp;
    </div>
    <div class="w-1/4 !md:mt-0 !md:mr-4" style="float: left">
      <a-input ref="inputRef" allow-clear @change="handleSearch" id="cdt-input">
        <template #prefix></template>
      </a-input>
    </div>
    <BasicTable @register="registerTable">
      <template #bodyCell="{ column, record }">
        <template v-if="column.key === 'action'">
          <TableAction
            :actions="[
              // {
              //   label: 'Dokumen',
              //   onClick: handleViewDocument.bind(null, record),
              // },
              {
                label: 'Detail',
                onClick: handleViewDetail.bind(null, record),
              },
            ]"
          />
        </template>
        <template v-if="column.key === 'merchant'">{{
          record.po === null ? '' : record.merchant
        }}</template>
        <template v-if="column.key === 'tanggal_ubah'">{{
          toDateFormat(record.tanggal_ubah)
        }}</template>
        <template v-if="column.key === 'total_net_amount'"
          >Rp. {{ toFixedFloat(record.total_net_amount) }}</template
        >
        <template v-if="column.key === 'store'"
          >{{ record.po === null ? '' : record.po.store_code }} -
          {{ record.po === null ? '' : record.po.delivery_to }}</template
        >
        <template v-if="column.field === 'supplier_name'">{{
          record.po === null ? '' : record.po.supplier_name
        }}</template>
        <template v-if="column.field === 'toko'">{{
          record.po === null ? '' : record.toko
        }}</template>
        <template v-if="column.key === 'status'">
          <Status
              :status="record.status"
            />
        </template>
        <template v-if="column.key === 'id'"
            ><strong>{{ record.referensi }}</strong></template
          >
      </template>
    </BasicTable>
  </div>
</template>

<script lang="ts">
  import { defineComponent, ref } from 'vue';
  import { BasicForm, FormProps, FormSchema, useForm } from '/@/components/Form/index';
  import { CollapseContainer } from '/@/components/Container/index';
  import { BasicTable, useTable, BasicColumn, TableAction } from '/@/components/Table';
  import createOptions from '../templates/dropdownOptions';
  import { toFixedFloat, toDateFormat, reformatDate } from '/@/views/components/DetailTemplates';
  import { router } from '/@/router';
  import { BUSINESS_UNIT_LIST, STORE_LIST } from '/@/utils/vms/dropdownOptions';
  import { cinvListApi } from '/@/api/vms/ConsigmentInvoice';

  import { useUserStore } from '/@/store/modules/user';
  import { RoleEnum } from '/@/enums/roleEnum';
  import { Status } from '/@/views/components/DetailTemplates';
  const userStore = useUserStore();

  const STATUS_LIST = {
    ALL: 'All',
    DRAFT: 'Draft',
    SENT: 'Dikirim',
    ACKNOWLEDGED: 'Diakui',
    RECEIVED: 'Diterima',
    ACCEPTED: 'Disahkan',
    REJECTED: 'Ditolak',
    PAYMENT_READY: 'Siap untuk dibayar',
    PAYMENT_IN_TRANSIT: 'Pembayaran sedang berjalan',
    RECEIVED_BY_BANK: 'Diterima oleh Bank',
    UPLOADED_BY_BANK: 'Diupload oleh Bank',
    UNPAID: 'Tidak terbayar',
    PAID: 'Terbayar',
  };

  const schemas: FormSchema[] = [
    {
      field: 'supplier_name',
      component: 'Input',
      label: 'Merchant',
      show: false,
      colProps: {
        span: 8,
      },
      componentProps: {
        onChange: (e: any) => {
          // console.log(e);
        },
      },
    },
    {
      field: 'supplier_code',
      component: 'Input',
      label: 'Kode Supplier',
      defaultValue: userStore.getUserInfo.username,
      show: false,
      colProps: {
        span: 8,
      },
      componentProps: {
        placeholder: userStore.getUserInfo.username,
        onChange: (e: any) => {
          return e;
        },
      },
    },
    {
      field: 'status',
      component: 'Select',
      label: 'Status',
      colProps: {
        span: 8,
      },
      componentProps: {
        placeholder: '--Select--',
        options: createOptions(STATUS_LIST),
      },
    },
    {
      field: 'dateFrom',
      component: 'RangePicker',
      label: 'Date From',
      colProps: {
        span: 8,
      },
    },
    {
      field: 'store_code',
      component: 'Select',
      label: 'Supplier',
      show: false,
      colProps: {
        span: 8,
      },
      componentProps: {
        placeholder: 'All',
        options: createOptions(STORE_LIST, true),
      },
    },
    
    {
      field: 'businessUnit',
      component: 'Select',
      label: 'Business Unit',
      colProps: {
        span: 8,
      },
      componentProps: {
        placeholder: 'All',
        options: createOptions(BUSINESS_UNIT_LIST, true),
      },
    },
    // {
    //   field: 'supplier_code',
    //   component: 'Input',
    //   label: 'Supp Code From',
    //   colProps: {
    //     span: 8,
    //   },
    //   componentProps: {
    //     // placeholder: 'Kode Supplier',
    //     onChange: (e: any) => {
    //       console.log(e);
    //     },
    //   },
    // },
    {
      field: 'purchase_order',
      component: 'Input',
      label: 'ID Invoice',
      colProps: {
        span: 8,
      },
      componentProps: {
        // placeholder: 'Kode Supplier',
        onChange: (e: any) => {
          // console.log(e);
        },
      },
    },
    {
      field: 'consignment',
      component: 'Select',
      label: 'Consignment',
      colProps: {
        span: 8,
      },
      componentProps: {
        placeholder: 'All',
        options: createOptions({
          NULL: 'PERMANENT',
          TDS: 'DEPTSTORE',
        }),
      },
    },
   
  ];
  const schemas1: FormSchema[] = [
    {
      field: 'supplier_name',
      component: 'Input',
      label: 'Merchant',
      colProps: {
        span: 8,
      },
      componentProps: {
        onChange: (e: any) => {
          // console.log(e);
        },
      },
    },
    {
      field: 'status',
      component: 'Select',
      label: 'Status',
      colProps: {
        span: 8,
      },
      componentProps: {
        placeholder: '--Select--',
        options: createOptions(STATUS_LIST),
      },
    },
    {
      field: 'dateFrom',
      component: 'RangePicker',
      label: 'Date From',
      colProps: {
        span: 8,
      },
    },
    {
      field: 'store_code',
      component: 'Select',
      label: 'Supplier',
      colProps: {
        span: 8,
      },
      componentProps: {
        placeholder: 'All',
        options: createOptions(STORE_LIST, true),
      },
    },
    
    {
      field: 'businessUnit',
      component: 'Select',
      label: 'Business Unit',
      colProps: {
        span: 8,
      },
      componentProps: {
        placeholder: 'All',
        options: createOptions(BUSINESS_UNIT_LIST, true),
      },
    },
    // {
    //   field: 'supplier_code',
    //   component: 'Input',
    //   label: 'Supp Code From',
    //   colProps: {
    //     span: 8,
    //   },
    //   componentProps: {
    //     // placeholder: 'Kode Supplier',
    //     onChange: (e: any) => {
    //       console.log(e);
    //     },
    //   },
    // },
    {
      field: 'purchase_order',
      component: 'Input',
      label: 'ID Invoice',
      colProps: {
        span: 8,
      },
      componentProps: {
        // placeholder: 'Kode Supplier',
        onChange: (e: any) => {
          // console.log(e);
        },
      },
    },
    {
      field: 'consignment',
      component: 'Select',
      label: 'Consignment',
      colProps: {
        span: 8,
      },
      componentProps: {
        placeholder: 'All',
        options: createOptions({
          NULL: 'PERMANENT',
          TDS: 'DEPTSTORE',
        }),
      },
    },
    // {
    //   field: 'digitalInvoice',
    //   component: 'Select',
    //   label: 'Digital Invoice',
    //   colProps: {
    //     span: 8,
    //   },
    //   componentProps: {
    //     placeholder: 'All',
    //     options: createOptions({
    //       Y: 'Ya',
    //       N: 'Tidak',
    //     }),
    //   },
    // },
  ];

  const columns: BasicColumn[] = [
    {
      title: 'Referensi',
      sorter: true,
      key: 'id',
    },
    {
      title: 'Merchant',
      sorter: true,
      key: 'merchant',
    },
    {
      title: 'Revisi',
      sorter: true,
      dataIndex: 'revisi',
    },
    {
      title: 'Tanggal Ubah',
      sorter: true,
      key: 'tanggal_ubah',
    },
    {
      title: 'Status',
      sorter: true,
      key: 'status',
    },
    {
      title: 'Toko',
      dataIndex: 'toko',
    },
    // {
    //   title: 'Kode Supllier',
    //   sorter: true,
    //   dataIndex: 'supplier_code',
    // },
    // {
    //   title: 'Total Amount Invoice',
    //   sorter: true,
    //   key: 'total_net_amount',
    // },
  ];

  export function getFormInv(): Partial<FormProps> {
    return {
      schemas: [
        ...schemas,
        {
          field: 'start_date',
          component: 'Input',
          label: '',
          colProps: {
            span: 8,
          },
        },
        {
          field: 'end_date',
          component: 'Input',
          label: '',
          colProps: {
            span: 8,
          },
        },
        {
          field: 'id_invoice',
          component: 'Input',
          label: 'Search CDT/PO No',
          colProps: {
            span: 8,
          },
          componentProps: {
            placeholder: 'Search CDT/PO No',
            onChange: (e: any) => {
              return e;
            },
          },
        },
      ],
    };
  }
  export function getFormInv1(): Partial<FormProps> {
    return {
      schemas: [
        ...schemas1,
        {
          field: 'start_date',
          component: 'Input',
          label: '',
          colProps: {
            span: 8,
          },
        },
        {
          field: 'end_date',
          component: 'Input',
          label: '',
          colProps: {
            span: 8,
          },
        },
        {
          field: 'id_invoice',
          component: 'Input',
          label: 'Search CDT/PO No',
          colProps: {
            span: 8,
          },
          componentProps: {
            placeholder: 'Search CDT/PO No',
            onChange: (e: any) => {
              return e;
            },
          },
        },
      ],
    };
  }

  var FORM_VALUES: Recordable = {};

  export default defineComponent({
    components: { BasicForm, CollapseContainer, TableAction, BasicTable,Status },
    setup() {
      const isSupplier = userStore.getRoleList.includes(RoleEnum.SUPPLIER);

      const check = ref(null);
      const [register] = useForm({
        labelWidth: 150,
        schemas: isSupplier ? schemas : schemas1,
        actionColOptions: {
          span: 20,
        },
        submitButtonOptions: {
          text: 'Filter',
        },
        fieldMapToTime: [['fieldTime', ['startTime', 'endTime'], 'MM-YYYY']],
      });

      const [registerTable, { getForm }] = useTable({
        api: cinvListApi,
        columns: columns,
        formConfig: isSupplier ? getFormInv() : getFormInv1(),
        useSearchForm: true,
        bordered: true,
        tableSetting: { fullScreen: true },
        // rowKey: 'id',
        // rowSelection: {
        //   type: 'checkbox',
        // },
        actionColumn: {
          ellipsis: true,
          width: 100,
          title: 'Action',
          dataIndex: 'action',
          // slots: { customRender: 'action' },
        },
      });

      function handleViewDocument(record: Recordable) {
        console.log('klik untuk melihat detail', record);
      }

      function handleViewDetail(record: Recordable) {
        router.push(`/consignment/invoice/detail/${record.i_id}`); // POST
      }

      function handlePrintSelected(record: Recordable) {
        console.log('klik untuk melihat detail', record);
      }

      return {
        registerTable,
        handleViewDocument,
        handleViewDetail,
        handlePrintSelected,
        register,
        getForm,
        schemas,
        check,
        STATUS_LIST,
        toDateFormat,
        toFixedFloat,
        // handleLoad,
      };
    },
    methods: {
      async handleFilter(values: Recordable) {
        const cdtInput: HTMLInputElement = <HTMLInputElement>document.getElementById('cdt-input');
        cdtInput.value = '';
        FORM_VALUES = {};
        console.log('her', values);

        if (values.dateFrom != undefined) {
          const range: string[] = values.dateFrom;
          delete values.dateFrom;
          FORM_VALUES = {
            ...values,
            start_date: reformatDate(range[0]),
            end_date: reformatDate(range[1]),
          };
        } else {
          values.start_date = '';
          values.end_date = '';
          FORM_VALUES = values;
        }
        Object.keys(FORM_VALUES).forEach((key) => {
          if (FORM_VALUES[key] === null || values[key] == '') {
            delete FORM_VALUES[key];
          }
        });

        await this.getForm().resetFields();
        await this.getForm().setFieldsValue(FORM_VALUES);
        await this.getForm().submit();
      },
      async handleSearch(e: ChangeEvent) {
        const searchValueRef = ref('');
        searchValueRef.value = e.target.value;
        var SEARCH_FORM_VALUES;
        if (e.target.value != '') {
          SEARCH_FORM_VALUES = { ...FORM_VALUES, id_invoice: searchValueRef.value };
          await this.getForm().setFieldsValue(SEARCH_FORM_VALUES);
          await this.getForm().submit();
        } else {
          await this.getForm().resetFields();
          await this.getForm().setFieldsValue(FORM_VALUES);
          await this.getForm().submit();
        }
      },
    },
  });
</script>
