<template>
  <div>
    <!-- <CollapseContainer :title="'CDT: ' + cdt" :canExpan="false">
      <a-button @click="handlePrint" :type="'primary'" class="ml-2 btn">Lihat versi cetak</a-button>
      <DocumentDropdownButton :documents="documents" :cdt="cdt" />
    </CollapseContainer> -->
    <KeepAlive>
      <Suspense>
        <CSslaDetailMain :csslaId="cdt" />
      </Suspense>
    </KeepAlive>
  </div>
  <!-- >>>>>>> integ-rar -->
</template>

<script lang="ts">
  import { defineComponent } from 'vue';
  import { CollapseContainer } from '/@/components/Container/index';
  import { useMessage } from '/@/hooks/web/useMessage';
  import { DocumentDropdownButton, CSslaDetailMain } from '/@/views/components/DetailTemplates';
  import {
    // totalPriceData,
    additionalInfoData,
    documents,
  } from '../hard-code-materials/descData';
  // import { router } from '/@/router';
  // import { shallowRef } from '@vue/runtime-core';
  // >>>>>>> integ-rar
  import { useRoute } from 'vue-router';

  export default defineComponent({
    components: {
      // <<<<<<< HEAD
      //       CpfiDetailMain,
      // =======
      CollapseContainer,
      DocumentDropdownButton,
      CSslaDetailMain,
      // >>>>>>> integ-rar
    },
    setup() {
      const { createMessage } = useMessage();

      const route = useRoute();
      const cdt = route.params.id.toString();

      function handleViewDocument(record: Recordable) {
        console.log('klik untuk melihat detail', record);
      }

      function handlePrint(record: Recordable) {
        console.log('klik untuk melihat detail', record);
      }

      function handleDownloadXML(record: Recordable) {
        console.log('klik untuk melihat detail', record);
      }

      return {
        handleViewDocument,
        handlePrint,
        handleDownloadXML,
        handleSubmit: (values: Recordable) => {
          createMessage.success('click search,values:' + JSON.stringify(values));
        },
        // <<<<<<< HEAD
        //         toFixedFloat,
        //         cpfiOrderInfoData,
        //         cpfiOrderInfoSchema,
        //         cpfiInfoData,
        //         cpfiInfoSchema,
        //         supplierData,
        //         supplierSchema,
        //         documents,
        //         otherCpfiData,
        // =======
        additionalInfoData,
        documents,
        // >>>>>>> integ-rar
        cdt,
      };
    },
  });
</script>
