<template>
  <!-- <CollapseContainer title="SALES LITIGATION ANALYSIS" :canExpan="false">
    <a-button @click="handlePrintSelected" :type="'primary'">Cetak yang dipilih</a-button>
  </CollapseContainer> -->
  <CollapseContainer title="SALES LITIGATION ANALYSIS">
    <BasicForm @register="register" @submit="handleFilter" />
  </CollapseContainer>

  <div class="p-1" style="background-color: white">
    <div
      class="w-1/6 !md:mt-0 !md:mr-4"
      style="float: left; text-align: right; align-items: center; height: 32px; display: grid"
    >
      Search Litigation No.: &nbsp;
    </div>
    <div class="w-1/4 !md:mt-0 !md:mr-4" style="float: left">
      <a-input ref="inputRef" allow-clear @change="handleSearch" id="cdt-input">
        <template #prefix></template>
      </a-input>
    </div>
    <BasicTable @register="registerTable">
      <template #bodyCell="{ column, record }">
        <template v-if="column.key === 'action'">
          <TableAction
            :actions="[
              {
                label: 'Detail',
                onClick: handleViewDetail.bind(null, record),
              },
              // {
              //   label: 'Download',
              //   onClick: openModal.bind(null, record),
              // },
            ]"
          />
        </template>
        <template v-if="column.key === 'sales_date'">{{
          toDateFormat(record.sales_date)
        }}</template>
        <template v-if="column.key === 'submit_date'">{{
          toDateFormat(record.submit_date)
        }}</template>
      </template>
    </BasicTable>
    <ExpExcelModal @register="registers" @success="defaultHeader" />
  </div>
</template>

<script lang="ts">
  import { defineComponent, ref } from 'vue';
  import { BasicForm, FormProps, FormSchema, useForm } from '/@/components/Form/index';
  import { CollapseContainer } from '/@/components/Container/index';
  import { BasicTable, useTable, BasicColumn, TableAction } from '/@/components/Table';
  import createOptions from '../templates/dropdownOptions';
  import { reformatDate, toDateFormat } from '../DetailTemplates';
  import { router } from '/@/router';
  import { BUSINESS_UNIT_LIST, DEPARTMENT_LIST, STORE_LIST } from '/@/utils/vms/dropdownOptions';
  import { slaListApi } from '/@/api/vms/SalesLitAnalys';
  import { jsonToSheetXlsx, ExpExcelModal, ExportModalResult } from '/@/components/Excel';
  import { useModal } from '/@/components/Modal';

  import { useUserStore } from '/@/store/modules/user';
  import { RoleEnum } from '/@/enums/roleEnum';
  const userStore = useUserStore();

  const STATUS_LIST = {
    ALL: 'All',
    NEW: 'Baru',
    AWAITING_ACTION: 'Menunggu respon',
    CLOSED: 'Closed',
    // ACCEPTED: 'Disahkan',
    // CANCELED: 'Dibatalkan',
    // LITIGATION: 'Litigasi',
  };

  const schemas: FormSchema[] = [
    {
      field: 'toko',
      component: 'Select',
      label: 'Toko',
      show: false,
      colProps: {
        span: 8,
      },
      componentProps: {
        placeholder: 'All',
        options: createOptions(STORE_LIST, true),
      },
    },
    {
      field: 'supplier_code',
      component: 'Input',
      label: 'Kode Supplier',
      defaultValue: userStore.getUserInfo.username,
      show: false,
      colProps: {
        span: 8,
      },
      componentProps: {
        placeholder: userStore.getUserInfo.username,
        onChange: (e: any) => {
          return e;
        },
      },
    },
    {
      field: 'department',
      component: 'Select',
      label: 'Department',
      colProps: {
        span: 8,
      },
      componentProps: {
        placeholder: 'All',
        options: createOptions(DEPARTMENT_LIST, true),
      },
    },
    {
      field: 'orderFrom',
      component: 'RangePicker',
      label: 'Date From',
      colProps: {
        span: 8,
      },
    },
    {
      field: 'status',
      component: 'Select',
      label: 'Status',
      colProps: {
        span: 8,
      },
      componentProps: {
        placeholder: '--Select--',
        options: createOptions(STATUS_LIST),
      },
    },
    {
      field: 'businessUnit',
      component: 'Select',
      label: 'Business Unit',
      colProps: {
        span: 8,
      },
      componentProps: {
        placeholder: 'All',
        options: createOptions(BUSINESS_UNIT_LIST, true),
      },
    },
  ];
  const schemas1: FormSchema[] = [
    {
      field: 'toko',
      component: 'Select',
      label: 'Toko',
      colProps: {
        span: 8,
      },
      componentProps: {
        placeholder: 'All',
        options: createOptions(STORE_LIST, true),
      },
    },
    {
      field: 'department',
      component: 'Select',
      label: 'Department',
      colProps: {
        span: 8,
      },
      componentProps: {
        placeholder: 'All',
        options: createOptions(DEPARTMENT_LIST, true),
      },
    },
    {
      field: 'orderFrom',
      component: 'RangePicker',
      label: 'Date From',
      colProps: {
        span: 8,
      },
    },
    {
      field: 'status',
      component: 'Select',
      label: 'Status',
      colProps: {
        span: 8,
      },
      componentProps: {
        placeholder: '--Select--',
        options: createOptions(STATUS_LIST),
      },
    },
    {
      field: 'businessUnit',
      component: 'Select',
      label: 'Business Unit',
      colProps: {
        span: 8,
      },
      componentProps: {
        placeholder: 'All',
        options: createOptions(BUSINESS_UNIT_LIST, true),
      },
    },
  ];

  const columns: BasicColumn[] = [
    {
      title: 'Jumlah Litigasi',
      dataIndex: 'id',
    },
    {
      title: 'Supplier',
      dataIndex: 'supplier',
    },
    {
      title: 'Toko',
      dataIndex: 'store',
    },
    {
      title: 'Department',
      dataIndex: 'department',
    },
    {
      title: 'Sales Date',
      key: 'sales_date',
    },
    {
      title: 'Submit Date',
      key: 'submit_date',
    },
    {
      title: 'Status',
      dataIndex: 'status',
    },
  ];

  export function getFormSalesLit(): Partial<FormProps> {
    return {
      schemas: [
        ...schemas,
        {
          field: 'start_date',
          component: 'Input',
          label: '',
          colProps: {
            span: 8,
          },
        },
        {
          field: 'end_date',
          component: 'Input',
          label: '',
          colProps: {
            span: 8,
          },
        },
        {
          field: 'lit_no',
          component: 'Input',
          label: 'Search CDT/PO No',
          colProps: {
            span: 8,
          },
          componentProps: {
            placeholder: 'Search CDT/PO No',
            onChange: (e: any) => {
              return e;
            },
          },
        },
      ],
    };
  }
  export function getFormSalesLit1(): Partial<FormProps> {
    return {
      schemas: [
        ...schemas1,
        {
          field: 'start_date',
          component: 'Input',
          label: '',
          colProps: {
            span: 8,
          },
        },
        {
          field: 'end_date',
          component: 'Input',
          label: '',
          colProps: {
            span: 8,
          },
        },
        {
          field: 'lit_no',
          component: 'Input',
          label: 'Search CDT/PO No',
          colProps: {
            span: 8,
          },
          componentProps: {
            placeholder: 'Search CDT/PO No',
            onChange: (e: any) => {
              return e;
            },
          },
        },
      ],
    };
  }

  var FORM_VALUES: Recordable = {};

  const datas = await slaListApi();
  const items: Recordable[] = datas.items;
  let data = [];
  for (let index = 0; index < items.length; index++) {
    const element = items[index];
    data.push({
      // eslint-disable-next-line prettier/prettier
      'Jumlah Litigasi': element.id,
      // eslint-disable-next-line prettier/prettier
      Supplier: element.supplier,
      // eslint-disable-next-line prettier/prettier
      Toko: element.store,
      // eslint-disable-next-line prettier/prettier
      Department: element.department,
      // eslint-disable-next-line prettier/prettier
      'Sales Date': element.sales_date,
      // eslint-disable-next-line prettier/prettier
      'Submit Date': element.submit_date,
      // eslint-disable-next-line prettier/prettier
      Status: element.status,
    });
  }
  console.log('data', data);
  export default defineComponent({
    components: { BasicForm, ExpExcelModal, CollapseContainer, TableAction, BasicTable },
    setup() {
      const isSupplier = userStore.getRoleList.includes(RoleEnum.SUPPLIER);

      const check = ref(null);

      const [register] = useForm({
        labelWidth: 150,
        schemas: isSupplier ? schemas : schemas1,
        actionColOptions: {
          span: 20,
        },
        submitButtonOptions: {
          text: 'Filter',
        },
        fieldMapToTime: [['fieldTime', ['startTime', 'endTime'], 'MM-YYYY']],
      });

      const [registerTable, { getForm }] = useTable({
        api: slaListApi,
        columns: columns,
        bordered: true,
        useSearchForm: true,
        tableSetting: { fullScreen: true },
        formConfig: isSupplier ? getFormSalesLit() : getFormSalesLit1(),
        // rowSelection: {
        //   type: 'checkbox',
        // },
        actionColumn: {
          ellipsis: true,
          width: 250,
          title: 'Action',
          dataIndex: 'action',
        },
      });

      function defaultHeader({ filename, bookType }: ExportModalResult) {
        // 默认Object.keys(data[0])作为header
        jsonToSheetXlsx({
          data,
          filename,
          write2excelOpts: {
            bookType,
          },
        });
      }

      const [registers, { openModal }] = useModal();

      function handleViewDocument(record: Recordable) {
        console.log('klik untuk melihat detail', record);
      }

      function handleViewDetail(record: Recordable) {
        // window.sessionStorage.setItem('PO', record.id);
        // router.push(`/proforma-invoice/detail/${record.id}`);
        router.push(`/consignment/sales-litigation-analysis/detail/${record.id}`);
      }

      function handlePrintSelected(record: Recordable) {
        console.log('klik untuk melihat detail', record);
      }
      return {
        registerTable,
        handleViewDocument,
        handleViewDetail,
        handlePrintSelected,
        register,
        reformatDate,
        check,
        getForm,
        STATUS_LIST,
        toDateFormat,
        defaultHeader,
        registers,
        openModal,
        // handleLoad,
      };
    },
    methods: {
      async handleFilter(values: Recordable) {
        const cdtInput: HTMLInputElement = <HTMLInputElement>document.getElementById('cdt-input');
        cdtInput.value = '';
        FORM_VALUES = {};
        if (values.orderFrom != undefined) {
          const range: string[] = values.orderFrom;
          delete values.orderFrom;
          FORM_VALUES = {
            ...values,
            start_date: reformatDate(range[0]),
            end_date: reformatDate(range[1]),
          };
        } else {
          values.start_date = '';
          values.end_date = '';
          FORM_VALUES = values;
        }
        Object.keys(FORM_VALUES).forEach((key) => {
          if (FORM_VALUES[key] === null || values[key] == '') {
            delete FORM_VALUES[key];
          }
        });

        await this.getForm().resetFields();
        await this.getForm().setFieldsValue(FORM_VALUES);
        await this.getForm().submit();
      },
      async handleSearch(e: ChangeEvent) {
        const searchValueRef = ref('');
        searchValueRef.value = e.target.value;
        var SEARCH_FORM_VALUES;
        if (e.target.value != '') {
          SEARCH_FORM_VALUES = { ...FORM_VALUES, lit_no: searchValueRef.value };
          console.log('koko', SEARCH_FORM_VALUES);
          await this.getForm().setFieldsValue(SEARCH_FORM_VALUES);
          await this.getForm().submit();
        } else {
          await this.getForm().resetFields();
          await this.getForm().setFieldsValue(FORM_VALUES);
          await this.getForm().submit();
        }
      },
    },
  });
</script>
