<template>
  <!-- <CollapseContainer title="CONSIGMENT SALES ANALYSIS" :canExpan="false">
    <a-button @click="openModal" :type="'primary'">Download XLS</a-button>
  </CollapseContainer> -->
  <CollapseContainer title="Filter">
    <BasicForm @register="register" @submit="handleFilter" />
  </CollapseContainer>

  <div class="p-1" style="background-color: white">
    <div
      class="w-1/6 !md:mt-0 !md:mr-4"
      style="float: left; text-align: right; align-items: center; height: 32px; display: grid"
    >
      Search CDT/PO No: &nbsp;
    </div>
    <div class="w-1/4 !md:mt-0 !md:mr-4" style="float: left">
      <a-input ref="inputRef" allow-clear @change="handleSearch" id="cdt-input">
        <template #prefix></template>
      </a-input>
    </div>
    <BasicTable @register="registerTable">
      <template #bodyCell="{ column, record }">
        <template v-if="column.key === 'action'">
          <TableAction
            :actions="[
              // {
              //   label: 'Dokumen',
              //   onClick: handleViewDocument.bind(null, record),
              // },
              {
                label: 'Detail',
                onClick: handleViewDetail.bind(null, record),
              },
            ]"
          />
        </template>
        <template v-if="column.key === 'status'">{{ STATUS_LIST[record.status] }}</template>
        <template v-if="column.key === 'revision'">{{ record.revision }}</template>
        <template v-if="column.key === 'supplier_name'">{{ record.supplier_name }}</template>
        <template v-if="column.key === 'date_updated'">{{
          toDateFormat(record.date_updated)
        }}</template>
        <!-- <template v-if="column.key === 'total_net_amount'"
            >Rp. {{ toFixedFloat(record.total_amount) }}</template
          > -->
        <template v-if="column.key === 'store_code'"
          >{{ record.store_code }} - {{ record.delivery_to }}</template
        >
        <template v-if="column.field === 'supplier_name'">{{ record.supplier_name }}</template>
        <template v-if="column.field === 'store'">{{ record.store_code }}</template>
        <template v-if="column.key === 'store_code'"
          >{{ record.store_code }} - {{ record.delivery_to }}</template
        >
        <template v-if="column.field === 'supplier_name'">{{ record.supplier_name }}</template>
        <template v-if="column.field === 'store'">{{ record.store_code }}</template>
      </template>
    </BasicTable>
    <ExpExcelModal @register="registers" @success="defaultHeader" />
  </div>
</template>

<script lang="ts">
  import { defineComponent, ref } from 'vue';
  import { BasicForm, FormProps, FormSchema, useForm } from '/@/components/Form/index';
  import { CollapseContainer } from '/@/components/Container/index';
  import { BasicTable, useTable, BasicColumn, TableAction } from '/@/components/Table';
  import createOptions from '../templates/dropdownOptions';
  import { reformatDate, toDateFormat } from '../DetailTemplates';
  import { router } from '/@/router';
  import {
    BUSINESS_UNIT_LIST,
    DEPARTMENT_LIST,
    STORE_LIST,
    SUPPLIER_LIST,
  } from '/@/utils/vms/dropdownOptions';
  import { cpfiListApi } from '/@/api/vms/ConsigmentproformaInvoice';
  import { csaListApi } from '/@/api/vms/ConsigmentSalesAnalys';
  import { ExportModalResult, jsonToSheetXlsx, ExpExcelModal } from '/@/components/Excel';
  import { useModal } from '/@/components/Modal';

  import { useUserStore } from '/@/store/modules/user';
  import { RoleEnum } from '/@/enums/roleEnum';
  const userStore = useUserStore();

  const STATUS_LIST = {
    ALL: 'All',
    NEW: 'Baru',
    AWAITING_ACTION: 'Menunggu respon',
    REJECTED: 'Ditolak',
    ACCEPTED: 'Disahkan',
    CANCELED: 'Dibatalkan',
    LITIGATION: 'Litigasi',
  };

  const schemas: FormSchema[] = [
    {
      field: 'site',
      component: 'Input',
      label: 'Site',
      colProps: {
        span: 8,
      },
    },
    {
      field: 'item',
      component: 'Input',
      label: 'Item',
      colProps: {
        span: 8,
      },
    },
    {
      field: 'supplier_code',
      component: 'Input',
      label: 'Kode Supplier',
      defaultValue: userStore.getUserInfo.username,
      show: false,
      colProps: {
        span: 8,
      },
      componentProps: {
        placeholder: userStore.getUserInfo.username,
        onChange: (e: any) => {
          return e;
        },
      },
    },
    {
      field: 'supplier',
      component: 'Select',
      label: 'Supplier',
      show: false,
      colProps: {
        span: 8,
      },
      componentProps: {
        placeholder: 'All',
        options: createOptions(SUPPLIER_LIST, true),
      },
    },
    {
      field: 'department',
      component: 'Select',
      label: 'Department',
      colProps: {
        span: 8,
      },
      componentProps: {
        placeholder: 'All',
        options: createOptions(DEPARTMENT_LIST, true),
      },
    },
    {
      field: 'CPFIFrom',
      component: 'RangePicker',
      label: 'Date From',
      colProps: {
        span: 8,
      },
    },
  ];
  const schemas1: FormSchema[] = [
    {
      field: 'site',
      component: 'Input',
      label: 'Site',
      colProps: {
        span: 8,
      },
    },
    {
      field: 'item',
      component: 'Input',
      label: 'Item',
      colProps: {
        span: 8,
      },
    },
    {
      field: 'supplier',
      component: 'Select',
      label: 'Supplier',
      colProps: {
        span: 8,
      },
      componentProps: {
        placeholder: 'All',
        options: createOptions(SUPPLIER_LIST, true),
      },
    },
    {
      field: 'department',
      component: 'Select',
      label: 'Department',
      colProps: {
        span: 8,
      },
      componentProps: {
        placeholder: 'All',
        options: createOptions(DEPARTMENT_LIST, true),
      },
    },
    {
      field: 'CPFIFrom',
      component: 'RangePicker',
      label: 'Date From',
      colProps: {
        span: 8,
      },
    },
  ];

  const columns: BasicColumn[] = [
    {
      title: 'Sales Date',
      dataIndex: 'sales_date',
    },
    {
      title: 'Site',
      dataIndex: 'site',
    },
    {
      title: 'Department',
      dataIndex: 'department',
    },
    {
      title: 'Supplier',
      dataIndex: 'supplier',
    },
    {
      title: 'Barcode',
      dataIndex: 'barcode',
    },
    {
      title: 'Item Name',
      dataIndex: 'item_name',
    },
  ];

  export function getFormCPfi(): Partial<FormProps> {
    return {
      schemas: [
        ...schemas,
        {
          field: 'start_date',
          component: 'Input',
          label: '',
          colProps: {
            span: 8,
          },
        },
        {
          field: 'end_date',
          component: 'Input',
          label: '',
          colProps: {
            span: 8,
          },
        },
        {
          field: 'cdt',
          component: 'Input',
          label: 'Search CDT/PO No',
          colProps: {
            span: 8,
          },
          componentProps: {
            placeholder: 'Search CDT/PO No',
            onChange: (e: any) => {
              return e;
            },
          },
        },
      ],
    };
  }
  export function getFormCPfi1(): Partial<FormProps> {
    return {
      schemas: [
        ...schemas1,
        {
          field: 'start_date',
          component: 'Input',
          label: '',
          colProps: {
            span: 8,
          },
        },
        {
          field: 'end_date',
          component: 'Input',
          label: '',
          colProps: {
            span: 8,
          },
        },
        {
          field: 'cdt',
          component: 'Input',
          label: 'Search CDT/PO No',
          colProps: {
            span: 8,
          },
          componentProps: {
            placeholder: 'Search CDT/PO No',
            onChange: (e: any) => {
              return e;
            },
          },
        },
      ],
    };
  }

  var FORM_VALUES: Recordable = {};

  const salesListApiResult = await csaListApi('');
  const sales = salesListApiResult.items;
  console.log(salesListApiResult);
  let data = [];
  for (let index = 0; index < sales.length; index++) {
    const element = sales[index];
    data.push({
      // eslint-disable-next-line prettier/prettier
      sales_date: element.sales_date,
      // eslint-disable-next-line prettier/prettier
      site: element.site,
      // eslint-disable-next-line prettier/prettier
      department: element.department,
      // eslint-disable-next-line prettier/prettier
      supplier: element.supplier,
      // eslint-disable-next-line prettier/prettier
      barcode: element.barcode,
      // eslint-disable-next-line prettier/prettier
      item_name: element.item_name,
    });
  }

  export default defineComponent({
    components: { BasicForm, CollapseContainer, TableAction, BasicTable, ExpExcelModal },
    setup() {
      const isSupplier = userStore.getRoleList.includes(RoleEnum.SUPPLIER);

      const check = ref(null);

      const [register] = useForm({
        labelWidth: 150,
        schemas: isSupplier ? schemas : schemas1,
        actionColOptions: {
          span: 20,
        },
        submitButtonOptions: {
          text: 'Filter',
        },
        fieldMapToTime: [['fieldTime', ['startTime', 'endTime'], 'MM-YYYY']],
      });

      const [registerTable, { getForm }] = useTable({
        api: csaListApi,
        columns: columns,
        bordered: true,
        useSearchForm: true,
        tableSetting: { fullScreen: true },
        formConfig: isSupplier ? getFormCPfi() : getFormCPfi1(),
        //   rowSelection: {
        //     type: 'checkbox',
        //   },
        //   actionColumn: {
        //     ellipsis: true,
        //     width: 250,
        //     title: 'Action',
        //     dataIndex: 'action',
        //   },
      });

      function handleViewDocument(record: Recordable) {
        console.log('klik untuk melihat detail', record);
      }

      function handleViewDetail(record: Recordable) {
        // <<<<<<< HEAD
        //         router.push(`/consignment/pfi/detail/${record.referensi}`);
        // =======
        router
          .push(`/consignment/pfi/detail/${record.referensi}`)
          .then(() => {
            console.log('Navigation successful');
          })
          .catch((error) => {
            console.error('Navigation failed:', error);
          });
        // >>>>>>> integ-rar
      }

      function defaultHeader({ filename, bookType }: ExportModalResult) {
        // 默认Object.keys(data[0])作为header
        jsonToSheetXlsx({
          data,
          filename,
          write2excelOpts: {
            bookType,
          },
        });
      }

      const [registers, { openModal }] = useModal();
      return {
        registerTable,
        handleViewDocument,
        handleViewDetail,
        register,
        registers,
        reformatDate,
        defaultHeader,
        openModal,
        check,
        getForm,
        STATUS_LIST,
        toDateFormat,
        // handleLoad,
      };
    },
    methods: {
      async handleFilter(values: Recordable) {
        const cdtInput: HTMLInputElement = <HTMLInputElement>document.getElementById('cdt-input');
        cdtInput.value = '';
        FORM_VALUES = {};
        if (values.CPFIFrom != undefined) {
          const range: string[] = values.CPFIFrom;
          delete values.CPFIFrom;
          FORM_VALUES = {
            ...values,
            start_date: reformatDate(range[0]),
            end_date: reformatDate(range[1]),
          };
        } else {
          values.start_date = '';
          values.end_date = '';
          FORM_VALUES = values;
        }
        Object.keys(FORM_VALUES).forEach((key) => {
          if (FORM_VALUES[key] === null || values[key] == '') {
            delete FORM_VALUES[key];
          }
        });

        await this.getForm().resetFields();
        await this.getForm().setFieldsValue(FORM_VALUES);
        await this.getForm().submit();
      },
      async handleSearch(e: ChangeEvent) {
        const searchValueRef = ref('');
        searchValueRef.value = e.target.value;
        var SEARCH_FORM_VALUES;
        if (e.target.value != '') {
          SEARCH_FORM_VALUES = { ...FORM_VALUES, cdt: searchValueRef.value };
          console.log('koko', SEARCH_FORM_VALUES);
          await this.getForm().setFieldsValue(SEARCH_FORM_VALUES);
          await this.getForm().submit();
        } else {
          await this.getForm().resetFields();
          await this.getForm().setFieldsValue(FORM_VALUES);
          await this.getForm().submit();
        }
      },
    },
  });
</script>
