<template>
  <div class="flex wrapper">
    <div class="p-1 flex-item-left">
      <CollapseContainer title="EDIT INTERNAL USER">
        <div class="p-5">
          <BasicForm @register="registerForm" @submit="handleSubmit" />
        </div>
      </CollapseContainer>
    </div>
  </div>
</template>

<script lang="ts">
  import { defineComponent, ref, onMounted } from 'vue';

  import { BasicForm, FormProps, FormSchema, useForm } from '/@/components/Form/index';
  import { CollapseContainer } from '/@/components/Container/index';
  import { useMessage } from '/@/hooks/web/useMessage';
  import { BasicTable, useTable, BasicColumn, TableAction } from '/@/components/Table';
  import { supplistDataRegisterdApi } from '/@/api/vms/supplier';
  // import { suppCreateParams } from '/@/api/vms/model/supp/suppCreateModel';
  import { suppEditParams } from '/@/api/vms/model/supp/suppEditModel';
  import { suppUsrDetailApi, suppEditApi } from '/@/api/vms/supplier';
  import { router } from '/@/router';
import createOptions from '/@/views/components/templates/dropdownOptions';
import { ROLE_LIST } from '/@/utils/vms/dropdownOptions';
import { IUListApi3, internalUserUpdateApi } from '/@/api/vms/admin';
import { internalUserSaveParams } from '/@/api/vms/model/adm/internalUserSaveModel';

  const schemas1: FormSchema[] = [
    {
      field: 'first_name',
      component: 'Input',
      label: 'Nama Depan',
      colProps: {
        span: 16,
      },
    },
    {
      field: 'username',
      component: 'Input',
      label: 'Username',
      colProps: {
        span: 16,
      },
      required: true,
      componentProps: {
        placeholder: 'Username',
        disabled: true,
      },
    },
    {
      field: 'last_name',
      component: 'Input',
      label: 'Nama Belakang',
      colProps: {
        span: 16,
      },
    },
    {
      field: 'email',
      component: 'Input',
      label: 'Email',
      colProps: {
        span: 16,
      },
    },
    {
      field: 'role',
      component: 'CheckboxGroup',
      label: 'Role',
      colProps: {
        span: 16,
      },
      componentProps: {
        options: createOptions(ROLE_LIST, true),
        
      },
    },
    // {
    //   field: '',
    //   component: 'CheckboxGroup',
    //   label: 'Store',
    //   colProps: {
    //     span: 16,
    //   },
    //   componentProps: {
    //     options: createOptions(STORE_LIST, true),
        
    //   },
    // },
    // {
    //   field: '',
    //   component: 'CheckboxGroup',
    //   label: 'Departemen',
    //   colProps: {
    //     span: 16,
    //   },
    //   componentProps: {
    //     options: createOptions(DEPARTMENT_LIST, true),
    //   },
    // },
  ];

  export default defineComponent({
    components: { BasicForm, CollapseContainer, TableAction, BasicTable },
    props: {
      userId: String,
    },
    setup(props) {
      onMounted(async () => {
        const dataUser = await IUListApi3(props.userId);
        console.log(dataUser)
        const user = dataUser.items[0];
        console.log(user)
        setFieldsValue({
          first_name: user.first_name,
          username: user.username,
          email: user.email,
          last_name: user.last_name,
          role: user.role_id,
          role_id: user.role_id,
          enabled: user.enabled,
        });
      });

      const { createMessage } = useMessage();

      const [registerForm, { getFieldsValue, resetFields, setFieldsValue }] = useForm({
        labelWidth: 140,
        labelAlign: 'left',
        schemas: schemas1,
        actionColOptions: {
          span: 24,
        },
        submitButtonOptions: {
          text: 'Simpan',
        },
        showResetButton: false,
      });

      function handleEdit(record: Recordable) {
        console.log('klik untuk mengedit', record);
      }
      function handleDelete(record: Recordable) {
        console.log('klik untuk menghapus', record);
      }
      function handleOpen(record: Recordable) {
        console.log('klik untuk mengaktifkan', record);
      }

      return {
        handleEdit,
        handleDelete,
        handleOpen,
        registerForm,
        resetFields,
        setFieldsValue,
        handleSubmit: async () => {
          const values = getFieldsValue();

          const actionProps: internalUserSaveParams = {
            id: values.id,
            first_name: values.first_name,
            email: values.email,
            username: values.username,
            last_name: values.last_name,
            role: values.role,
            role_id: values.role_id,
            enabled: values.enabled,
          };

          await internalUserUpdateApi(actionProps);
          // await getForm().submit();

          // resetFields();
          // clearValidate();
          createMessage.success('Success Update User');
          router.push(`/admin/internal-user`);
          // console.log('der', actionProps);
        },
        props,
        // handleLoad,
      };
    },
  });
</script>

<style scoped>
  .flex-column {
    flex-direction: column;
  }

  .wrapper {
    flex-wrap: wrap;
  }

  .flex-item-left {
    flex: 1 0 40%;
  }
  .flex-item-right {
    flex: 1 0 60%;
  }

  .p-0 {
    padding: 0;
  }

  @media (max-width: 992px) {
    .flex-item-right,
    .flex-item-left {
      flex: 100%;
    }
  }
</style>
