<template>
  <CollapseContainer :title="props.suppId + ' ' + suppData?.local_name" :canExpan="false" />
  <!-- <h1>detail data registered {{ props.suppId }}</h1> -->
  <div class="p-1">
    <div class="md:flex enter-y">
      <div class="ant-card ant-card-bordered ant-card-small w-full pb-1 !md:mt-0 !md:mr-4">
        <div class="mx-4 my-4 info-title"> Informasi Kontak </div>
        <Description
          size="small"
          :bordered="true"
          :column="1"
          :data="suppData"
          :schema="suppContactInfoSchema"
        />
      </div>
      <div class="ant-card ant-card-bordered ant-card-small w-full !md:mt-0 !md:mr-4">
        <div class="mx-4 my-4 info-title"> Informasi Subscription </div>
        <Description
          size="small"
          :bordered="true"
          :column="1"
          :data="suppData"
          :schema="suppSubInfoSchema"
        />
      </div>
      <div class="ant-card ant-card-bordered ant-card-small w-full !md:mt-0 !md:mr-4">
        <div class="mx-4 my-4 info-title"> Informasi Supplier </div>
        <Description
          size="small"
          :bordered="true"
          :column="1"
          :data="suppData"
          :schema="suppSupplierInfoSchema"
        />
      </div>
    </div>
  </div>

  <div class="flex md:flex enter-y mt-2 p-1 wrapper">
    <div class="ant-card ant-card-bordered ant-card-small w-full !md:mt-0 !md:mr-4 card-contact">
      <div class="mx-4 mt-4 info-title"> Kontak Supplier / Kontak User </div>
      <div class="mt-4" v-if="suppContact.length < 1">
        <Empty />
      </div>
      <div class="md:flex enter-y card-wrapper">
        <div class="p-1 card-item" v-for="contact in suppContact" :key="contact.s_id">
          <div class="mx-2 my-2 !md:mt-0 !md:mr-4">
            <div class="flex align-center justify-between">
              <h1> {{ contact.first_name }} {{ contact.last_name }}</h1>
              <!-- <button>edit</button> -->
            </div>
            <Description
              size="small"
              :bordered="false"
              :column="1"
              :data="contact"
              :schema="suppSupplierContactSchema"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="ant-card ant-card-bordered ant-card-small w-full !md:mt-0 !md:mr-4 card-merchan">
      <div class="mx-4 mt-4 info-title"> Merchandising Departement </div>
      <div class="mt-4" v-if="suppMerchant.length < 1">
        <Empty />
      </div>
      <div class="md:flex enter-y card-wrapper">
        <div class="p-1 card-item" v-for="merchan in suppMerchant" :key="merchan?.s_id">
          <div class="mx-2 my-2 !md:mr-4">
            <Description
              size="small"
              :bordered="true"
              :column="1"
              :data="merchan"
              :schema="suppMerchanDepSchema"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
  // import { ref } from 'vue';

  import { CollapseContainer } from '/@/components/Container/index';
  import { DescItem, Description } from '/@/components/Description';
  import { Empty } from 'ant-design-vue';

  import { useUserStore } from '/@/store/modules/user';
  import { suppRegDetail1, suppRegDetail2, suppRegDetail3 } from '/@/api/vms/supplier';

  const props = defineProps({
    suppId: String,
  });

  const suppContactInfoSchema: DescItem[] = [
    { field: 'email_primary', label: 'Email' },
    { field: 'phone_primary', label: 'Telp Number' },
    { field: 'fax_primary', label: 'Telp FAX' },
  ];

  const suppSubInfoSchema: DescItem[] = [
    { field: 'register_date', label: 'Registration Date', contentMinWidth: 120 },
    { field: 'b2b', label: 'B2B', contentMinWidth: 120 },
  ];

  const suppSupplierInfoSchema: DescItem[] = [
    { field: 'supplier_code', label: 'Supplier Code' },
    { field: 'english_name', label: 'English Name' },
    { field: 'tax_id', label: 'Tax ID' },
  ];

  const suppSupplierContactSchema: DescItem[] = [
    { field: 'username', label: 'Username' },
    { field: 'account_enable', label: 'Account Enable' },
  ];

  const suppMerchanDepSchema: DescItem[] = [
    { field: 'department', label: 'Departement' },
    { field: 'contact_person_md', label: 'Contact Person' },
    { field: 'phone_md', label: 'Phone Number' },
    { field: 'suppliergln_md', label: 'Supplier GLN' },
    { field: 'fax_md', label: 'Fax Number' },
    { field: 'address_md', label: 'Address' },
  ];

  const userStore = useUserStore();
  const roles = userStore.getUserInfo.roles;

  let userRoles: string[] = [];
  roles.forEach((role) => {
    userRoles.push(role.value);
  });

  const suppRegDetail1ApiResult = await suppRegDetail1({ id: props.suppId });
  // console.log('det1', suppRegDetail1ApiResult[0]);
  const suppData = suppRegDetail1ApiResult[0];

  const suppRegDetail2ApiResult = await suppRegDetail2({ id: props.suppId });
  // console.log('det2', suppRegDetail2ApiResult);
  const suppMerchant = suppRegDetail2ApiResult;

  const suppRegDetail3ApiResult = await suppRegDetail3({ id: props.suppId });
  // console.log('det3', suppRegDetail3ApiResult);
  const suppContact = suppRegDetail3ApiResult;
</script>

<style scoped>
  .info-title {
    font-size: 14px;
    font-weight: bold;
  }

  .card-wrapper {
    /* align-content: space-around; */
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem;
  }

  .card-item {
    flex-grow: 1;
    flex-basis: 300px;
    border: 1px solid #d3d3d3;
    border-radius: 5px;
  }

  .card-contact {
    flex: 1 0 25%;
    height: fit-content;
  }

  .card-merchan {
    height: fit-content;
  }

  @media only screen and (max-width: 998px) {
    .wrapper {
      flex-direction: column;
    }
  }
</style>
