<template>
  <div class="flex wrapper">
    <div class="p-1 flex-item-left">
      <CollapseContainer title="EDIT WAREHOUSE">
        <div class="p-5">
          <BasicForm @register="registerForm" @submit="handleSubmit" />
        </div>
      </CollapseContainer>
    </div>
  </div>
</template>

<script lang="ts">
  import { defineComponent, onMounted } from 'vue';

  import { BasicForm, FormSchema, useForm } from '/@/components/Form/index';
  import { CollapseContainer } from '/@/components/Container/index';
  import { useMessage } from '/@/hooks/web/useMessage';
  import { BasicTable, TableAction } from '/@/components/Table';
  import { router } from '/@/router';
  import createOptions from '/@/views/components/templates/dropdownOptions';
  import { STORE_LIST } from '/@/utils/vms/dropdownOptions';
  import { businessUnitUpdateApi, postBusinessUnitApi, postStoreApi, postWarehouseApi, storeUpdateApi, warehouseUpdateApi } from '/@/api/vms/admin';
  import { StoreSaveParams } from '/@/api/vms/model/adm/storeCreateModel';
import { WarehouseSaveParams, WarehouseSaveResult } from '/@/api/vms/model/adm/warehouseCreateModel';
import { BusinessUnitSaveParams } from '/@/api/vms/model/adm/businessUnitCreateModel';

const SETID_LIST = {
    '': '',
    IDMER: 'IDMER',
    IDGEA: 'IDGEA',
  };
  
const schemas1: FormSchema[] = [
  {
      field: 'business_unit_code',
      component: 'Input',
      label: 'Kode',
      colProps: {
        span: 16,
      },
    },
    {
      field: 'business_unit_name',
      component: 'Input',
      label: 'Nama',
      colProps: {
        span: 16,
      },
    },
    {
      field: 'business_unitgln',
      component: 'Input',
      label: 'GLN',
      colProps: {
        span: 16,
      },
    },
    {
      field: 'business_unit_address',
      component: 'Input',
      label: 'Alamat',
      colProps: {
        span: 16,
      },
    },
    {
      field: 'business_unit_registration',
      component: 'Input',
      label: 'Registrasi',
      colProps: {
        span: 16,
      },
    },
    {
      field: 'setid',
      component: 'Select',
      label: 'SetId',
      colProps: {
        span: 16,
      },
      componentProps: {
        placeholder: 'All',
        options: createOptions(SETID_LIST, true),
      },
    },
    {
      field: 'hm_od_directory',
      component: 'Input',
      label: 'HM/OD Directory',
      colProps: {
        span: 16,
      },
    },
    {
      field: 'ima_store_prefix',
      component: 'Input',
      label: 'IMA-Store Prefix',
      colProps: {
        span: 16,
      },
    },
  ];

  export default defineComponent({
    components: { BasicForm, CollapseContainer, TableAction, BasicTable },
    props: {
      buId: String,
    },
    setup(props) {
      onMounted(async () => {
        const dataUser = await postBusinessUnitApi(props.buId);
        console.log(dataUser)
        const user = dataUser.items[0];
        console.log(user)
        setFieldsValue({
          business_unit_code: user.business_unit_code,
          business_unit_name: user.business_unit_name,
          business_unitgln: user.business_unitgln,
          business_unit_address: user.business_unit_address,
          business_unit_registration: user.business_unit_registration,
          setid: user.setid,
          hm_od_directory: user.hm_od_directory,
          ima_store_prefix: user.ima_store_prefix,
        });
      });

      const { createMessage } = useMessage();

      const [registerForm, { getFieldsValue, resetFields, setFieldsValue }] = useForm({
        labelWidth: 140,
        labelAlign: 'left',
        schemas: schemas1,
        actionColOptions: {
          span: 24,
        },
        submitButtonOptions: {
          text: 'Simpan',
        },
        showResetButton: false,
      });

      function handleEdit(record: Recordable) {
        console.log('klik untuk mengedit', record);
      }
      function handleDelete(record: Recordable) {
        console.log('klik untuk menghapus', record);
      }
      function handleOpen(record: Recordable) {
        console.log('klik untuk mengaktifkan', record);
      }

      return {
        handleEdit,
        handleDelete,
        handleOpen,
        registerForm,
        resetFields,
        setFieldsValue,
        handleSubmit: async () => {
          const values = getFieldsValue();

          const actionProps: BusinessUnitSaveParams = {
            id: props.buId,
            business_unit_code: values.business_unit_code,
            business_unit_name: values.business_unit_name,
            business_unitgln: values.business_unitgln,
            business_unit_address: values.business_unit_address,
            business_unit_registration: values.business_unit_registration,
            setid: values.setid,
            hm_od_directory: values.hm_od_directory,
            ima_store_prefix: values.ima_store_prefix,
          };

          await businessUnitUpdateApi(actionProps);
          // await getForm().submit();

          // resetFields();
          // clearValidate();
          createMessage.success('Success Update Business Unit');
          router.push(`/admin/business-unit`);
          // console.log('der', actionProps);
        },
        props,
        // handleLoad,
      };
    },
  });
</script>

<style scoped>
  .flex-column {
    flex-direction: column;
  }

  .wrapper {
    flex-wrap: wrap;
  }

  .flex-item-left {
    flex: 1 0 40%;
  }
  .flex-item-right {
    flex: 1 0 60%;
  }

  .p-0 {
    padding: 0;
  }

  @media (max-width: 992px) {
    .flex-item-right,
    .flex-item-left {
      flex: 100%;
    }
  }
</style>
