<template>
  <div class="flex wrapper">
    <div class="p-1 flex-item-left">
      <CollapseContainer title="CREATE SUPPLIER USER">
        <div class="p-5">
          <BasicForm @register="registerForm" @submit="handleSubmit" />
        </div>
      </CollapseContainer>
    </div>

    <div class="flex flex-column flex-item-right p-1">
      <div class="p-1 pt-3" style="background-color: white">
        <!-- <CollapseContainer title="FILTER">
          <BasicForm @register="register" @submit="handleFilter" />
        </CollapseContainer> -->
        <div
          class="w-1/10 !md:mt-0 !md:mr-4 min-content"
          style="float: left; text-align: right; align-items: center; height: 32px; display: grid"
        >
          Search: &nbsp;
        </div>
        <div class="w-1/4 !md:mt-0 !md:mr-4" style="float: left">
          <a-input
            ref="inputRef"
            allow-clear
            @change="handleSearch"
            id="cdt-input"
            placeholder="Kode Supplier"
          >
            <template #prefix></template>
          </a-input>
        </div>
      </div>

      <BasicTable @register="registerTable" class="p-0">
        <template #bodyCell="{ column, record }">
          <template v-if="column.key === 'action'">
            <TableAction
              :actions="[
                {
                  label: 'edit',
                  onClick: handleEdit.bind(null, record),
                  auth: 'other', // 根据权限控制是否显示: 无权限，不显示
                },
                {
                  label: 'Hapus',
                  icon: 'ic:outline-delete-outline',
                  onClick: handleDelete.bind(null, record),
                  auth: 'super', // 根据权限控制是否显示: 有权限，会显示
                },
              ]"
              :dropDownActions="[
                {
                  label: 'aktifkan',
                  popConfirm: {
                    title: 'apakah di aftifkan? ',
                    confirm: handleOpen.bind(null, record),
                  },
                  ifShow: (_action) => {
                    return record.status !== 'enable'; // 根据业务控制是否显示: 非enable状态的不显示启用按钮
                  },
                },
                {
                  label: 'dinonaktifkan',
                  popConfirm: {
                    title: 'nonaktifkan? ',
                    confirm: handleOpen.bind(null, record),
                  },
                  ifShow: () => {
                    return record.status === 'enable'; // 根据业务控制是否显示: enable状态的显示禁用按钮
                  },
                },
                {
                  label: 'kontrol serentak',
                  popConfirm: {
                    title: 'apakah anda ingin menampilkan secara dinamis? ',
                    confirm: handleOpen.bind(null, record),
                  },
                  auth: 'super', // 同时根据权限和业务控制是否显示
                  ifShow: () => {
                    return true;
                  },
                },
              ]"
            />
          </template>
        </template>
      </BasicTable>
    </div>
  </div>
</template>

<script lang="ts">
  import { defineComponent, ref } from 'vue';
  import { BasicForm, FormProps, FormSchema, useForm } from '/@/components/Form/index';
  import { CollapseContainer } from '/@/components/Container/index';
  import { useMessage } from '/@/hooks/web/useMessage';
  import { BasicTable, useTable, BasicColumn, TableAction } from '/@/components/Table';
  import { supplistDataRegisterdApi, suppCreateApi } from '/@/api/vms/supplier';
  import { suppCreateParams } from '/@/api/vms/model/supp/suppCreateModel';
  // import { demoListApi } from '/@/api/demo/table';
  // import { PageWrapper } from '/@/components/Page';
  // import { areaRecord } from '/@/api/demo/cascader';

  const schemas: FormSchema[] = [
    {
      field: 'kode_supp',
      component: 'Input',
      label: 'Search',
      colProps: {
        span: 8,
      },
      componentProps: {
        placeholder: 'Kode Supplier',
        onChange: (e: any) => {
          console.log(e);
        },
      },
    },
  ];

  const schemas1: FormSchema[] = [
    // {
    //   field: 'supp_type',
    //   component: 'Select',
    //   label: 'Supplier Type',
    //   colProps: {
    //     span: 24,
    //   },
    //   componentProps: {
    //     placeholder: 'Supplier Distribution Role',
    //     options: [
    //       {
    //         label: '选项1',
    //         value: '1',
    //         key: '1',
    //       },
    //       {
    //         label: '选项2',
    //         value: '2',
    //         key: '2',
    //       },
    //     ],
    //   },
    // },
    {
      field: 'contact_person',
      component: 'Input',
      label: 'Contact Person*',
      colProps: {
        span: 24,
      },
      required: true,
      componentProps: {
        placeholder: 'Contact Person',
      },
    },
    {
      field: 'username',
      component: 'Input',
      label: 'Username*',
      colProps: {
        span: 24,
      },
      required: true,
      componentProps: {
        placeholder: 'Username',
      },
    },
    {
      field: 'password',
      component: 'InputPassword',
      label: 'Password*',
      colProps: {
        span: 24,
      },
      required: true,
      componentProps: {
        placeholder: 'Password',
      },
    },
    {
      field: 'confirm_password',
      component: 'InputPassword',
      label: 'Konfirmasi Password*',
      colProps: {
        span: 24,
      },
      required: true,
      componentProps: {
        placeholder: 'Konfirmasi Password',
      },
    },
    {
      field: 'email',
      component: 'Input',
      label: 'E-mail*',
      colProps: {
        span: 24,
      },
      required: true,
      componentProps: {
        placeholder: 'E-mail',
      },
    },
    {
      field: 'additional_email',
      component: 'Input',
      label: 'Additional E-mail',
      colProps: {
        span: 24,
      },
      componentProps: {
        placeholder: 'Additional E-mail',
      },
    },
    {
      field: 'address',
      component: 'InputTextArea',
      label: 'Address',
      colProps: {
        span: 24,
      },
      componentProps: {
        placeholder: 'Address',
      },
    },
    {
      field: 'digital_invoice',
      component: 'Input',
      defaultValue: 'N',
      label: 'Digital Invoice',
      colProps: {
        span: 24,
      },
      componentProps: {
        placeholder: ' ',
      },
    },
    // {
    //   field: 'address',
    //   component: 'Input',
    //   label: 'Address',
    //   colProps: {
    //     span: 24,
    //   },
    // },
  ];

  const columns: BasicColumn[] = [
    {
      title: 'Kode Supplier',
      sorter: true,
      dataIndex: 'code',
      width: 120,
    },
    {
      title: 'Nama Lokal',
      sorter: true,
      dataIndex: 'nama',
    },
  ];

  export function getFormSupplier(): Partial<FormProps> {
    return {
      schemas: [
        ...schemas,
        {
          field: 'search',
          component: 'Input',
          label: 'search',
          colProps: {
            span: 8,
          },
          componentProps: {
            placeholder: 'search',
            onChange: (e: any) => {
              return e;
            },
          },
        },
      ],
    };
  }

  var FORM_VALUES: Recordable = {};

  export default defineComponent({
    components: { BasicForm, CollapseContainer, TableAction, BasicTable },
    setup() {
      const { createMessage } = useMessage();

      const [register, { setProps }] = useForm({
        labelWidth: 100,
        schemas,
        actionColOptions: {
          span: 20,
        },

        fieldMapToTime: [['fieldTime', ['startTime', 'endTime'], 'MM-YYYY']],
      });

      const [registerForm, { clearValidate, resetFields }] = useForm({
        labelWidth: 140,
        labelAlign: 'left',
        schemas: schemas1,
        actionColOptions: {
          span: 24,
        },
      });

      const [registerTable, { getForm }] = useTable({
        title: 'Daftar Supplier',
        api: supplistDataRegisterdApi,
        formConfig: getFormSupplier(),
        useSearchForm: true,
        columns: columns,
        bordered: true,
        tableSetting: { fullScreen: true },
        // rowKey: 'id',
        // rowSelection: {
        //   type: 'checkbox',
        // },
      });

      function handleEdit(record: Recordable) {
        console.log('klik untuk mengedit', record);
      }
      function handleDelete(record: Recordable) {
        console.log('klik untuk menghapus', record);
      }
      function handleOpen(record: Recordable) {
        console.log('klik untuk mengaktifkan', record);
      }

      return {
        registerTable,
        handleEdit,
        handleDelete,
        handleOpen,
        register,
        registerForm,
        getForm,
        resetFields,
        schemas,
        handleSubmit: async (values: Recordable) => {
          const actionProps: suppCreateParams = {
            contact_person: values.contact_person,
            username: values.username,
            password: values.password,
            email: values.email,
            additional_email: values.additional_email,
          };

          await suppCreateApi(actionProps);
          await getForm().submit();

          resetFields();
          clearValidate();
          createMessage.success('Success Create New User');
          // console.log('der', actionProps);
        },
        setProps,
        // handleLoad,
      };
    },
    methods: {
      async handleSearch(e: ChangeEvent) {
        const searchValueRef = ref('');
        searchValueRef.value = e.target.value;
        var SEARCH_FORM_VALUES;
        if (e.target.value != '') {
          SEARCH_FORM_VALUES = { ...FORM_VALUES, search: searchValueRef.value };
          console.log('koko', SEARCH_FORM_VALUES);
          await this.getForm().setFieldsValue(SEARCH_FORM_VALUES);
          await this.getForm().submit();
        } else {
          await this.getForm().resetFields();
          await this.getForm().setFieldsValue(FORM_VALUES);
          await this.getForm().submit();
        }
      },
    },
  });
</script>
<style scoped>
  .flex-column {
    flex-direction: column;
  }

  .wrapper {
    flex-wrap: wrap;
  }

  .flex-item-left {
    flex: 1 0 40%;
  }
  .flex-item-right {
    flex: 1 0 60%;
  }

  .p-0 {
    padding: 0;
  }

  @media (max-width: 992px) {
    .flex-item-right,
    .flex-item-left {
      flex: 100%;
    }
  }
</style>
