<template>
  <CollapseContainer title="FILTER">
    <BasicForm @register="register" @submit="handleFilter" />
  </CollapseContainer>

  <div class="p-1">
    <a-input class="d-none" ref="inputRef" allow-clear @change="handleSearch" id="cdt-input">
      <template #prefix></template>
    </a-input>
    <BasicTable @register="registerTable" class="p-0">
      <template #bodyCell="{ column, record }">
        <template v-if="column.key === 'action'">
          <TableAction
            :actions="[
              {
                label: 'edit',
                onClick: handleEdit.bind(null, record),
                auth: 'other', // 根据权限控制是否显示: 无权限，不显示
              },
              {
                label: 'Hapus',
                icon: 'ic:outline-delete-outline',
                onClick: handleDelete.bind(null, record),
                auth: 'super', // 根据权限控制是否显示: 有权限，会显示
              },
              {
                label: 'Edit',
                onClick: handleViewEdit.bind(null, record),
              },
            ]"
            :dropDownActions="[
              // {
              //   label: 'aktifkan',
              //   popConfirm: {
              //     title: 'apakah di aftifkan? ',
              //     confirm: handleOpen.bind(null, record),
              //   },
              //   ifShow: (_action) => {
              //     return record.status !== 'enable'; // 根据业务控制是否显示: 非enable状态的不显示启用按钮
              //   },
              // },
              // {
              //   label: 'dinonaktifkan',
              //   popConfirm: {
              //     title: 'nonaktifkan? ',
              //     confirm: handleOpen.bind(null, record),
              //   },
              //   ifShow: () => {
              //     return record.status === 'enable'; // 根据业务控制是否显示: enable状态的显示禁用按钮
              //   },
              // },
              // {
              //   label: 'kontrol serentak',
              //   popConfirm: {
              //     title: 'apakah anda ingin menampilkan secara dinamis? ',
              //     confirm: handleOpen.bind(null, record),
              //   },
              //   auth: 'super', // 同时根据权限和业务控制是否显示
              //   ifShow: () => {
              //     return true;
              //   },
              // },
            ]"
          />
        </template>
        <template v-if="column.key === 'last_login'">{{
          toDateFormat(record.last_login)
        }}</template>
      </template>
    </BasicTable>
  </div>
</template>

<script lang="ts">
  import { defineComponent, ref } from 'vue';
  import { BasicForm, FormProps, FormSchema, useForm } from '/@/components/Form/index';
  import { CollapseContainer } from '/@/components/Container/index';
  import { useMessage } from '/@/hooks/web/useMessage';
  import { BasicTable, useTable, BasicColumn, TableAction } from '/@/components/Table';
  import { toDateFormat } from '/@/views/components/DetailTemplates';

  import { suppUsrApi } from '/@/api/vms/supplier';
  import { router } from '/@/router';

  // import { PageWrapper } from '/@/components/Page';
  // import { areaRecord } from '/@/api/demo/cascader';
  // const user = await suppUsrApi({ username: '0893' });

  const schemas: FormSchema[] = [
    {
      field: 'username',
      component: 'Input',
      label: 'Search',
      colProps: {
        span: 8,
      },
      componentProps: {
        placeholder: 'Search',
        onChange: (e: any) => {
          console.log(e);
        },
      },
    },
  ];

  const columns: BasicColumn[] = [
    {
      title: 'Username',
      dataIndex: 'username',
    },
    {
      title: 'E-mail',
      dataIndex: 'email',
    },
    {
      title: 'Akun diAktifkan',
      dataIndex: 'enabled',
    },
    {
      title: 'Terakhir Login',
      key: 'last_login',
    },
  ];

  export function getFormSupp(): Partial<FormProps> {
    return {
      schemas: [
        ...schemas,
        {
          field: 'start_date',
          component: 'Input',
          label: '',
          colProps: {
            span: 8,
          },
        },
        {
          field: 'end_date',
          component: 'Input',
          label: '',
          colProps: {
            span: 8,
          },
        },
      ],
    };
  }

  var FORM_VALUES: Recordable = {};

  export default defineComponent({
    components: { BasicForm, CollapseContainer, TableAction, BasicTable },
    setup() {
      const { createMessage } = useMessage();

      const [register, { setProps }] = useForm({
        labelWidth: 120,
        schemas,
        actionColOptions: {
          span: 20,
        },
        submitButtonOptions: {
          text: 'Filter',
        },
        fieldMapToTime: [['fieldTime', ['startTime', 'endTime'], 'MM-YYYY']],
      });

      const [registerTable, { getForm }] = useTable({
        title: 'Daftar User Supplier',
        api: suppUsrApi,
        // dataSource: user,
        columns: columns,
        formConfig: getFormSupp(),
        useSearchForm: true,
        bordered: true,
        tableSetting: { fullScreen: true },
        // rowKey: 'id',
        // rowSelection: {
        //   type: 'checkbox',
        // },
        actionColumn: {
          ellipsis: true,
          width: 250,
          title: 'Action',
          dataIndex: 'action',
          // slots: { customRender: 'action' },
        },
      });

      function handleEdit(record: Recordable) {
        console.log('klik untuk mengedit', record);
      }
      function handleDelete(record: Recordable) {
        console.log('klik untuk menghapus', record);
      }
      function handleOpen(record: Recordable) {
        console.log('klik untuk mengaktifkan', record);
      }
      function handleViewEdit(record: Recordable) {
        // router.push(`/supplier/registered/${record.id}`); // POST
        router
          .push(`/supplier/users/edit/${record.au_id}`)
          .then(() => {
            console.log('Navigation successful');
          })
          .catch((error) => {
            console.error('Navigation failed:', error);
          });
      }

      return {
        registerTable,
        handleEdit,
        handleDelete,
        handleOpen,
        getForm,
        register,
        schemas,
        handleViewEdit,
        handleSubmit: (values: Recordable) => {
          createMessage.success('click search,values:' + JSON.stringify(values));
        },
        setProps,
        toDateFormat,
        // handleLoad,
      };
    },
    methods: {
      async handleFilter(values: Recordable) {
        const cdtInput: HTMLInputElement = <HTMLInputElement>document.getElementById('cdt-input');
        cdtInput.value = '';
        FORM_VALUES = {};
        console.log('her', values);

        if (values.dateFrom != undefined) {
          const range: string[] = values.dateFrom;
          delete values.dateFrom;
          FORM_VALUES = {
            ...values,
          };
        } else {
          FORM_VALUES = values;
        }
        Object.keys(FORM_VALUES).forEach((key) => {
          if (FORM_VALUES[key] === null || values[key] == '') {
            delete FORM_VALUES[key];
          }
        });

        await this.getForm().resetFields();
        await this.getForm().setFieldsValue(FORM_VALUES);
        await this.getForm().submit();
      },
      async handleSearch(e: ChangeEvent) {
        const searchValueRef = ref('');
        searchValueRef.value = e.target.value;
        var SEARCH_FORM_VALUES;
        if (e.target.value != '') {
          SEARCH_FORM_VALUES = { ...FORM_VALUES, username: searchValueRef.value };
          await this.getForm().setFieldsValue(SEARCH_FORM_VALUES);
          await this.getForm().submit();
        } else {
          await this.getForm().resetFields();
          await this.getForm().setFieldsValue(FORM_VALUES);
          await this.getForm().submit();
        }
      },
    },
  });
</script>

<style scoped>
  .d-none {
    display: none;
  }
  .p-0 {
    padding: 0;
  }
</style>