<template>
  <CollapseContainer :title="'Consignment Invoice'" :canExpan="false">
    <div class="button">
      <a-button :type="'primary'" @click="jsonPrint">Lihat versi cetak</a-button>
      <!-- <DocumentDropdownButton :documents="documents" :cdt="otherPfiData.cdt" /> -->
      <a-button @click="handleAccept" :type="'primary ml-2'" v-show="isEditable"> Terima </a-button>
      <DocumentDropdownButton :documents="documents2"/>
      <!-- <a-button @click="handleRejectPfi" :type="'primary ml-2'" v-show="isEditable"> Tolak </a-button>
      <a-button @click="handleRejectPfi" :type="'primary ml-2'" disabled v-show="isAccepted">
      <strong>Diterima</strong>
      </a-button>
      <a-button @click="handleSendBackKPfi" :type="'primary ml-2'" v-show="isRejected">
      Kembalikan
      </a-button> -->
    </div>
    
  </CollapseContainer>
  <div class="p-1" id="header-pdf">
    <div class="md:flex enter-y">
      <div class="ant-card ant-card-bordered ant-card-small md:w-1/2 w-full !md:mt-0 !md:mr-4">
        <div class="mx-4 my-4 info-title"> Informasi Order </div>
        <Description
          size="small"
          :bordered="true"
          :column="1"
          :data="infos"
          :schema="invOrderInfoSchema"
        />
      </div>
      <div class="ant-card ant-card-bordered md:w-1/2 w-full !md:mt-0 !md:mr-4">
        <div class="flex">
          <div class="mx-4 mt-4 info-title"> Informasi Supplier </div>
          <a-button @click="openModal1" :type="'primary'" class="mx-4 mt-2 ml-auto">
            Edit Supplier</a-button
          >
          <cinvSaveInfoSuppModal @register="register1" :infos="infos" />
        </div>
        <div class="mx-4 mb-2 destination"> {{ infos?.nama_supplier }} </div>
        <Description
          size="small"
          :bordered="true"
          :column="1"
          :data="infos"
          :schema="supplierSchema"
        />
      </div>
    </div>
    <div class="md:flex enter-y">
      <div class="ant-card ant-card-bordered ant-card-small w-full !md:mt-0 !md:mr-4">
        <div class="flex">
          <div class="mx-4 mt-4 info-title"> Detail Invoice </div>
          <a-button @click="openModal2" :type="'primary'" class="mx-4 mt-2 ml-auto">
            Edit Invoice</a-button
          >
          <cinvSaveDetailModal @register="register2" :infos="infos" />
        </div>
        <Description
          size="small"
          :bordered="true"
          :column="2"
          :data="infos"
          :schema="invDetailSchema"
        />
      </div>
    </div>
    <div class="ant-card ant-card-bordered ant-card-small w-full !md:mt-0 !md:mr-4">
      <div class="mx-4 my-4 info-title"> Berkas Faktur Pajak </div>
      <BasicTable @register="registerTable2" :canResize="false">
    </BasicTable>
    </div>
    <div class="md:flex enter-y">
      
      <!-- <BasicTable @register="registerTaxInvoiceTable" class="main-table">
        <template #bodyCell="{ column, record }">
          <template v-if="column.key === 'action'">
            <TableAction
              :actions="[
                {
                  label: '[Action Placeholder]',
                  onClick: handleTaxInvoiceAction.bind(null, record),
                },
              ]"
            />
          </template>
        </template>
      </BasicTable> -->
    </div>

    <div class="ant-card ant-card-bordered ant-card-small w-full !md:mt-0 !md:mr-4">
      <div class="mx-4 my-4 info-title"> Berkas Dokumen Pendukung </div>
      <div>
        <table id="tax">
          <tr>
            <td>Invoice :<span>*</span> </td>
            <td><a v-html="inv"></a></td>
            <td>Maks. 2 Mb</td>
          </tr>
          <tr>
            <td>Kwitansi :<span>*</span> </td>
            <td><a v-html="kwi"></a></td>
            <td>Maks. 2 Mb</td>
          </tr>
        </table>
      </div>
    </div>
    <div class="md:flex enter-y">
      <!-- <BasicTable @register="registerSupportingDocumentTable" class="main-table">
        <template #bodyCell="{ column, record }">
          <template v-if="column.key === 'deliveryOrder'">
            <a :href="record.deliveryOrder" v-if="record.deliveryOrder != ''">
              <strong>Download Surat Jalan</strong>
            </a>
            <span style="font-style: italic" v-else> (tidak ada berkas) </span>
          </template>
          <template v-else-if="column.key === 'invoice'">
            <a :href="record.invoice" v-if="record.invoice != ''">
              <strong>Download Invoice</strong>
            </a>
            <span style="font-style: italic" v-else> (tidak ada berkas) </span>
          </template>
          <template v-else-if="column.key === 'receipt'">
            <a :href="record.receipt" v-if="record.receipt != ''">
              <strong>Download Kwitansi</strong>
            </a>
            <span style="font-style: italic" v-else> (tidak ada berkas) </span>
          </template>
        </template>
      </BasicTable> -->
    </div>
  </div>

  <div class="p-1" style="background-color: white">
    <BasicTable @register="registerTable" class="main-table">
      <template #bodyCell="{ column, record }">
        <template v-if="column.key === 'code'">
          <ItemCodeCell
            :itemCode="record.itemCode"
            :sub="record.itemCodeSub"
            :unit="record.itemCodeUnit"
          />
        </template>
        <template v-else-if="column.key === 'itemName'">
          <ItemNameCell :itemName="record.itemName" :sub="record.itemNameSub" />
        </template>
        <template v-else-if="column.key === 'sales_qty'">
          {{ toFixedFloat(record.sales_qty) }}
        </template>
        <template v-else-if="column.key === 'cons_margin'">
          {{ toFixedFloat(record.cons_margin) }}
        </template>
        <template v-else-if="column.key === 'cons_payable'">
          {{ toFixedFloat(record.cons_payable) }}
        </template>
        <template v-else-if="column.key === 'support_promo_sup'">
          {{ toFixedFloat(record.support_promo_sup) }}
        </template>
        <template v-else-if="column.key === 'tot_cons_pay_before_tax'">
          {{ toFixedFloat(record.tot_cons_pay_before_tax) }}
        </template>
        <template v-else-if="column.key === 'tot_cons_pay_after_tax'">
          {{ toFixedFloat(record.tot_cons_pay_after_tax) }}
        </template>
        <template v-else-if="column.key === 'pajak'">
          {{ toFixedFloat(record.pajak) }}
        </template>
        <template v-else-if="column.key === 'luxuryTax'">
          {{ toFixedFloat(record.ppn_bm) }}
        </template>
        <!-- <template v-else-if="column.field === 'tanggal_order'">
          {{ toDateFormat(record.tanggal_order) }}
        </template>
        <template v-else-if="column.field === 'tgl_faktur_pajak'">
          {{ toDateFormat(record.tgl_faktur_pajak) }}
        </template>
        <template v-else-if="column.field === 'tgl_inv_supplier'">
          {{ toDateFormat(record.tgl_inv_supplier) }}
        </template> -->
      </template>
    </BasicTable>
		<div class="md:flex enter-y">
			<div class="md:w-1/2 w-full !md:mt-0 !md:mr-4"><br /></div>
			<div class="md:w-1/2 w-full !md:mt-0 !md:mr-4">
				<Description
				size="small"
				:bordered="true"
				:column="1"
				:data="Price"
				:schema="invPriceSchema"
				/>
			</div>
		</div>
		<div id="footer-pdf">
			<div class="py-4 px-6" id="additional-info">
				<div class="info-title">Keterangan:</div>
				<div>{{ additionalInfoData }}</div>
			</div>
		</div>
  </div>
</template>
<script setup lang="ts">
  import { CollapseContainer } from '/@/components/Container/index';
  import { BasicTable, useTable, BasicColumn } from '/@/components/Table';
  import {
    ItemCodeCell,
    ItemNameCell,
    //toDateFormat,
    toFixedFloat,
  } from '/@/views/components/DetailTemplates';
  import { DescItem, Description } from '/@/components/Description';
  import { useUserStore } from '/@/store/modules/user';
	import jsPDF from 'jspdf';
	import autoTable from 'jspdf-autotable'
	import logo from "/@/assets/images/logo.png";

  // Modal Detail Invoice
  import { useModal } from '/@/components/Modal';
  import cinvSaveInfoSuppModal from '/@/views/demo/comp/modal/cinvSaveInfoSuppModal.vue';
  import cinvSaveDetailModal from '/@/views/demo/comp/modal/cinvSaveDetailModal.vue';
import { cinvFileKListApi, cinvFileListApi, cinvInfoListApi, cinvactionAcceptApi, cinvoDetListApi, taxInvFileListApi } from '/@/api/vms/ConsigmentInvoice';
import { router } from '/@/router';
import { useMessage } from '/@/hooks/web/useMessage';
import { CinvAcceptParams } from '/@/api/vms/model/ci/cinvAcceptModel';
import { documentConsApi } from '/@/api/vms/Document';

  // let data = [];
  const [register1, { openModal: openModal1 }] = useModal();
  const [register2, { openModal: openModal2 }] = useModal();

  const props = defineProps({
    csinvId: String,
  });

  
  const invOrderInfoSchema: DescItem[] = [
    { field: 'pfi_number', label: 'PFI Number' },
    { field: 'tanggal_pfi', label: 'Tanggal PFI' },
    { field: 'toko', label: 'Toko Transmart' },
    { field: 'department', label: 'Kode Departemen' },
    { field: 'nama_perusahaan', label: 'Nama Perusahaan' },
    { field: 'alamat_perusahaan', label: 'Alamat Perusahaan' },
    { field: 'npwp', label: 'NPWP' },
    { field: 'sales_start_date', label: 'Sales Start Date' },
    { field: 'sales_end_date', label: 'Sales End Date' },
    { field: 'cons_margin_rate', label: 'Consignment Margin Rate' },
    { field: 'cons_margin_value', label: 'Consignment Margin Value' },
  ];

  const supplierSchema: DescItem[] = [
    { field: 'code', label: 'Kode' },
    { field: 'nama_perusahaan_supp', label: 'Nama Perusahaan' },
    { field: 'alamat_perusahaan_supp', label: 'Alamat Perusahaan' },
    { field: 'kode_pos', label: 'Kode Pos' },
    { field: 'kota', label: 'Kota' },
    { field: 'negara', label: 'Negara' },
    { field: 'nama', label: 'Nama' },
    { field: 'telepon', label: 'Telepon' },
    { field: 'fax', label: 'Fax' },
    { field: 'npwp', label: 'NPWP' },
    { field: 'email', label: 'E-Mail' },
  ];

  const invDetailSchema: DescItem[] = [
    { field: 'nomor_seri_pajak', label: 'Nomor Seri Pajak' },
    { field: 'confirm_seri_pajak', label: 'Konfirmasi Nomor Seri Pajak' },
    { field: 'tgl_faktur_pajak', label: 'Tanggal Faktur Pajak' },
    { field: 'no_inv_supplier', label: 'Nomor Invoice Supplier' },
    { field: 'tgl_inv_supplier', label: 'Tanggal Invoice Supplier' },
    { field: 'revisi', label: 'Revisi' },
  ];

  const invPriceSchema: DescItem[] = [
    { field: 'sub_total', label: 'Sub Total' },
    { field: 'purchasePriceCorrection', label: 'Koreksi Harga Beli' },
    { field: 'taxCorrection', label: 'Koreksi PPN' },
    { field: 'tax', label: 'PPN' },
    { field: 'ppn_bm', label: 'Pajak Barang Mewah' },
    { field: 'total', label: 'Total Harga' },
  ];

  const columns: BasicColumn[] = [
    // {
    //   title: 'Kode Barang',
    //   dataIndex: 'kode_barang',
    //   width: 120,
    // },
    {
      title: 'Barcode',
      dataIndex: 'barcode',
      width: 150,
    },
    {
      title: 'Nama Barang',
      dataIndex: 'nama_barang',
      width: 150,
    },
    {
      title: 'Sales Qty',
      key: 'sales_qty',
      // dataIndex: 'sales_qty',
      width: 80,
    },
    {
      title: 'Base Consignment Margin',
      key: 'cons_margin',
      // dataIndex: 'cons_margin',
      width: 120,
    },
    {
      title: 'Harga Consignment Paylable',
      key: 'cons_payable',
      // dataIndex: 'cons_payable',
      width: 150,
    },
    {
      title: 'Support Promo Supplier',
      key: 'support_promo_sup',
      // dataIndex: 'support_promo_sup',
      width: 150,
    },
    {
      title: 'Total Consignment Payable Before Tax',
      key: 'tot_cons_pay_before_tax',
      // dataIndex: 'tot_cons_pay_before_tax',
      width: 150,
    },
    {
      title: '% Pajak',
      key: 'pajak',
      // dataIndex: 'pajak',
      width: 80,
    },
    {
      title: 'Total Consignment Payable After Tax',
      key: 'tot_cons_pay_after_tax',
      // dataIndex: 'tot_cons_pay_after_tax',
      width: 150,
      // minWidth: 80,
    },
  ];

  const columns2: BasicColumn[] = [
    {
      title: 'Seq',
      dataIndex: 'seq',
      width: 50,
    },
    {
      title: 'Type',
      dataIndex: 'type',
      width: 50,
    },
    {
      title: 'File',
      dataIndex: 'tax_invoice_pdf_file_name',
      width: 150,
    },
    {
      title: 'Action',
      dataIndex: 'action',
      width: 50,
    },
    {
      title: 'Order',
      dataIndex: 'order',
      width: 50,
    },
    
  ];
  const columns3: BasicColumn[] = [
    {
      title: '',
      dataIndex: 'type',
      width: 50,
    },
    {
      title: '',
      dataIndex: 'tax_invoice_pdf_file_name',
      width: 10,
    },
    {
      title: '',
      dataIndex: 'action',
      width: 10,
    },
    {
      title: '',
      dataIndex: 'order',
      width: 50,
    },
    {
      title: '',
      dataIndex: 'order',
      width: 250,
    },
    {
      title: '',
      dataIndex: 'order',
      width: 250,
    },
    
  ];

  interface Document {
  docKey: string;
  reference: string;
  status: string;
  date: Date;
  accepted?: string;
}
const documentApiResult = await documentConsApi({ cdt: props.csinvId! });
console.log(documentApiResult)

// let documents: Document[] = [
//   {
//     docKey: 'cpfi',
//     reference: documentApiResult.items[0].cdt,
//     status: documentApiResult.items[0].cpfi_status,
//     date: documentApiResult.items[0].cpfi_date,
//   },
//   {
//     docKey: 'cinv',
//     reference: documentApiResult.items[0].cdt,
//     status: documentApiResult.items[0].ci_status,
//     date: documentApiResult.items[0].ci_date,
//     // accepted: '',
//   },
// ];

// let documents2: Document[] = [];

// if(documentApiResult.items[0].cdt!=null){
//     documents2.push(documents[0]);
//   }

// if(documentApiResult.items[0].ci_status!=null){
//     documents2.push(documents[1]);
//   }
  const userStore = useUserStore();
  const roles = userStore.getUserInfo.roles;

  let userRoles: string[] = [];
  roles.forEach((role) => {
    userRoles.push(role.value);
  });

  const invinfoListApiResult = await cinvInfoListApi(props.csinvId);
  const infos = invinfoListApiResult.items[0];
  console.log(props.csinvId);
  console.log(infos);

  // const cinvStatus = infos.status;

  // const isEditable: boolean = userRoles.includes('SUPPLIER') && ['NEW', 'AWAITING_ACTION'].includes(cinvStatus);


  const additionalInfoData: String = `Always bring this document when delivering goods.
        Mulai tanggal 1 January 2014, PT. Trans Retail Indonesia hanya akan menerima invoice yang dilengkapi dengan barcode. OTP VMS harus digunakan untuk proses invoice barcode. Informasi tambahan dan petunjuk penggunaan dapat menghubungi VMS Support melalui email vms_support@transretail.co.id`;

  // const invinfoListApiResult = await invInfoListApi(props.invId);
  // const infos = invinfoListApiResult.items[0];
  const invResult = await cinvFileListApi({ id: props.csinvId });
  let inv='';
  if(invResult.items[0]!=null){
    inv = invResult.items[0].tax_invoice_pdf_file_name;
  }
  
  const kwiResult = await cinvFileKListApi({ id: props.csinvId });
  let kwi='';
  if(kwiResult.items[0]!=null){
    kwi = kwiResult.items[0].tax_invoice_pdf_file_name;
  }
  
  
  // const invItemListApiResult = await invoDetListApi({ id: props.invId });
  const invItemListApiResult = await cinvoDetListApi({ id: props.csinvId });
  //console.log('ter', invItemListApiResult);
  const items: Recordable[] = invItemListApiResult.items;

  // infos.tgl_faktur_pajak =
  //   infos?.tgl_faktur_pajak != null
  //     ? toDateFormat(infos.tgl_faktur_pajak)
  //     : 'Tue, Nov 12, 2019, 20:11';

  // infos.tanggal_order =
  //   infos?.tanggal_order != null ? toDateFormat(infos.tanggal_order) : 'Tue, Nov 12, 2019, 20:11';

  // infos.tgl_inv_supplier =
  //   infos?.tgl_inv_supplier != null
  //     ? toDateFormat(infos.tgl_inv_supplier)
  //     : 'Tue, Nov 12, 2019, 20:11';

  let subtotal = 0;
  let ppn = 0;
  let ppnbm = 0;
  let total = 0;
  items.forEach((element) => {
    subtotal += parseFloat(element?.sub_total);
    ppn += (parseFloat(element?.pajak) / 100) * parseFloat(element?.sub_total);
    ppnbm += parseFloat(element?.ppn_bm);
    total = subtotal + ppn + ppnbm;
  });
  // if(items[0].harga_unit!=null){}
  // const Price = {
  //   // sub_total: toFixedFloat(items[0].cons_payable * items[0].sales_qty),
  //   //sub_total: toFixedFloat(items[0]?.sub_total),
  //   purchasePriceCorrection: toFixedFloat(items[0]?.koreksi_harga_beli),
  //   taxCorrection: toFixedFloat(items[0]?.koreksi_ppn),
  //   tax: toFixedFloat(items[0]?.pajak) + '%',
  //   ppn_bm: toFixedFloat(items[0]?.pajak_barang_mewah),
  //   total: toFixedFloat(total),
  // };
  const [registerTable] = useTable({
    title: 'Tabel Item',
    api: () => cinvoDetListApi({ id: props.csinvId }),
    columns: columns,
    bordered: true,
    tableSetting: { fullScreen: true },
    loading: false,
    pagination: false,
    canResize: true,
    scroll: { y: 300 },
    // showSummary: true,
  });
  const [registerTable2] = useTable({
    title: '',
    api: () => taxInvFileListApi({ id: props.csinvId }),
    columns: columns2,
    bordered: true,
    tableSetting: { fullScreen: true },
    loading: false,
    pagination: false,
    canResize: true,
    scroll: { y: 300 },
    // showSummary: true,
  });
  const [registerTable3] = useTable({
    title: '',
    api: () => cinvFileKListApi({ id: props.csinvId }),
    columns: columns3,
    bordered: true,
    tableSetting: { fullScreen: true },
    loading: false,
    pagination: false,
    canResize: true,
    scroll: { y: 300 },
    // showSummary: true,
  });

  let print = [];
  for (let index = 0; index < items.length; index++) {
    const element = items[index];
    print.push({
      // eslint-disable-next-line prettier/prettier
      No: index + 1,
      // eslint-disable-next-line prettier/prettier
      'Barcode': element.barcode,
      // eslint-disable-next-line prettier/prettier
      'Nama Barang': element.nama_barang,
      // eslint-disable-next-line prettier/prettier
      'Sales Qty': toFixedFloat(element.sales_qty),
      // eslint-disable-next-line prettier/prettier
      'Base Consignment Margin': toFixedFloat(element.cons_margin),
      // eslint-disable-next-line prettier/prettier
      'Harga Consignment Payable': toFixedFloat(element.cons_payable),
      // eslint-disable-next-line prettier/prettier
      'Support Promo Supplier': toFixedFloat(element.support_promo_sup),
      // eslint-disable-next-line prettier/prettier
      'Total Consignment Payable Before Tax': toFixedFloat(element.tot_cons_pay_before_tax),
      // eslint-disable-next-line prettier/prettier
      '%Pajak': element.pajak + '%',
      // eslint-disable-next-line prettier/prettier
      'Total Consignment Payable After Tax': toFixedFloat(element.tot_cons_pay_after_tax),
      // eslint-disable-next-line prettier/prettier
      // 'PPN BM': toFixedFloat(element.ppn_bm),
    });
  }
  const { createMessage } = useMessage();

  async function handleAccept() {
    const actionProps: CinvAcceptParams = {
      id: props.csinvId!,
      action: 'ACCEPT',
    };

    const cinvSendActionApiResult = await cinvactionAcceptApi(actionProps);
    createMessage.success('Dokumen Proforma Invoice Response diTerima.');
    router.push(`/consignment/invoice/detail/${cinvSendActionApiResult.i_id}`); // POST
  }

	function jsonPrint() {
		let pdfName = `Consignment Invoice - ${infos.pfi_number}.pdf`;
		var doc = new jsPDF("p", null, "a4");
		doc.setFontSize(9)
		let image = new Image();
		image.src = logo;
		doc.addImage(image, "png", 5, 5, 77, 9)
		doc.text(105, 10, "Invoice");
		const tableColumns = columns.map(value => {
			return {
				header: value.title,
				dataKey: value.key || value.dataIndex
			}
		});
		let data = items.map((value, index) => {
			return {
				no: index + 1,
				barcode: value.barcode,
				nama_barang: value.nama_barang,
				sales_qty: toFixedFloat(value.sales_qty),
				cons_margin: toFixedFloat(value.cons_margin),
				cons_payable: toFixedFloat(value.cons_payable),
				support_promo_sup: toFixedFloat(value.support_promo_sup),
				tot_cons_pay_before_tax: toFixedFloat(value.tot_cons_pay_before_tax),
				pajak : value.pajak + '%',
        tot_cons_pay_after_tax: toFixedFloat(value.tot_cons_pay_after_tax),
			}
		});
		doc.html(document.getElementById("header-pdf"), {
				callback: function(doc) {
						// Save the PDF
						autoTable(doc, {
							columns: [
								{
									header: "No",
									dataKey: "no"
								},
								...tableColumns
							],
							body: data,
							startY: 120,
							styles: {
								fontSize: 6
							}
						});
						doc.setFontSize(9);
						const structure = [{
							title: "Sub Total",
							content: Price.sub_total
						},
						{
							title: "Koreksi Harga Beli",
							content: Price.purchasePriceCorrection
						},
						{
							title: "Koreksi PPN",
							content: Price.taxCorrection
						},
						{
							title: "PPN",
							content: Price.tax
						},
						{
							title: "Pajak Barang Mewah",
							content: Price.ppn_bm
						},
						{
							title: "Total Harga",
							content: Price.total || "0"
						}]

						let startY = doc.lastAutoTable.finalY+5;

						structure.forEach((value, index) => {
							doc.text(130, startY + (index*5), value.title);
							doc.text(165, startY + (index*5), ":");
							doc.text(167, startY + (index*5), value.content);
						});
						
					doc.html(document.getElementById("footer-pdf"), {
							callback: function(doc) {
									// Save the PDF
									doc.save(pdfName);
							},
							x: 5,
							y: startY + (structure.length * 5),
							width: 200, //target width in the PDF document
							windowWidth: 1500, //window width in CSS pixels
					});
				},
				x: 5,
				y: 15,
				width: 200, //target width in the PDF document
				windowWidth: 1500, //window width in CSS pixels
		});
  }

  // async function handleRejectPfi() {
  //   const actionProps: PfiActionParams = {
  //     id: props.pfiId!,
  //     action: 'REJECTED',
  //   };

  //   const pfiRejectActionApiResult = await pfiActionApi(actionProps);
  //   createMessage.success(
  //     'Dokumen Proforma Invoice diBatalkan. Draft Proforma Invoice Response dibuat.',
  //   );
  //   router.push(`/proforma-invoice-response/detail/${pfiRejectActionApiResult.pfir_id}`);

  //   // POST
  // }
  // async function handleSendBackKPfi() {
  //   // const actionProps: PfiActionParams = {
  //   //   id: props.pfiId!,
  //   //   action: 'REJECTED',
  //   // };
  //   // const pfiSendBackActionApiResult = await pfiActionApi(actionProps);
  //   // createMessage.success(
  //   //   'Dokumen Proforma Invoice status disahkan',
  //   // );
  //   // router.push(`/proforma-invoice/detail/${pfiSendBackActionApiResult.pfir_id}`);
  // }

  // async function handleAcceptPfi() {
  //   const actionProps: PfiActionParams = {
  //     id: props.pfiId!,
  //     action: 'ACCEPTED',
  //   };

  //   const pfiAcceptionActionApiResult = await pfiActionApi(actionProps);
  //   createMessage.success('Dokumen Proforma Invoice diTerima. Draft Invoice dibuat.');
  //   router.push(`/invoice/detail/${pfiAcceptionActionApiResult.pfir_id}`); // POST
  // }
</script>
<style scoped>
  .destination {
    font-size: 20px;
  }

  .info-title {
    font-size: 14px;
    font-weight: bold;
  }

  #total-price-box {
    padding: 8px;
    font-size: 16px;
    text-align: right;
    margin-bottom: 16px;
  }

  #total-price-amount {
    font-weight: bold;
  }

  #additional-info {
    white-space: pre-line;
    font-size: 14px;
    background-color: #ee2a33;
    color: white;
    border-radius: 20px;
    margin: 0px 10px 20px;
  }

  #tax{
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  #tax td{
  border: 1px solid #ddd;
  padding: 8px;
  }
  #tax span{
  color: red;
  }
</style>
