<template>
  <CollapseContainer :title="'Consignment Invoice'" :canExpan="false">
    <div class="button">
      <a-button :type="'primary'" @click="jsonPrint">Lihat versi cetak</a-button>
      <!-- <DocumentDropdownButton :documents="documents" :cdt="otherPfiData.cdt" /> -->
      <a-button @click="handleAccept" :type="'primary ml-2'" v-show="isEditable"> Kirim </a-button>
      <a-button @click="handleVerify" :type="'primary ml-2'" v-show="APD"> Verifikasi </a-button>
      <a-button @click="handleRevisi" :type="'primary ml-2'" v-show="APD"> Ajukan Revisi </a-button>
      <DocumentDropdownButton :documents="documents2" />
      <!-- <a-button @click="handleRejectPfi" :type="'primary ml-2'" v-show="isEditable"> Tolak </a-button>
      <a-button @click="handleRejectPfi" :type="'primary ml-2'" disabled v-show="isAccepted">
      <strong>Diterima</strong>
      </a-button>
      <a-button @click="handleSendBackKPfi" :type="'primary ml-2'" v-show="isRejected">
      Kembalikan
      </a-button> -->
    </div>
  </CollapseContainer>
  <div class="p-1" id="header-pdf">
    <div class="md:flex enter-y">
      <div class="ant-card ant-card-bordered ant-card-small md:w-1/2 w-full !md:mt-0 !md:mr-4">
        <div class="mx-4 my-4 info-title"> Informasi Order </div>
        <Description
          size="small"
          :bordered="true"
          :column="1"
          :data="infos"
          :schema="invOrderInfoSchema"
        />
      </div>
      <div class="ant-card ant-card-bordered md:w-1/2 w-full !md:mt-0 !md:mr-4">
        <div class="flex">
          <div class="mx-4 mt-4 info-title"> Informasi Supplier </div>
          <a-button
            @click="openModal1"
            :type="'primary'"
            class="mx-4 mt-2 ml-auto"
            v-show="isEditable"
          >
            Edit Supplier</a-button
          >
          <cinvSaveInfoSuppModal @register="register1" :infos="infos" />
        </div>
        <div class="mx-4 mb-2 destination"> {{ infos?.nama_supplier }} </div>
        <Description
          size="small"
          :bordered="true"
          :column="1"
          :data="infos"
          :schema="supplierSchema"
        />
      </div>
    </div>
    <div class="md:flex enter-y">
      <div class="ant-card ant-card-bordered ant-card-small w-full !md:mt-0 !md:mr-4">
        <div class="flex">
          <div class="mx-4 mt-4 info-title"> Detail Invoice </div>
          <a-button
            @click="openModal2"
            :type="'primary'"
            class="mx-4 mt-2 ml-auto"
            v-show="isEditable"
          >
            Edit Invoice</a-button
          >
          <cinvSaveDetailModal @register="register2" :infos="infos" />
        </div>
        <Description
          size="small"
          :bordered="true"
          :column="2"
          :data="infos"
          :schema="invDetailSchema"
        />
      </div>
    </div>
    <div class="ant-card ant-card-bordered ant-card-small w-full !md:mt-0 !md:mr-4">
      <div class="mx-4 my-4 info-title"> Berkas Faktur Pajak </div>
      <BasicTable @register="registerTable2" :canResize="false"> </BasicTable>
      <div>
        <a-button
          @click="openModal6"
          :type="'primary'"
          class="mx-4 mt-2 ml-auto"
          style="margin-bottom: 10px; margin-left: 10px"
          v-show="isEditable"
        >
          Attach Etax</a-button
        >
        <cinvTaxUploadModal @register="register6" :infos="infos" />
        <a-button :type="'primary'" @click="deleteTaxInv" v-show="isEditable">Hapus</a-button>
      </div>
      <div class="mx-4 my-4 info-title" v-show="isEditable"> Verifikasi </div>
      <BasicTable @register="registerTable3" :canResize="false">
        <template #bodyCell="{ column, record }">
          <template v-if="column.key === 'status'">
            <input type="checkbox" v-model="record.status" />
          </template>
        </template>
      </BasicTable>
      <div style="color: red; margin: 5px">
        <div>CTAX_CTRI16100411660833 Nomor Seri Pajak tidak sesuai untuk Faktur Pajak</div>
        <div
          >CTAX_CTRI16100411660833 Tanggal Faktur Pajak tidak sesuai dengan dokumen yang
          dilampirkan</div
        >
        <div
          >CTAX_CTRI16100411660833 Nomor Seri Pajak yang diketik tidak sesuai untuk Faktur
          Pajak</div
        >
        <!-- <div>Belum ada dokumen faktur pajak yang dilampirkan</div> -->
        <div v-html="vtax"></div>
        <div v-html="nsp"></div>
        <div v-html="vinv"></div>
        <div v-html="vkwi"></div>
      </div>
    </div>
    <div class="md:flex enter-y">
      <!-- <BasicTable @register="registerTaxInvoiceTable" class="main-table">
        <template #bodyCell="{ column, record }">
          <template v-if="column.key === 'action'">
            <TableAction
              :actions="[
                {
                  label: '[Action Placeholder]',
                  onClick: handleTaxInvoiceAction.bind(null, record),
                },
              ]"
            />
          </template>
        </template>
      </BasicTable> -->
    </div>

    <div class="ant-card ant-card-bordered ant-card-small w-full !md:mt-0 !md:mr-4">
      <div class="mx-4 my-4 info-title"> Berkas Dokumen Pendukung </div>
      <div>
        <table id="tax">
          <tr>
            <td>Invoice :<span>*</span> </td>
            <td v-if="inv !== ''"><a v-html="inv"></a></td>
            <td v-else>
              <a-button
                @click="openModal3"
                :type="'primary'"
                class="mx-4 mt-2 ml-auto"
                v-show="isEditable"
              >
                Upload File</a-button
              >
              <cinvUploadModal @register="register3" :infos="infos" />
            </td>
            <td
              ><a-button :type="'primary'" @click="deleteInv" v-show="isEditable"
                >Hapus</a-button
              ></td
            >
            <td>Maks. 2 Mb</td>
          </tr>
          <tr>
            <td>Kwitansi :<span>*</span> </td>
            <td v-if="kwi !== ''"><a v-html="kwi"></a></td>
            <td v-else>
              <a-button
                @click="openModal4"
                :type="'primary'"
                class="mx-4 mt-2 ml-auto"
                v-show="isEditable"
              >
                Upload File</a-button
              >
              <cinvUploadKwiModal @register="register4" :infos="infos" />
            </td>
            <td
              ><a-button :type="'primary'" @click="deleteKwi" v-show="isEditable"
                >Hapus</a-button
              ></td
            >
            <td>Maks. 2 Mb</td>
          </tr>
        </table>
      </div>
    </div>
    <div class="md:flex enter-y">
      <!-- <BasicTable @register="registerSupportingDocumentTable" class="main-table">
        <template #bodyCell="{ column, record }">
          <template v-if="column.key === 'deliveryOrder'">
            <a :href="record.deliveryOrder" v-if="record.deliveryOrder != ''">
              <strong>Download Surat Jalan</strong>
            </a>
            <span style="font-style: italic" v-else> (tidak ada berkas) </span>
          </template>
          <template v-else-if="column.key === 'invoice'">
            <a :href="record.invoice" v-if="record.invoice != ''">
              <strong>Download Invoice</strong>
            </a>
            <span style="font-style: italic" v-else> (tidak ada berkas) </span>
          </template>
          <template v-else-if="column.key === 'receipt'">
            <a :href="record.receipt" v-if="record.receipt != ''">
              <strong>Download Kwitansi</strong>
            </a>
            <span style="font-style: italic" v-else> (tidak ada berkas) </span>
          </template>
        </template>
      </BasicTable> -->
    </div>
  </div>

  <div class="p-1" style="background-color: white">
    <BasicTable
      @register="registerTable"
      class="main-table"
      @edit-end="handleEditEnd"
      @edit-cancel="handleEditCancel"
    >
      <template #bodyCell="{ column, record }">
        <template v-if="column.key === 'code'">
          <ItemCodeCell
            :itemCode="record.itemCode"
            :sub="record.itemCodeSub"
            :unit="record.itemCodeUnit"
          />
        </template>
        <template v-else-if="column.key === 'itemName'">
          <ItemNameCell :itemName="record.itemName" :sub="record.itemNameSub" />
        </template>
        <template v-else-if="column.key === 'sales_qty'">
          {{ toFixedFloat(record.sales_qty) }}
        </template>
        <template v-else-if="column.key === 'cons_margin'">
          {{ toFixedFloat(record.cons_margin) }}
        </template>
        <template v-else-if="column.key === 'cons_payable'">
          {{ toFixedFloat(record.cons_payable) }}
        </template>
        <template v-else-if="column.key === 'support_promo_sup'">
          {{ toFixedFloat(record.support_promo_sup) }}
        </template>
        <template v-else-if="column.key === 'tot_cons_pay_before_tax'">
          {{ toFixedFloat(record.tot_cons_pay_before_tax) }}
        </template>
        <template v-else-if="column.key === 'tot_cons_pay_after_tax'">
          {{ toFixedFloat(record.tot_cons_pay_after_tax) }}
        </template>
        <template v-else-if="column.key === 'pajak'">
          {{ toFixedFloat(record.pajak) }}
        </template>
        <template v-else-if="column.key === 'luxuryTax'">
          {{ toFixedFloat(record.ppn_bm) }}
        </template>
        <!-- <template v-else-if="column.field === 'tanggal_order'">
          {{ toDateFormat(record.tanggal_order) }}
        </template>
        <template v-else-if="column.field === 'tgl_faktur_pajak'">
          {{ toDateFormat(record.tgl_faktur_pajak) }}
        </template>
        <template v-else-if="column.field === 'tgl_inv_supplier'">
          {{ toDateFormat(record.tgl_inv_supplier) }}
        </template> -->
      </template>
    </BasicTable>
    <div class="md:flex enter-y">
      <div class="md:w-1/2 w-full !md:mt-0 !md:mr-4"><br /></div>
      <div class="md:w-1/2 w-full !md:mt-0 !md:mr-4">
        <Description
          size="small"
          :bordered="true"
          :column="1"
          :data="Price"
          :schema="invPriceSchema"
        />
      </div>
    </div>
    <div id="footer-pdf">
      <div class="py-4 px-6" id="additional-info">
        <div class="info-title">Keterangan:</div>
        <div>{{ additionalInfoData }}</div>
      </div>
    </div>
  </div>
</template>
<script setup lang="ts">
  import { CollapseContainer } from '/@/components/Container/index';
  import { BasicTable, useTable, BasicColumn } from '/@/components/Table';
  import {
    ItemCodeCell,
    ItemNameCell,
    //toDateFormat,
    toFixedFloat,
  } from '/@/views/components/DetailTemplates';
  import { DescItem, Description } from '/@/components/Description';
  import { useUserStore } from '/@/store/modules/user';
  import jsPDF from 'jspdf';
  import autoTable from 'jspdf-autotable';
  import logo from '/@/assets/images/logo.png';

  // Modal Detail Invoice
  import { useModal } from '/@/components/Modal';
  import cinvSaveInfoSuppModal from '/@/views/demo/comp/modal/cinvSaveInfoSuppModal.vue';
  import cinvSaveDetailModal from '/@/views/demo/comp/modal/cinvSaveDetailModal.vue';
  import {
    cinvFileKListApi,
    cinvFileListApi,
    cinvInfoListApi,
    cinvSaveItemDetailApi,
    cinvactionAcceptApi,
    cinvactionRevisiApi,
    cinvactionVerifyApi,
    cinvoDetListApi,
    taxInvFileListApi,
  } from '/@/api/vms/ConsigmentInvoice';
  import { router } from '/@/router';
  import { useMessage } from '/@/hooks/web/useMessage';
  import { CinvAcceptParams } from '/@/api/vms/model/ci/cinvAcceptModel';
  import { documentConsApi } from '/@/api/vms/Document';
  import cinvUploadModal from '/@/views/components/DetailTemplates/src/csg/csinv/cinvUploadModal.vue';
  import cinvUploadKwiModal from '/@/views/components/DetailTemplates/src/csg/csinv/cinvUploadKwiModal.vue';
  import cinvTaxUploadModal from '/@/views/components/DetailTemplates/src/csg/csinv/cinvTaxUploadModal.vue';
  import { invActionApi, kwiActionApi, taxActionApi } from '/@/api/vms/invoice';
  import { useTabs } from '/@/hooks/web/useTabs';
  import { CinvVerifyParams } from '/@/api/vms/model/ci/cinvVerifyModel';
  import { DocumentDropdownButton } from '/@/views/components/DetailTemplates';
  import createOptions from '/@/views/components/templates/dropdownOptions';
  import { InvSaveItemDetailParams } from '/@/api/vms/model/inv/invSaveItemDetailModel';

  // let data = [];
  const [register1, { openModal: openModal1 }] = useModal();
  const [register2, { openModal: openModal2 }] = useModal();
  const [register3, { openModal: openModal3 }] = useModal();
  const [register4, { openModal: openModal4 }] = useModal();
  const [register6, { openModal: openModal6 }] = useModal();

  const props = defineProps({
    csinvId: String,
  });

  const invOrderInfoSchema: DescItem[] = [
    { field: 'pfi_number', label: 'PFI Number' },
    { field: 'tanggal_pfi', label: 'Tanggal PFI' },
    { field: 'toko', label: 'Toko Transmart' },
    { field: 'department', label: 'Kode Departemen' },
    { field: 'nama_perusahaan', label: 'Nama Perusahaan' },
    { field: 'alamat_perusahaan', label: 'Alamat Perusahaan' },
    { field: 'npwp', label: 'NPWP' },
    { field: 'sales_start_date', label: 'Sales Start Date' },
    { field: 'sales_end_date', label: 'Sales End Date' },
    { field: 'cons_margin_rate', label: 'Consignment Margin Rate' },
    { field: 'cons_margin_value', label: 'Consignment Margin Value' },
  ];

  const supplierSchema: DescItem[] = [
    { field: 'code', label: 'Kode' },
    { field: 'nama_perusahaan_supp', label: 'Nama Perusahaan' },
    { field: 'alamat_perusahaan_supp', label: 'Alamat Perusahaan' },
    { field: 'kode_pos', label: 'Kode Pos' },
    { field: 'kota', label: 'Kota' },
    { field: 'negara', label: 'Negara' },
    { field: 'nama', label: 'Nama' },
    { field: 'telepon', label: 'Telepon' },
    { field: 'fax', label: 'Fax' },
    { field: 'npwp', label: 'NPWP' },
    { field: 'email', label: 'E-Mail' },
  ];

  const invDetailSchema: DescItem[] = [
    { field: 'nomor_seri_pajak', label: 'Nomor Seri Pajak' },
    { field: 'confirm_seri_pajak', label: 'Konfirmasi Nomor Seri Pajak' },
    { field: 'tgl_faktur_pajak', label: 'Tanggal Faktur Pajak' },
    { field: 'no_inv_supplier', label: 'Nomor Invoice Supplier' },
    { field: 'tgl_inv_supplier', label: 'Tanggal Invoice Supplier' },
    { field: 'revisi', label: 'Revisi' },
  ];

  const invPriceSchema: DescItem[] = [
    { field: 'sub_total', label: 'Sub Total' },
    { field: 'purchasePriceCorrection', label: 'Koreksi Harga Beli' },
    { field: 'taxCorrection', label: 'Koreksi PPN' },
    { field: 'tax', label: 'PPN' },
    { field: 'ppn_bm', label: 'Pajak Barang Mewah' },
    { field: 'total', label: 'Total Harga' },
  ];

  const columns: BasicColumn[] = [
    // {
    //   title: 'Kode Barang',
    //   dataIndex: 'kode_barang',
    //   width: 120,
    // },
    {
      title: 'Barcode',
      dataIndex: 'barcode',
      width: 150,
    },
    {
      title: 'Nama Barang',
      dataIndex: 'nama_barang',
      width: 150,
    },
    {
      title: 'Sales Qty',
      key: 'sales_qty',
      // dataIndex: 'sales_qty',
      width: 80,
    },
    {
      title: 'Base Consignment Margin',
      key: 'cons_margin',
      // dataIndex: 'cons_margin',
      width: 120,
    },
    {
      title: 'Harga Consignment Paylable',
      key: 'cons_payable',
      // dataIndex: 'cons_payable',
      width: 150,
    },
    {
      title: 'Support Promo Supplier',
      key: 'support_promo_sup',
      // dataIndex: 'support_promo_sup',
      width: 150,
    },
    {
      title: 'Total Consignment Payable Before Tax',
      key: 'tot_cons_pay_before_tax',
      // dataIndex: 'tot_cons_pay_before_tax',
      width: 150,
    },
    {
      title: '% Pajak',
      // key: 'pajak',
      dataIndex: 'koreksi_ppn',
      width: 120,
      edit: true,
      editComponent: 'Select',
      editComponentProps: {
        options: createOptions({
          0: 0,
          11: 11,
        }),
        width: 20,
      },
    },
    {
      title: 'Total Consignment Payable After Tax',
      key: 'tot_cons_pay_after_tax',
      // dataIndex: 'tot_cons_pay_after_tax',
      width: 150,
      // minWidth: 80,
    },
  ];

  const verifikasi: Recordable[] = [
    {
      verifikasi: 'Mengisi Nomor Seri Pajak',
      status: false,
    },
    {
      verifikasi: 'Nomor Seri Pajak Sesuai dengan Berkas Faktur Pajak',
      status: false,
    },
    {
      verifikasi: 'Tanggal Faktur Pajak masih berlaku',
      status: false,
    },
    {
      verifikasi: 'Upload Berkas Faktur Pajak',
      status: false,
    },
    {
      verifikasi: 'Upload Dokumen Pendukung Invoice',
      status: false,
    },
    {
      verifikasi: 'Upload Dokumen Pendukung Kwitansi',
      status: false,
    },
  ];

  const columns2: BasicColumn[] = [
    {
      title: 'Seq',
      dataIndex: 'seq',
      width: 50,
    },
    {
      title: 'Type',
      dataIndex: 'type',
      width: 50,
    },
    {
      title: 'File',
      dataIndex: 'tax_invoice_pdf_file_name',
      width: 150,
    },
    {
      title: 'Action',
      dataIndex: 'action',
      width: 50,
    },
    {
      title: 'Order',
      dataIndex: 'order',
      width: 50,
    },
  ];
  const columns3: BasicColumn[] = [
    {
      title: 'Verifikasi',
      dataIndex: 'verifikasi',
      width: 250,
    },
    {
      title: 'status',
      key: 'status',
      width: 50,
    },
  ];

  interface Document {
    docKey: string;
    reference: string;
    status: string;
    date: Date;
    accepted?: string;
  }
  const invinfoListApiResult = await cinvInfoListApi(props.csinvId!);
  const infos = invinfoListApiResult.items[0];

  console.log('infos ', infos);

  const documentApiResult = await documentConsApi({ cdt: infos?.cdt });
  console.log('doc ', documentApiResult);

  let documents: Document[] = [
    {
      docKey: 'cpfi',
      reference: documentApiResult.items[0]?.cdt,
      status: documentApiResult.items[0]?.cpfi_status,
      date: documentApiResult.items[0]?.cpfi_date,
    },
    {
      docKey: 'cinv',
      reference: documentApiResult.items[0]?.cdt,
      status: documentApiResult.items[0]?.ci_status,
      date: documentApiResult.items[0]?.ci_date,
      // accepted: '',
    },
  ];

  let documents2: Document[] = [];

  if (documentApiResult.items[0]?.cdt != null) {
    documents2.push(documents[0]);
  }

  if (documentApiResult.items[0]?.ci_status != null) {
    documents2.push(documents[1]);
  }
  const userStore = useUserStore();
  const roles = userStore.getUserInfo.roles;

  console.log(roles);

  let userRoles: string[] = [];
  roles.forEach((role) => {
    userRoles.push(role.value);
  });

  const invdetailListApiResult = await cinvoDetListApi(props.csinvId!);
  console.log(invdetailListApiResult.items[0]);

  const invStatus = infos.status;
  console.log(props.csinvId);

  const isEditable: boolean =
    userRoles.includes('SUPPLIER') && ['DRAFT', 'AWAITING_ACTION', 'NEW'].includes(invStatus);
  const APD: boolean = userRoles.includes('APD Role') && ['SENT'].includes(invStatus);

  // const cinvStatus = infos.status;

  // const isEditable: boolean = userRoles.includes('SUPPLIER') && ['NEW', 'AWAITING_ACTION'].includes(cinvStatus);

  const additionalInfoData: String = `Always bring this document when delivering goods.
           Mulai tanggal 1 January 2014, PT. Trans Retail Indonesia hanya akan menerima invoice yang dilengkapi dengan barcode. OTP VMS harus digunakan untuk proses invoice barcode. Informasi tambahan dan petunjuk penggunaan dapat menghubungi VMS Support melalui email vms_support@transretail.co.id`;

  // const invinfoListApiResult = await invInfoListApi(props.invId);
  // const infos = invinfoListApiResult.items[0];
  const invResult = await cinvFileListApi({ id: props.csinvId });
  let inv = '';
  if (invResult.items[0] != null) {
    inv = invResult.items[0].tax_invoice_pdf_file_name;
  }

  const kwiResult = await cinvFileKListApi({ id: props.csinvId });
  let kwi = '';
  if (kwiResult.items[0] != null) {
    kwi = kwiResult.items[0].tax_invoice_pdf_file_name;
  }

  // const invItemListApiResult = await invoDetListApi({ id: props.invId });
  const invItemListApiResult = await cinvoDetListApi({ id: props.csinvId });
  const invTaxListApiResult = await taxInvFileListApi({ id: props.csinvId });

  //console.log('ter', invItemListApiResult);
  const items: Recordable[] = invItemListApiResult.items;
  const items2: Recordable[] = invTaxListApiResult.items;
  console.log(items2);
  let nsp = '';
  let vinv = '';
  let vkwi = '';
  let vtax = '';
  console.log(items[0].pajak);
  if (items[0] != null) {
    if (items[0].pajak > 0) {
      if (infos.nomor_seri_pajak == null) {
        nsp = 'Nomor Seri Pajak Harus Diisi';
      } else {
        verifikasi[0].status = true;
      }
      if (inv == '') {
        vinv = 'Dokumen Invoice wajib dilampirkan.';
      } else {
        verifikasi[4].status = true;
      }
      if (kwi == '') {
        vkwi = 'Dokumen Kwitansi wajib dilampirkan.';
      } else {
        verifikasi[5].status = true;
      }
      if (items2.length == 0) {
        vtax = 'Belum ada dokumen faktur pajak yang dilampirkan';
      } else {
        verifikasi[3].status = true;
      }
    }
  }

  // infos.tgl_faktur_pajak =
  //   infos?.tgl_faktur_pajak != null
  //     ? toDateFormat(infos.tgl_faktur_pajak)
  //     : 'Tue, Nov 12, 2019, 20:11';

  // infos.tanggal_order =
  //   infos?.tanggal_order != null ? toDateFormat(infos.tanggal_order) : 'Tue, Nov 12, 2019, 20:11';

  // infos.tgl_inv_supplier =
  //   infos?.tgl_inv_supplier != null
  //     ? toDateFormat(infos.tgl_inv_supplier)
  //     : 'Tue, Nov 12, 2019, 20:11';

  let subtotal = 0;
  let ppn = 0;
  let ppnbm = 0;
  let total = 0;
  items.forEach((element) => {
    subtotal += parseFloat(element?.cons_payable * element?.sales_qty);
    ppn += (parseFloat(element?.pajak) / 100) * parseFloat(subtotal);
    ppnbm += parseFloat(element?.koreksi_ppn);
    total = subtotal + ppn + ppnbm;
  });

  console.log('items ', items);
  console.log('subtotal ', subtotal);
  console.log('ppnbm ', ppnbm);
  console.log('ppn ', ppn);
  console.log('total ', total);

  // if(items[0].harga_unit!=null){}
  const Price = {
    sub_total: toFixedFloat(items[0]?.cons_payable * items[0]?.sales_qty),
    //sub_total: toFixedFloat(items[0]?.sub_total),
    purchasePriceCorrection: toFixedFloat(items[0]?.koreksi_harga_beli),
    taxCorrection: toFixedFloat(items[0]?.koreksi_ppn),
    tax: toFixedFloat(items[0]?.pajak) + '%',
    ppn_bm: toFixedFloat(items[0]?.pajak_barang_mewah),
    total: toFixedFloat(total),
  };
  const [registerTable] = useTable({
    title: 'Tabel Item',
    api: () => cinvoDetListApi({ id: props.csinvId }),
    columns: columns,
    bordered: true,
    tableSetting: { fullScreen: true },
    loading: false,
    pagination: false,
    canResize: true,
    scroll: { y: 300 },
    // showSummary: true,
  });
  const [registerTable2] = useTable({
    title: '',
    api: () => taxInvFileListApi({ id: props.csinvId }),
    columns: columns2,
    bordered: true,
    tableSetting: { fullScreen: true },
    loading: false,
    pagination: false,
    canResize: true,
    scroll: { y: 300 },
    // showSummary: true,
  });
  const [registerTable3] = useTable({
    title: '',
    dataSource: verifikasi,
    columns: columns3,
    bordered: true,
    tableSetting: { fullScreen: true },
    loading: false,
    pagination: false,
    canResize: true,
    scroll: { y: 300 },

    // showSummary: true,
  });

  let print = [];
  for (let index = 0; index < items.length; index++) {
    const element = items[index];
    print.push({
      // eslint-disable-next-line prettier/prettier
      No: index + 1,
      // eslint-disable-next-line prettier/prettier
      Barcode: element.barcode,
      // eslint-disable-next-line prettier/prettier
      'Nama Barang': element.nama_barang,
      // eslint-disable-next-line prettier/prettier
      'Sales Qty': toFixedFloat(element.sales_qty),
      // eslint-disable-next-line prettier/prettier
      'Base Consignment Margin': toFixedFloat(element.cons_margin),
      // eslint-disable-next-line prettier/prettier
      'Harga Consignment Payable': toFixedFloat(element.cons_payable),
      // eslint-disable-next-line prettier/prettier
      'Support Promo Supplier': toFixedFloat(element.support_promo_sup),
      // eslint-disable-next-line prettier/prettier
      'Total Consignment Payable Before Tax': toFixedFloat(element.tot_cons_pay_before_tax),
      // eslint-disable-next-line prettier/prettier
      '%Pajak': element.pajak + '%',
      // eslint-disable-next-line prettier/prettier
      'Total Consignment Payable After Tax': toFixedFloat(element.tot_cons_pay_after_tax),
      // eslint-disable-next-line prettier/prettier
      // 'PPN BM': toFixedFloat(element.ppn_bm),
    });
  }
  const { createMessage, createConfirm, createSuccessModal, createErrorModal } = useMessage();

  async function handleAccept() {
    if (items[0] != null) {
      if (items[0].pajak > 0) {
        if (infos.nomor_seri_pajak == null) {
          // createMessage.error('Nomor Seri Pajak Harus Diisi');
          createErrorModal({
            title: 'Failed',
            content: 'Nomor Seri Pajak Harus Diisi',
          });
        } else if (inv == '') {
          // createMessage.error('Dokumen Invoice wajib dilampirkan.');
          createErrorModal({
            title: 'Failed',
            content: 'Dokumen Invoice wajib dilampirkan',
          });
        } else if (kwi == '') {
          // createMessage.error('Dokumen Kwitansi wajib dilampirkan.');
          createErrorModal({
            title: 'Failed',
            content: 'Dokumen Kwitansi wajib dilampirkan',
          });
        } else if (items2.length == 0) {
          // createMessage.error('Belum ada dokumen faktur pajak yang dilampirkan');
          createErrorModal({
            title: 'Failed',
            content: 'Belum ada dokumen faktur pajak yang dilampirkan',
          });
        } else {
          const actionProps: CinvAcceptParams = {
            id: props.csinvId!,
          };
          createConfirm({
            iconType: 'warning',
            content: 'Apakah anda yakin ingin menerima Consignment Invoice ini ?',
            async onOk() {
              // notification.success({
              //   message: 'Success',
              //   description: 'Dokumen Receiving Advice disahkan. Membuat Proforma Invoice baru.',
              // });
              const cinvSendActionApiResult = await cinvactionAcceptApi(actionProps);

              createSuccessModal({
                title: 'Success',
                content: 'Dokumen Consignment Invoice di Terima.',
                onOk() {
                  router.push(`/consignment/invoice/detail/${cinvSendActionApiResult.i_id}`); // POST
                  refreshPage();
                },
              });
            },
          });
        }
      }
    }
  }

  async function handleVerify() {
    const actionProps: CinvVerifyParams = {
      id: props.csinvId!,
    };

    createConfirm({
      iconType: 'warning',
      content: 'Apakah anda yakin ingin Verifikasi Dokumen ini ?',
      async onOk() {
        // notification.success({
        //   message: 'Success',
        //   description: 'Dokumen Receiving Advice disahkan. Membuat Proforma Invoice baru.',
        // });
        const cinvSendActionApiResult = await cinvactionVerifyApi(actionProps);

        createSuccessModal({
          title: 'Success',
          content: 'Dokumen Consignment Invoice Telah Diverifikasi.',
          onOk() {
            router.push(`/consignment/invoice/detail/${cinvSendActionApiResult.i_id}`); // POST
            refreshPage();
          },
        });
      },
    });
  }

  async function handleRevisi() {
    const actionProps: CinvVerifyParams = {
      id: props.csinvId!,
    };

    createConfirm({
      iconType: 'warning',
      content: 'Apakah anda yakin ingin mangajukan revisi untuk Invoice ini ?',
      async onOk() {
        // notification.success({
        //   message: 'Success',
        //   description: 'Dokumen Receiving Advice disahkan. Membuat Proforma Invoice baru.',
        // });
        const cinvSendActionApiResult = await cinvactionRevisiApi(actionProps);

        createSuccessModal({
          title: 'Success',
          content: 'Berhasil mengajukan revisi.',
          onOk() {
            router.push(`/consignment/invoice/detail/${cinvSendActionApiResult.i_id}`); // POST
            refreshPage();
          },
        });
      },
    });
  }

  function jsonPrint() {
    let pdfName = `Consignment Invoice - ${infos.pfi_number}.pdf`;
    var doc = new jsPDF('p', null, 'a4');
    doc.setFontSize(9);
    let image = new Image();
    image.src = logo;
    doc.addImage(image, 'png', 5, 5, 77, 9);
    doc.text(105, 10, 'Consignment Invoice');
    const tableColumns = columns.map((value) => {
      return {
        header: value.title,
        dataKey: value.key || value.dataIndex,
      };
    });
    let data = items.map((value, index) => {
      return {
        no: index + 1,
        barcode: value.barcode,
        nama_barang: value.nama_barang,
        sales_qty: toFixedFloat(value.sales_qty),
        cons_margin: toFixedFloat(value.cons_margin),
        cons_payable: toFixedFloat(value.cons_payable),
        support_promo_sup: toFixedFloat(value.support_promo_sup),
        tot_cons_pay_before_tax: toFixedFloat(value.tot_cons_pay_before_tax),
        pajak: value.pajak + '%',
        tot_cons_pay_after_tax: toFixedFloat(value.tot_cons_pay_after_tax),
      };
    });
    doc.html(document.getElementById('header-pdf'), {
      callback: function (doc) {
        // Save the PDF
        autoTable(doc, {
          columns: [
            {
              header: 'No',
              dataKey: 'no',
            },
            ...tableColumns,
          ],
          body: data,
          startY: 65,
          styles: {
            fontSize: 6,
          },
        });
        doc.setFontSize(9);
        const structure = [
          {
            title: 'Sub Total',
            content: items.length > 0 ? Price.sub_total : '0',
          },
          {
            title: 'Koreksi Harga Beli',
            content: items.length > 0 ? Price.purchasePriceCorrection : '0',
          },
          {
            title: 'Koreksi PPN',
            content: items.length > 0 ? Price.taxCorrection : '0',
          },
          {
            title: 'PPN',
            content: items.length > 0 ? Price.tax : '0',
          },
          {
            title: 'Pajak Barang Mewah',
            content: items.length > 0 ? Price.ppn_bm : '0',
          },
          {
            title: 'Total Harga',
            content: items.length > 0 ? Price.total : '0',
          },
        ];

        let startY = doc.lastAutoTable.finalY + 5;

        structure.forEach((value, index) => {
          doc.text(130, startY + index * 5, value.title);
          doc.text(165, startY + index * 5, ':');
          doc.text(167, startY + index * 5, value.content);
        });

        doc.html(document.getElementById('footer-pdf'), {
          callback: function (doc) {
            // Save the PDF
            doc.save(pdfName);
          },
          x: 5,
          y: startY + structure.length * 5,
          width: 200, //target width in the PDF document
          windowWidth: 1500, //window width in CSS pixels
        });
      },
      x: 5,
      y: 15,
      width: 200, //target width in the PDF document
      windowWidth: 1500, //window width in CSS pixels
    });
  }

  // async function handleRejectPfi() {
  //   const actionProps: PfiActionParams = {
  //     id: props.pfiId!,
  //     action: 'REJECTED',
  //   };

  //   const pfiRejectActionApiResult = await pfiActionApi(actionProps);
  //   createMessage.success(
  //     'Dokumen Proforma Invoice diBatalkan. Draft Proforma Invoice Response dibuat.',
  //   );
  //   router.push(`/proforma-invoice-response/detail/${pfiRejectActionApiResult.pfir_id}`);

  //   // POST
  // }
  // async function handleSendBackKPfi() {
  //   // const actionProps: PfiActionParams = {
  //   //   id: props.pfiId!,
  //   //   action: 'REJECTED',
  //   // };
  //   // const pfiSendBackActionApiResult = await pfiActionApi(actionProps);
  //   // createMessage.success(
  //   //   'Dokumen Proforma Invoice status disahkan',
  //   // );
  //   // router.push(`/proforma-invoice/detail/${pfiSendBackActionApiResult.pfir_id}`);
  // }

  // async function handleAcceptPfi() {
  //   const actionProps: PfiActionParams = {
  //     id: props.pfiId!,
  //     action: 'ACCEPTED',
  //   };

  //   const pfiAcceptionActionApiResult = await pfiActionApi(actionProps);
  //   createMessage.success('Dokumen Proforma Invoice diTerima. Draft Invoice dibuat.');
  //   router.push(`/invoice/detail/${pfiAcceptionActionApiResult.pfir_id}`); // POST
  // }
  const { refreshPage } = useTabs();
  function deleteTaxInv() {
    createConfirm({
      iconType: 'warning',
      content: 'Apakah anda yakin ingin menghapus Dokumen ini ?',
      async onOk() {
        await taxActionApi({ id: props.csinvId });

        createSuccessModal({
          title: 'Success',
          content: 'Dokumen Pendukung Invoice Telah Terhapus.',
          onOk() {
            refreshPage();
          },
        });
      },
    });
    // taxActionApi({ id: props.csinvId });
    // createMessage.success('Dokumen Pendukung Invoice Telah Terhapus.');
    // refreshPage();
  }
  function deleteInv() {
    createConfirm({
      iconType: 'warning',
      content: 'Apakah anda yakin ingin menghapus Dokumen ini ?',
      async onOk() {
        invActionApi({ id: props.csinvId });

        createSuccessModal({
          title: 'Success',
          content: 'Dokumen Pendukung Invoice Telah Terhapus.',
          onOk() {
            refreshPage();
          },
        });
      },
    });
  }
  // console.log($route.path);
  function deleteKwi() {
    createConfirm({
      iconType: 'warning',
      content: 'Apakah anda yakin ingin menghapus Dokumen ini ?',
      async onOk() {
        kwiActionApi({ id: props.csinvId });

        createSuccessModal({
          title: 'Success',
          content: 'Dokumen Pendukung Kwitansi Telah Terhapus.',
          onOk() {
            refreshPage();
          },
        });
      },
    });
  }
  function handleEditCancel() {
    console.log('cancel');
  }
  async function handleEditEnd({ record }: Recordable) {
    console.log(record);
    const actionProps: InvSaveItemDetailParams = {
      vat_correction: record.koreksi_ppn,
      ppn_bm: record.ppn_bm,
      ID: record.i_id,
    };
    const rarSaveActionApiResult = await cinvSaveItemDetailApi(actionProps);
    console.log('test', rarSaveActionApiResult);
    // refreshPage();
  }
</script>
<style scoped>
  .destination {
    font-size: 20px;
  }

  .info-title {
    font-size: 14px;
    font-weight: bold;
  }

  .button {
    float: right;
    display: block;
    margin-top: -45px;
    margin-right: 20px;
  }

  #total-price-box {
    padding: 8px;
    font-size: 16px;
    text-align: right;
    margin-bottom: 16px;
  }

  #total-price-amount {
    font-weight: bold;
  }

  #additional-info {
    white-space: pre-line;
    font-size: 14px;
    background-color: #ee2a33;
    color: white;
    border-radius: 20px;
    margin: 0px 10px 20px;
  }

  #tax {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  #tax td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  #tax span {
    color: red;
  }
  .button {
    float: right;
    display: block;
    margin-top: -45px;
    margin-right: 20px;
  }
</style>
