<template>
  <div>
    <CollapseContainer :title="'Receiving Advice Response CDT: ' + cdt" :canExpan="false">
      <div class="button">
        <a-button :type="'primary'" @click="jsonPrint">Lihat versi cetak</a-button>
        <a-button @click="handleAcceptRar" :type="'primary ml-2'" v-show="isAccepted">
          Terima
        </a-button>
        <a-button @click="handleRejectRar" :type="'primary ml-2'" v-show="isRejected">
          Tolak
        </a-button>
        <a-button @click="handleCancelRar" :type="'primary ml-2'" v-show="isCancel">
          Cancel RAR
        </a-button>
        <a-button @click="handleSendRar" :type="'primary ml-2'" v-show="isSend"> Kirim </a-button>
        <!-- <a-button @click="onClick" :type="'primary ml-2'" v-show="isDraft"> Ubah Dokumen </a-button> -->
        <DocumentDropdownButton :documents="documents2" />
      </div>
    </CollapseContainer>
    <div class="p-1" id="header-pdf">
      <div class="md:flex enter-y">
        <div class="ant-card ant-card-bordered ant-card-small md:w-1/2 w-full !md:mt-0 !md:mr-4">
          <div class="mx-4 mt-4 info-title"> Informasi Order </div>
          <Description
            size="small"
            :bordered="true"
            :column="1"
            :data="rarDetailInfoData.po"
            :schema="props.orderInfoSchema"
          />
          <div class="mx-4 mt-4 info-title"> Informasi RA </div>
          <Description
            size="small"
            :bordered="true"
            :column="1"
            :data="rarInfoData"
            :schema="rarInfoSchema"
          />
        </div>
        <div class="ant-card ant-card-bordered ant-card-small md:w-1/2 w-full !md:mt-0 !md:mr-4">
          <div class="mx-4 mt-4 info-title"> Informasi Supplier </div>
          <div class="mx-4 mb-2 destination"> {{ rarDetailInfoData.po.supplier_name }} </div>
          <Description
            size="small"
            :bordered="true"
            :column="2"
            :data="rarDetailInfoData.po"
            :schema="supplierSchema"
          />
          <div class="p-4 mb-4 font-bold"> Note: Confirmed Order </div>
          <div class="p-4 mb-4 font-bold">
            <Status :status="'DATA VMS DAN PROFIT TIDAK SAMA'" />
            <!-- VMS VS PROFIT  -->
          </div>
          <div class="p-4 mb-4 font-bold">
            <Status :status="'DATA VMS DAN PROFIT SUDAH SAMA'" />
            <!-- VMS VS PROFIT  -->
          </div>
        </div>
      </div>
    </div>

    <div class="p-1" style="background-color: white">
      <BasicTable
        @register="registerTable"
        class="main-table"
        @edit-end="handleEditEnd"
        @edit-cancel="handleEditCancel"
      >
        <template #bodyCell="{ column, record }">
          <template v-if="column.key === 'code'">
            <ItemCodeCell
              :itemCode="record.item_code"
              :sub="record.sub_code"
              :unit="record.unit_code"
            />
          </template>
          <template v-else-if="column.key === 'capacityAndBarcode'">
            {{ `${record.capacity} / ${record.barcode}` }}
          </template>
          <template v-else-if="column.key === 'itemName'">
            <ItemNameCell :itemName="record.item_name" :sub="record.sub_code_name" />
          </template>
          <template v-else-if="column.key === 'freeQty'">
            {{ toFixedFloat(record.free_qty_insku) }}
          </template>
          <template v-else-if="column.key === 'orderedQty'">
            {{ toFixedFloat(record.order_qty_insku) }}
          </template>
          <template v-else-if="column.key === 'is_revised'">
            {{ record.id }}
          </template>
          <template v-else-if="column.key === 'receivedQty'">
            {{ toFixedFloat(record.received_qty_edit) }}
          </template>
          <template v-else-if="column.key === 'revised'"> N </template>
          <template v-else-if="column.key === 'serviceLevel'">
            {{ toFixedFloat((record.received_qty / record.order_qty_insku) * 100) + ' %' }}
          </template>
          <template v-else-if="column.key === 'remarks'"> </template>
        </template>
      </BasicTable>
    </div>
  </div>
</template>
<script setup lang="ts">
  import { rarActionApi, rarInfoApi, rarDetailApi, rarRevertApi, rarSaveApi } from '/@/api/vms/rar';
  import { DescItem } from '/@/components/Description';
  import { BasicColumn, useTable, BasicTable } from '/@/components/Table';
  import { Description } from '/@/components/Description';
  import {
    ItemCodeCell,
    ItemNameCell,
    toDateFormat,
    toFixedFloat,
  } from '/@/views/components/DetailTemplates';
  import { Ref, ref } from 'vue';
  import { CollapseContainer } from '/@/components/Container/index';
  import { RarActionParams } from '/@/api/vms/model/rar/rarActionModel';
  import { RarRevertParams } from '/@/api/vms/model/rar/rarRevertModel';
  import { RarSaveParams } from '/@/api/vms/model/rar/rarSaveModel';

  import { PageWrapper } from '/@/components/Page';

  import { useUserStore } from '/@/store/modules/user';
  import { router } from '/@/router';
  import { useMessage } from '/@/hooks/web/useMessage';
  const { createMessage, createConfirm, createSuccessModal } = useMessage();
  import { useTabs } from '/@/hooks/web/useTabs';

  // import printJS from 'print-js';
  import jsPDF from 'jspdf';
  import autoTable from 'jspdf-autotable';
  import logo from '/@/assets/images/logo.png';
  import { documentListApi4 } from '/@/api/vms/Document';
  import { DocumentDropdownButton } from '/@/views/components/DetailTemplates';
  import { Status } from '/@/views/components/DetailTemplates';

  const props = defineProps({
    rarId: String,
    orderInfoSchema: { type: Array as PropType<DescItem[]> },
    rarInfoSchema: { type: Array as PropType<DescItem[]> },
    supplierSchema: { type: Array as PropType<DescItem[]> },
    // columns: { type: Array as PropType<BasicColumn[]> },
  });

  let show = false;

  const userStore = useUserStore();
  const roles = userStore.getUserInfo.roles;

  let userRoles: string[] = [];
  roles.forEach((role) => {
    userRoles.push(role.value);
  });
  const raItemListApiResult = await rarDetailApi(props.rarId!);
  console.log('rar detail ', raItemListApiResult);

  const rarDetailInfoApiResult = await rarInfoApi(props.rarId!);
  const rarDataResult = rarDetailInfoApiResult.items[0];
  rarDataResult.po.order_date = toDateFormat(rarDataResult.po.order_date);
  rarDataResult.receiving_advice_date = toDateFormat(rarDataResult.receiving_advice_date);
  //const rarDetailInfoRAR = rarDetailInfoApiResult;
  const RARStatus = rarDetailInfoApiResult.items[0].status;
  const RARRevisi = rarDetailInfoApiResult.items[0].revision_number;

  console.log('stat', RARStatus);
  console.log(rarDetailInfoApiResult.items[0].status);
  console.log('ljo', RARRevisi);

  const isEditable: boolean =
    (userRoles.includes('SUPPLIER') || userRoles.includes('Receiving Head Role')) &&
    ['DRAFT', 'SUPPLIER_DRAFT'].includes(RARStatus);
  const isAccepted: boolean = userRoles.includes('') && [''].includes(RARStatus) && RARRevisi >= 4;
  const isRejected: boolean = userRoles.includes('') && [''].includes(RARStatus);
  const isSend: boolean =
    (userRoles.includes('SUPPLIER') || userRoles.includes('Receiving Head Role')) &&
    ['DRAFT', 'SUPPLIER_DRAFT'].includes(RARStatus);
  const isCancel: boolean =
    (userRoles.includes('SUPPLIER') || userRoles.includes('Receiving Head Role')) &&
    ['DRAFT', 'SUPPLIER_DRAFT'].includes(RARStatus);
  const rarDetailInfoData = ref(rarDataResult);

  const rarInfoData = {
    number: rarDataResult.receiving_advice_number,
    date: rarDataResult.receiving_advice_date,
    revision: rarDataResult.revision_number,
  };

  var items: Recordable[] = raItemListApiResult.items;
  items = items.map((element) =>
    element.raipoi.length > 0
      ? {
          ...element,
          is_accepted: element.raipoi[0].is_revised || null,
          received_qty: element.raipoi[0].received_qty || null,
          remarks: element.raipoi[0].remarks || null,
          received_qty_edit: element.raipoi[0].received_qty || null,
          remarks_edit: element.raipoi[0].remarks || '-',
        }
      : {
          ...element,
          is_accepted: '',
          received_qty: 0.0,
          remarks: '',
          received_qty_edit: 0.0,
          remarks_edit: ' ',
        },
  );
  console.log(items);

  const itemsRef: Ref<Recordable[]> = ref(items);

  let print = [];
  for (let index = 0; index < items.length; index++) {
    const element = items[index];
    print.push({
      No: index + 1,
      'Kode Barang':
        element.item_code + ' Sub: ' + element.sub_code + ' Unit: ' + element.unit_code,
      'Kapasitas Barang': element.barcode + ' ' + element.capacity,
      'Nama Barang': element.item_name,
      Gratis: element.free_qty_insku,
      'Qty dipesan': element.order_qty_insku,
      'Qty Konten': '',
      Terima: element.is_accepted,
      'Qty diterima': element.received_qty_edit,
      Revised: 'N',
      'Service Level': '',
      Keterangan: element.remarks_edit,
    });
  }
  // var requestItems: any[] = [];

  const cdt = rarDataResult.po.id;

  // function checkQtyValidity(existing: number, edit: number): string | null {
  //   if (edit < 0) return 'Kuantitas tidak dapat kurang dari 0.';
  //   else if (existing == edit) return 'Kuantitas tidak berubah.';
  //   else if (existing < edit) return 'Kuantitas diterima melebihi yang dipesan.';
  //   else return null;
  // }

  // function checkRemarksValidity(remarks: string): string | null {
  //   if (!remarks.replace(/\s/g, '').length) return 'Keterangan tidak boleh kosong.';
  //   else return null;
  // }

  const columns: BasicColumn[] = [
    { title: 'Kode Barang', key: 'code', width: 80 },
    { title: 'Kapasitas/Barcode', dataIndex: 'capacity', width: 80 },
    { title: 'Nama Barang', dataIndex: 'item_name', width: 170 },
    { title: 'Gratis', dataIndex: 'free_qty_insku', width: 80 },
    { title: 'Qty dipesan', dataIndex: 'order_qty_insku', width: 80 },
    { title: 'Qty konten', dataIndex: 'raipoi.id', width: 80 },
    { title: 'Terima', dataIndex: 'is_revised', width: 80 },
    {
      title: 'Qty diterima',
      dataIndex: 'received_qty',
      width: 100,
      edit: isEditable,
      editRule: isEditable,
    },
    { title: 'Revised', key: 'revised', width: 80 },
    {
      title: 'Service level',
      key: 'serviceLevel',
      width: 80,
    },
    {
      title: 'Keterangan',
      dataIndex: 'remarks',
      width: 120,
      edit: isEditable,
      editRule: isEditable,
    },
  ];

  //const rarItemListApiResult = await rarDetailApi(props.rarId);
  //const test: Recordable[] = rarItemListApiResult.items;

  const [registerTable] = useTable({
    columns: columns,
    dataSource: itemsRef,
    bordered: true,
    tableSetting: { fullScreen: true },
    loading: false,
    pagination: false,
    canResize: true,
    scroll: { y: 300 },
    // highlight: (data) => {
    //   return !data.is_accepted;
    // },
    showSummary: true,
  });

  interface Document {
    docKey: string;
    reference: string;
    status: string;
    date: Date;
    accepted?: string;
  }
  const documentApiResult = await documentListApi4({ rar_id: props.rarId! });
  console.log(documentApiResult);

  let documents: Document[] = [
    {
      docKey: 'po',
      reference: documentApiResult.items[0].id,
      status: documentApiResult.items[0].po_status,
      date: documentApiResult.items[0].po_date,
    },
    {
      docKey: 'ra',
      reference: documentApiResult.items[0].ra_id,
      status: documentApiResult.items[0].ra_status,
      date: documentApiResult.items[0].ra_date,
    },
    {
      docKey: 'rar',
      reference: documentApiResult.items[0].rar_id,
      status: documentApiResult.items[0].rar_status,
      date: documentApiResult.items[0].rar_date,
    },
    {
      docKey: 'pfi',
      reference: documentApiResult.items[0].pfi_id,
      status: documentApiResult.items[0].pfi_status,
      date: documentApiResult.items[0].pfi_date,
    },
    {
      docKey: 'pfir',
      reference: documentApiResult.items[0].pfir_id,
      status: documentApiResult.items[0].pfir_status,
      date: documentApiResult.items[0].pfir_date,
      // accepted: '',
    },
    {
      docKey: 'inv',
      reference: documentApiResult.items[0].i_id,
      status: documentApiResult.items[0].i_status,
      date: documentApiResult.items[0].i_date,
      // accepted: '',
    },
  ];

  let documents2: Document[] = [];
  if (documentApiResult.items[0].id != null) {
    documents2.push(documents[0]);
  }
  if (documentApiResult.items[0].ra_id != null) {
    documents2.push(documents[1]);
  }
  if (
    documentApiResult.items[0].rar_id != null &&
    documentApiResult.items[0].rar_status != 'CANCELLED'
  ) {
    documents2.push(documents[2]);
  }
  if (documentApiResult.items[0].pfi_id != null) {
    documents2.push(documents[3]);
  }
  // for (let index = 0; index < document2ApiResult.items.length; index++) {
  //   if(document2ApiResult.items[index].pfir_id!=null){
  //     documents[4].reference = document2ApiResult.items[index].pfir_id,
  //     documents[4].status = document2ApiResult.items[index].pfir_status,
  //     documents[4].date = document2ApiResult.items[index].pfir_date,
  //     documents2.push(documents[4]);
  //   }
  // }

  if (
    documentApiResult.items[0].pfir_id != null &&
    documentApiResult.items[0].pfir_status != 'CANCELLED'
  ) {
    documents2.push(documents[4]);
  }

  if (documentApiResult.items[0].i_id != null) {
    documents2.push(documents[5]);
  }

  function jsonPrint() {
    let pdfName = `Receiving Advice Response - ${rarDetailInfoData._rawValue.po.supplier_name}.pdf`;
    var doc = new jsPDF('p', null, 'a4');
    doc.setFontSize(9);
    let image = new Image();
    image.src = logo;
    doc.addImage(image, 'png', 5, 5, 77, 9);
    doc.text(105, 10, 'Receiving Advice Response');
    const tableColumns = columns.map((value) => {
      return {
        header: value.title,
        dataKey: value.key || value.dataIndex,
      };
    });
    console.log(tableColumns);
    console.log(items);
    let data = items.map((value, index) => {
      return {
        no: index + 1,
        code: value.item_code + '\nSub: ' + value.sub_code + '\nUnit: ' + value.unit_code,
        capacity: value.capacity + ' / ' + value.barcode,
        item_name: value.item_name,
        free_qty_insku: value.free_qty_insku,
        order_qty_insku: value.order_qty_insku,
        contentQty: '',
        is_revised: value.is_accepted,
        received_qty: value.received_qty_edit,
        revised: 'N',
        serviceLevel: `${toFixedFloat((value.received_qty / value.order_qty_insku) * 100)}%`,
        remarks: value.remarks_edit,
      };
    });
    doc.html(document.getElementById('header-pdf'), {
      callback: function (doc) {
        // Save the PDF
        autoTable(doc, {
          columns: [
            {
              header: 'No',
              dataKey: 'no',
            },
            ...tableColumns,
          ],
          body: data,
          startY: 58,
          styles: {
            fontSize: 6,
          },
        });
        doc.save(pdfName);
      },
      x: 5,
      y: 15,
      width: 200, //target width in the PDF document
      windowWidth: 1500, //window width in CSS pixels
    });
  }

  // function handleAcceptColumn(record: Recordable, index: number) {
  //   record.is_accepted = !record.is_accepted;
  //   items[index].is_accepted = !items[index].is_accepted;
  // }

  // async function handleSubmitResponse() {
  //   console.log(items);
  //   var isFormValid = true;
  //   var requestItems: any[] = [];
  //   var requestItem;

  //   for (let item of items) {
  //     if (!item.is_accepted) {
  //       requestItem = {
  //         line_no: item.line_no,
  //         received_qty: item.received_qty_edit ? item.received_qty_edit : 0.0,
  //         remarks: item.remarks_edit,
  //       };
  //       console.log(checkQtyValidity(item.received_qty, item.received_qty_edit) != null);
  //       console.log(checkRemarksValidity(item.remarks_edit) != null);
  //       if (
  //         checkQtyValidity(item.received_qty, item.received_qty_edit) != null ||
  //         checkRemarksValidity(item.remarks_edit) != null
  //       ) {
  //         // createmessage/popup
  //         isFormValid = false;
  //         console.log('failed');
  //         break;
  //       }

  //       requestItems.push(requestItem);
  //     }
  //   }
  //   if (requestItems.length == 0) console.log('Gagal Kirim. Tidak ada perubahan RAR.');
  //   else if (isFormValid) {
  //     console.log(requestItems);
  //   } else console.log('Gagal Kirim. RAR tidak valid.');
  // }

  const { refreshPage } = useTabs();

  async function handleRejectRar() {
    const actionProps: RarActionParams = {
      id: props.rarId!,
      action: 'REJECT',
    };

    createConfirm({
      iconType: 'warning',
      content: 'Apakah anda yakin ingin menolak Receiving Advice Response ini ?',
      async onOk() {
        const rarRejectActionApiResult = await rarActionApi(actionProps);

        createSuccessModal({
          title: 'Success',
          content:
            'Dokumen Receiving Advice Response ditolak. Draft Receiving Advice Response dibuat.',
          onOk() {
            router.push(`/receiving-advice-response/detail/${rarRejectActionApiResult.rar_id}`);
            refreshPage();
          },
        });
      },
    });
  }

  async function handleAcceptRar() {
    const actionProps: RarActionParams = {
      id: props.rarId!,
      action: 'ACCEPT',
    };

    createConfirm({
      iconType: 'warning',
      content: 'Apakah anda yakin ingin menerima Receiving Advice Response ini ?',
      async onOk() {
        const rarAcceptionActionApiResult = await rarActionApi(actionProps);

        createSuccessModal({
          title: 'Success',
          content: 'Dokumen Receiving Advice Response diTerima. Draft Proforma Invoice dibuat.',
          onOk() {
            router.push(`/proforma-invoice/detail/${rarAcceptionActionApiResult.pfi_id}`); // POST
            refreshPage();
          },
        });
      },
    });
  }

  async function handleCancelRar() {
    const actionProps: RarRevertParams = {
      id: props.rarId!,
      action: 'CANCEL',
    };

    createConfirm({
      iconType: 'warning',
      content: 'Apakah anda yakin ingin membatalkan Receiving Advice Response ini ?',
      async onOk() {
        const rarRevertActionApiResult = await rarRevertApi(actionProps);

        createSuccessModal({
          title: 'Success',
          content: 'Dokumen Receiving Advice Response status dibatalkan.',
          onOk() {
            router.push(`/receiving-advice/detail/${rarRevertActionApiResult.ra_id}`);
            refreshPage();
          },
        });
      },
    });
  }

  async function handleSendRar() {
    const actionProps: RarRevertParams = {
      id: props.rarId!,
      action: 'SEND',
    };

    createConfirm({
      iconType: 'warning',
      content: 'Apakah anda yakin ingin mengirim Receiving Advice Response ini ?',
      async onOk() {
        const rarRevertActionApiResult = await rarRevertApi(actionProps);

        createSuccessModal({
          title: 'Success',
          content: 'Dokumen Receiving Advice Response status dikirimkan.',
          onOk() {
            router.push(`/receiving-advice/detail/${rarRevertActionApiResult.ra_id}`);
            refreshPage();
          },
        });
      },
    });
  }

  function onClick() {
    show != true ? (show = true) : (show = false);
  }

  function handleEditCancel() {
    console.log('cancel');
  }

  async function handleEditEnd({ record }: Recordable) {
    const actionProps: RarSaveParams = {
      IS_ACCEPTED: record.is_accepted,
      RECEIVED_QTY: record.received_qty,
      REMARKS: record.remarks,
      ID: record.raipoi[0].id,
    };
    const rarSaveActionApiResult = await rarSaveApi(actionProps);
    console.log('test', rarSaveActionApiResult);
  }
</script>

<style scoped>
  .button {
    float: right;
    display: block;
    margin-top: -45px;
    margin-right: 20px;
  }
  .destination {
    font-size: 20px;
  }
  .button {
    float: right;
    display: block;
    margin-top: -45px;
    margin-right: 20px;
  }
  .info-title {
    font-size: 14px;
    font-weight: bold;
  }
</style>
