<template>
  <div>
    <CollapseContainer :title="'Receiving Advice Response CDT: ' + cdt" :canExpan="false">
      <a-button @click="handlePrint" :type="'primary'">Lihat versi cetak</a-button>
      <!-- <DocumentDropdownButton :documents="documents" :cdt="otherRaData.cdt" /> -->
    </CollapseContainer>
    <div class="p-1">
      <div class="md:flex enter-y">
        <div class="ant-card ant-card-bordered ant-card-small md:w-1/2 w-full !md:mt-0 !md:mr-4">
          <div class="mx-4 mt-4 info-title"> Informasi Order </div>
          <Description
            size="small"
            :bordered="true"
            :column="1"
            :data="rarDetailInfoData.po"
            :schema="props.orderInfoSchema"
          />
          <div class="mx-4 mt-4 info-title"> Informasi RA </div>
          <Description
            size="small"
            :bordered="true"
            :column="1"
            :data="rarInfoData"
            :schema="rarInfoSchema"
          />
        </div>
        <div class="ant-card ant-card-bordered ant-card-small md:w-1/2 w-full !md:mt-0 !md:mr-4">
          <div class="mx-4 mt-4 info-title"> Informasi Supplier </div>
          <div class="mx-4 mb-2 destination"> {{ rarDetailInfoData.po.supplier_name }} </div>
          <Description
            size="small"
            :bordered="true"
            :column="2"
            :data="rarDetailInfoData.po"
            :schema="supplierSchema"
          />
          <div class="p-4 mb-4 font-bold"> Note: Confirmed Order </div>
        </div>
      </div>
    </div>

    <div class="p-1" style="background-color: white">
      <BasicTable @register="registerTable" class="main-table">
        <template #bodyCell="{ column, record }">
          <template v-if="column.key === 'code'">
            <ItemCodeCell
              :itemCode="record.item_code"
              :sub="record.sub_code"
              :unit="record.unit_code"
            />
          </template>
          <template v-else-if="column.key === 'capacityAndBarcode'">
            {{ `${record.capacity} / ${record.barcode}` }}
          </template>
          <template v-else-if="column.key === 'itemName'">
            <ItemNameCell :itemName="record.item_name" :sub="record.sub_code_name" />
          </template>
          <template v-else-if="column.key === 'freeQty'">
            {{ toFixedFloat(record.free_qty_insku) }}
          </template>
          <template v-else-if="column.key === 'orderedQty'">
            {{ toFixedFloat(record.order_qty_insku) }}
          </template>
          <template v-else-if="column.key === 'is_accepted'">
            <!-- <span v-if="record.isAccepted">Y</span>
            <span v-else-if="!record.isAccepted"><strong>N</strong></span>
            <span v-else-if="null"></span> -->
            {{ record.raipoi.length > 0 ? record.raipoi[0].is_revised : '' }}
          </template>
          <template v-else-if="column.key === 'receivedQty'">
            {{ record.raipoi.length > 0 ? toFixedFloat(record.raipoi[0].received_qty) : '' }}
          </template>
          <template v-else-if="column.key === 'revised'"> N </template>
          <template v-else-if="column.key === 'serviceLevel'">
            {{
              record.raipoi.length > 0
                ? toFixedFloat((record.raipoi[0].received_qty / record.order_qty_insku) * 100) + '%'
                : ''
            }}
            <!-- [serviceLevel] -->
          </template>
          <template v-else-if="column.key === 'description'">
            <!-- {{ toFixedFloat(record.serviceLevel) }}% -->
            {{ record.raipoi.length > 0 ? record.raipoi[0].remarks : '' }}
          </template>
        </template>
      </BasicTable>
    </div>
  </div>
</template>
<script setup lang="ts">
  import { rarInfoApi, rarDetailApi } from '/@/api/vms/rar';
  import { DescItem } from '/@/components/Description';
  import { BasicColumn, useTable, BasicTable } from '/@/components/Table';
  import { Description } from '/@/components/Description';
  import {
    ItemCodeCell,
    ItemNameCell,
    toDateFormat,
    toFixedFloat,
  } from '/@/views/components/DetailTemplates';
  import { Ref, ref } from 'vue';
  import { CollapseContainer } from '/@/components/Container/index';
  // import { useUserStore } from '/@/store/modules/user';
  // import { RaActionParams } from '/@/api/vms/model/ra/raActionModel';
  // import { router } from '/@/router';
  // import { useMessage } from '/@/hooks/web/useMessage';

  const props = defineProps({
    rarId: String,
    orderInfoSchema: { type: Array as PropType<DescItem[]> },
    rarInfoSchema: { type: Array as PropType<DescItem[]> },
    supplierSchema: { type: Array as PropType<DescItem[]> },
    columns: { type: Array as PropType<BasicColumn[]> },
  });

  const rarDetailInfoApiResult = await rarInfoApi(props.rarId!);
  const rarDataResult = rarDetailInfoApiResult.items[0];
  rarDataResult.po.order_date = toDateFormat(rarDataResult.po.order_date);
  rarDataResult.receiving_advice_date = toDateFormat(rarDataResult.receiving_advice_date);

  const rarDetailInfoData = ref(rarDataResult);
  // rarDetailInfoData.po.recipient_code = rarDetailInfoData.receiving_advice_number;

  const rarInfoData = {
    number: rarDataResult.receiving_advice_number,
    date: rarDataResult.receiving_advice_date,
    revision: rarDataResult.revision_number,
  };

  console.log('rarDetailInfoData');
  console.log(rarDetailInfoData);

  const raItemListApiResult = await rarDetailApi(props.rarId!);
  console.log(raItemListApiResult);
  const items: Ref<Recordable[]> = ref(raItemListApiResult.POI);
  console.log('items');

  console.log(items);
  // console.log(userStore.getUserInfo);
  // console.log(roles);

  const cdt = rarDataResult.po.id;

  const [registerTable] = useTable({
    title: 'Tabel Item',
    columns: props.columns,
    dataSource: items,
    bordered: true,
    tableSetting: { fullScreen: true },
    loading: false,
    pagination: false,
    canResize: true,
    scroll: { y: 300 },
    // showSummary: true,
  });

  function handlePrint(record: Recordable) {
    console.log('klik untuk melihat detail', record);
  }
</script>

<style scoped>
  .destination {
    font-size: 20px;
  }

  .info-title {
    font-size: 14px;
    font-weight: bold;
  }
</style>
