<template>
  <CollapseContainer
    :title="''"
    :canExpan="false"
  >
  <div class="button">
    <a-button @click="jsonPrint" :type="'primary'" class="ml-2 btn">Lihat versi cetak</a-button>
    <a-button @click="openModal" :type="'secondary ml-2'"> Export To Excel </a-button>
  </div>
  </CollapseContainer>
  <div class="p-1">
    <div class="md:flex enter-y">
      <div class="ant-card ant-card-bordered ant-card-small md:w-1/2 w-full !md:mt-0 !md:mr-4">
        <div class="mx-4 mt-4 info-title"> Nama Pengirim </div>
        <div class="mx-4 mb-2 destination"> {{ prdDetailInfoData.atas_nama_pengirim }} </div>
        <Description
          size="small"
          :bordered="true"
          :column="1"
          :data="prdDetailInfoData"
          :schema="pengirimSchema"
        />
      </div>
      <div class="ant-card ant-card-bordered ant-card-small md:w-1/2 w-full !md:mt-0 !md:mr-4">
        <div class="mx-4 mt-4 info-title"> Nama Penerima </div>
        <div class="mx-4 mb-2 destination"> {{ prdDetailInfoData.atas_nama_penerima }} </div>
        <Description
          size="small"
          :bordered="true"
          :column="1"
          :data="prdDetailInfoData"
          :schema="penerimaSchema"
        />
      </div>
    </div>
  </div>
  <div class="p-1" style="background-color: white">
    <BasicTable @register="registerTable" class="main-table">
      <template #bodyCell="{ column, record }">
        <template v-if="column.key === 'business_unit'"> {{ record.business_unit }} </template>
        <template v-if="column.key === 'invoice'"> {{ record.invoice }} </template>
        <template v-if="column.key === 'nomor_order'"> {{ record.nomor_order }} </template>
        <template v-if="column.key === 'store'"> {{ record.store }} </template>
        <template v-if="column.key === 'jatuh_tempo'"> {{ record.jatuh_tempo }} </template>
        <template v-if="column.key === 'harga'"> {{ toFixedFloat(record.harga) }} </template>
      </template>
    </BasicTable>
    <ExpExcelModal @register="register" @success="defaultHeader" />
    <div class="md:flex enter-y" id="total-price-box">
      <div class="md:w-4/5 w-full !md:mt-0 !md:mr-4"> Total Harga: </div>
      <div class="md:w-1/5 w-full !md:mt-0 !md:mr-4" id="total-price-amount">
        Rp.{{ toFixedFloat(total) }}</div
      >
    </div>
  </div>
</template>
<script setup lang="ts">
  import { prdInfoApi, prdDetailApi } from '/@/api/vms/paymentreferencedetail';
  import { DescItem, Description } from '/@/components/Description';
  import { BasicColumn, useTable, BasicTable } from '/@/components/Table';
  import { toFixedFloat } from '/@/views/components/DetailTemplates';
  import printJS from 'print-js';
  import { useModal } from '/@/components/Modal';
  import { jsonToSheetXlsx, ExpExcelModal, ExportModalResult } from '/@/components/Excel';
  import { CollapseContainer } from '/@/components/Container/index';

  const props = defineProps({
    prdId: String,
  });
  const prdDetailInfoApiResult = await prdInfoApi({ id: props.prdId! });
  const prdDetailInfoData = prdDetailInfoApiResult.items[0];
  const prdDetailInfoApiResultt = await prdDetailApi({
    id: props.prdId!,
  });
  const items: Recordable[] = prdDetailInfoApiResultt.items;

  let print = [];
  for (let index = 0; index < items.length; index++) {
    const element = items[index];
    print.push({
      No: index + 1,
      'Business Unit': element.business_unit,
      Invoice: element.invoice,
      'Nomor Order': element.nomor_order,
      Toko: element.store,
      'Jatuh Tempo': element.jatuh_tempo,
      Harga: element.harga,
    });
  }

  let data = [];
  for (let index = 0; index < items.length; index++) {
    const element = items[index];
    data.push({
      No: index + 1,
      'Business Unit': element.business_unit,
      Invoice: element.invoice,
      'Nomor Order': element.nomor_order,
      Toko: element.store,
      'Jatuh Tempo': element.jatuh_tempo,
      Harga: element.harga,
    });
  }

  let total = 0;
  items.forEach((element) => {
    let tot = element.harga;
    total += parseFloat(tot);
  });

  const pengirimSchema: DescItem[] = [
    { field: 'atas_nama_pengirim', label: 'Atas Nama' },
    { field: 'nomor_rekening_pengirim', label: 'Nomor Rekening' },
    { field: 'nama_bank_pengirim', label: 'Nama Bank' },
    { field: 'alamat_pengirim', label: 'Alamat' },
    { field: 'cabang_pengirim', label: 'Cabang' },
    { field: 'payment_reference', label: 'Payment Reference' },
    { field: 'tanggal_pembayaran', label: 'Tanggal Pembayaran' },
  ];

  const penerimaSchema: DescItem[] = [
    { field: 'atas_nama_penerima', label: 'Atas Nama' },
    { field: 'nomor_rekening_penerima', label: 'Nomor Rekening' },
    { field: 'nama_bank_penerima', label: 'Nama Bank' },
    { field: 'alamat_penerima', label: 'Alamat' },
    { field: 'cabang_penerima', label: 'Cabang' },
  ];

  const columns: BasicColumn[] = [
    { title: 'Business Unit', key: 'business_unit', width: 150 },
    { title: 'Invoice', key: 'invoice', width: 150 },
    { title: 'Nomor Order', key: 'nomor_order', width: 240 },
    { title: 'Toko', key: 'store', width: 120 },
    { title: 'Jatuh Tempo', key: 'jatuh_tempo', width: 80 },
    { title: 'Harga', key: 'harga', width: 80 },
  ];

  function defaultHeader({ filename, bookType }: ExportModalResult) {
    jsonToSheetXlsx({
      data,
      filename,
      write2excelOpts: {
        bookType,
      },
    });
  }

  const [register, { openModal }] = useModal();

  const [registerTable] = useTable({
    //title: 'Tabel Item',
    dataSource: items,
    columns: columns,
    bordered: true,
    tableSetting: { fullScreen: true },
    loading: false,
    pagination: false,
    canResize: true,
    scroll: { y: 300 },
    // showSummary: true,
  });

  function jsonPrint() {
    printJS({
      printable: print,
      properties: ['No', 'Business Unit', 'Invoice', 'Nomor Order', 'Toko', 'Jatuh Tempo', 'Harga'],
      type: 'json',
    });
  }
</script>

<style scoped>
  .destination {
    font-size: 20px;
  }

  .info-title {
    font-size: 14px;
    font-weight: bold;
  }

  #total-price-box {
    padding: 8px;
    font-size: 16px;
    text-align: right;
    margin-bottom: 16px;
  }

  #total-price-amount {
    font-weight: bold;
  }

  #additional-info {
    white-space: pre-line;
    font-size: 14px;
    background-color: #ee2a33;
    color: white;
    border-radius: 20px;
    margin: 0px 10px 20px;
  }
  .button {
    float: right;
    display: block;
    margin-top: -45px;
    margin-right: 20px;
  }
</style>
