<template>
  <CollapseContainer :title="'RETURN REQUEST RESPONSE'" :canExpan="false">
    <div class="button">
      <a-button @click="jsonPrint" :type="'primary'" class="ml-2 btn">Lihat versi cetak</a-button>
      <a-button @click="kirim" :type="'primary'" class="ml-2 btn" v-show="isSend">Kirim</a-button>
    </div>
  </CollapseContainer>
  <div id="header-pdf" class="p-1">
    <div class="md:flex enter-y">
      <div class="ant-card ant-card-bordered ant-card-small md:w-1/2 w-full !md:mt-0 !md:mr-4">
        <div class="mx-4 mt-4 info-title"> Return Information </div>
        <Description
          size="small"
          :bordered="true"
          :column="1"
          :data="infos"
          :schema="orderInfoSchema"
        />
      </div>
      <div class="ant-card ant-card-bordered ant-card-small md:w-1/2 w-full !md:mt-0 !md:mr-4">
        <div class="mx-4 mt-4 info-title"> Informasi Supplier </div>
        <div class="mx-4 mb-2 destination"> {{ infos?.supplier_name }} </div>
        <Description
          size="small"
          :bordered="true"
          :column="2"
          :data="infos"
          :schema="supplierSchema"
        />
      </div>
    </div>
  </div>

  <div class="p-1" style="background-color: white">
    <BasicTable
      @register="registerTable"
      class="main-table"
      @edit-end="handleEditEnd"
      @edit-cancel="handleEditCancel"
    >
      <template #bodyCell="{ column, record }">
        <template v-if="column.key === 'code'">
          <ItemCodeCell
            :itemCode="record.item_code"
            :sub="record.sub_code"
            :unit="record.unit_code"
          />
        </template>
        <template v-else-if="column.key === 'itemName'">
          <ItemNameCell :itemName="record.item_name" :sub="record.item_name" />
        </template>
        <template v-else-if="column.key === 'orderQuantity'">
          <QtyOrderCell
            :qtyOrder="record.order_qty_in_pack"
            :qtyNormal="record.purchase_price_type"
            :qtyFree="record.free_qty_insku"
          />
        </template>
        <template v-else-if="column.key === 'capacityAndBarcode'">
          {{ record.capacity }} / {{ record.barcode }}
        </template>
        <template v-else-if="column.key === 'remarks'">
          {{ record.raipoi[0]?.raipfii[0]?.remarks }}
        </template>
        <template v-else-if="column.key === 'reconciled'">
          {{ record.raipoi[0] ? toFixedFloat(record.raipoi[0]?.raipfii[0]?.reconciled) : '' }}
        </template>
        <template v-else-if="column.key === 'totalQty'">
          {{ record.raipoi[0] ? toFixedFloat(record.raipoi[0]?.received_qty) : 1 }}
        </template>
        <template v-else-if="column.key === 'Unitprice'">
          {{ toFixedFloat(record.unit_price) }}
        </template>
      </template>
    </BasicTable>
    <div class="md:flex enter-y" id="total-price-box">
      <div class="md:w-4/5 w-full !md:mt-0 !md:mr-4"> Total Harga: </div>
      <div class="md:w-1/5 w-full !md:mt-0 !md:mr-4" id="total-price-amount">
        Rp.{{ toFixedFloat(total) }}</div
      >
    </div>
  </div>
</template>
<script setup lang="ts">
  import { DescItem, Description } from '/@/components/Description';
  import { BasicColumn, useTable, BasicTable } from '/@/components/Table';
  import {
    ItemCodeCell,
    ItemNameCell,
    QtyOrderCell,
    toDateFormat,
    toFixedFloat,
  } from '/@/views/components/DetailTemplates';
  import { Ref, defineProps, ref } from 'vue';
  import { CollapseContainer } from '/@/components/Container/index';
  import { useUserStore } from '/@/store/modules/user';
  import {
    rrrInfoListApi,
    rrrDetailListApi,
    rrrSaveApi,
    rrrKirimApi,
  } from '/@/api/vms/returnRequestResponse';
  import jsPDF from 'jspdf';
  import autoTable from 'jspdf-autotable';
  import logo from '/@/assets/images/logo.png';
  import { checkboxProps } from 'ant-design-vue/lib/checkbox';
  import CheckboxPrompt from 'inquirer/lib/prompts/checkbox';
  import { Checkbox } from '/@/components/VxeTable';
  import { RrrSaveParams } from '/@/api/vms/model/rrr/rrrSaveModel';
  import { RrrKirimParams } from '/@/api/vms/model/rrr/rrrKirimModel';
  import { useMessage } from '/@/hooks/web/useMessage';
  import { router } from '/@/router';

  const props = defineProps({
    rrrId: String,
  });

  const userStore = useUserStore();
  const roles = userStore.getUserInfo.roles;
  let userRoles: string[] = [];
  roles.forEach((role) => {
    userRoles.push(role.value);
  });

  const pfirItemListApiResult = await rrrDetailListApi(props.rrrId);
  const items: Recordable[] = pfirItemListApiResult.items;

  // var items: Recordable[] = pfirItemListApiResult.items;
  // items = items.map((element) =>
  //   element.id.length > 0
  //     ? {
  //         ...element,
  //         is_accepted: element.id[0].is_revised || null,
  //         received_qty: element.raipoi[0].received_qty || null,
  //         remarks: element.raipoi[0].remarks || null,
  //         received_qty_edit: element.raipoi[0].received_qty || null,
  //         remarks_edit: element.raipoi[0].remarks || '-',
  //       }
  //     : {
  //         ...element,
  //         is_accepted: '',
  //         received_qty: 0.0,
  //         remarks: '',
  //         received_qty_edit: 0.0,
  //         remarks_edit: ' ',
  //       },
  // );
  // console.log(items);

  // const itemsRef: Ref<Recordable[]> = ref(items);

  const pfirDetailInfoApiResult = await rrrInfoListApi(props.rrrId);
  const info: Recordable[] = pfirDetailInfoApiResult.items;
  const infos = info[0];

  const RARStatus = pfirDetailInfoApiResult.items[0].status;
  console.log('stat', RARStatus);

  const isDraft: boolean =
    // userRoles.includes('Admin IT Role') && ['NEW','DRAFT', 'SUPPLIER_DRAFT'].includes(RARStatus)||
    userRoles.includes('Central Returns') && ['NEW', 'AWATING_ACTION'].includes(RARStatus);
  const isSend: boolean =
    // userRoles.includes('Admin IT Role') && ['NEW'].includes(RARStatus)||
    userRoles.includes('Central Returns') && ['NEW', 'AWATING_ACTION'].includes(RARStatus);

  let total = 0;
  items.forEach((element) => {
    total += element.harga_unit ? parseFloat(element.harga_unit) : 1;
  });
  let data = [];

  for (let index = 0; index < items.length; index++) {
    const element = items[index];
    data.push({
      // eslint-disable-next-line prettier/prettier
      no: element.no,
      // eslint-disable-next-line prettier/prettier
      rrir_id: element.rrir_id,
      // eslint-disable-next-line prettier/prettier
      item_code: element.item_code,
      // eslint-disable-next-line prettier/prettier
      nama_barang: element.nama_barang,
      // eslint-disable-next-line prettier/prettier
      barcode: element.barcode,
      // eslint-disable-next-line prettier/prettier
      qty_dikembalikan: toFixedFloat(element.qty_dikembalikan),
      // eslint-disable-next-line prettier/prettier
      harga_unit: element.harga_unit ? toFixedFloat(element.harga_unit) : '',
      // eslint-disable-next-line prettier/prettier
      nilai_pengembalian: toFixedFloat(element.nilai_pengembalian),
      // eslint-disable-next-line prettier/prettier
      keterangan: element.keterangan,
      // eslint-disable-next-line prettier/prettier
      terima: element.terima,
      // eslint-disable-next-line prettier/prettier
      keterangan1: element.keterangan1,
    });
  }

  let print = [];
  for (let index = 0; index < items.length; index++) {
    const element = items[index];
    print.push({
      // eslint-disable-next-line prettier/prettier
      no: element.no,
      // eslint-disable-next-line prettier/prettier
      item_code: element.item_code,
      // eslint-disable-next-line prettier/prettier
      nama_barang: element.nama_barang,
      // eslint-disable-next-line prettier/prettier
      barcode: element.barcode,
      // eslint-disable-next-line prettier/prettier
      qty_dikembalikan: toFixedFloat(element.qty_dikembalikan),
      // eslint-disable-next-line prettier/prettier
      harga_unit: element.harga_unit ? toFixedFloat(element.harga_unit) : '',
      // eslint-disable-next-line prettier/prettier
      nilai_pengembalian: toFixedFloat(element.nilai_pengembalian),
      // eslint-disable-next-line prettier/prettier
      keterangan: element.keterangan,
      // eslint-disable-next-line prettier/prettier
      terima: element.terima,
      // eslint-disable-next-line prettier/prettier
      keterangan1: element.keterangan1,
    });
  }

  const orderInfoSchema: DescItem[] = [
    { field: 'return_request_number', label: 'Return Request Number' },
    { field: 'rtn_request_date', label: 'Return Request Date' },
    { field: 'departemen', label: 'Department' },
    { field: 'store', label: 'Toko' },
    { field: 'pick_up_location', label: 'Pick Up Location' },
  ];

  const supplierSchema: DescItem[] = [
    { field: 'supplier_code', label: 'Kode Supplier' },
    { field: 'supplier_name', label: 'Nama Supplier' },
    { field: 'supplier_phone', label: 'Telepon' },
    { field: 'supplier_fax', label: 'Fax' },
  ];

  const columns: BasicColumn[] = [
    { title: 'Item Code', dataIndex: 'item_code', width: 150 },
    { title: 'Nama Barang', dataIndex: 'nama_barang', width: 240 },
    { title: 'Barcode', dataIndex: 'barcode', width: 150 },
    { title: 'Qty Dikembalikan', dataIndex: 'qty_dikembalikan', width: 80 },
    { title: 'Harga Unit', dataIndex: 'harga_unit', width: 80 },
    { title: 'Nilai Pengembalian', dataIndex: 'nilai_pengembalian', width: 80 },
    { title: 'keterangan', dataIndex: 'keterangan', width: 100 },
    {
      title: 'Terima',
      dataIndex: 'terima',
      width: 100,
      edit: isDraft,
      editRule: isDraft,
      // editComponent: "Checkbox",
      // editValueMap
    },
    { title: 'keterangan', dataIndex: 'keterangan1', width: 100 },
  ];

  const [registerTable] = useTable({
    title: 'Tabel Item',
    dataSource: data,
    columns: columns,
    bordered: true,
    tableSetting: { fullScreen: true },
    loading: false,
    pagination: false,
    canResize: true,
    scroll: { y: 300 },
    // showSummary: true,
  });

  function handleEditCancel() {
    console.log('cancel');
  }
  async function handleEditEnd({ record }: Recordable) {
    console.log(record);
    const actionProps: RrrSaveParams = {
      terima: record.terima,
      rrir_id: record.rrir_id,
    };
    const rrrSaveActionApiResult = await rrrSaveApi(actionProps);
    console.log('test', rrrSaveActionApiResult);
  }
  const { createMessage, createConfirm, createSuccessModal } = useMessage();

  async function kirim() {
    const actionProps: RrrKirimParams = {
      id: props.rrrId!,
    };

    createConfirm({
      iconType: 'warning',
      content: 'Apakah anda yakin ingin mengirim Retur Request ini ?',
      async onOk() {
        const rrrKirimApiResult = await rrrKirimApi(actionProps);

        createSuccessModal({
          title: 'Success',
          content: 'Dokumen Retur Request Response dikirim.',
          onOk() {
            router.push(`/retur/request-response`);
            // router.push(`/retur/request-response/detail/${props.rrrId}`);
          },
        });
      },
    });
  }
  function jsonPrint() {
    let pdfName = `Return Request Response - ${infos.supplier_name}.pdf`;
    var doc = new jsPDF('p', null, 'a4');
    doc.setFontSize(9);
    let image = new Image();
    image.src = logo;
    doc.addImage(image, 'png', 5, 5, 77, 9);
    doc.text(105, 10, 'Return Request Response');
    const tableColumns = columns.map((value) => {
      return {
        header: value.title,
        dataKey: value.dataIndex,
      };
    });
    doc.html(document.getElementById('header-pdf'), {
      callback: function (doc) {
        // Save the PDF
        autoTable(doc, {
          columns: [
            {
              header: 'No',
              dataKey: 'no',
            },
            ...tableColumns,
          ],
          body: data,
          startY: 43,
          styles: {
            fontSize: 6,
          },
        });
        doc.setFontSize(9);
        doc.text(115, doc.lastAutoTable.finalY + 3, `Total harga: Rp.${toFixedFloat(total)}`);
        doc.save(pdfName);
      },
      x: 5,
      y: 15,
      width: 200, //target width in the PDF document
      windowWidth: 1500, //window width in CSS pixels
    });
  }
</script>
<style scoped>
  .destination {
    font-size: 20px;
  }

  .info-title {
    font-size: 14px;
    font-weight: bold;
  }

  #total-price-box {
    padding: 8px;
    font-size: 16px;
    text-align: right;
    margin-bottom: 16px;
  }

  #total-price-amount {
    font-weight: bold;
  }

  #additional-info {
    white-space: pre-line;
    font-size: 14px;
    background-color: #ee2a33;
    color: white;
    border-radius: 20px;
    margin: 0px 10px 20px;
  }

  .button {
    float: right;
    display: block;
    margin-top: -45px;
    margin-right: 20px;
  }
</style>
