<template>
  <CollapseContainer :title="'Receiving Advice CDT: ' + raDetailInfoData.po.id" :canExpan="false">
    <div class="button">
      <a-button :type="'primary'" @click="jsonPrint">Lihat versi cetak</a-button>
      <a-button @click="handleAcceptRa" :type="'primary ml-2'" v-show="isAccepted">
        Terima
      </a-button>
      <a-button @click="handleRejectRa" :type="'primary ml-2'" v-show="isRejected">
        Tolak
      </a-button>
      <DocumentDropdownButton :documents="documents2" />
    </div>
    <!-- <a-button @click="handleRejectRa" :type="'primary ml-2'" disabled v-show="isAccepted">
      <strong>Diterima</strong> -->
    <!-- </a-button> -->
    <!-- <DocumentDropdownButton :documents="documents" :cdt="documents[0].receiving_advice_date" /> -->
  </CollapseContainer>
  <div class="p-1" id="header-pdf">
    <div class="md:flex enter-y">
      <div class="ant-card ant-card-bordered ant-card-small md:w-1/2 w-full !md:mt-0 !md:mr-1">
        <div class="mx-4 mt-4 info-title"> Informasi Order </div>
        <Description
          size="small"
          :bordered="true"
          :column="1"
          :data="raDetailInfoData.po"
          :schema="orderInfoSchema"
        />
        <div class="mx-4 mt-4 info-title"> Informasi RA </div>
        <Description
          size="small"
          :bordered="true"
          :column="1"
          :data="raDetailInfoData"
          :schema="raInfoSchema"
        />
      </div>
      <div class="ant-card ant-card-bordered ant-card-small md:w-1/2 w-full !md:mb-1 !md:mr-1">
        <div class="mx-4 mt-4 info-title"> Informasi Supplier </div>
        <div class="mx-4 mb-2 destination"> {{ raDetailInfoData.po.supplier_name }} </div>
        <Description
          size="small"
          :bordered="true"
          :column="2"
          :data="raDetailInfoData.po"
          :schema="supplierSchema"
        />
        <div class="p-4 mb-4 font-bold"> Note: Confirmed Order </div>
      </div>
    </div>
  </div>
  <div class="p-1" style="background-color: white">
    <BasicTable @register="registerTable" class="main-table">
      <template #bodyCell="{ column, record }">
        <template v-if="column.key === 'code'">
          <ItemCodeCell
            :itemCode="record.item_code"
            :sub="record.sub_code"
            :unit="record.unit_code"
          />
        </template>
        <template v-else-if="column.key === 'itemName'">
          <ItemNameCell :itemName="record.item_name" :sub="record.sub_code_name" />
        </template>
        <template v-else-if="column.key === 'orderQuantity'">
          <QtyOrderCell
            :qtyOrder="record.order_qty_in_pack"
            :qtyNormal="record.purchase_price_type"
            :qtyFree="record.free_qty_insku"
          />
        </template>
        <template v-else-if="column.key === 'capacityAndBarcode'">
          {{ record.capacity }} / {{ record.barcode }}
        </template>
        <template v-else-if="column.key === 'freeQty'">
          {{ toFixedFloat(record.free_qty_insku) }}
        </template>
        <template v-else-if="column.key === 'orderedQty'">
          {{ toFixedFloat(record.order_qty_insku) }}
        </template>
        <!-- TODO -->
        <template v-else-if="column.key === 'revised'"> N </template>
        <template v-else-if="column.key === 'acceptedQty'">
          {{ toFixedFloat(record.raipoi[0].received_qty) }}
        </template>
        <template v-else-if="column.key === 'serviceLevel'">
          {{ toFixedFloat((record.raipoi[0].received_qty / record.order_qty_insku) * 100) }}%
        </template>
      </template>
    </BasicTable>
  </div>
</template>
<script setup lang="ts">
  import { raInfoApi, raDetailApi, raActionApi } from '/@/api/vms/ReceivingAdvice';
  import { DescItem } from '/@/components/Description';
  import { BasicColumn, useTable, BasicTable } from '/@/components/Table';
  import { Description } from '/@/components/Description';
  import {
    ItemCodeCell,
    ItemNameCell,
    QtyOrderCell,
    toDateFormat,
    toFixedFloat,
  } from '/@/views/components/DetailTemplates';
  import { defineProps } from 'vue';
  import { CollapseContainer } from '/@/components/Container/index';
  import { useUserStore } from '/@/store/modules/user';
  import { RaActionParams } from '/@/api/vms/model/ra/raActionModel';
  import { router } from '/@/router';
  import { useMessage } from '/@/hooks/web/useMessage';
  import { useTabs } from '/@/hooks/web/useTabs';

  // import printJS from 'print-js';
  import jsPDF from 'jspdf';
  import autoTable from 'jspdf-autotable';
  import logo from '/@/assets/images/logo.png';
  import { DocumentDropdownButton } from '/@/views/components/DetailTemplates';
  import { documentListApi, documentListApi2, documentListApi3 } from '/@/api/vms/Document';

  const props = defineProps({
    raId: String,
    orderInfoSchema: { type: Array as PropType<DescItem[]> },
    raInfoSchema: { type: Array as PropType<DescItem[]> },
    supplierSchema: { type: Array as PropType<DescItem[]> },
    columns: { type: Array as PropType<BasicColumn[]> },
  });

  console.log(props);
  const { createMessage, createConfirm, createSuccessModal } = useMessage();
  const raItemListApiResult = await raDetailApi(props.raId!);
  const items: Recordable[] = raItemListApiResult.items;

  const raDetailInfoApiResult = await raInfoApi(props.raId!);
  const raDetailInfoData = raDetailInfoApiResult.items[0];
  raDetailInfoData.po.order_date = toDateFormat(raDetailInfoData.po.order_date);
  raDetailInfoData.receiving_advice_date = toDateFormat(raDetailInfoData.receiving_advice_date);
  raDetailInfoData.po.recipient_code = raDetailInfoData.receiving_advice_number;

  const userStore = useUserStore();
  const roles = userStore.getUserInfo.roles;
  console.log(userStore.getUserInfo);
  console.log(roles);
  let userRoles: string[] = [];
  roles.forEach((role) => {
    userRoles.push(role.value);
  });

  const raStatus = raDetailInfoData.status;
  // const isEditable: boolean =
  //   userRoles.includes('SUPPLIER') && ['NEW', 'AWAITING_ACTION'].includes(raStatus);
  const isAccepted: boolean =
    userRoles.includes('SUPPLIER') && ['NEW', 'AWAITING_ACTION'].includes(raStatus);
  const isRejected: boolean =
    userRoles.includes('SUPPLIER') && ['NEW', 'AWAITING_ACTION'].includes(raStatus);
  //const isAccepted: boolean = userRoles.includes('SUPPLIER') && raStatus === 'ACCEPTED';

  let print = [];
  for (let index = 0; index < items.length; index++) {
    const element = items[index];
    print.push({
      No: index + 1,
      'Kode Barang':
        element.item_code + ' Sub: ' + element.sub_code + ' Unit: ' + element.unit_code,
      'Kapasitas/ Barcode': element.barcode + ' ' + element.capacity,
      'Nama Barang': element.item_name,
      Gratis: element.free_qty_insku,
      'Qty dipesan': element.order_qty_insku,
      'Qty Konten': '',
      Terima: '-',
      'Qty diterima': element.acceptedQty,
      Revised: 'N',
      'Service Level': element.serviceLevel,
    });
  }

  const [registerTable] = useTable({
    title: 'Tabel Item',
    dataSource: items,
    columns: props.columns,
    bordered: true,
    tableSetting: { fullScreen: true },
    loading: false,
    pagination: false,
    canResize: true,
    scroll: { y: 300 },
    // showSummary: true,
  });

  interface Document {
    docKey: string;
    reference: string;
    status: string;
    date: Date;
    accepted?: string;
  }
  const documentApiResult = await documentListApi3({ ra_id: props.raId! });
  console.log(documentApiResult);

  let documents: Document[] = [
    {
      docKey: 'po',
      reference: documentApiResult.items[0].id,
      status: documentApiResult.items[0].po_status,
      date: documentApiResult.items[0].po_date,
    },
    {
      docKey: 'ra',
      reference: documentApiResult.items[0].ra_id,
      status: documentApiResult.items[0].ra_status,
      date: documentApiResult.items[0].ra_date,
    },
    {
      docKey: 'rar',
      reference: documentApiResult.items[0].rar_id,
      status: documentApiResult.items[0].rar_status,
      date: documentApiResult.items[0].rar_date,
    },
    {
      docKey: 'pfi',
      reference: documentApiResult.items[0].pfi_id,
      status: documentApiResult.items[0].pfi_status,
      date: documentApiResult.items[0].pfi_date,
    },
    {
      docKey: 'pfir',
      reference: documentApiResult.items[0].pfir_id,
      status: documentApiResult.items[0].pfir_status,
      date: documentApiResult.items[0].pfir_date,
      // accepted: '',
    },
    {
      docKey: 'inv',
      reference: documentApiResult.items[0].i_id,
      status: documentApiResult.items[0].i_status,
      date: documentApiResult.items[0].i_date,
      // accepted: '',
    },
  ];

  let documents2: Document[] = [];
  if (documentApiResult.items[0].id != null) {
    documents2.push(documents[0]);
  }
  if (documentApiResult.items[0].ra_id != null) {
    documents2.push(documents[1]);
  }
  if (
    documentApiResult.items[0].rar_id != null &&
    documentApiResult.items[0].rar_status != 'CANCELLED'
  ) {
    documents2.push(documents[2]);
  }
  if (documentApiResult.items[0].pfi_id != null) {
    documents2.push(documents[3]);
  }
  // for (let index = 0; index < document2ApiResult.items.length; index++) {
  //   if(document2ApiResult.items[index].pfir_id!=null){
  //     documents[4].reference = document2ApiResult.items[index].pfir_id,
  //     documents[4].status = document2ApiResult.items[index].pfir_status,
  //     documents[4].date = document2ApiResult.items[index].pfir_date,
  //     documents2.push(documents[4]);
  //   }
  // }

  if (
    documentApiResult.items[0].pfir_id != null &&
    documentApiResult.items[0].pfir_status != 'CANCELLED'
  ) {
    documents2.push(documents[4]);
  }

  if (
    documentApiResult.items[0].i_id != null &&
    documentApiResult.items[0].i_status != 'CANCELLED'
  ) {
    documents2.push(documents[5]);
  }

  function jsonPrint() {
    let pdfName = `Receiving Advice - ${raDetailInfoData.po.supplier_name}.pdf`;
    var doc = new jsPDF('p', null, 'a4');
    doc.setFontSize(9);
    let image = new Image();
    image.src = logo;
    doc.addImage(image, 'png', 5, 5, 77, 9);
    doc.text(105, 10, 'Receiving Advice');
    const tableColumns = props?.columns?.map((value) => {
      return {
        header: value.title,
        dataKey: value.key,
      };
    });
    let data = items.map((value, index) => {
      return {
        no: index + 1,
        code: value.item_code + '\nSub: ' + value.sub_code + '\nUnit: ' + value.unit_code,
        capacityAndBarcode: value.capacity + ' / ' + value.barcode,
        itemName: `${value.item_name}\nSub Code: ${value.sub_code_name}`,
        freeQty: toFixedFloat(value.free_qty_insku),
        orderedQty: toFixedFloat(value.order_qty_insku),
        contentQty: '',
        Terima: '-',
        acceptedQty: toFixedFloat(value.raipoi[0].received_qty),
        revised: 'N',
        serviceLevel: `${toFixedFloat(
          (value.raipoi[0].received_qty / value.order_qty_insku) * 100,
        )}%`,
      };
    });
    doc.html(document.getElementById('header-pdf'), {
      callback: function (doc) {
        // Save the PDF
        autoTable(doc, {
          columns: [
            {
              header: 'No',
              dataKey: 'no',
            },
            ...tableColumns,
          ],
          body: data,
          startY: 58,
          styles: {
            fontSize: 6,
          },
        });
        doc.save(pdfName);
      },
      x: 5,
      y: 15,
      width: 200, //target width in the PDF document
      windowWidth: 1500, //window width in CSS pixels
    });
  }

  const { refreshPage } = useTabs();

  async function handleAcceptRa(record: Recordable) {
    console.log('klik untuk melihat detail', record);
    const actionProps: RaActionParams = {
      id: props.raId!,
      action: 'ACCEPT',
      editor_name: userStore.getUserInfo.username,
    };

    createConfirm({
      iconType: 'warning',
      content: 'Apakah anda yakin ingin terima Receiving Advice ini ?',
      async onOk() {
        const raAcceptActionApiResult = await raActionApi(actionProps);

        createSuccessModal({
          title: 'Success',
          content: 'Dokumen Receiving Advice disahkan. Membuat Proforma Invoice baru.',
          onOk() {
            router.push(`/proforma-invoice/detail/${raAcceptActionApiResult.pfi_id}`);
            refreshPage();
          },
        });
      },
    });
  }

  async function handleRejectRa(record: Recordable) {
    console.log('klik untuk melihat detail', record);
    // POST
    const actionProps: RaActionParams = {
      id: props.raId!,
      editor_name: userStore.getUserInfo.username,
      action: 'REJECT',
    };

    createConfirm({
      iconType: 'warning',
      content: 'Apakah anda yakin ingin menolak Receiving Advice ini ?',
      async onOk() {
        // notification.success({
        //   message: 'Success',
        //   description: 'Dokumen Receiving Advice disahkan. Membuat Proforma Invoice baru.',
        // });
        const raRejectActionApiResult = await raActionApi(actionProps);

        createSuccessModal({
          title: 'Success',
          content: 'Dokumen Receiving Advice ditolak. Membuat RAR.',
          onOk() {
            router.push(`/receiving-advice-response/detail/${raRejectActionApiResult.rar_id}`);
            refreshPage();
          },
        });
      },
    });
  }
</script>
<style scoped>
  .button {
    float: right;
    display: block;
    margin-top: -45px;
    margin-right: 20px;
  }
  .destination {
    font-size: 20px;
  }

  .info-title {
    font-size: 14px;
    font-weight: bold;
  }

  #total-price-box {
    padding: 8px;
    font-size: 16px;
    text-align: right;
    margin-bottom: 16px;
  }

  #total-price-amount {
    font-weight: bold;
  }

  #additional-info {
    white-space: pre-line;
    font-size: 14px;
    background-color: #ee2a33;
    color: white;
    border-radius: 20px;
    margin: 0px 10px 20px;
  }
</style>
