<template>
  <BasicModal
    v-bind="$attrs"
    @register="register"
    title="Edit Supplier"
    @ok="handleOk"
    @visible-change="handleVisibleChange"
  >
    <div class="pt-3px pr-3px">
      <BasicForm @register="registerForm" />
    </div>
  </BasicModal>
</template>
<script lang="ts">
  import { defineComponent, ref, nextTick } from 'vue';
  import { BasicModal, useModalInner } from '/@/components/Modal';
  import { BasicForm, FormSchema, useForm } from '/@/components/Form/index';
import { cinvInfoSuppSaveParams } from '/@/api/vms/model/ci/cinvSaveInfoSuppModel';
import { cinvSaveInfoSupp } from '/@/api/vms/ConsigmentInvoice';
  const schemas: FormSchema[] = [
    {
      field: 'company_name',
      component: 'Input',
      label: 'Nama Perusahaan',
      colProps: {
        span: 24,
      },
    },
    {
      field: 'company_address1',
      component: 'Input',
      label: 'Alamat Perusahaan',
      colProps: {
        span: 24,
      },
    },
    {
      field: 'postal_code',
      component: 'Input',
      label: 'Kode Pos',
      colProps: {
        span: 24,
      },
    },
    {
      field: 'city',
      component: 'Input',
      label: 'Kota',
      colProps: {
        span: 24,
      },
    },
    {
      field: 'country',
      component: 'Input',
      label: 'Negara',
      colProps: {
        span: 24,
      },
    },
    {
      field: 'name',
      component: 'Input',
      label: 'Nama',
      colProps: {
        span: 24,
      },
    },
    {
      field: 'telephone_number',
      component: 'Input',
      label: 'Telepon',
      colProps: {
        span: 24,
      },
    },
    {
      field: 'fax',
      component: 'Input',
      label: 'Fax',
      colProps: {
        span: 24,
      },
    },
    {
      field: 'company_registration_number',
      component: 'Input',
      label: 'NPWP',
      colProps: {
        span: 24,
      },
    },
    {
      field: 'email',
      component: 'Input',
      label: 'Email',
      colProps: {
        span: 24,
      },
    },
  ];
  export default defineComponent({
    components: { BasicModal, BasicForm },
    props: {
      userData: { type: Object },
      infos: { type: Object },
    },
    emits: ['render-component'],
    setup(props, { emit }) {
      const modelRef = ref({});
      const [registerForm, { setFieldsValue, setProps, getFieldsValue }] = useForm({
        labelWidth: 160,
        labelAlign: 'left',
        schemas,
        showActionButtonGroup: false,
        actionColOptions: {
          span: 24,
        },
      });

      const [register, { closeModal }] = useModalInner((data) => {
        data && onDataReceive(data);
      });

      async function handleOk() {
        const values = getFieldsValue();

        const actionProps: cinvInfoSuppSaveParams = {
          NAMA_PERUSAHAAN: values.company_name,
          ALAMAT_PERUSAHAAN: values.company_address1,
          KODE_POS: values.postal_code,
          KOTA: values.city,
          NEGARA: values.country,
          NAMA: values.name,
          TELEPON: values.telephone_number,
          FAX: values.fax,
          NPWP: values.company_registration_number,
          EMAIL: values.email,
          SC_ID: props.infos?.sc_id,
          I_ID: props.infos?.i_id,
        };

        await cinvSaveInfoSupp(actionProps);
        emit('render-component');

        // console.log('values:' + JSON.stringify(props.infos?.sc_id));
        console.log('der', actionProps);
        closeModal();
      }

      function onDataReceive(data) {
        console.log('Data Received', data);
        // 方式1;
        setFieldsValue({
          company_name: data.nama_perusahaan_supp,
          company_address1: data.alamat_perusahaan_supp,
          postal_code: data.kode_pos,
          city: data.kota,
          country: data.negara,
          name: data.nama,
          telephone_number: data.telepon,
          fax: data.fax,
          company_registration_number: data.npwp,
          email: data.email,
        });

        // // 方式2
        modelRef.value = {
          company_name: data.nama_perusahaan_supp,
          company_address1: data.alamat_perusahaan_supp,
          postal_code: data.kode_pos,
          city: data.kota,
          country: data.negara,
          name: data.nama,
          telephone_number: data.telepon,
          fax: data.fax,
          company_registration_number: data.npwp,
          email: data.email,
        };

        setProps({
          model: {
            company_name: data.nama_perusahaan_supp,
            company_address1: data.alamat_perusahaan_supp,
            postal_code: data.kode_pos,
            city: data.kota,
            country: data.negara,
            name: data.nama,
            telephone_number: data.telepon,
            fax: data.fax,
            company_registration_number: data.npwp,
            email: data.email,
          },
        });
      }

      function handleVisibleChange(v) {
        v && props.infos && nextTick(() => onDataReceive(props.infos));
        // console.log('porps ', props.infos);
      }

      return {
        register,
        schemas,
        registerForm,
        model: modelRef,
        onDataReceive,
        handleOk,
        handleVisibleChange,
      };
    },
  });
</script>
