<template>
  <BasicModal
    v-bind="$attrs"
    @register="register"
    title="Edit Internal User"
    @ok="handleOk"
    @visible-change="handleVisibleChange"
  >
    <div class="pt-3px pr-3px">
      <BasicForm @register="registerForm" />
    </div>
  </BasicModal>
</template>
<script lang="ts">
  import { defineComponent, ref, nextTick } from 'vue';
  import { BasicModal, useModalInner } from '/@/components/Modal';
  import { BasicForm, FormSchema, useForm } from '/@/components/Form/index';
  import { internalUserSaveParams } from '/@/api/vms/model/ci/internalUserSaveModel';
  import { cinvSaveInfoSupp } from '/@/api/vms/ConsigmentInvoice';
import { internalUserUpdateApi } from '/@/api/vms/admin';
import createOptions from '/@/views/components/templates/dropdownOptions';
import { ROLE_LIST } from '/@/utils/vms/dropdownOptions';
  const schemas: FormSchema[] = [
  {
      field: 'first_name',
      component: 'Input',
      label: 'Nama Depan',
      colProps: {
        span: 16,
      },
    },
    {
      field: 'username',
      component: 'Input',
      label: 'Username',
      colProps: {
        span: 16,
      },
    },
    {
      field: 'last_name',
      component: 'Input',
      label: 'Nama Belakang',
      colProps: {
        span: 16,
      },
    },
    {
      field: 'email',
      component: 'Input',
      label: 'Email',
      colProps: {
        span: 16,
      },
    },
    {
      field: 'role',
      component: 'CheckboxGroup',
      label: 'Role',
      colProps: {
        span: 16,
      },
      componentProps: {
        options: createOptions(ROLE_LIST, true),
        
      },
    },
    // {
    //   field: '',
    //   component: 'CheckboxGroup',
    //   label: 'Store',
    //   colProps: {
    //     span: 16,
    //   },
    //   componentProps: {
    //     options: createOptions(STORE_LIST, true),
        
    //   },
    // },
    // {
    //   field: '',
    //   component: 'CheckboxGroup',
    //   label: 'Departemen',
    //   colProps: {
    //     span: 16,
    //   },
    //   componentProps: {
    //     options: createOptions(DEPARTMENT_LIST, true),
    //   },
    // },
  ];
  export default defineComponent({
    components: { BasicModal, BasicForm },
    props: {
      userData: { type: Object },
      infos: { type: Object },
    },
    emits: ['render-component'],
    setup(props, { emit }) {
      const modelRef = ref({});
      const [registerForm, { setFieldsValue, setProps, getFieldsValue }] = useForm({
        labelWidth: 160,
        labelAlign: 'left',
        schemas,
        showActionButtonGroup: false,
        actionColOptions: {
          span: 24,
        },
      });

      const [register, { closeModal }] = useModalInner((data) => {
        data && onDataReceive(data);
      });

      async function handleOk() {
        const values = getFieldsValue();

        const actionProps: internalUserSaveParams = {
          id: values.id,
          first_name: values.first_name,
          username: values.username,
          last_name: values.last_name,
          email: values.email,
          role: values.role,
          enabled: values.enabled,
        };

        await internalUserUpdateApi(actionProps);
        emit('render-component');

        // console.log('values:' + JSON.stringify(props.infos?.sc_id));
        console.log('der', actionProps);
        closeModal();
      }

      function onDataReceive(data) {
        console.log('Data Received', data);
        // 方式1;
        setFieldsValue({
          id: data.id,
          first_name: data.first_name,
          username: data.username,
          last_name: data.last_name,
          email: data.email,
          role: data.role,
          enabled: data.enabled,
        });

        // // 方式2
        modelRef.value = {
          id: data.id,
          first_name: data.first_name,
          username: data.username,
          last_name: data.last_name,
          email: data.email,
          role: data.role,
          enabled: data.enabled,
        };

        setProps({
          model: {
            id: data.id,
          first_name: data.first_name,
          username: data.username,
          last_name: data.last_name,
          email: data.email,
          role: data.role,
          enabled: data.enabled,
          },
        });
      }

      function handleVisibleChange(v) {
        v && props.infos && nextTick(() => onDataReceive(props.infos));
        // console.log('porps ', props.infos);
      }

      return {
        register,
        schemas,
        registerForm,
        model: modelRef,
        onDataReceive,
        handleOk,
        handleVisibleChange,
      };
    },
  });
</script>
