<template>
  <BasicModal
    v-bind="$attrs"
    @register="register"
    title="Edit Supplier"
    @ok="handleOk"
    @visible-change="handleVisibleChange"
  >
    <div class="pt-3px pr-3px">
      <BasicForm @register="registerForm" />
    </div>
  </BasicModal>
</template>
<script lang="ts">
  import { defineComponent, ref, nextTick } from 'vue';
  import { invInfoSuppSaveParams } from '/@/api/vms/model/inv/invSaveInfoSuppModel';
  import { invSaveInfoSupp } from '/@/api/vms/invoice';
  import { BasicModal, useModalInner } from '/@/components/Modal';
  import { BasicForm, FormSchema, useForm } from '/@/components/Form/index';
  const schemas: FormSchema[] = [
    {
      field: 'alamatPerusahaan',
      component: 'Input',
      label: 'Alamat Perusahaan',
      colProps: {
        span: 24,
      },
    },
    {
      field: 'kodePos',
      component: 'Input',
      label: 'Kode Pos',
      colProps: {
        span: 24,
      },
    },
    {
      field: 'kota',
      component: 'Input',
      label: 'Kota',
      colProps: {
        span: 24,
      },
    },
    {
      field: 'negara',
      component: 'Input',
      label: 'Negara',
      colProps: {
        span: 24,
      },
    },
    {
      field: 'telp_supplier',
      component: 'Input',
      label: 'Nomor Telepon',
      colProps: {
        span: 24,
      },
    },
  ];
  export default defineComponent({
    components: { BasicModal, BasicForm },
    props: {
      userData: { type: Object },
      infos: { type: Object },
    },
    emits: ['render-component'],
    setup(props, { emit }) {
      const modelRef = ref({});
      const [registerForm, { setFieldsValue, setProps, getFieldsValue }] = useForm({
        labelWidth: 160,
        labelAlign: 'left',
        schemas,
        showActionButtonGroup: false,
        actionColOptions: {
          span: 24,
        },
      });

      const [register, { closeModal }] = useModalInner((data) => {
        data && onDataReceive(data);
      });

      async function handleOk() {
        const values = getFieldsValue();

        const actionProps: invInfoSuppSaveParams = {
          ALAMAT_PERUSAHAAN: values.alamatPerusahaan,
          KODE_POS: values.kodePos,
          KOTA: values.kota,
          NEGARA: values.negara,
          TELEPON: values.telp_supplier,
          SC_ID: props.infos?.sc_id,
        };

        await invSaveInfoSupp(actionProps);
        emit('render-component');

        // console.log('values:' + JSON.stringify(props.infos?.sc_id));
        console.log('der', actionProps);
        closeModal();
      }

      function onDataReceive(data) {
        console.log('Data Received', data);
        // 方式1;
        setFieldsValue({
          alamatPerusahaan: data.alamat_supplier,
          kodePos: data.kodepos,
          kota: data.kota,
          negara: data.negara,
          telp_supplier: data.telp_supplier,
        });

        // // 方式2
        modelRef.value = {
          alamatPerusahaan: data.alamat_supplier,
          kodePos: data.kodepos,
          kota: data.kota,
          negara: data.negara,
          telp_supplier: data.telp_supplier,
        };

        setProps({
          model: {
            alamatPerusahaan: data.alamat_supplier,
            kodePos: data.kodepos,
            kota: data.kota,
            negara: data.negara,
            telp_supplier: data.telp_supplier,
          },
        });
      }

      function handleVisibleChange(v) {
        v && props.infos && nextTick(() => onDataReceive(props.infos));
        // console.log('porps ', props.infos);
      }

      return {
        register,
        schemas,
        registerForm,
        model: modelRef,
        onDataReceive,
        handleOk,
        handleVisibleChange,
      };
    },
  });
</script>
