<template>
  <BasicModal
    v-bind="$attrs"
    @register="register"
    title="Delete Invoice"
    @ok="handleOk"
    @visible-change="handleVisibleChange"
  >
    <div class="pt-3px pr-3px">
      <a-alert message="basic" />
      <BasicForm @register="registerForm" />
    </div>
  </BasicModal>
</template>
<script lang="ts">
  import { defineComponent, ref, nextTick } from 'vue';
  import { invSaveDetailInvParams } from '/@/api/vms/model/inv/invSaveDetail';
  import { invSaveDetailInvoice } from '/@/api/vms/invoice';
  import { BasicModal, useModalInner } from '/@/components/Modal';
  import { BasicForm, FormSchema, useForm } from '/@/components/Form/index';
  import { reformatDate } from '/@/views/components/DetailTemplates';
import { uploadApi, uploadInvApi, uploadTaxInvApi } from '/@/api/sys/upload';
import { Alert } from 'ant-design-vue/lib/components';
import { router } from '/@/router';


  // const schemas: FormSchema[] = [
  // {
  //     field: 'field1',
  //     component: 'Upload',
  //     label: 'field1',
  //     colProps: {
  //       span: 8,
  //     },
  //     rules: [{ required: true, message: 'Please select upload file' }],
  //     componentProps: {
  //       api: uploadInvApi,
  //       // data: {'id':76330044}
  //     },
  //   },
  // ];
  export default defineComponent({
    components: { BasicModal, BasicForm,[Alert.name]: Alert, },
    props: {
      userData: { type: Object },
      infos: { type: Object },
    },
    setup(props) {
      const modelRef = ref({});
      const [registerForm, { setFieldsValue, setProps, getFieldsValue }] = useForm({
        labelWidth: 160,
        labelAlign: 'left',
        // schemas,
        showActionButtonGroup: false,
        actionColOptions: {
          span: 24,
        },
      });

      const [register, { closeModal }] = useModalInner((data) => {
        data && onDataReceive(data);
      });

      async function handleOk() {
        const values = getFieldsValue();
        console.log('id ', props.infos?.id);

        // const actionProps: invSaveDetailInvParams = {
        //   NOMOR_SERI_PAJAK: values.nomor_seri_pajak,
        //   CONFIRM_N_SERI_PAJAK: values.confirm_seri_pajak,
        //   TANGGAL_FAKTUR_PAJAK: values.tgl_faktur_pajak,
        //   NOMOR_INVOICE_SUPPLIER: values.no_inv_supplier,
        //   TANGGAL_INVOICE_SUPPLIER: values.tgl_inv_supplier,
        //   ID: props.infos?.id,
        // };

        // await invSaveDetailInvoice(actionProps);
        // console.log('values:' + JSON.stringify(props.infos?.sc_id));
        // console.log('der', actionProps);
        closeModal();
        router.go(0);
      }

      function onDataReceive(data) {
        console.log('Data Received', data);
        // 方式1;
        setFieldsValue({
          nomor_seri_pajak: data.nomor_seri_pajak,
          confirm_seri_pajak: data.confirm_seri_pajak,
          tgl_faktur_pajak: data.tgl_faktur_pajak,
          no_inv_supplier: data.no_inv_supplier,
          tgl_inv_supplier: data.tgl_inv_supplier,
        });

        // // // 方式2
        modelRef.value = {
          nomor_seri_pajak: data.nomor_seri_pajak,
          confirm_seri_pajak: data.confirm_seri_pajak,
          tgl_faktur_pajak: data.tgl_faktur_pajak,
          no_inv_supplier: data.no_inv_supplier,
          tgl_inv_supplier: data.tgl_inv_supplier,
        };

        setProps({
          model: {
            nomor_seri_pajak: data.nomor_seri_pajak,
            confirm_seri_pajak: data.confirm_seri_pajak,
            tgl_faktur_pajak: data.tgl_faktur_pajak,
            no_inv_supplier: data.no_inv_supplier,
            tgl_inv_supplier: data.tgl_inv_supplier,
          },
        });
      }

      function handleVisibleChange(v) {
        v && props.infos && nextTick(() => onDataReceive(props.infos));
        console.log('porps ', props.infos);
      }

      return {
        register,
        schemas,
        registerForm,
        model: modelRef,
        onDataReceive,
        handleOk,
        handleVisibleChange,
      };
    },
  });
</script>
