<template>
  <CollapseContainer :title="'Invoice'" :canExpan="false">
    <div class="button">
      <a-button @click="handleSendInv" :type="'primary ml-2'" v-show="isEditable"> Kirim </a-button>
      <a-button
        @click="handleCancelPFIR"
        :type="'primary ml-2'"
        v-show="isCancel"
        style="margin-right: 8px"
      >
        Batalkan Invoice
      </a-button>
      <a-button @click="handleRevisi" :type="'primary ml-2'" v-show="APD"> Ajukan Revisi </a-button>
      <a-button :type="'primary'" @click="jsonPrint">Lihat versi cetak</a-button>
      <DocumentDropdownButton :documents="documents2" />
      <!-- <a-button @click="handleAcceptPfi" :type="'primary ml-2'" v-show="isEditable">
      Terima
      </a-button>
    <a-button @click="handleRejectPfi" :type="'primary ml-2'" v-show="isEditable"> Tolak </a-button>
    <a-button @click="handleRejectPfi" :type="'primary ml-2'" disabled v-show="isAccepted">
      <strong>Diterima</strong>
    </a-button>
    <a-button @click="handleSendBackKPfi" :type="'primary ml-2'" v-show="isRejected">
      Kembalikan
    </a-button> -->
    </div>
  </CollapseContainer>
  <div class="p-1">
    <div id="header-pdf">
      <div class="md:flex enter-y">
        <div class="ant-card ant-card-bordered ant-card-small md:w-1/2 w-full !md:mt-0 !md:mr-4">
          <div class="mx-4 my-4 info-title"> Informasi Order </div>
          <Description
            size="small"
            :bordered="true"
            :column="1"
            :data="infos"
            :schema="invOrderInfoSchema"
          />
        </div>
        <div class="ant-card ant-card-bordered md:w-1/2 w-full !md:mt-0 !md:mr-4">
          <div class="flex">
            <div class="mx-4 mt-4 info-title"> Informasi Supplier </div>
            <a-button
              @click="openModal1"
              :type="'primary'"
              class="mx-4 mt-2 ml-auto"
              v-show="isEditable"
              id="edit-supplier"
            >
              Edit Supplier</a-button
            >
            <invSaveInfoSuppModal
              @render-component="forceRerender"
              @register="register1"
              :infos="infos"
            />
          </div>
          <div class="mx-4 mb-2 destination"> {{ infos?.nama_supplier }} </div>
          <Description
            size="small"
            :bordered="true"
            :column="1"
            :data="renderComponent ? infos : infos"
            :schema="supplierSchema"
          />
        </div>
      </div>
      <div class="md:flex enter-y">
        <div class="ant-card ant-card-bordered ant-card-small w-full !md:mt-0 !md:mr-4">
          <div class="flex">
            <div class="mx-4 mt-4 info-title"> Detail Invoice </div>
            <a-button
              @click="openModal2"
              :type="'primary'"
              class="mx-4 mt-2 ml-auto"
              v-show="isEditable"
              id="edit-invoice"
            >
              Edit Invoice</a-button
            >
            <invSaveDetailModal @register="register2" :infos="infos" />
          </div>
          <Description
            size="small"
            :bordered="true"
            :column="1"
            :data="infos"
            :schema="invDetailSchema"
          />
        </div>
      </div>
    </div>
    <div class="ant-card ant-card-bordered ant-card-small w-full !md:mt-0 !md:mr-4">
      <div class="mx-4 my-4 info-title"> Berkas Faktur Pajak </div>
      <BasicTable @register="registerTable2" :canResize="false"> </BasicTable>
      <div>
        <a-button
          @click="openModal6"
          :type="'primary'"
          class="mx-4 mt-2 ml-auto"
          style="margin-bottom: 10px; margin-left: 10px"
          v-show="isEditable"
        >
          Attach Etax</a-button
        >
        <invTaxUploadModal @register="register6" :infos="infos" />
        <a-button :type="'primary'" @click="deleteTaxInv" v-show="isEditable">Hapus</a-button>
      </div>
      <div class="mx-4 my-4 info-title" v-show="isEditable"> Verifikasi </div>
      <BasicTable @register="registerTable3" :canResize="false">
        <template #bodyCell="{ column, record }">
          <template v-if="column.key === 'status'">
            <input type="checkbox" v-model="record.status" disabled />
          </template>
        </template>
      </BasicTable>
    </div>
    <div class="md:flex enter-y">
      <!-- <BasicTable @register="registerTaxInvoiceTable" class="main-table">
        <template #bodyCell="{ column, record }">
          <template v-if="column.key === 'action'">
            <TableAction
              :actions="[
                {
                  label: '[Action Placeholder]',
                  onClick: handleTaxInvoiceAction.bind(null, record),
                },
              ]"
            />
          </template>
        </template>
      </BasicTable> -->
    </div>

    <div class="ant-card ant-card-bordered ant-card-small w-full !md:mt-0 !md:mr-4">
      <div class="mx-4 my-4 info-title"> Berkas Dokumen Pendukung </div>
      <div>
        <table id="tax" ref="table">
          <tr>
            <td>Surat Jalan :<span>*</span> </td>
            <td v-if="sj !== ''"><a v-html="sj"></a></td>
            <td v-else>
              <a-button
                @click="openModal5"
                :type="'primary'"
                class="mx-4 mt-2 ml-auto"
                v-show="isEditable"
              >
                Upload File</a-button
              >
              <invUploadSJModal
                @render-component="forceRerender"
                @register="register5"
                :infos="infos"
              />
            </td>
            <td
              ><a-button :type="'primary'" @click="deleteSJ" v-show="isEditable"
                >Hapus</a-button
              ></td
            >
            <td>Maks. 2 Mb</td>
          </tr>
          <tr>
            <td>Invoice :<span>*</span> </td>
            <td v-if="inv !== ''"><a v-html="inv"></a></td>
            <td v-else>
              <a-button
                @click="openModal3"
                :type="'primary'"
                class="mx-4 mt-2 ml-auto"
                v-show="isEditable"
              >
                Upload File</a-button
              >
              <invUploadModal
                @render-component="forceRerender"
                @register="register3"
                :infos="infos"
              />
            </td>
            <td
              ><a-button :type="'primary'" @click="deleteInv" v-show="isEditable"
                >Hapus</a-button
              ></td
            >
            <td>Maks. 2 Mb</td>
          </tr>
          <tr>
            <td>Kwitansi :<span>*</span> </td>
            <td v-if="kwi !== ''"><a v-html="kwi"></a></td>
            <td v-else>
              <a-button
                @click="openModal4"
                :type="'primary'"
                class="mx-4 mt-2 ml-auto"
                v-show="isEditable"
              >
                Upload File</a-button
              >
              <invUploadKwiModal
                @render-component="forceRerender"
                @register="register4"
                :infos="infos"
              />
            </td>
            <td
              ><a-button :type="'primary'" @click="deleteKwi" v-show="isEditable"
                >Hapus</a-button
              ></td
            >
            <td>Maks. 2 Mb</td>
          </tr>
        </table>
      </div>
    </div>
    <div class="md:flex enter-y">
      <!-- <BasicTable @register="registerSupportingDocumentTable" class="main-table">
        <template #bodyCell="{ column, record }">
          <template v-if="column.key === 'deliveryOrder'">
            <a :href="record.deliveryOrder" v-if="record.deliveryOrder != ''">
              <strong>Download Surat Jalan</strong>
            </a>
            <span style="font-style: italic" v-else> (tidak ada berkas) </span>
          </template>
          <template v-else-if="column.key === 'invoice'">
            <a :href="record.invoice" v-if="record.invoice != ''">
              <strong>Download Invoice</strong>
            </a>
            <span style="font-style: italic" v-else> (tidak ada berkas) </span>
          </template>
          <template v-else-if="column.key === 'receipt'">
            <a :href="record.receipt" v-if="record.receipt != ''">
              <strong>Download Kwitansi</strong>
            </a>
            <span style="font-style: italic" v-else> (tidak ada berkas) </span>
          </template>
        </template>
      </BasicTable> -->
    </div>
  </div>

  <div class="p-1" style="background-color: white">
    <BasicTable
      @register="registerTable"
      class="main-table"
      @edit-end="handleEditEnd"
      @edit-cancel="handleEditCancel"
    >
      <template #bodyCell="{ column, record }">
        <template v-if="column.key === 'code'">
          <ItemCodeCell
            :itemCode="record.itemCode"
            :sub="record.itemCodeSub"
            :unit="record.itemCodeUnit"
          />
        </template>
        <template v-else-if="column.key === 'itemName'">
          <ItemNameCell :itemName="record.itemName" :sub="record.itemNameSub" />
        </template>
        <template v-else-if="column.key === 'totalQty'">
          {{ toFixedFloat(record.total_qty) }}
        </template>
        <template v-else-if="column.key === 'price'">
          {{ toFixedFloat(record.harga_unit) }}
        </template>
        <template v-else-if="column.key === 'priceBeforeTax'">
          {{ toFixedFloat(record.harga_sebelum_pajak) }}
        </template>
        <template v-else-if="column.key === 'priceAfterTax'">
          {{ toFixedFloat(record.harga_sesudah_pajak) }}
        </template>
        <template v-else-if="column.key === 'taxPercentage'">
          {{ toFixedFloat(record.pajak) }}
        </template>
        <template v-else-if="column.key === 'luxuryTax'">
          {{ toFixedFloat(record.ppn_bm) }}
        </template>
        <!-- <template v-else-if="column.field === 'tanggal_order'">
          {{ toDateFormat(record.tanggal_order) }}
        </template>
        <template v-else-if="column.field === 'tgl_faktur_pajak'">
          {{ toDateFormat(record.tgl_faktur_pajak) }}
        </template>
        <template v-else-if="column.field === 'tgl_inv_supplier'">
          {{ toDateFormat(record.tgl_inv_supplier) }}
        </template> -->
      </template>
    </BasicTable>
    <div class="md:flex enter-y">
      <div class="md:w-1/2 w-full !md:mt-0 !md:mr-4"><br /></div>
      <div class="md:w-1/2 w-full !md:mt-0 !md:mr-4">
        <Description
          size="small"
          :bordered="true"
          :column="1"
          :data="Price"
          :schema="invPriceSchema"
        />
      </div>
    </div>
    <div id="footer-pdf">
      <div class="py-4 px-6" id="additional-info">
        <div class="info-title">Keterangan:</div>
        <div>{{ additionalInfoData }}</div>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
  import { CollapseContainer } from '/@/components/Container/index';
  import { BasicTable, useTable, BasicColumn, FormSchema } from '/@/components/Table';
  import {
    ItemCodeCell,
    ItemNameCell,
    toDateFormat,
    toFixedFloat,
  } from '/@/views/components/DetailTemplates';
  import { DescItem, Description } from '/@/components/Description';
  import {
    invoDetListApi,
    invInfoListApi,
    invFileListApi,
    invFileKListApi,
    invFileSJApi,
    invActionApi,
    kwiActionApi,
    sjActionApi,
    invTaxListApi,
    SendApi,
    invSendApi,
    taxActionApi,
    invoiceCancelApi,
    invSaveItemDetailApi,
    invactionRevisiApi,
  } from '/@/api/vms/invoice';
  import { useUserStore } from '/@/store/modules/user';
  import jsPDF from 'jspdf';
  import autoTable from 'jspdf-autotable';
  import logo from '/@/assets/images/logo.png';

  // Modal Detail Invoice
  import { useModal } from '/@/components/Modal';
  import invSaveInfoSuppModal from '/@/views/components/DetailTemplates/src/inv/invSaveInfoSuppModal.vue';
  import invSaveDetailModal from '/@/views/components/DetailTemplates/src/inv/invSaveDetailModal.vue';
  import invUploadModal from '/@/views/components/DetailTemplates/src/inv/invUploadModal.vue';
  import invTaxUploadModal from '/@/views/components/DetailTemplates/src/inv/invTaxUploadModal.vue';
  import invUploadSJModal from '/@/views/components/DetailTemplates/src/inv/invUploadSJModal.vue';
  import invUploadKwiModal from '/@/views/components/DetailTemplates/src/inv/invUploadKwiModal.vue';
  import { DocumentDropdownButton } from '/@/views/components/DetailTemplates';
  import { PageWrapper } from '/@/components/Page';
  // let data = [];
  const [register1, { openModal: openModal1 }] = useModal();
  const [register2, { openModal: openModal2 }] = useModal();
  const [register3, { openModal: openModal3 }] = useModal();
  const [register4, { openModal: openModal4 }] = useModal();
  const [register5, { openModal: openModal5 }] = useModal();
  const [register6, { openModal: openModal6 }] = useModal();

  const props = defineProps({
    invId: String,
  });

  // export const idInv = props;

  import { nextTick, ref } from 'vue';
  import { documentListApi, documentListApi2, documentListApi7 } from '/@/api/vms/Document';
  import { uploadApi } from '/@/api/sys/upload';
  import { InvActionParams } from '/@/api/vms/model/inv/invActionModel';
  import { useMessage } from '/@/hooks/web/useMessage';
  import { router } from '/@/router';
  import { useTabs } from '/@/hooks/web/useTabs';
  import { InvCancelParams } from '/@/api/vms/model/inv/invCancelModel';
  import { InvSaveItemDetailParams } from '/@/api/vms/model/inv/invSaveItemDetailModel';
  import { InvVerifyParams } from '/@/api/vms/model/inv/invVerifyModel';
  import axios from 'axios';
  import createOptions from '../../../templates/dropdownOptions';

  const renderComponent = ref(true);

  const forceRerender = async () => {
    // Remove MyComponent from the DOM
    renderComponent.value = false;

    console.log(renderComponent.value);
    // Wait for the change to get flushed to the DOM
    const invinfoListApiResult = await invInfoListApi(props.invId);
    const infosBaru = invinfoListApiResult.items[0];
    console.log('infos baru ', JSON.stringify(infosBaru));
    await nextTick();

    // infosNew

    // Add the component back in
    renderComponent.value = true;

    console.log(renderComponent.value);
  };

  const invOrderInfoSchema: DescItem[] = [
    { field: 'nomor_order', label: 'Nomor Order' },
    { field: 'tanggal_order', label: 'Tanggal Order' },
    { field: 'departemen', label: 'Kode Departemen' },
    { field: 'toko', label: 'Toko Transmart' },
    { field: 'nama_perusahaan', label: 'Nama Perusahaan' },
    { field: 'alamat_perusahaan', label: 'Alamat Perusahaan' },
    { field: 'npwp_supp', label: 'NPWP' },
  ];

  const supplierSchema: DescItem[] = [
    { field: 'code', label: 'Kode' },
    { field: 'nama_supplier', label: 'Nama Perusahaan' },
    { field: 'alamat_supplier', label: 'Alamat Perusahaan' },
    { field: 'kodepos', label: 'Kode Pos' },
    { field: 'kota', label: 'Kota' },
    { field: 'negara', label: 'Negara' },
    { field: 'nama', label: 'Nama' },
    { field: 'telp_supplier', label: 'Telepon' },
    { field: 'fax', label: 'Fax' },
    { field: 'taxNo', label: 'NPWP' },
    { field: 'email', label: 'E-Mail' },
  ];

  const invDetailSchema: DescItem[] = [
    { field: 'nomor_seri_pajak', label: 'Nomor Seri Pajak' },
    { field: 'confirm_seri_pajak', label: 'Konfirmasi Nomor Seri Pajak' },
    { field: 'tgl_faktur_pajak', label: 'Tanggal Faktur Pajak' },
    { field: 'no_inv_supplier', label: 'Nomor Invoice Supplier' },
    { field: 'tgl_inv_supplier', label: 'Tanggal Invoice Supplier' },
    { field: 'revisi', label: 'Revisi' },
  ];

  const invPriceSchema: DescItem[] = [
    { field: 'sub_total', label: 'Sub Total' },
    { field: 'purchasePriceCorrection', label: 'Koreksi Harga Beli' },
    { field: 'taxCorrection', label: 'Koreksi PPN' },
    { field: 'tax', label: 'PPN' },
    { field: 'ppn_bm', label: 'Pajak Barang Mewah' },
    { field: 'total', label: 'Total Harga' },
  ];

  const columns: BasicColumn[] = [
    {
      title: 'Kode Barang',
      dataIndex: 'kode_barang',
      width: 120,
    },
    {
      title: 'Kapasitas/Barcode',
      dataIndex: 'kapasitas_barcode',
      width: 150,
    },
    {
      title: 'Nama Barang',
      dataIndex: 'nama_barang',
      width: 150,
    },
    {
      title: 'Total Qty',
      key: 'totalQty',
      width: 80,
    },
    {
      title: 'Harga Unit',
      key: 'price',
      width: 120,
    },
    {
      title: 'Harga Sebelum Pajak',
      key: 'priceBeforeTax',
      width: 150,
    },
    {
      title: 'Harga Setelah Pajak',
      key: 'priceAfterTax',
      width: 150,
    },
    {
      title: '% Pajak',
      // key: 'taxPercentage',
      dataIndex: 'koreksi_ppn',
      width: 120,
      edit: true,
      editRule: true,
      editComponent: 'Select',
      editComponentProps: {
        options: createOptions({
          0: 0,
          11: 11,
        }),
        width: 20,
      },
    },
    {
      title: 'PPN BM',
      key: 'luxuryTax',
      width: 80,
      minWidth: 80,
    },
  ];

  const columns2: BasicColumn[] = [
    {
      title: 'Seq',
      dataIndex: 'seq',
      width: 50,
    },
    {
      title: 'Type',
      dataIndex: 'type',
      width: 50,
    },
    {
      title: 'File',
      dataIndex: 'tax_invoice_pdf_file_name',
      width: 150,
    },
    {
      title: 'Action',
      dataIndex: 'action',
      width: 50,
    },
    // {
    //   title: 'Order',
    //   dataIndex: 'order',
    //   width: 50,
    // },
  ];

  const columns3: BasicColumn[] = [
    {
      title: 'Verifikasi',
      dataIndex: 'verifikasi',
      width: 250,
    },
    {
      title: 'status',
      key: 'status',
      width: 50,
    },
  ];

  const verifikasi: Recordable[] = [
    {
      verifikasi: 'Mengisi Nomor Seri Pajak',
      status: false,
    },
    {
      verifikasi: 'Nomor Seri Pajak Sesuai dengan Berkas Faktur Pajak',
      status: false,
    },
    {
      verifikasi: 'Tanggal Faktur Pajak masih berlaku',
      status: false,
    },
    {
      verifikasi: 'Upload Berkas Faktur Pajak',
      status: false,
    },
    {
      verifikasi: 'Upload Dokumen Pendukung Invoice',
      status: false,
    },
    {
      verifikasi: 'Upload Dokumen Pendukung Kwitansi',
      status: false,
    },
    {
      verifikasi: 'Upload Dokumen Pendukung Surat Jalan',
      status: false,
    },
  ];

  interface Document {
    docKey: string;
    reference: string;
    status: string;
    date: Date;
    accepted?: string;
  }
  const documentApiResult = await documentListApi7({ i_id: props.invId! });
  console.log(documentApiResult);

  let documents: Document[] = [
    {
      docKey: 'po',
      reference: documentApiResult.items[0].id,
      status: documentApiResult.items[0].po_status,
      date: documentApiResult.items[0].po_date,
    },
    {
      docKey: 'ra',
      reference: documentApiResult.items[0].ra_id,
      status: documentApiResult.items[0].ra_status,
      date: documentApiResult.items[0].ra_date,
    },
    {
      docKey: 'rar',
      reference: documentApiResult.items[0].rar_id,
      status: documentApiResult.items[0].rar_status,
      date: documentApiResult.items[0].rar_date,
    },
    {
      docKey: 'pfi',
      reference: documentApiResult.items[0].pfi_id,
      status: documentApiResult.items[0].pfi_status,
      date: documentApiResult.items[0].pfi_date,
    },
    {
      docKey: 'pfir',
      reference: documentApiResult.items[0].pfir_id,
      status: documentApiResult.items[0].pfir_status,
      date: documentApiResult.items[0].pfir_date,
      // accepted: '',
    },
    {
      docKey: 'inv',
      reference: documentApiResult.items[0].i_id,
      status: documentApiResult.items[0].i_status,
      date: documentApiResult.items[0].i_date,
      // accepted: '',
    },
  ];

  console.log(documentApiResult.items[0].rar_status);

  let documents2: Document[] = [];
  if (documentApiResult.items[0].id != null) {
    documents2.push(documents[0]);
  }
  if (documentApiResult.items[0].ra_id != null) {
    documents2.push(documents[1]);
  }
  if (
    documentApiResult.items[0].rar_id != null &&
    documentApiResult.items[0].rar_status != 'CANCELLED'
  ) {
    documents2.push(documents[2]);
  }
  if (documentApiResult.items[0].pfi_id != null) {
    documents2.push(documents[3]);
  }
  // for (let index = 0; index < document2ApiResult.items.length; index++) {
  //   if(document2ApiResult.items[index].pfir_id!=null){
  //     documents[4].reference = document2ApiResult.items[index].pfir_id,
  //     documents[4].status = document2ApiResult.items[index].pfir_status,
  //     documents[4].date = document2ApiResult.items[index].pfir_date,
  //     documents2.push(documents[4]);
  //   }
  // }

  if (
    documentApiResult.items[0].pfir_id != null &&
    documentApiResult.items[0].pfir_status != 'CANCELLED'
  ) {
    documents2.push(documents[4]);
  }

  if (
    documentApiResult.items[0].i_id != null &&
    documentApiResult.items[0].i_status != 'CANCELLED'
  ) {
    documents2.push(documents[5]);
  }
  const userStore = useUserStore();
  const roles = userStore.getUserInfo.roles;

  let userRoles: string[] = [];
  roles.forEach((role) => {
    userRoles.push(role.value);
  });

  const additionalInfoData: String = `Always bring this document when delivering goods.
                                                                                                                                                                                            Mulai tanggal 1 January 2014, PT. Trans Retail Indonesia hanya akan menerima invoice yang dilengkapi dengan barcode. OTP VMS harus digunakan untuk proses invoice barcode. Informasi tambahan dan petunjuk penggunaan dapat menghubungi VMS Support melalui email vms_support@transretail.co.id`;

  const invinfoListApiResult = await invInfoListApi(props.invId);
  // console.log('der', invinfoListApiResult);
  const infos = invinfoListApiResult.items[0];
  const INVStatus = invinfoListApiResult.status;
  console.log('stat', INVStatus);

  const invResult = await invFileListApi({ invoice: props.invId });
  let inv = '';
  if (invResult.items.length != 0) {
    inv = invResult.items[0].tax_invoice_pdf_file_name;
  }
  console.log(invResult);
  console.log(inv);
  console.log(invResult.items.length);

  const kwiResult = await invFileKListApi({ invoice: props.invId });
  let kwi = '';

  if (kwiResult.items.length != 0) {
    kwi = kwiResult.items[0].tax_invoice_pdf_file_name;
  }
  console.log(kwiResult);
  console.log(kwi);
  console.log(kwiResult.items.length);

  const suratJalan = await invFileSJApi({ invoice: props.invId });
  let sj = '';
  if (suratJalan.items.length != 0) {
    sj = suratJalan.items[0].tax_invoice_pdf_file_name;
  }
  console.log(suratJalan);
  console.log(sj);
  console.log(suratJalan.items.length);

  infos.tanggal_order =
    infos.tanggal_order != null ? toDateFormat(infos.tanggal_order) : 'Tue, Nov 12, 2019, 20:11';
  infos.tgl_faktur_pajak =
    infos.tgl_faktur_pajak != null
      ? toDateFormat(infos.tgl_faktur_pajak)
      : 'Tue, Nov 12, 2019, 20:11';
  infos.tgl_inv_supplier =
    infos.tgl_inv_supplier != null
      ? toDateFormat(infos.tgl_inv_supplier)
      : 'Tue, Nov 12, 2019, 20:11';

  const invItemListApiResult = await invoDetListApi({ id: props.invId });
  console.log(invItemListApiResult);
  const invTaxApiResult = await invTaxListApi({ id: props.invId });
  let seq = '';
  let type = '';
  let file = '';
  if (invTaxApiResult.items.length != 0) {
    seq = invTaxApiResult.items[0].seq;
    type = invTaxApiResult.items[0].type;
    file = invTaxApiResult.items[0].tax_invoice_pdf_file_name;
  }

  //console.log('ter', invItemListApiResult);
  const items: Recordable[] = invItemListApiResult.items;
  const items2: Recordable[] = invTaxApiResult.items;
  console.log(items2);
  let nsp = '';
  let vinv = '';
  let vkwi = '';
  let vtax = '';
  console.log(items[0].pajak);
  if (items[0] != null) {
    if (items[0].pajak > 0) {
      if (infos.nomor_seri_pajak == null) {
        nsp = 'Nomor Seri Pajak Harus Diisi';
      } else {
        verifikasi[0].status = true;
      }
      if (inv == '') {
        vinv = 'Dokumen Invoice wajib dilampirkan.';
      } else {
        verifikasi[4].status = true;
      }
      if (kwi == '') {
        vkwi = 'Dokumen Kwitansi wajib dilampirkan.';
      } else {
        verifikasi[5].status = true;
      }
      if (kwi == '') {
        vkwi = 'Dokumen Kwitansi wajib dilampirkan.';
      } else {
        verifikasi[5].status = true;
      }
      if (sj == '') {
        vkwi = 'Dokumen Kwitansi wajib dilampirkan.';
      } else {
        verifikasi[5].status = true;
      }
      if (sj == '') {
        vkwi = 'Dokumen Kwitansi wajib dilampirkan.';
      } else {
        verifikasi[6].status = true;
      }

      if (items2.length == 0) {
        vtax = 'Belum ada dokumen faktur pajak yang dilampirkan';
      } else {
        verifikasi[3].status = true;
      }
    }
  }
  console.log('ter', invItemListApiResult);

  const invStatus = infos.status;
  const isEditable: boolean =
    userRoles.includes('SUPPLIER') && ['DRAFT', 'SUPPLIER_DRAFT'].includes(invStatus);
  const isPrint: boolean =
    userRoles.includes('SUPPLIER') && ['PAYMENT_IN_TRANSIT'].includes(invStatus);
  const isCancel: boolean =
    userRoles.includes('Mechandiser') ||
    (userRoles.includes('SUPPLIER') &&
      ['AWAITING_ACTION', 'NEW', 'SUPPLIER_DRAFT', 'DRAFT'].includes(invStatus));
  const APD: boolean = userRoles.includes('SUPPLIER') && ['SENT'].includes(invStatus);

  // infos.tgl_faktur_pajak =
  //   infos?.tgl_faktur_pajak != null
  //     ? toDateFormat(infos.tgl_faktur_pajak)
  //     : 'Tue, Nov 12, 2019, 20:11';

  // infos.tanggal_order =
  //   infos?.tanggal_order != null ? toDateFormat(infos.tanggal_order) : 'Tue, Nov 12, 2019, 20:11';

  // infos.tgl_inv_supplier =
  //   infos?.tgl_inv_supplier != null
  //     ? toDateFormat(infos.tgl_inv_supplier)
  //     : 'Tue, Nov 12, 2019, 20:11';

  let subtotal = 0;
  let ppn = 0;
  let ppnbm = 0;
  let total = 0;
  items.forEach((element) => {
    subtotal += parseFloat(element?.sub_total);
    ppn += (parseFloat(element?.pajak) / 100) * parseFloat(element?.sub_total);
    ppnbm += parseFloat(element?.ppn_bm);
    total = subtotal + ppn + ppnbm;
  });

  const Price = {
    sub_total: toFixedFloat(items[0].harga_unit * items[0].total_qty),
    purchasePriceCorrection: toFixedFloat(items[0].koreksi_harga_beli),
    taxCorrection: toFixedFloat(items[0].koreksi_ppn),
    tax: toFixedFloat(items[0].pajak) + '%',
    ppn_bm: toFixedFloat(items[0].pajak_barang_mewah),
    total: toFixedFloat(items[0].harga_sesudah_pajak),
  };
  const [registerTable] = useTable({
    title: 'Tabel Item',
    api: () => invoDetListApi({ id: props.invId }),
    columns: columns,
    bordered: true,
    tableSetting: { fullScreen: true },
    loading: false,
    pagination: false,
    canResize: true,
    scroll: { y: 300 },
    // showSummary: true,
  });

  const [registerTable2] = useTable({
    title: '',
    api: () => invTaxListApi({ id: props.invId }),
    columns: columns2,
    bordered: true,
    tableSetting: { fullScreen: true },
    loading: false,
    pagination: false,
    canResize: true,
    scroll: { y: 300 },
    // showSummary: true,
  });

  const [registerTable3] = useTable({
    title: '',
    dataSource: verifikasi,
    columns: columns3,
    bordered: true,
    tableSetting: { fullScreen: true },
    loading: false,
    pagination: false,
    canResize: true,
    scroll: { y: 300 },

    // showSummary: true,
  });

  let print = [];
  for (let index = 0; index < items.length; index++) {
    const element = items[index];
    print.push({
      // eslint-disable-next-line prettier/prettier
      No: index + 1,
      // eslint-disable-next-line prettier/prettier
      'Kode Barang': element.kode_barang,
      // eslint-disable-next-line prettier/prettier
      'Kapasitas Barang': element.kapasitas_barcode,
      // eslint-disable-next-line prettier/prettier
      'Nama Barang': element.nama_barang,
      // eslint-disable-next-line prettier/prettier
      'Total Qty': toFixedFloat(element.total_qty),
      // eslint-disable-next-line prettier/prettier
      'Harga Unit': toFixedFloat(element.harga_unit),
      // eslint-disable-next-line prettier/prettier
      'Harga sebelum pajak': toFixedFloat(element.harga_sebelum_pajak),
      // eslint-disable-next-line prettier/prettier
      'Harga sesudah pajak': toFixedFloat(element.harga_sesudah_pajak),
      // eslint-disable-next-line prettier/prettier
      '%Pajak': element.pajak + '%',
      // eslint-disable-next-line prettier/prettier
      'PPN BM': toFixedFloat(element.ppn_bm),
    });
  }

  const { createMessage, createConfirm, createSuccessModal, createErrorModal } = useMessage();
  const { refreshPage } = useTabs();

  async function handleSendInv() {
    const actionProps: InvActionParams = {
      id: props.invId!,
    };

    if (file == '') {
      // createMessage.error('Berkas Faktur Pajak Belum Ditambahkan');
      createErrorModal({
        title: 'Failed',
        content: 'Berkas Faktur Pajak Belum Ditambahkan',
      });
    } else if (sj == '') {
      // createMessage.error('Dokumen Pendukung Surat Jalan Belum Ditambahkan');
      createErrorModal({
        title: 'Failed',
        content: 'Dokumen Pendukung Surat Jalan Belum Ditambahkan',
      });
    } else if (inv == '') {
      // createMessage.error('Dokumen Pendukung Invoice Belum Ditambahkan');
      createErrorModal({
        title: 'Failed',
        content: 'Dokumen Pendukung Invoice Belum Ditambahkan',
      });
    } else if (kwi == '') {
      // createMessage.error('Dokumen Pendukung Kwitansi Belum Ditambahkan');
      createErrorModal({
        title: 'Failed',
        content: 'Dokumen Pendukung Kwitansi Belum Ditambahkan',
      });
    } else {
      createConfirm({
        iconType: 'warning',
        content: 'Apakah anda yakin ingin mengirim Invoice ini ?',
        async onOk() {
          const pfirAcceptionActionApiResult = await invSendApi(actionProps);
          const rest = pfirAcceptionActionApiResult.i_id;

          createSuccessModal({
            title: 'Success',
            content: 'Invoice Berhasil di Terima.',
            onOk() {
              router.push(`/invoice/detail/${rest}`); // POST
              refreshPage();
            },
          });
        },
      });
    }
  }

  async function handleCancelPFIR() {
    const actionProps: InvCancelParams = {
      id: props.invId!,
    };

    createConfirm({
      iconType: 'warning',
      content: 'Apakah anda yakin ingin membatalkan Invoice ini ?',
      async onOk() {
        const pfirRejectActionApiResult = await invoiceCancelApi(actionProps);

        createSuccessModal({
          title: 'Success',
          content: 'Invoice Berhasil dibatalkan.',
          onOk() {
            router.push(`/proforma-invoice/detail/${pfirRejectActionApiResult.pfi_id}`);
            refreshPage();
          },
        });
      },
    });
  }

  function handleEditCancel() {
    console.log('cancel');
  }

  async function handleRevisi() {
    const actionProps: InvVerifyParams = {
      id: props.invId!,
    };

    createConfirm({
      iconType: 'warning',
      content: 'Apakah anda yakin ingin merevisi Invoice ini ?',
      async onOk() {
        const cinvSendActionApiResult = await invactionRevisiApi(actionProps);

        createSuccessModal({
          title: 'Success',
          content: 'Dokumen Invoice Response Telah Diverifikasi.',
          onOk() {
            router.push(`/invoice/detail/${cinvSendActionApiResult.i_id}`); // POST
            refreshPage();
          },
        });
      },
    });
  }

  async function handleEditEnd({ record }: Recordable) {
    console.log(record);
    const actionProps: InvSaveItemDetailParams = {
      vat_correction: record.koreksi_ppn,
      ppn_bm: record.ppn_bm,
      ID: record.id,
    };
    const rarSaveActionApiResult = await invSaveItemDetailApi(actionProps);
    console.log('test', rarSaveActionApiResult);
    // refreshPage();
  }

  function deleteTaxInv() {
    taxActionApi({ id: props.invId });
    createSuccessModal({
      title: 'Success',
      content: 'Dokumen Pendukung Invoice Telah Terhapus.',
      onOk() {
        refreshPage();
      },
    });
  }
  function deleteInv() {
    invActionApi({ id: props.invId });

    createSuccessModal({
      title: 'Success',
      content: 'Dokumen Pendukung Invoice Telah Terhapus.',
      onOk() {
        refreshPage();
      },
    });
  }
  // console.log($route.path);
  function deleteKwi() {
    kwiActionApi({ id: props.invId });
    createSuccessModal({
      title: 'Success',
      content: 'Dokumen Pendukung Kwitansi Telah Terhapus.',
      onOk() {
        refreshPage();
      },
    });
  }
  function deleteSJ() {
    sjActionApi({ id: props.invId });
    createSuccessModal({
      title: 'Success',
      content: 'Dokumen Pendukung Surat Jalan Telah Terhapus.',
      onOk() {
        refreshPage();
      },
    });
  }

  function jsonPrint() {
    let pdfName = `Invoice - ${infos.nama_supplier}.pdf`;
    var doc = new jsPDF('p', null, 'a4');
    doc.setFontSize(9);
    let image = new Image();
    image.src = logo;
    doc.addImage(image, 'png', 5, 5, 77, 9);
    doc.text(105, 10, 'Invoice');
    const tableColumns = columns.map((value) => {
      return {
        header: value.title,
        dataKey: value.key || value.dataIndex,
      };
    });
    let data = items.map((value, index) => {
      return {
        no: index + 1,
        kode_barang: value.kode_barang,
        kapasitas_barcode: value.kapasitas_barcode,
        nama_barang: value.nama_barang,
        totalQty: toFixedFloat(value.total_qty),
        price: toFixedFloat(value.harga_unit),
        priceBeforeTax: toFixedFloat(value.harga_sebelum_pajak),
        priceAfterTax: toFixedFloat(value.harga_sesudah_pajak),
        taxPercentage: value.pajak + '%',
        luxuryTax: toFixedFloat(value.ppn_bm),
      };
    });
    document.getElementById('edit-supplier').style = 'display:none';
    document.getElementById('edit-invoice').style = 'display:none';
    doc.html(document.getElementById('header-pdf'), {
      callback: function (doc) {
        // Save the PDF
        autoTable(doc, {
          columns: [
            {
              header: 'No',
              dataKey: 'no',
            },
            ...tableColumns,
          ],
          body: data,
          startY: 100,
          styles: {
            fontSize: 6,
          },
        });
        doc.setFontSize(7);
        const structure = [
          {
            title: 'Sub Total',
            content: Price.sub_total,
          },
          {
            title: 'Koreksi Harga Beli',
            content: Price.purchasePriceCorrection,
          },
          {
            title: 'Koreksi PPN',
            content: Price.taxCorrection,
          },
          {
            title: 'PPN',
            content: Price.tax,
          },
          {
            title: 'Pajak Barang Mewah',
            content: Price.ppn_bm,
          },
          {
            title: 'Total Harga',
            content: Price.total || '0',
          },
        ];

        let startY = doc.lastAutoTable.finalY + 5;

        structure.forEach((value, index) => {
          doc.text(130, startY + index * 5, value.title);
          doc.text(165, startY + index * 5, ':');
          doc.text(167, startY + index * 5, value.content);
        });

        doc.html(document.getElementById('footer-pdf'), {
          callback: function (doc) {
            // Save the PDF
            doc.save(pdfName);

            document.getElementById('edit-supplier').style = 'display:block';
            document.getElementById('edit-invoice').style = 'display:block';
          },
          x: 5,
          y: startY + structure.length * 5,
          width: 200, //target width in the PDF document
          windowWidth: 1500, //window width in CSS pixels
        });
      },
      x: 5,
      y: 15,
      width: 200, //target width in the PDF document
      windowWidth: 1500, //window width in CSS pixels
    });
  }

  // async function handleRejectPfi() {
  //   const actionProps: PfiActionParams = {
  //     id: props.pfiId!,
  //     action: 'REJECTED',
  //   };

  //   const pfiRejectActionApiResult = await pfiActionApi(actionProps);
  //   createMessage.success(
  //     'Dokumen Proforma Invoice diBatalkan. Draft Proforma Invoice Response dibuat.',
  //   );
  //   router.push(`/proforma-invoice-response/detail/${pfiRejectActionApiResult.pfir_id}`);

  //   // POST
  // }
  // async function handleSendBackKPfi() {
  //   // const actionProps: PfiActionParams = {
  //   //   id: props.pfiId!,
  //   //   action: 'REJECTED',
  //   // };
  //   // const pfiSendBackActionApiResult = await pfiActionApi(actionProps);
  //   // createMessage.success(
  //   //   'Dokumen Proforma Invoice status disahkan',
  //   // );
  //   // router.push(`/proforma-invoice/detail/${pfiSendBackActionApiResult.pfir_id}`);
  // }

  // async function handleAcceptPfi() {
  //   const actionProps: PfiActionParams = {
  //     id: props.pfiId!,
  //     action: 'ACCEPTED',
  //   };

  //   const pfiAcceptionActionApiResult = await pfiActionApi(actionProps);
  //   createMessage.success('Dokumen Proforma Invoice diTerima. Draft Invoice dibuat.');
  //   router.push(`/invoice/detail/${pfiAcceptionActionApiResult.pfir_id}`); // POST
  // }
</script>
<style scoped>
  .destination {
    font-size: 20px;
  }

  .info-title {
    font-size: 14px;
    font-weight: bold;
  }

  #total-price-box {
    padding: 8px;
    font-size: 16px;
    text-align: right;
    margin-bottom: 16px;
  }

  #total-price-amount {
    font-weight: bold;
  }

  #additional-info {
    white-space: pre-line;
    font-size: 14px;
    background-color: #ee2a33;
    color: white;
    border-radius: 20px;
    margin: 0px 10px 20px;
  }
  .button {
    float: right;
    display: block;
    margin-top: -45px;
    margin-right: 20px;
  }

  #tax {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  #tax td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  #tax span {
    color: red;
  }
</style>
