<template>
  <BasicModal
    v-bind="$attrs"
    @register="register"
    title="Upload Kwitansi"
    @ok="handleOk"
    @visible-change="handleVisibleChange"
  >
    <div class="pt-3px pr-3px">
      <a-alert message="basic" />
      <BasicForm @register="registerForm" />
    </div>
  </BasicModal>
</template>
<script lang="ts">
  import { defineComponent, ref } from 'vue';
  import { BasicModal, useModalInner } from '/@/components/Modal';
  import { BasicForm, FormSchema, useForm } from '/@/components/Form/index';
import { uploadKwiApi} from '/@/api/sys/upload';
import { Alert } from 'ant-design-vue/lib/components';
import { useTabs } from '/@/hooks/web/useTabs';
// console.log('hahahahahah')
  const schemas: FormSchema[] = [
  {
      field: 'field1',
      component: 'Upload',
      label: 'field1',
      colProps: {
        span: 8,
      },
      rules: [{ required: true, message: 'Please select upload file' }],
      componentProps: {
        api: uploadKwiApi,
        
      },
    },
  ];
  export default defineComponent({
    components: { BasicModal, BasicForm,[Alert.name]: Alert, },
    props: {
      userData: { type: Object },
      infos: { type: Object },
    },
    setup(props) {
      const modelRef = ref({});
      const [registerForm] = useForm({
        labelWidth: 160,
        labelAlign: 'left',
        schemas,
        showActionButtonGroup: false,
        actionColOptions: {
          span: 24,
        },
      });

      const [register, { closeModal }] = useModalInner((data) => {
        data;
      });

      const id = props.infos?.id;
      const { refreshPage } = useTabs();
      async function handleOk() {
        console.log('id ', props.infos?.id);
        closeModal();
        refreshPage();
        // router.go(0);
      }

      return {
        register,
        schemas,
        registerForm,
        model: modelRef,
        handleOk,
        id,
        refreshPage
      };
    },
  });
</script>
