<template>
  <BasicModal
    v-bind="$attrs"
    @register="register"
    title="Upload Surat Jalan"
    @ok="handleOk"
    @visible-change="handleVisibleChange"
  >
  <div>
      <form @submit="handleSubmit" id="uploadForm">
				<div class="md:flex mt-3">
					<div class="mb-3 px-3">
						<label for="tax-number">ID Invoice</label>
						<input class="ant-input" name="id" id="tax-number" placeholder="ID Invoice" :value="props.infos?.id" disabled="true"/>
					</div>
					<div class="mb-3 px-3">
						<label for="supplier-code">Kode Supplier</label>
						<input class="ant-input" name="supplier_code" id="supplier_code" placeholder="Kode Supplier" :value="props.infos?.kode_supplier" disabled="true"/>
					</div>
					<div class="mb-3 px-3">
						<label for="supplier-code">Nomor Invoice</label>
						<input class="ant-input" name="purchase_order" id="purchase_order" placeholder="Kode Supplier" :value="props.infos?.purchase_order" disabled="true"/>
					</div>
					<div class="mb-3 px-3">
						<input type="file" name="uploadFile" id="uploadFile" class="mt-5 mr-3" accept="application/pdf" required />
					</div>
				</div>
				<button class="ant-btn ant-btn-primary mx-3" id="submit-btn" type="submit">Submit</button>
			</form>
  </div>
  </BasicModal>
</template>
<script lang="ts">
  import { defineComponent, ref, nextTick } from 'vue';
  import { invSaveDetailInvParams } from '/@/api/vms/model/inv/invSaveDetail';
  import { invSaveDetailInvoice } from '/@/api/vms/invoice';
  import { BasicModal, useModalInner } from '/@/components/Modal';
  import { BasicForm, FormSchema, useForm } from '/@/components/Form/index';
  import { reformatDate } from '/@/views/components/DetailTemplates';
import { uploadApi, uploadInvApi, uploadTaxInvApi } from '/@/api/sys/upload';
import { Alert } from 'ant-design-vue/lib/components';
import { router } from '/@/router';
import { useTabs } from '/@/hooks/web/useTabs';
import { UploadFileParams } from '/#/axios';
import { PageWrapper } from '/@/components/Page';
import { useMessage } from '/@/hooks/web/useMessage';
import { invUploadApi } from '/@/api/vms/uploadInv';
import { invSJUploadApi } from '/@/api/vms/uploadInvSJ';
// import UploadFile from './UploadFile.vue';

// const apiii = await 
  var schemas: FormSchema[] = [
  {
      field: 'id',
      component: 'Input',
      label: 'invoice id',
      colProps: {
        span: 8,
      },
      rules: [{ required: true, message: 'Please input tax number' }],
			componentProps: {
        placeholder: 'invoice id',
        disabled: true,
			}
    },
  {
      field: 'supplier_code',
      component: 'Input',
      label: 'Kode Supplier',
      colProps: {
        span: 8,
      },
      rules: [{ required: true, message: 'Please input tax number' }],
			componentProps: {
        placeholder: 'Kode Supplier',
        disabled: true,
			}
    },
  {
      field: 'purchase_order',
      component: 'Input',
      label: 'Purchase Order',
      colProps: {
        span: 8,
      },
      rules: [{ required: true, message: 'Please input tax number' }],
			componentProps: {
        placeholder: 'Purchase Order',
        disabled: true,
			}
    },
		{
      field: 'field3',
      component: 'Upload',
      label: 'Required',
      colProps: {
        span: 8,
      },
      rules: [{ required: true, message: 'Please select upload file' }]
    }
  ];
  export default defineComponent({
    components: { BasicModal, BasicForm,[Alert.name]: Alert},
    props: {
      userData: { type: Object },
      infos: { type: Object },
    },
    emits: ['render-component'],
    setup(props, { emit }) {
      // console.log(schemas[0].componentProps.uploadParams)
      // console.log("ini babi????" , uploadInvApi);
      const modelRef = ref({});
      const [registerForm, { setFieldsValue, setProps, getFieldsValue }] = useForm({
        labelWidth: 160,
        labelAlign: 'left',
        schemas,
        showActionButtonGroup: false,
        actionColOptions: {
          span: 24,
        },
      });
      const id = props.infos?.id;
      const [register, { closeModal }] = useModalInner((data) => {
        data && onDataReceive(data);
      });

      const { refreshPage } = useTabs();
      
      async function handleOk() {
        const values = getFieldsValue();
        console.log('id ', props.infos?.id);
        emit('render-component');
        closeModal();
        refreshPage();

      }
      
      function onDataReceive(data) {
        console.log('Data Received', data);
        // 方式1;
        setFieldsValue({
          id: data.id,
          supplier: data.kode_supplier,
        });

        // // // 方式2
        modelRef.value = {
          id: data.id,
          supplier: data.kode_supplier,
        };

        setProps({
          model: {
            id: data.id,
            supplier: data.kode_supplier,
          },
        });
      }

      function handleVisibleChange(v) {
        v && props.infos && nextTick(() => onDataReceive(props.infos));
        // console.log('porps ', props.infos);
      }

      return {
        props,
        register,
        schemas,
        registerForm,
        model: modelRef,
        onDataReceive,
        handleOk,
        handleVisibleChange,
        id,
        // actionProps,
        refreshPage
      };
    },
    methods: {
			async handleSubmit(e) {
				const { createMessage } = useMessage();
				e.preventDefault();
				try{
					await invSJUploadApi({
						file: e.target.uploadFile.files[0],
						id: e.target.id.value,
						supplier_code: e.target.supplier_code.value,
						purchase_order: e.target.purchase_order.value,
					});

					// document.getElementById("uploadForm").reset();

					createMessage.success("File has been uploaded.");
				}catch(err){
					createMessage.error("Error while uploading.");
				}
			}

      
    },
  });
</script>
