<template>
  <BasicModal
    v-bind="$attrs"
    @register="register"
    title="Upload Invoice"
    @ok="handleOk"
  >
    <div class="pt-3px pr-3px">
      <a-alert message="basic" />
      <BasicForm @register="registerForm" />
    </div>
    <div>
    <h1>Upload File</h1>
    <upload-file></upload-file>
  </div>
  </BasicModal>
</template>
<script lang="ts">
  import { defineComponent, ref, } from 'vue';
  import { BasicModal, useModalInner } from '/@/components/Modal';
  import { BasicForm, FormSchema, useForm } from '/@/components/Form/index';
import { uploadInvApi } from '/@/api/sys/upload';
import { Alert } from 'ant-design-vue/lib/components';
import { useTabs } from '/@/hooks/web/useTabs';

// import UploadFile from './UploadFile.vue';

// const apiii = await 
// const actionProps: UploadFileParams ={
//         name : 'namafile',
//         data : {'id':76330044},
//       }
// console.log(actionProps)

  var schemas: FormSchema[] = [
  {

      field: 'field1',
      component: 'Upload',
      label: 'field1',
      colProps: {
        span: 8,
      },
      rules: [{ required: true, message: 'Please select upload file'}],
      componentProps: {
        api: uploadInvApi,
        uploadParams :{
          "id" : "76330044",
          "name" : "namafile"
        }
      },
      
    },
    
  ];
  export default defineComponent({
    components: { BasicModal, BasicForm,[Alert.name]: Alert },
    props: {
      userData: { type: Object },
      infos: { type: Object },
    },
    // const actionProps: UploadFileParams ={
    //     data : {'id':76330044}
    //   },
    setup(props) {
      // console.log(schemas[0].componentProps.uploadParams)
      const modelRef = ref({});
      const [registerForm] = useForm({
        labelWidth: 160,
        labelAlign: 'left',
        schemas,
        showActionButtonGroup: false,
        actionColOptions: {
          span: 24,
        },
      });
      const id = props.infos?.id;
      const [register, { closeModal }] = useModalInner((data) => {
        data;
      });

      const { refreshPage } = useTabs();
      // const actionProps: UploadFileParams ={
      //   data : {'id':props.infos?.id}
      // }

      async function handleOk() {
        console.log('id ', props.infos?.id);
        closeModal();
        refreshPage();
      }
      // const actionProps: UploadFileParams ={
      //   name : 'namafile',
      //   data : {'id':id},
      // }

      return {
        register,
        schemas,
        registerForm,
        model: modelRef,
        handleOk,
        id,
        // actionProps,
        refreshPage,
        // uploadInvApi,
        // uploadParams :{
        //   "id" : "76330044",
        //   "name" : "namafile"
        // }
      };
    },
  });
</script>
