<template>
    <div>
      <input type="file" @change="handleFileUpload" />
      <button @click="uploadFile">Upload File</button>
    </div>
  </template>
  
  <script>
  export default {
    data() {
      return {
        selectedFile: null
      };
    },
    methods: {
      handleFileUpload(event) {
        this.selectedFile = event.target.files[0];
      },
      uploadFile() {
        if (this.selectedFile) {
          const formData = new FormData();
          formData.append("file", this.selectedFile);
  
          // Lakukan permintaan HTTP POST di sini (misalnya, menggunakan Axios atau Fetch)
          // Anda dapat mengirim formData ke server untuk mengelola upload file.
          // Contoh:
          // axios.post("/upload", formData)
          //   .then(response => {
          //     console.log("File berhasil diunggah", response.data);
          //   })
          //   .catch(error => {
          //     console.error("Terjadi kesalahan saat mengunggah file", error);
          //   });
        } else {
          console.error("Tidak ada file yang dipilih.");
        }
      }
    }
  };
  </script>
  