<template>
  <div class="flex wrapper">
    <div class="p-1 flex-item-left">
      <CollapseContainer title="EDIT STORE">
        <div class="p-5">
          <BasicForm @register="registerForm" @submit="handleSubmit" />
        </div>
      </CollapseContainer>
    </div>
  </div>
</template>

<script lang="ts">
  import { defineComponent, onMounted } from 'vue';

  import { BasicForm, FormSchema, useForm } from '/@/components/Form/index';
  import { CollapseContainer } from '/@/components/Container/index';
  import { useMessage } from '/@/hooks/web/useMessage';
  import { BasicTable, TableAction } from '/@/components/Table';
  import { router } from '/@/router';
  import createOptions from '/@/views/components/templates/dropdownOptions';
  import { BUSINESS_UNIT2_LIST } from '/@/utils/vms/dropdownOptions';
  import { postStoreApi, storeUpdateApi } from '/@/api/vms/admin';
  import { StoreSaveParams } from '/@/api/vms/model/adm/storeCreateModel';

  const schemas1: FormSchema[] = [
  {
      field: 'store_id',
      component: 'Input',
      label: 'Kode Toko',
      colProps: {
        span: 16,
      },
    },
    {
      field: 'name',
      component: 'Input',
      label: 'Nama Toko',
      colProps: {
        span: 16,
      },
    },
    {
      field: 'gln',
      component: 'Input',
      label: 'GLN',
      colProps: {
        span: 16,
      },
    },
    {
      field: 'business_unit',
      component: 'Select',
      label: 'Business Unit',
      colProps: {
        span: 16,
      },
      componentProps: {
        options: createOptions(BUSINESS_UNIT2_LIST, true),
      },
    },
    {
      field: 'is_logistic',
      component: 'Checkbox',
      label: 'Is Logistic',
      colProps: {
        span: 16,
      },
    },
  ];

  export default defineComponent({
    components: { BasicForm, CollapseContainer, TableAction, BasicTable },
    props: {
      storeId: String,
    },
    setup(props) {
      onMounted(async () => {
        const dataUser = await postStoreApi(props.storeId);
        console.log(dataUser)
        const user = dataUser.items[0];
        console.log(user)
        let flag;
        if(user.logistic_flag='y'){
          flag = true
        } else{ flag = false}
        setFieldsValue({
          store_id: user.store_id,
          name: user.name,
          gln: user.storegln,
          business_unit: user.c4business_unit,
          is_logistic: flag,
        });
      });

      const { createMessage } = useMessage();

      const [registerForm, { getFieldsValue, resetFields, setFieldsValue }] = useForm({
        labelWidth: 140,
        labelAlign: 'left',
        schemas: schemas1,
        actionColOptions: {
          span: 24,
        },
        submitButtonOptions: {
          text: 'Simpan',
        },
        showResetButton: false,
      });

      function handleEdit(record: Recordable) {
        console.log('klik untuk mengedit', record);
      }
      function handleDelete(record: Recordable) {
        console.log('klik untuk menghapus', record);
      }
      function handleOpen(record: Recordable) {
        console.log('klik untuk mengaktifkan', record);
      }

      return {
        handleEdit,
        handleDelete,
        handleOpen,
        registerForm,
        resetFields,
        setFieldsValue,
        handleSubmit: async () => {
          const values = getFieldsValue();

          const actionProps: StoreSaveParams = {
            id: props.storeId,
            store_id: values.store_id,
            name: values.name,
            gln: values.gln,
            business_unit: values.business_unit,
            is_logistic: values.is_logistic,
          };

          await storeUpdateApi(actionProps);
          // await getForm().submit();

          // resetFields();
          // clearValidate();
          createMessage.success('Success Update Store');
          router.push(`/admin/store`);
          // console.log('der', actionProps);
        },
        props,
        // handleLoad,
      };
    },
  });
</script>

<style scoped>
  .flex-column {
    flex-direction: column;
  }

  .wrapper {
    flex-wrap: wrap;
  }

  .flex-item-left {
    flex: 1 0 40%;
  }
  .flex-item-right {
    flex: 1 0 60%;
  }

  .p-0 {
    padding: 0;
  }

  @media (max-width: 992px) {
    .flex-item-right,
    .flex-item-left {
      flex: 100%;
    }
  }
</style>
