<template>
  <div>{{ barcode }}</div>
  <div>
    Bank Promo:&nbsp;
    <Tag color="#f25a60">
      <strong>
        {{ bankPromo }}
      </strong></Tag
    >
    Sales Type:&nbsp;
    <Tag color="#f25a60">
      <strong>
        {{ salesType }}
      </strong></Tag
    >
  </div>
</template>
<script lang="ts">
  import { defineComponent } from 'vue';
  import { propTypes } from '/@/utils/propTypes';
  import { Tag } from 'ant-design-vue';

  export default defineComponent({
    name: 'ItemCodeCell',
    components: { Tag },
    props: {
      barcode: propTypes.string,
      bankPromo: propTypes.string,
      salesType: propTypes.string,
    },
    setup(props) {
      return { props };
    },
  });
</script>
<style scoped>
  span.ant-tag {
    line-height: 16px;
    padding: 0px 6px;
  }
</style>
