<template>
  <Dropdown placement="bottomLeft" :overlayClassName="`dropdown-overlay`">
    <a-button :type="'secondary'" class="ml-2 btn">Dokumen</a-button>
    <template #overlay>
      <Menu @click="handleMenuClick" :forceSubMenuRender="true">
        <!-- <MenuDivider v-if="getShowDoc" /> -->
        <div class="p-3 mr-6">
          <strong>{{ cdt }}</strong>
        </div>
        <template v-for="document in documents" :key="document.key">
          <!-- :docType="docType[document.key]" -->
          <MenuItem
            :docNumber="document.docNumber"
            :docKey="document.docKey"
            :docType="docType[document.docKey]"
            :docStatus="document.status"
            :docDate="document.date"
          />
        </template>
      </Menu>
    </template>
  </Dropdown>
</template>
<script lang="ts">
  import { defineComponent } from 'vue';
  import { Dropdown, Menu } from 'ant-design-vue';
  import type { MenuInfo } from 'ant-design-vue/lib/menu/src/interface';
  import { createAsyncComponent } from '/@/utils/factory/createAsyncComponent';
  import { propTypes } from '/@/utils/propTypes';
  import { router } from '/@/router';

  type MenuEvent = 'po' | 'ra' | 'rar' | 'pfi' | 'pfir' | 'inv' | 'ir' | 'inv1' | 'inv0' | 'cpfi' | 'cinv' | 'rr' | 'rc';

  const docType = {
    po: 'PO',
    ra: 'RA',
    rar: 'RAR',
    pfi: 'PFI',
    pfir: 'PFIR',
    inv: 'INV',
    cpfi: 'CPFI',
    cinv: 'CINV',
    inv0: 'INV rev. 0',
    invr: 'INVR',
    ir: 'IR',
    inv1: 'INV rev. 1',
    rr: 'RQ',
    rc: 'RC',
  };

  export default defineComponent({
    name: 'DocumentDropdownButton',
    components: {
      Dropdown,
      Menu,
      MenuItem: createAsyncComponent(
        () => import('/@/views/components/DetailTemplates/src/DropDocumentRetur.vue'),
      ),
    },
    props: {
      cdt: propTypes.string,
      documents: propTypes.arrayOf(propTypes.object),
      // raId: propTypes.string,
      // pfiId: propTypes.string,
      // inv0Id: propTypes.string,
      // invrId: propTypes.string,
      // irId: propTypes.string,
      // inv1Id: propTypes.string,
    },
    setup(props) {
      let references = {
        poId: propTypes.string,
        raId: propTypes.string,
        rarId: propTypes.string,
        pfiId: propTypes.string,
        pfirId: propTypes.string,
        inv0Id: propTypes.string,
        invId: propTypes.string,
        cpfiId: propTypes.string,
        cinvId: propTypes.string,
        invrId: propTypes.string,
        irId: propTypes.string,
        inv1Id: propTypes.string,
        rrId: propTypes.string,
        rcId: propTypes.string,
      };

      props.documents?.forEach((document) => {
        switch (document.docKey) {
          case 'po':
            references.poId = document.reference;
            break;
          case 'ra':
            references.raId = document.reference;
            break;
          case 'pfi':
            references.pfiId = document.reference;
            break;
          case 'pfir':
            references.pfirId = document.reference;
            break;
          case 'inv':
            references.invId = document.reference;
            break;
          case 'inv0':
            references.inv0Id = document.reference;
            break;
          case 'invr':
            references.invrId = document.reference;
            break;
          case 'ir':
            references.irId = document.reference;
            break;
          case 'inv1':
            references.inv1Id = document.reference;
            break;
          case 'rr':
            references.rrId = document.reference;
            break;
          case 'rc':
            references.rcId = document.reference;
            break;
        }
      });

      function handleMenuClick(e: MenuInfo) {
        switch (e.key as MenuEvent) {
          case 'po':
            router.push(`/purchase-order/detail/${references.poId}`);
            break;
          case 'ra':
            router.push(`/receiving-advice/detail/${references.raId}`);
            break;
          case 'rar':
            router.push(`/receiving-advice-response/detail/${references.rarId}`);
            break;
          case 'pfi':
            router.push(`/proforma-invoice/detail/${references.pfiId}`);
            break;
          case 'pfir':
            router.push(`/proforma-invoice-response/detail/${references.pfirId}`);
            break;
          case 'inv':
            router.push(`/invoice/detail/${references.invId}`);
            break;
          case 'rr':
            router.push(`/retur/request/detail/${references.rrId}`);
            break;
          case 'rc':
            router.push(`/retur/confirmation/detail/${references.rcId}`);
            break;
          default: {
            console.log(e.key);
          }
        }
      }
      return {
        handleMenuClick,
        docType,
      };
    },
  });
</script>
