<template>
  <div>{{ fieldMargin }}</div>
  <br>
  <div>{{ fieldSelling }}</div>
  <br>
  <div>{{ fieldQty }}</div>
</template>
<script lang="ts">
  import { defineComponent } from 'vue';
  import { propTypes } from '/@/utils/propTypes';
  import { Tag } from 'ant-design-vue';

  export default defineComponent({
    name: 'ItemCodeCell',
    components: { Tag },
    props: {
      fieldMargin: propTypes.string,
      fieldSelling: propTypes.string,
      fieldQty: propTypes.string,
    },
    setup(props) {
      return { props };
    },
  });
</script>
<style scoped>
  span.ant-tag {
    line-height: 16px;
    padding: 0px 6px;
  }
</style>
