<template>
  <div v-if="
  status==='ACCEPTED'||
  status==='LITIGATION'||
  status==='DATA VMS DAN PROFIT SUDAH SAMA'||
  status==='CONFIRMED'||
  status==='SUPPLIER_SENT'||
  status==='DOWNLOADED'
  ">
    &nbsp;
    <Tag color="#008000">
      <strong>
        {{ status }}
      </strong></Tag
    >
  </div>
  <div v-else-if="status==='AWAITING_ACTION'">
    &nbsp;
    <Tag color="#0000FF">
      <strong>
        {{ status }}
      </strong></Tag
    >
  </div>
  <div v-else>
    &nbsp;
    <Tag color="#f25a60">
      <strong>
        {{ status }}
      </strong></Tag
    >
  </div>
</template>
<script lang="ts">
  import { defineComponent } from 'vue';
  import { propTypes } from '/@/utils/propTypes';
  import { Tag } from 'ant-design-vue';

  export default defineComponent({
    name: 'Status',
    components: { Tag },
    props: {
      status: propTypes.string,
    },
    setup(props) {
      return { props };
    },
  });
</script>
<style scoped>
  span.ant-tag {
    line-height: 16px;
    padding: 0px 6px;
  }
</style>
