<template>
  <div class="flex wrapper">
    <div class="p-1 flex-item-left">
      <CollapseContainer title="EDIT WAREHOUSE">
        <div class="p-5">
          <BasicForm @register="registerForm" @submit="handleSubmit" />
        </div>
      </CollapseContainer>
    </div>
  </div>
</template>

<script lang="ts">
  import { defineComponent, onMounted } from 'vue';

  import { BasicForm, FormSchema, useForm } from '/@/components/Form/index';
  import { CollapseContainer } from '/@/components/Container/index';
  import { useMessage } from '/@/hooks/web/useMessage';
  import { BasicTable, TableAction } from '/@/components/Table';
  import { router } from '/@/router';
  import createOptions from '/@/views/components/templates/dropdownOptions';
  import { STORE_LIST } from '/@/utils/vms/dropdownOptions';
  import { postStoreApi, postWarehouseApi, storeUpdateApi, warehouseUpdateApi } from '/@/api/vms/admin';
  import { StoreSaveParams } from '/@/api/vms/model/adm/storeCreateModel';
import { WarehouseSaveParams, WarehouseSaveResult } from '/@/api/vms/model/adm/warehouseCreateModel';

  const schemas1: FormSchema[] = [
  {
      field: 'warehouse_code',
      component: 'Input',
      label: 'Warehouse Code',
      colProps: {
        span: 16,
      },
    },
    {
      field: 'warehouse_name',
      component: 'Input',
      label: 'Warehouse Name',
      colProps: {
        span: 16,
      },
    },
    {
      field: 'int_code',
      component: 'Input',
      label: 'Int Code',
      colProps: {
        span: 16,
      },
    },
    {
      field: 'store_code',
      component: 'Select',
      label: 'Toko',
      colProps: {
        span: 16,
      },
      componentProps: {
        placeholder: 'All',
        options: createOptions(STORE_LIST, true),
      },
    },
    {
      field: 'for_interface',
      component: 'Checkbox',
      label: 'For Interface',
      colProps: {
        span: 16,
      },
    },
  ];

  export default defineComponent({
    components: { BasicForm, CollapseContainer, TableAction, BasicTable },
    props: {
      warehouseId: String,
    },
    setup(props) {
      onMounted(async () => {
        const dataUser = await postWarehouseApi(props.warehouseId);
        console.log(dataUser)
        const user = dataUser.items[0];
        console.log(user)
        let flag;
        if(user.for_interface='Y'){
          flag = true
        } else{ flag = false}
        setFieldsValue({
          warehouse_code: user.warehouse_code,
          warehouse_name: user.warehouse_name,
          int_code: user.int_code,
          store_code: user.store_code,
          for_interface: flag,
        });
      });

      const { createMessage } = useMessage();

      const [registerForm, { getFieldsValue, resetFields, setFieldsValue }] = useForm({
        labelWidth: 140,
        labelAlign: 'left',
        schemas: schemas1,
        actionColOptions: {
          span: 24,
        },
        submitButtonOptions: {
          text: 'Simpan',
        },
        showResetButton: false,
      });

      function handleEdit(record: Recordable) {
        console.log('klik untuk mengedit', record);
      }
      function handleDelete(record: Recordable) {
        console.log('klik untuk menghapus', record);
      }
      function handleOpen(record: Recordable) {
        console.log('klik untuk mengaktifkan', record);
      }

      return {
        handleEdit,
        handleDelete,
        handleOpen,
        registerForm,
        resetFields,
        setFieldsValue,
        handleSubmit: async () => {
          const values = getFieldsValue();

          const actionProps: WarehouseSaveParams = {
            id: props.warehouseId,
            warehouse_code: values.warehouse_code,
            warehouse_name: values.warehouse_name,
            int_code: values.int_code,
            store_code: values.store_code,
            for_interface: values.for_interface,
          };

          await warehouseUpdateApi(actionProps);
          // await getForm().submit();

          // resetFields();
          // clearValidate();
          createMessage.success('Success Update Warehouse');
          router.push(`/admin/warehouse`);
          // console.log('der', actionProps);
        },
        props,
        // handleLoad,
      };
    },
  });
</script>

<style scoped>
  .flex-column {
    flex-direction: column;
  }

  .wrapper {
    flex-wrap: wrap;
  }

  .flex-item-left {
    flex: 1 0 40%;
  }
  .flex-item-right {
    flex: 1 0 60%;
  }

  .p-0 {
    padding: 0;
  }

  @media (max-width: 992px) {
    .flex-item-right,
    .flex-item-left {
      flex: 100%;
    }
  }
</style>
