<template>
  <PageWrapper :title="'Welcome, ' + getUserInfo.realName.toUpperCase() + '.'">
    <div class="p-2">
      <div class="md:flex flex-column gap-3">
        <div class="ant-card ant-card-bordered ant-card-small w-full !md:mt-0 !md:mr-4">
          <CollapseContainer
            title="Announcement"
            :can-expan="false"
            id="announcement-container"
            class="box-shadow"
          >
            <div class="my-2 mx-4 pr-2" id="announcement">
              <div class="font-medium" id="title">{{ title }}</div>
              <div class="mt-2 mb-2">{{ content }}</div>
            </div>
          </CollapseContainer>
        </div>

        <!-- Grafik -->
        <div class="w-full h-full !md:mt-0 grid">
          <CollapseContainer
            title="Newly Received Documents"
            :can-expan="false"
            id="announcement-container"
            class="w-full item box-shadow"
          >
            <div ref="chartRef1" :style="{ height, width }" class="grafik"></div>
          </CollapseContainer>
          <CollapseContainer
            title="Documents Awaiting Action"
            :can-expan="false"
            id="announcement-container"
            class="w-full item box-shadow"
          >
            <div ref="chartRef2" :style="{ height, width }" class="grafik"></div>
          </CollapseContainer>
        </div>

        <!-- po dan RA -->
        <div class="w-full h-full !md:mt-0 grid">
          <CollapseContainer
            title="Purchase Order"
            :can-expan="false"
            id="announcement-container"
            class="w-full item box-shadow"
          >
            <div>
              <div class="total">
                <h2 class="">Total Data : </h2>
                <h3>{{ poList.length }}</h3>
              </div>

              <div v-for="item in poList.slice(0, 5)" :key="item.id" class="list-item">
                <div class="wrapper-list">
                  <div class="list-left">
                    <span class="cdt"
                      >CDT : <a :href="'#/' + item.url" class="link">{{ item.id }}</a>
                    </span>
                    <p style="margin-bottom: 0; font-size: 12px">{{
                      toDateFormat(item?.order_date)
                    }}</p>
                  </div>
                  <p class="list-right">{{ item.delivery_to }}</p>
                </div>
                <hr />
              </div>
              <a href="#/purchase-order" class="show-more"
                ><span v-if="poList.length > 5">SHOW MORE >></span></a
              >
            </div>
          </CollapseContainer>
          <CollapseContainer
            title="Receiving Advice"
            :can-expan="false"
            id="announcement-container"
            class="w-full item box-shadow"
          >
            <div class="">
              <div class="total">
                <h2 class="">Total Data : </h2>
                <h3>{{ raList.length }}</h3>
              </div>
              <div v-for="item in raList.slice(0, 5)" :key="item.id" class="list-item">
                <div class="wrapper-list">
                  <div class="list-left">
                    <span class="cdt"
                      >CDT : <a :href="'#/' + item.url" class="link">{{ item.id }}</a>
                    </span>
                    <p style="margin-bottom: 0; font-size: 12px">{{
                      toDateFormat(item?.receiving_advice_date)
                    }}</p>
                  </div>
                  <p class="list-right">{{ item.delivery_to }}</p>
                </div>
                <hr />
              </div>
              <a href="#/receiving-advice" class="show-more"
                ><span v-if="raList.length > 5">SHOW MORE >></span></a
              >
            </div>
          </CollapseContainer>
        </div>

        <!-- other list data -->
        <div class="w-full h-full !md:mt-0">
          <CollapseContainer
            title="Other Documents"
            :can-expan="false"
            id="announcement-container"
            class="box-shadow"
          >
            <div class="flex item-wrapper">
              <!-- <div class="sub-item">
                <div class="total">
                  <h2 class="">New Proforma Invoice</h2>
                  <h3>{{ pfiList.length }}</h3>
                </div>
                <button
                  class="button"
                  id="Proforma Invoice"
                  name="proforma-invoice"
                  @click="handleDataSelected"
                  >Show All</button
                >
              </div>
              <div class="sub-item">
                <div class="total">
                  <h2 class="">Persetujuan RA</h2>
                  <h3>{{ raAwaitingList.length }}</h3>
                </div>
                <button
                  class="button"
                  id="Persetujuan RA"
                  name="receiving-advice"
                  @click="handleDataSelected"
                  >Show All</button
                >
              </div>
              <div class="sub-item">
                <div class="total">
                  <h2 class="">Persetujuan RAR</h2>
                  <h3>{{ rarAwaitingList.length }}</h3>
                </div>
                <button
                  class="button"
                  id="Persetujuan RAR"
                  name="receiving-advice-response"
                  @click="handleDataSelected"
                  >Show All</button
                >
              </div>
              <div class="sub-item">
                <div class="total">
                  <h2 class="">Persetujuan PFI</h2>
                  <h3>{{ pfiAwaitingList.length }}</h3>
                </div>
                <a
                  href="#/proforma-invoice"
                  class="button"
                  id="Persetujuan PFI"
                  name="invoice"
                  @click="handleDataSelected"
                  >Show All</a
                >
              </div>
              <div class="sub-item">
                <div class="total">
                  <h2 class="">Invoice akan dikirim</h2>
                  <h3>{{ invAwaitingList.length }}</h3>
                </div>
                <a
                  href="#/invoice"
                  class="button"
                  id="Invoice akan dikirim"
                  name="invoice"
                  @click="handleDataSelected"
                  >Show All</a
                >
              </div> -->
              <div>
                <div v-for="(item, index) in items" :key="index" class="accordion-item">
                  <div class="accordion-header">
                    <div class="total">
                      <h2 class="">{{ item.title }}</h2>
                      <h3>{{ item.lenght }}</h3>
                    </div>
                    <button class="button" @click="handleClickButton(item, index)">Show</button>
                  </div>
                  <div v-show="activeIndex === index" class="accordion-content">
                    <div v-for="data in paginatedItems" :key="data.id" class="list-item">
                      <div class="wrapper-list">
                        <div class="list-left">
                          CDT :
                          <a :href="'#/' + data.url" class="link">
                            {{ data.link == 'purchase-order' ? data.id : data.purchase_order }}</a
                          >
                        </div>
                        <p class="list-right">{{ data.delivery_to }}</p>
                      </div>
                      <p style="flex: 1 1 50%; margin-left: 8px">
                        {{
                          (item.link == 'receiving-advice' && data.receiving_advice_date) ||
                          (item.link == 'proforma-invoice' && data.pro_forma_invoice_date) ||
                          (item.link == 'receiving-advice-response' &&
                            data.receiving_advice_date) ||
                          (item.link == 'proforma-invoice-response' &&
                            data.pro_forma_invoice_date) ||
                          (item.link == 'invoice' && data.invoice_date)
                        }}
                      </p>
                      <hr />
                    </div>
                    <!-- <ul>
                      <li v-for="itemD in paginatedItems" :key="itemD.id">{{ itemD }} </li>
                    </ul> -->
                    <div class="pagination" v-if="totalPages > 1">
                      <button class="btn-page" @click="previousPage" :disabled="currentPage === 1">
                        &#129168; &#129168; Previous
                      </button>
                      <!-- <button class="btn-page">{{ currentPage }}</button> -->
                      <button
                        class="btn-page"
                        v-for="pageNumber in totalPageNumbers"
                        :key="pageNumber"
                        @click="changePage(pageNumber)"
                        :class="{ active: currentPage === pageNumber }"
                        >{{ pageNumber }}</button
                      >
                      <button
                        class="btn-page"
                        @click="nextPage"
                        :disabled="currentPage == totalPages"
                        >Next &#129170; &#129170;</button
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </CollapseContainer>
        </div>
      </div>
    </div>
  </PageWrapper>
</template>
<script lang="ts">
  import { computed, defineComponent, ref, PropType, Ref, onMounted } from 'vue';
  import { toDateFormat } from '/@/views/components/DetailTemplates';

  import { CollapseContainer } from '/@/components/Container/index';
  import { useMessage } from '/@/hooks/web/useMessage';
  import { PageWrapper } from '/@/components/Page';
  import { useUserStore } from '/@/store/modules/user';

  import {
    poListApi,
    raListApi,
    raAwaitingListApi,
    rarAwaitingListApi,
    rar2AwaitingListApi,
    pfiListApi,
    pfiAwaitingListApi,
    pfirAwaitingListApi,
    invAwaitingListApi,
  } from '/@/api/vms/dashboard';

  import { useECharts } from '/@/hooks/web/useECharts';

  // import { RoleEnum } from '/@/enums/roleEnum';
  const userStore = useUserStore();

  const props = {
    title: String,
    content: String,
    isToggled: Boolean,

    width: {
      type: String as PropType<string>,
      default: '100%',
    },
    height: {
      type: String as PropType<string>,
      default: 'calc(50vh - 78px)',
    },
  };

  const title = 'Batas Waktu Penerimaan Bukti Potong PPh 2020 bertahun 2020.';
  const content = `Untuk penjelasan lebih lanjut dapat menghubungi bagian pajak dengan : kevien_firmanda@alfa-retail.co.id dan
                                gunawan_gunawan@alfa-retail.co.id `;

  // PO
  const poListApiResult = await poListApi({ supplier_code: userStore.getUserInfo.username });
  const poList: Recordable[] = poListApiResult.items;
  // console.log(poList);

  // RA
  const raListApiResult = await raListApi({ supplier_code: userStore.getUserInfo.username });
  const raList: Recordable[] = raListApiResult.items;

  // RA Awaiting
  const raAwaitingListApiResult = await raAwaitingListApi({
    supplier_code: userStore.getUserInfo.username,
  });
  const raAwaitingList: Recordable[] = raAwaitingListApiResult.items;

  // RAR Awaiting
  const rarAwaitingListApiResult = await rarAwaitingListApi({
    supplier_code: userStore.getUserInfo.username,
  });
  const rarAwaitingList: Recordable[] = rarAwaitingListApiResult.items;

  // RAR 2 Awaiting
  const rar2AwaitingListApiResult = await rar2AwaitingListApi({});
  const rar2AwaitingList: Recordable[] = rar2AwaitingListApiResult.items;

  // PFI
  const pfiListApiResult = await pfiListApi({
    supplier_code: userStore.getUserInfo.username,
  });
  const pfiList: Recordable[] = pfiListApiResult.items;

  // PFI Awaiting
  const pfiAwaitingListApiResult = await pfiAwaitingListApi({
    supplier_code: userStore.getUserInfo.username,
  });
  const pfiAwaitingList: Recordable[] = pfiAwaitingListApiResult.items;

  // PFIR Awaiting
  const pfirAwaitingListApiResult = await pfirAwaitingListApi({});
  const pfirAwaitingList: Recordable[] = pfirAwaitingListApiResult.items;

  // INV Awaiting
  const invAwaitingListApiResult = await invAwaitingListApi({
    supplier_code: userStore.getUserInfo.username,
  });
  const invAwaitingList: Recordable[] = invAwaitingListApiResult.items;

  export default defineComponent({
    components: { CollapseContainer, PageWrapper },
    props,
    setup() {
      const { createMessage } = useMessage();
      const chartRef1 = ref<HTMLDivElement | null>(null);
      const { setOptions: setOptions1 } = useECharts(chartRef1 as Ref<HTMLDivElement>);

      const chartRef2 = ref<HTMLDivElement | null>(null);
      const { setOptions: setOptions2 } = useECharts(chartRef2 as Ref<HTMLDivElement>);

      onMounted(() => {
        setOptions1({
          backgroundColor: '#fff',
          grid: [{ width: '100%', height: '90%' }],
          tooltip: {
            formatter: '{b} ({c})',
          },
          series: [
            {
              type: 'pie',
              radius: '65%',
              center: ['50%', '50%'],
              labelLine: { show: false },
              data: [
                { value: poList?.length, name: 'PO' },
                { value: raList?.length, name: 'RA' },
                { value: pfiList?.length, name: 'PFI' },
              ],
              label: {
                show: true,
                formatter: '{b} \n ({c})',
                color: '#000',
              },
            },
          ],
        });
      });

      onMounted(() => {
        setOptions2({
          backgroundColor: '#fff',
          grid: [{ width: '100%', height: '90%' }],
          tooltip: {
            formatter: '{b} ({c})',
          },
          series: [
            {
              type: 'pie',
              radius: '65%',
              center: ['50%', '50%'],
              labelLine: { show: false },
              data: [
                { value: raAwaitingList?.length, name: 'RA Awaiting' },
                { value: rarAwaitingList?.length, name: 'RAR Awaiting' },
                { value: pfiAwaitingList?.length, name: 'PFI Awaiting' },
                { value: invAwaitingList?.length, name: 'Invoice Awaiting' },
              ],
              label: {
                show: true,
                formatter: '{b} \n ({c})',
                color: '#000',
              },
            },
          ],
        });
      });

      const getUserInfo = computed(() => {
        const { realName = '', desc, roles } = userStore.getUserInfo || {};
        return { realName, desc, roles };
      });

      const roles = userStore.getUserInfo.roles;
      let userRoles: string[] = [];
      roles.forEach((role) => {
        userRoles.push(role.value);
      });

      const isVisible: boolean = userRoles.includes('SUPPLIER');
      const isShow: boolean =
        userRoles.includes('MECHANDISER') || userRoles.includes('SENIOR BUYER ROLE');
      const isShow2: boolean = userRoles.includes('RECEIVING HEAD ROLE');
      console.log('visible ' + isVisible);
      console.log('username ' + userStore.getUserInfo.username);

      // console.log('user ', userStore.getRoleList.includes(RoleEnum.ROLE_ADMIN));
      // console.log('rolelist ', userStore.getRoleList);

      // console.log('get role', userStore.getUserInfo.roles);
      // console.log('get username', userStore.getUserInfo.username);

      const items = ref([
        {
          title: 'New Proforma Invoice',
          api: pfiList,
          link: 'proforma-invoice',
          lenght: pfiList.length,
        },
        {
          title: 'Persetujuan RA',
          api: raAwaitingList,
          link: 'receiving-advice',
          lenght: raAwaitingList.length,
        },
        {
          title: 'Persetujuan RAR',
          api: rarAwaitingList,
          link: 'receiving-advice-response',
          lenght: rarAwaitingList.length,
        },
        {
          title: 'Persetujuan PFI',
          api: pfiAwaitingList,
          link: 'proforma-invoice',
          lenght: pfiAwaitingList.length,
        },
        {
          title: 'Invoice akan dikirim',
          api: invAwaitingList,
          link: 'invoice',
          lenght: invAwaitingList.length,
        },
      ]);

      const activeIndex = ref(null);

      const toggleAccordion = (index) => {
        if (activeIndex.value === index) {
          activeIndex.value = null;
        } else {
          activeIndex.value = index;
        }
      };

      const currentApi = ref('');
      const handleDataSelected = (e) => {
        currentApi.value = e.api;
        currentPage.value = 1;
      };

      const handleClickButton = (e, index) => {
        toggleAccordion(index);
        handleDataSelected(e);
      };

      const currentPage = ref(1);
      const itemsPerPage = ref(5); // Change this to your desired items per page

      // Calculate the total number of pages
      const totalPages = computed(() => Math.ceil(currentApi.value.length / itemsPerPage.value));

      // Calculate the items to display on the current page
      const paginatedItems: Recordable = computed(() => {
        const startIndex = (currentPage.value - 1) * itemsPerPage.value;
        const endIndex = startIndex + itemsPerPage.value;
        return currentApi.value.slice(startIndex, endIndex);
      });

      const totalPageNumbers = computed(() => {
        return Array.from({ length: totalPages.value }, (_, index) => index + 1);
      });

      const changePage = (newPage) => {
        if (newPage >= 1 && newPage <= totalPages.value) {
          currentPage.value = newPage;
        } else {
          currentPage.value = 1;
        }
      };

      // Go to the previous page
      const previousPage = () => {
        if (currentPage.value > 1) {
          currentPage.value--;
        }
      };

      // Go to the next page
      const nextPage = () => {
        if (currentPage.value < totalPages.value) {
          currentPage.value++;
        }
      };

      return {
        handleSubmit: (values: Recordable) => {
          createMessage.success('click search,values:' + JSON.stringify(values));
        },
        props,
        title,
        content,
        getUserInfo,
        poList,
        raList,
        raAwaitingList,
        rarAwaitingList,
        rar2AwaitingList,
        pfiList,
        pfiAwaitingList,
        pfirAwaitingList,
        invAwaitingList,
        isVisible,
        isShow,
        isShow2,
        toDateFormat,
        chartRef1,
        chartRef2,
        items,
        activeIndex,
        toggleAccordion,
        currentPage,
        itemsPerPage,
        totalPages,
        paginatedItems,
        previousPage,
        nextPage,
        handleClickButton,
        currentApi,
        changePage,
        totalPageNumbers,
      };
    },
  });
</script>

<style scoped>
  #announcement {
    max-height: 50vh;
    /* height: 100%; */
    /* overflow: auto;
    white-space: pre-line; */
  }

  #title {
    color: #ed1b24;
  }

  .flex-column {
    flex-direction: column;
  }

  .list-item {
    width: 100%;
    list-style-type: none;
    padding: 0 10px;
  }
  .wrapper-list {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    gap: 8px;
    font-size: 16px;
  }

  .list-right {
    margin-bottom: 0;
    justify-self: center;
    align-self: center;
    font-weight: 600;
    font-size: 14px;
    /* background-color: #fde8e9;
    padding: 4px 12px;
    border-radius: 12px; */
  }
  .list-left {
    height: fit-content;
    font-size: 14px;
  }

  hr {
    margin-bottom: 12px;
    margin-top: 8px;
    border-color: #ccc;
  }

  .cdt {
    font-size: 14px;
  }

  hr {
    margin-bottom: 12px;
    margin-top: 8px;
    border-color: #ccc;
  }

  .cdt {
    font-size: 14px;
  }

  .link:hover {
    color: black;
  }

  .show-more {
    font-weight: 700;
    float: right;
    width: max-content;
    margin: 1rem;
  }

  .total {
    display: flex;
    gap: 1rem;
    align-items: center;
    padding: 0 8px;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 16px;
  }

  .total h2,
  .total h3 {
    margin-bottom: 0;
  }
  .list-left {
    flex: 1 1 50%;
    height: fit-content;
    /* font-size: 14px; */
  }

  .total h2 {
    /* width: 10rem; */
    /* text-decoration: underline; */
    font-weight: 700;
  }
  .total h3 {
    background-color: #fde8e9;
    color: #ed1b24;
    padding: 4px 8px;
    border-radius: 12px;
    font-weight: 700;
  }

  .grid {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(12, minmax(0, 1fr));
  }

  .item {
    grid-column: span 6 / span 6;
  }

  .box-shadow {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }

  .item-left {
    grid-column: span 4 / span 4;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .item-right {
    grid-column: span 8 / span 8;
    width: 100%;
    height: 100%;
    /* display: flex;
    justify-content: center;
    align-items: center; */
  }

  .h1 {
    font-size: 2rem;
    font-weight: 700;
    color: #c9d0cd;
    justify-self: center;
    align-self: center;
  }

  .item-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0.5rem 1rem;
  }

  .sub-item {
    display: flex;
    gap: 1.5rem;
    justify-content: space-between;
    /* grid-template-columns: repeat(9, minmax(0, 1fr));
    align-items: center; */
    /* background-color: aqua; */
  }

  .title {
    font-size: 12px;
    margin: 0;
  }

  .count-data {
    font-weight: bold;
    background-color: #fde8e9;
    padding: 8px;
    border-radius: 50%;
    margin: 0;
    width: 2.4rem;
    text-align: center;
    height: max-content;
  }

  .button {
    color: #fff;
    padding: 4px 44px;
    background-color: #ed1b24;
    border-radius: 1rem;
    width: max-content;
    height: max-content;
    margin: 0;
    justify-self: end;
  }
  /* Add your CSS styles here */
  .accordion-item {
    border-radius: 8px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
  }

  .accordion-header {
    cursor: pointer;
    background-color: #f0f0f0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
  }

  .arrow-down {
    transform: rotate(180deg);
  }

  .accordion-content {
    padding: 10px;
    background-color: #fff;
  }

  .pagination {
    /* background-color: #ed1b24; */
    display: flex;
    gap: 1rem;
    justify-content: center;
  }

  .btn-page {
    color: #ed1b24;
    font-size: 14px;
  }

  .btn-page:hover {
    color: #000;
  }

  .active {
    color: #000;
    text-decoration: underline;
  }

  .btn-page:disabled,
  .btn-page:disabled:hover {
    color: #000;
    cursor: not-allowed;
  }
</style>
