<template>
  <div>
    <!-- <CollapseContainer title="RETUR REQUEST" :canExpan="false">
      <a-button @click="handlePrintSelected" :type="'primary'">Cetak yang dipilih</a-button>
      <a-button @click="handleDownloadXML" :type="'primary'" class="ml-2 btn"
        >Download XML</a-button
      >
    </CollapseContainer> -->
    <CollapseContainer title="Filter">
      <BasicForm @register="register" @submit="handleFilter" />
    </CollapseContainer>
    <div class="p-1" style="background-color: white">
      <!-- <div style="margin-bottom: 8px">
        <div
          class="w-1/6 !md:mt-0 !md:mr-4"
          style="float: left; text-align: right; align-items: center; height: 32px; display: grid"
        >
          Search Retur Request No: &nbsp;
        </div>
        <div class="w-1/4 !md:mt-0 !md:mr-4" style="float: left">
          <a-input ref="inputRef" allow-clear @change="handleSearch" id="cdt-input"> </a-input>
        </div>
      </div> -->
      <BasicTable @register="registerTable">
        <template #bodyCell="{ column, record }">
          <template v-if="column.key === 'action'">
            <TableAction
              :actions="[
                {
                  label: 'Download',
                  onClick: handleViewDetail.bind(null, record),
                },
              ]"
            />
          </template>
          <template v-if="column.key === 'status'">{{ STATUS_LIST[record.status] }}</template>
          <template v-if="column.key === 'order_date'">{{
            toDateFormat(record.order_date)
          }}</template>
          <template v-if="column.key === 'rtn_request_date'">{{
            toDateFormat(record.rtn_request_date)
          }}</template>
          <template v-if="column.key === 'store_code'"
            >{{ record.store_code }} - {{ record.delivery_to }}</template
          >
        </template>
      </BasicTable>
    </div>
  </div>
</template>

<script lang="ts">
  import { defineComponent, ref } from 'vue';
  import { BasicForm, FormSchema, useForm } from '/@/components/Form/index';
  import { CollapseContainer } from '/@/components/Container/index';
  import { BasicTable, FormProps, useTable, BasicColumn, TableAction } from '/@/components/Table';
  import createOptions from './templates/dropdownOptions';
  import { router } from '/@/router';
  import { toDateFormat, reformatDate } from '/@/views/components/DetailTemplates';
  import { BUSINESS_UNIT_LIST, STORE_LIST, SUPPLIER_LIST } from '/@/utils/vms/dropdownOptions';
  import { rrListApi } from '/@/api/vms/returnRequest';
  import { nrListApi, nrDownloadApi } from '/@/api/vms/notaRetur';
	import jsPDF from 'jspdf';
	import autoTable from 'jspdf-autotable'
	import logo from "/@/assets/images/logo.png";
import { useUserStore } from '/@/store/modules/user';
import { RoleEnum } from '/@/enums/roleEnum';

  // import { useRefs } from '/@/hooks/core/useRefs';
  // import { useCdtSearch } from '../application/useCdtSearch';

  // let API_URL_PARAMS: Recordable;

  const userStore = useUserStore();

  const STATUS_LIST = {
    '': 'All',
    NEW: 'Baru',
    DOWNLOADED: 'Downloaded',
  };

  const schemas: FormSchema[] = [
    {
      field: 'status',
      component: 'Select',
      label: 'Status',
      colProps: {
        span: 8,
      },
      componentProps: {
        placeholder: '--Select--',
        options: createOptions(STATUS_LIST),
      },
    },
    {
      field: 'business_unit',
      component: 'Select',
      label: 'Business Unit',
      colProps: {
        span: 8,
      },
      componentProps: {
        placeholder: 'All',
        options: createOptions(BUSINESS_UNIT_LIST, true),
      },
    },

    {
      field: 'orderFrom',
      component: 'RangePicker',
      label: 'Order From',
      colProps: {
        span: 8,
      },
    },    
    {
      field: 'supplier_code',
      component: 'Input',
      label: 'Kode Supplier',
      defaultValue: userStore.getUserInfo.username,
      show: false,
      colProps: {
        span: 8,
      },
      componentProps: {
        placeholder: userStore.getUserInfo.username,
        onChange: (e: any) => {
          return e;
        },
      },
    },
  ];
  const schemas1: FormSchema[] = [
    {
      field: 'status',
      component: 'Select',
      label: 'Status',
      colProps: {
        span: 8,
      },
      componentProps: {
        placeholder: '--Select--',
        options: createOptions(STATUS_LIST),
      },
    },
    {
      field: 'business_unit',
      component: 'Select',
      label: 'Business Unit',
      colProps: {
        span: 8,
      },
      componentProps: {
        placeholder: 'All',
        options: createOptions(BUSINESS_UNIT_LIST, true),
      },
    },

    {
      field: 'orderFrom',
      component: 'RangePicker',
      label: 'Order From',
      colProps: {
        span: 8,
      },
    },    
    {
      field: 'supplier_code',
      component: 'Select',
      label: 'Supplier',
      colProps: {
        span: 8,
      },
      componentProps: {
        placeholder: 'All',
        options: createOptions(SUPPLIER_LIST, true),
      },
    },
  ];

  export function getFormPo(): Partial<FormProps> {
    return {
      schemas: [
        ...schemas,
        {
          field: 'start_date',
          component: 'Input',
          colProps: {
            span: 8,
          },
          label: 'Start Date', //unused
        },
        {
          field: 'end_date',
          component: 'Input',
          colProps: {
            span: 8,
          },
          label: 'End Date', //unused
        },
        {
          field: 'return_request_number',
          component: 'Input',
          label: 'Search Retur Request No',
          colProps: {
            span: 8,
          },
          componentProps: {
            placeholder: 'Search Retur Request No',
            onChange: (e: any) => {
              return e;
            },
          },
        },
      ],
    };
  }
  export function getFormPo1(): Partial<FormProps> {
    return {
      schemas: [
        ...schemas1,
        {
          field: 'start_date',
          component: 'Input',
          colProps: {
            span: 8,
          },
          label: 'Start Date', //unused
        },
        {
          field: 'end_date',
          component: 'Input',
          colProps: {
            span: 8,
          },
          label: 'End Date', //unused
        },
        {
          field: 'return_request_number',
          component: 'Input',
          label: 'Search Retur Request No',
          colProps: {
            span: 8,
          },
          componentProps: {
            placeholder: 'Search Retur Request No',
            onChange: (e: any) => {
              return e;
            },
          },
        },
      ],
    };
  }

  const columns: BasicColumn[] = [
    {
      title: 'Nomor Retur',
      dataIndex: 'retur_number',
      width: 100,
    },
    {
      title: 'Nomor RC',
      dataIndex: 'rc_number',
      //width: 200,
      //auth: 'test', // 根据权限控制是否显示: 无权限，不显示
    },
    {
      title: 'Kode Supplier',
      dataIndex: 'supplier_code',
    },
    {
      title: 'Nama Supplier',
      dataIndex: 'supplier_name',
    },
    {
      title: 'RC Date',
      dataIndex: 'rc_date',
    },
    {
      title: 'Download Date',
      dataIndex: 'download_date',
    },
    {
      title: 'Status',
      dataIndex: 'status',
    },
  ];

  var FORM_VALUES: Recordable = {};

  export default defineComponent({
    components: { BasicForm, CollapseContainer, TableAction, BasicTable },
    setup() {
      const isSupplier = userStore.getRoleList.includes(RoleEnum.SUPPLIER);
      const check = ref(null);

      const [register] = useForm({
        labelWidth: 150,
        schemas: isSupplier ? schemas : schemas1,
        actionColOptions: {
          span: 22,
        },
        submitButtonOptions: {
          text: 'Filter',
        },
        fieldMapToTime: [['fieldTime', ['startTime', 'endTime'], 'MM-YYYY']],
      });

      const [registerTable, { getForm }] = useTable({
        api: nrListApi,
        columns: columns,
        bordered: true,
        useSearchForm: true,
        formConfig: isSupplier ? getFormPo() : getFormPo1(),
        tableSetting: { fullScreen: true },
        // rowSelection: {
        //   type: 'checkbox',
        // },
        actionColumn: {
          ellipsis: true,
          width: 100,
          title: 'Action',
          dataIndex: 'action',
        },
      });

      function handleViewDocument(record: Recordable) {
        console.log('klik untuk melihat detail', record.reference);
      }

      async function handleViewDetail(record: Recordable) {
				// console.log('klik untuk melihat detail2', record);
				const details = await nrDownloadApi({
					id: record.id,
				});
				const items = details.items;
				
				let pdfName = `Nota Retur Report - ${items[0].rc_number}.pdf`;
				var doc = new jsPDF("p", null, "a4");
				items.forEach((detail, index) => {
					doc.setFontSize(8)
					let image = new Image();
					image.src = logo;
					doc.addImage(image, "png", 5, 5, 77, 9)
					doc.text(105, 10, "Nota Retur Report");

					const structure = [{
						title: "No",
						content: detail.rc_number
					},
					{
						title: "Tanggal",
						content: detail.rc_date
					},
					{
						title: "Kode Toko",
						content: detail.store_code
					},
					{
						title: "Nama Toko",
						content: detail.store_name
					},
					{
						title: "Nomor Pengembalian Barang",
						content: detail.retur_number
					}]

					let startY = 25;

					structure.forEach((value, index) => {
						doc.text(5, startY + (index*5), value.title);
						doc.text(56, startY + (index*5), ":");
						doc.text(58, startY + (index*5), value.content);
					})

					doc.text(5, 55, "Atas Faktur Pajak Nomor");
					doc.text(56, 55, ":");
					doc.text(58, 55, detail.tax_inv_pengacu);

					doc.text(135, 55, "Tanggal");
					doc.text(150, 55, ":");
					doc.text(152, 55, detail.tax_inv_pengacu_date || "");

					doc.rect(5, 60, 200, 25);

					doc.setFontSize(8);
					doc.text(8, 65, "PEMBELI");

					doc.text(8, 70, "Nama");
					doc.text(20, 70, ":");
					doc.text(22, 70, detail.business_unit);

					doc.text(8, 75, "Alamat");
					doc.text(20, 75, ":");
					doc.text(22, 75, detail.business_unit_address.split("\n").join(" "));
					
					doc.text(8, 80, "NPWP");
					doc.text(20, 80, ":");
					doc.text(22, 80, detail.business_unit_npwp);

					doc.text(100, 80, "NPKP");
					doc.text(115, 80, ":");
					doc.text(117, 80, detail.business_unit_npkp);

					doc.rect(5, 95, 200, 25);

					doc.setFontSize(8);
					doc.text(8, 100, "PENJUAL");

					doc.text(8, 105, "Nama");
					doc.text(20, 105, ":");
					doc.text(22, 105, detail.supplier_name);

					doc.text(8, 110, "Alamat");
					doc.text(20, 110, ":");
					doc.text(22, 110, detail.supplier_address.split("\n").join(" "));
					
					doc.text(8, 115, "NPWP");
					doc.text(20, 115, ":");
					doc.text(22, 115, detail.supplier_npwp);

					doc.text(100, 115, "NPKP");
					doc.text(115, 115, ":");
					doc.text(117, 115, detail.supplier_npkp);

					autoTable(doc, {
						columns: [
							{
								header: "No Unit",
								dataKey: "no"
							},
							{
								header: "Macam & Jenis Barang Kena Pajak",
								dataKey: "item_name"
							},
							{
								header: "Quantity",
								dataKey: "qty"
							},
							{
								header: "Harga Satuan",
								dataKey: "unit_price"
							},
							{
								header: "Harga Total",
								dataKey: "total_price"
							}
						],
						body: [{no: 1, ...detail}],
						startY: 125,
						styles: {
							fontSize: 6
						}
					});

					doc.text(80, doc.lastAutoTable.finalY+10, "Jumlah harga barang BKP yang dikembalikan");
					doc.text(170, doc.lastAutoTable.finalY+10, detail.total_price);

					doc.text(80, doc.lastAutoTable.finalY+15, "Pajak pertambahan nilai yang diminta kembali");
					doc.text(170, doc.lastAutoTable.finalY+15, detail.vat);

					doc.text(125, doc.lastAutoTable.finalY+25, detail.posting_date);

					doc.text(5, doc.lastAutoTable.finalY+35, "Lembar ke-1: Untuk Pengusaha Kena Pajak yang menerbitkan Faktur Pajak");
					doc.text(5, doc.lastAutoTable.finalY+45, "Lembar ke-2: Untuk Pembali");
					doc.text(5, doc.lastAutoTable.finalY+55, "Lembar ke-3: Untuk Arsip");
					
					if(index === items.length - 2) doc.addPage();
				});
				doc.save(pdfName);
      }

      function handlePrintSelected(record: Recordable) {
        //TODO
        console.log('klik untuk melihat detail', record);
      }

      function handleDownloadXML(record: Recordable) {
        //TODO
        console.log('klik untuk melihat detail', record);
      }

      return {
        registerTable,
        handleViewDocument,
        handleViewDetail,
        handlePrintSelected,
        handleDownloadXML,
        getForm,
        register,
        check,
        toDateFormat,
        STATUS_LIST,
      };
    },
    methods: {
      async handleFilter(values: Recordable) {
        // const cdtInput: HTMLInputElement = <HTMLInputElement>document.getElementById('cdt-input');
        // cdtInput.value = '';
        FORM_VALUES = {};
        if (values.orderFrom != undefined) {
          const range: string[] = values.orderFrom;
          delete values.orderFrom;
          FORM_VALUES = {
            ...values,
            start_date: reformatDate(range[0]),
            end_date: reformatDate(range[1]),
          };
        } else {
          values.start_date = '';
          values.end_date = '';
          FORM_VALUES = values;
        }
        Object.keys(FORM_VALUES).forEach((key) => {
          if (FORM_VALUES[key] === null || values[key] == '') {
            delete FORM_VALUES[key];
          }
        });
        console.log(FORM_VALUES);
        await this.getForm().resetFields();
        await this.getForm().setFieldsValue(FORM_VALUES);
        await this.getForm().submit();
      },
      async handleSearch(e: ChangeEvent) {
        const searchValueRef = ref('');
        searchValueRef.value = e.target.value;
        var SEARCH_FORM_VALUES;
        if (e.target.value != '') {
          SEARCH_FORM_VALUES = { ...FORM_VALUES, return_request_number: searchValueRef.value };
          console.log('koko', SEARCH_FORM_VALUES);
          await this.getForm().setFieldsValue(SEARCH_FORM_VALUES);
          await this.getForm().submit();
        } else {
          await this.getForm().resetFields();
          await this.getForm().setFieldsValue(FORM_VALUES);
          await this.getForm().submit();
        }
      },
    },
  });
</script>
