<template>
  <!-- <CollapseContainer title="PAYMENT REFERENCE DETAIL" :canExpan="false">
  </CollapseContainer> -->
  <CollapseContainer title="Filter">
    <BasicForm @register="register" @submit="handleFilter"  allow-clear @change="handleSearch" id="cdt-input"/>
  </CollapseContainer>

  <div class="p-1">
    <a-button @click="openModal" :type="'secondary ml-2'"> Export To Excel </a-button>
    <BasicTable @register="registerTable">
      <template #bodyCell="{ column, record }">
        <template v-if="column.key === 'action'">
          <TableAction
            :actions="[
              {
                label: 'Detail',
                onClick: handleViewDetail.bind(null, record),
              },
            ]"
          />
        </template>
        <template v-if="column.key === 'status'">{{ STATUS_LIST[record.status] }}</template>
        <template v-if="column.key === 'tanggal_pembayaran'">{{
          toDateFormat(record.tanggal_pembayaran)
        }}</template>
      </template>
    </BasicTable>
    <ExpExcelModal @register="register2" @success="defaultHeader" />
  </div>
</template>

<script lang="ts">
  import { defineComponent, ref } from 'vue';
  import { BasicForm, FormProps, FormSchema, useForm } from '/@/components/Form/index';
  import { CollapseContainer } from '/@/components/Container/index';
  import { BasicTable, useTable, BasicColumn, TableAction } from '/@/components/Table';
  import { prdListApi, prdListApi2 } from '/@/api/vms/paymentreferencedetail';
  import { reformatDate, toDateFormat } from './DetailTemplates';
  import createOptions from './templates/dropdownOptions';
  import { router } from '/@/router';
  import { BUSINESS_UNIT_LIST} from '/@/utils/vms/dropdownOptions';
  import { jsonToSheetXlsx, ExpExcelModal, ExportModalResult } from '/@/components/Excel';
import { useModal } from '/@/components/Modal';
import { useUserStore } from '/@/store/modules/user';
import { RoleEnum } from '/@/enums/roleEnum';
const userStore = useUserStore();

  const STATUS_LIST = {
    ALL: 'All',
    ACKNOWLEDGED: 'Diakui',
    SENT: 'Terkirim',
  };

  const schemas: FormSchema[] = [
    {
      field: 'payment_refrensi',
      component: 'Input',
      label: 'Payment Reference',
      colProps: {
        span: 8,
      },
      componentProps: {
        placeholder: 'Payment Reference',
        onChange: (e: any) => {
          console.log(e);
        },
      },
    },
    {
      field: 'PRDForm',
      component: 'RangePicker',
      label: 'Payment Date',
      colProps: {
        span: 8,
      },
    },
    {
      field: 'status',
      component: 'Select',
      label: 'Status',
      colProps: {
        span: 8,
      },
      componentProps: {
        placeholder: '--Select--',
        options: createOptions(STATUS_LIST),
      },
    },
    {
      field: 'business_unit',
      component: 'Select',
      label: 'Business Unit',
      colProps: {
        span: 8,
      },
      componentProps: {
        placeholder: '--Select--',
        options: createOptions(BUSINESS_UNIT_LIST, true),
      },
    },
    {
      field: 'CDTorPONo',
      component: 'Input',
      label: 'CDT/No',
      colProps: {
        span: 8,
      },
      componentProps: {
        placeholder: 'CDT/No',
        onChange: (e: any) => {
          console.log(e);
        },
      },
    },
    {
      field: 'supplier_code',
      component: 'Input',
      label: 'Kode Supplier',
      defaultValue: userStore.getUserInfo.username,
      show: false,
      colProps: {
        span: 8,
      },
      componentProps: {
        placeholder: userStore.getUserInfo.username,
        onChange: (e: any) => {
          return e;
        },
      },
    },
  ];
  const schemas1: FormSchema[] = [
    {
      field: 'payment_refrensi',
      component: 'Input',
      label: 'Payment Reference',
      colProps: {
        span: 8,
      },
      componentProps: {
        placeholder: 'Payment Reference',
        onChange: (e: any) => {
          console.log(e);
        },
      },
    },
    {
      field: 'PRDForm',
      component: 'RangePicker',
      label: 'Payment Date',
      colProps: {
        span: 8,
      },
    },
    {
      field: 'status',
      component: 'Select',
      label: 'Status',
      colProps: {
        span: 8,
      },
      componentProps: {
        placeholder: '--Select--',
        options: createOptions(STATUS_LIST),
      },
    },
    {
      field: 'business_unit',
      component: 'Select',
      label: 'Business Unit',
      colProps: {
        span: 8,
      },
      componentProps: {
        placeholder: '--Select--',
        options: createOptions(BUSINESS_UNIT_LIST, true),
      },
    },
    {
      field: 'CDTorPONo',
      component: 'Input',
      label: 'CDT/No',
      colProps: {
        span: 8,
      },
      componentProps: {
        placeholder: 'CDT/No',
        onChange: (e: any) => {
          console.log(e);
        },
      },
    },
  ];

  const columns: BasicColumn[] = [
    {
      title: 'Tanggal Pembayaran',
      key: 'tanggal_pembayaran',
    },
    {
      title: 'Payment Referensi',
      dataIndex: 'payment_refrensi',
    },
    {
      title: 'Harga',
      dataIndex: 'harga',
    },
    {
      title: 'Merchant',
      dataIndex: 'merchant',
    },
    {
      title: 'Status',
      dataIndex: 'status',
    },
  ];

  export function getFormPrd(): Partial<FormProps> {
    return {
      schemas: [
        ...schemas,
        {
          field: 'start_date',
          component: 'Input',
          label: '',
          colProps: {
            span: 8,
          },
        },
        {
          field: 'end_date',
          component: 'Input',
          label: '',
          colProps: {
            span: 8,
          },
        },
        {
          field: 'purchase_order',
          component: 'Input',
          label: 'CDT/PO No',
          colProps: {
            span: 8,
          },
          componentProps: {
            placeholder: 'CDT/PO No',
            onChange: (e: any) => {
              return e;
            },
          },
        },
      ],
    };
  }
  export function getFormPrd1(): Partial<FormProps> {
    return {
      schemas: [
        ...schemas,
        {
          field: 'start_date',
          component: 'Input',
          label: '',
          colProps: {
            span: 8,
          },
        },
        {
          field: 'end_date',
          component: 'Input',
          label: '',
          colProps: {
            span: 8,
          },
        },
        {
          field: 'purchase_order',
          component: 'Input',
          label: 'CDT/PO No',
          colProps: {
            span: 8,
          },
          componentProps: {
            placeholder: 'CDT/PO No',
            onChange: (e: any) => {
              return e;
            },
          },
        },
      ],
    };
  }

  var FORM_VALUES: Recordable = {};

  

      const storeListApiResult = await prdListApi2('');
      const items = storeListApiResult.items
      console.log(storeListApiResult)

      let data = [];
      for (let index = 0; index < items.length; index++) {
        const element = items[index];
        data.push({
          No: index + 1,
          'Tanggal Pembayaran': element.tanggal_pembayaran,
          Invoice: element.invoice,
          'Payment Referensi': element.payment_refrensi,
          Toko: element.harga,
          'Merchant': element.merchant,
          Status: element.status,
        });
      }



  export default defineComponent({
    components: { BasicForm, CollapseContainer, TableAction, BasicTable, ExpExcelModal },
    setup() {
      const isSupplier = userStore.getRoleList.includes(RoleEnum.SUPPLIER);
      const check = ref(null);

      const [register] = useForm({
        labelWidth: 150,
        schemas: isSupplier ? schemas : schemas1,
        actionColOptions: {
          span: 20,
        },
        submitButtonOptions: {
          text: 'Filter',
        },
        fieldMapToTime: [['fieldTime', ['startTime', 'endTime'], 'MM-YYYY']],
      });

      const [registerTable, { getForm }] = useTable({
        api: prdListApi,
        columns: columns,
        bordered: true,
        useSearchForm: true,
        tableSetting: { fullScreen: true },
        formConfig: isSupplier ? getFormPrd() : getFormPrd1(),
        // rowKey: 'id',
        // rowSelection: {
        //   type: 'checkbox',
        // },

        actionColumn: {
          ellipsis: true,
          width: 100,
          title: 'Action',
          dataIndex: 'action',
          // slots: { customRender: 'action' },
        },
      });

      function handlePrintSelected(record: Recordable) {
        console.log('klik untuk melihat detail', record);
      }
      function handleViewDetail(record: Recordable) {
        router.push(`/prd/detail/${record.id}`);
      }

      const [register2, { openModal }] = useModal();
      
      function defaultHeader({ filename, bookType }: ExportModalResult) {
        jsonToSheetXlsx({
          data,
          filename,
          write2excelOpts: {
          bookType,
        },
        });
      }

      return {
        registerTable,
        handlePrintSelected,
        handleViewDetail,
        register,
        schemas,
        getForm,
        STATUS_LIST,
        check,
        toDateFormat,
        defaultHeader,
        register2,
        openModal,
      };
    },
    methods: {
      async handleFilter(values: Recordable) {
        const cdtInput: HTMLInputElement = <HTMLInputElement>(document.getElementById('cdt-input'));
        cdtInput.value = '';
        FORM_VALUES = {};
        if (values.PRDForm != undefined) {
          const range: string[] = values.PRDForm;   
          delete values.PRDForm;
          FORM_VALUES = {
            ...values,
            start_date: reformatDate(range[0]),
            end_date: reformatDate(range[1]),
          };
        } 
        else {
          values.start_date = '';
          values.end_date = '';
          FORM_VALUES = values;
        }
        Object.keys(FORM_VALUES).forEach((key) => {
          if (FORM_VALUES[key] === null || values[key] == '') {
            delete FORM_VALUES[key];
          }
        });

        await this.getForm().resetFields();
        await this.getForm().setFieldsValue(FORM_VALUES);
        await this.getForm().submit();
      },
      async handleSearch(e: ChangeEvent) {
        const searchValueRef = ref('');
        searchValueRef.value = e.target.value;
        var SEARCH_FORM_VALUES;
        if (e.target.value != '') {
          SEARCH_FORM_VALUES = { ...FORM_VALUES, purchase_order: searchValueRef.value };
          console.log('koko', SEARCH_FORM_VALUES);
          await this.getForm().setFieldsValue(SEARCH_FORM_VALUES);
          await this.getForm().submit();
        } else {
          await this.getForm().resetFields();
          await this.getForm().setFieldsValue(FORM_VALUES);
          await this.getForm().submit();
        }
      },
    },  
  });
</script>
