<template>
  <KeepAlive>
    <Suspense>
      <PrdDetailMain :prdId="cdt" />
    </Suspense>
  </KeepAlive>
</template>

<script lang="ts">
  import { defineComponent } from 'vue';
  import { useMessage } from '/@/hooks/web/useMessage';
  import { toFixedFloat, PrdDetailMain } from '/@/views/components/DetailTemplates';
  import {
    prdInfoSchema,
    pengirimSchema,
    prdDetailInfoData,
    prdInfoData,
  } from './hard-code-materials/prdData';
  import { useRoute } from 'vue-router';

  export default defineComponent({
    components: {
      PrdDetailMain,
    },
    setup() {
      const { createMessage } = useMessage();

      const route = useRoute();
      const cdt = route.params.cdt.toString();

      function handleViewDocument(record: Recordable) {
        console.log('klik untuk melihat detail', record);
      }

      function handlePrint(record: Recordable) {
        console.log('klik untuk melihat detail', record);
      }

      function handleDownloadXML(record: Recordable) {
        console.log('klik untuk melihat detail', record);
      }

      return {
        handleViewDocument,
        handlePrint,
        handleDownloadXML,
        handleSubmit: (values: Recordable) => {
          createMessage.success('click search,values:' + JSON.stringify(values));
        },
        toFixedFloat,
        prdInfoSchema,
        pengirimSchema,
        prdDetailInfoData,
        prdInfoData,
        cdt,
      };
    },
  });
</script>

<style scoped>
  .destination {
    font-size: 20px;
  }

  .info-title {
    font-size: 14px;
    font-weight: bold;
  }

  #total-price-box {
    padding: 8px;
    font-size: 16px;
    text-align: right;
    margin-bottom: 16px;
  }

  #total-price-amount {
    font-weight: bold;
  }

  #additional-info {
    white-space: pre-line;
    font-size: 14px;
    background-color: #ee2a33;
    color: white;
    border-radius: 20px;
    margin: 0px 10px 20px;
  }
</style>
