<template>
  <!-- <CollapseContainer title="PROFORMA INVOICE" :canExpan="false">
  </CollapseContainer> -->
  <CollapseContainer title="Filter">
    <BasicForm @register="register" @submit="handleFilter" />
  </CollapseContainer>

  <div class="p-1" style="background-color: white">
    <div
      class="w-1/6 !md:mt-0 !md:mr-4"
      style="float: left; text-align: right; align-items: center; height: 32px; display: grid"
    >
      Search CDT/PO No: &nbsp;
    </div>
    <div class="w-1/4 !md:mt-0 !md:mr-4" style="float: left">
      <a-input ref="inputRef" allow-clear @change="handleSearch" id="cdt-input">
        <template #prefix></template>
      </a-input>
    </div>
    <BasicTable @register="registerTable">
      <template #bodyCell="{ column, record }">
        <template v-if="column.key === 'action'">
          <TableAction
            :actions="[
              // {
              //   label: 'Dokumen',
              //   onClick: handleViewDocument.bind(null, record),
              // },
              {
                label: 'Detail',
                onClick: handleViewDetail.bind(null, record),
              },
            ]"
          />
        </template>
        <!-- <template v-if="column.key === 'status'">{{ STATUS_LIST[record.status] }}</template> -->
        <template v-if="column.key === 'revision'">{{ record.revision }}</template>
        <template v-if="column.key === 'supplier_name'">{{ record.supplier_name }}</template>
        <template v-if="column.key === 'date_updated'">{{
          toDateFormat(record.date_updated)
        }}</template>
        <!-- <template v-if="column.key === 'total_net_amount'"
          >Rp. {{ toFixedFloat(record.total_amount) }}</template
        > -->
        <!-- <template v-if="column.key === 'store_code'"
          >{{ record.store_code }} - {{ record.delivery_to }}</template
        > -->
        <template v-if="column.field === 'supplier_name'">{{ record.supplier_name }}</template>
        <!-- <template v-if="column.field === 'store'">{{ record.store_code }}</template> -->
        <template v-if="column.key === 'store'">{{ record.store }}</template>
        <template v-if="column.field === 'supplier_name'">{{ record.supplier_name }}</template>
        <template v-if="column.key === 'status'">
          <Status
              :status="record.status"
            />
        </template>
        <template v-if="column.key === 'id'"
            ><strong>{{ record.purchase_order }}</strong></template
          >
      </template>
    </BasicTable>
  </div>
</template>

<script lang="ts">
import { defineComponent, ref } from 'vue';
import { BasicForm, FormProps, FormSchema, useForm } from '/@/components/Form/index';
import { CollapseContainer } from '/@/components/Container/index';
import { BasicTable, useTable, BasicColumn, TableAction } from '/@/components/Table';
import createOptions from './templates/dropdownOptions';
import { pfiListApi } from '/@/api/vms/proformaInvoice';
import { reformatDate, toDateFormat } from './DetailTemplates';
import { router } from '/@/router';
import { BUSINESS_UNIT_LIST, STORE_LIST, SUPPLIER_LIST } from '/@/utils/vms/dropdownOptions';
import { RoleEnum } from '/@/enums/roleEnum';
import { useUserStore } from '/@/store/modules/user';
import { Status } from '/@/views/components/DetailTemplates';
const userStore = useUserStore();
const STATUS_LIST = {
  ALL: 'All',
  NEW: 'Baru',
  AWAITING_ACTION: 'Menunggu respon',
  REJECTED: 'Ditolak',
  ACCEPTED: 'Disahkan',
  CANCELED: 'Dibatalkan',
  LITIGATION: 'Litigasi',
};

const schemas: FormSchema[] = [
  {
    field: 'merchant',
    component: 'Input',
    label: 'Merchant',
    show: false,
    colProps: {
      span: 8,
    },
    componentProps: {
      placeholder: '--Select--',
      options: createOptions(SUPPLIER_LIST, true),
    },
  },
  {
    field: 'supplier_code',
    component: 'Input',
    label: 'Kode Supplier',
    defaultValue: userStore.getUserInfo.username,
    show: false,
    colProps: {
      span: 8,
    },
    componentProps: {
      placeholder: userStore.getUserInfo.username,
      onChange: (e: any) => {
        return e;
      },
    },
  },
  {
    field: 'PFIFrom',
    component: 'RangePicker',
    label: 'PFI Date From',
    colProps: {
      span: 8,
    },
  },
  {
    field: 'status',
    component: 'Select',
    label: 'Status',
    colProps: {
      span: 8,
    },
    componentProps: {
      placeholder: '--Select--',
      options: createOptions(STATUS_LIST, true),
    },
  },
  {
    field: 'store',
    component: 'Select',
    label: 'Toko',
    show: false,
    colProps: {
      span: 8,
    },
    componentProps: {
      placeholder: '--Select--',
      options: createOptions(STORE_LIST, true),
    },
  },
  {
    field: 'business_unit',
    component: 'Select',
    label: 'Business Unit',
    colProps: {
      span: 8,
    },
    componentProps: {
      placeholder: '--Select--',
      options: createOptions(BUSINESS_UNIT_LIST, true),
    },
  },
];

const schemas1: FormSchema[] = [
  {
    field: 'merchant',
    component: 'Input',
    label: 'Merchant',
    colProps: {
      span: 8,
    },
    componentProps: {
      placeholder: '--Select--',
      options: createOptions(SUPPLIER_LIST, true),
    },
  },
  {
    field: 'PFIFrom',
    component: 'RangePicker',
    label: 'PFI Date From',
    colProps: {
      span: 8,
    },
  },
  {
    field: 'status',
    component: 'Select',
    label: 'Status',
    colProps: {
      span: 8,
    },
    componentProps: {
      placeholder: '--Select--',
      options: createOptions(STATUS_LIST, true),
    },
  },
  {
    field: 'store',
    component: 'Select',
    label: 'Toko',
    colProps: {
      span: 8,
    },
    componentProps: {
      placeholder: '--Select--',
      options: createOptions(STORE_LIST, true),
    },
  },
  {
    field: 'business_unit',
    component: 'Select',
    label: 'Business Unit',
    colProps: {
      span: 8,
    },
    componentProps: {
      placeholder: '--Select--',
      options: createOptions(BUSINESS_UNIT_LIST, true),
    },
  },
];
const columns: BasicColumn[] = [
  {
    title: 'Referensi',
    key: 'id',
  },
  {
    title: 'Merchant',
    dataIndex: 'supplier_name',
  },
  {
    title: 'Toko',
    key: 'store',
  },
  {
    title: 'Revisi',
    dataIndex: 'revision',
  },
  {
    title: 'Tanggal diterima',
    key: 'date_updated',
  },
  {
    title: 'Status',
    key: 'status',
  },
];

export function getFormPfi(): Partial<FormProps> {
  return {
    schemas: [
      ...schemas,
      {
        field: 'start_date',
        component: 'Input',
        label: '',
        colProps: {
          span: 8,
        },
      },
      {
        field: 'end_date',
        component: 'Input',
        label: '',
        colProps: {
          span: 8,
        },
      },
      {
        field: 'purchase_order',
        component: 'Input',
        label: 'Search CDT/PO No',
        colProps: {
          span: 8,
        },
        componentProps: {
          placeholder: 'Search CDT/PO No',
          onChange: (e: any) => {
            return e;
          },
        },
      },
    ],
  };
}
export function getFormPfi1(): Partial<FormProps> {
  return {
    schemas: [
      ...schemas1,
      {
        field: 'start_date',
        component: 'Input',
        label: '',
        colProps: {
          span: 8,
        },
      },
      {
        field: 'end_date',
        component: 'Input',
        label: '',
        colProps: {
          span: 8,
        },
      },
      {
        field: 'purchase_order',
        component: 'Input',
        label: 'Search CDT/PO No',
        colProps: {
          span: 8,
        },
        componentProps: {
          placeholder: 'Search CDT/PO No',
          onChange: (e: any) => {
            return e;
          },
        },
      },
    ],
  };
}
var FORM_VALUES: Recordable = {};

export default defineComponent({
  components: { BasicForm, CollapseContainer, TableAction, BasicTable, Status },
  setup() {
    const check = ref(null);

    const isSupplier = userStore.getRoleList.includes(RoleEnum.SUPPLIER);

    const [register] = useForm({
      labelWidth: 150,
      schemas: isSupplier ? schemas : schemas1,
      actionColOptions: {
        span: 20,
      },
      submitButtonOptions: {
        text: 'Filter',
      },
      fieldMapToTime: [['fieldTime', ['startTime', 'endTime'], 'MM-YYYY']],
    });

    const [registerTable, { getForm }] = useTable({
      api: pfiListApi,
      columns: columns,
      bordered: true,
      useSearchForm: true,
      tableSetting: { fullScreen: true },

      formConfig: isSupplier ? getFormPfi() : getFormPfi1(),
      // rowKey: 'id',
      // rowSelection: {
      //   type: 'checkbox',
      // },
      actionColumn: {
        ellipsis: true,
        width: 100,
        title: 'Action',
        dataIndex: 'action',
        // slots: { customRender: 'action' },
      },
    });

    function handleViewDocument(record: Recordable) {
      console.log('klik untuk melihat detail', record);
    }

    function handleViewDetail(record: Recordable) {
      window.sessionStorage.setItem('PO', record.id);
      router.push(`/proforma-invoice/detail/${record.id}`);
    }

    function handlePrintSelected(record: Recordable) {
      console.log('klik untuk melihat detail', record);
    }
    return {
      registerTable,
      handleViewDocument,
      handleViewDetail,
      handlePrintSelected,
      register,
      reformatDate,
      check,
      getForm,
      STATUS_LIST,
      toDateFormat,
      // handleLoad,
    };
  },
  methods: {
    async handleFilter(values: Recordable) {
      const cdtInput: HTMLInputElement = <HTMLInputElement>document.getElementById('cdt-input');
      cdtInput.value = '';
      FORM_VALUES = {};
      if (values.PFIFrom != undefined) {
        const range: string[] = values.PFIFrom;
        delete values.PFIFrom;
        FORM_VALUES = {
          ...values,
          start_date: reformatDate(range[0]),
          end_date: reformatDate(range[1]),
        };
      } else {
        values.start_date = '';
        values.end_date = '';
        FORM_VALUES = values;
      }
      Object.keys(FORM_VALUES).forEach((key) => {
        if (FORM_VALUES[key] === null || values[key] == '') {
          delete FORM_VALUES[key];
        }
      });

      await this.getForm().resetFields();
      await this.getForm().setFieldsValue(FORM_VALUES);
      await this.getForm().submit();
    },
    async handleSearch(e: ChangeEvent) {
      const searchValueRef = ref('');
      searchValueRef.value = e.target.value;
      var SEARCH_FORM_VALUES;
      if (e.target.value != '') {
        SEARCH_FORM_VALUES = { ...FORM_VALUES, purchase_order: searchValueRef.value };
        console.log('koko', SEARCH_FORM_VALUES);
        await this.getForm().setFieldsValue(SEARCH_FORM_VALUES);
        await this.getForm().submit();
      } else {
        await this.getForm().resetFields();
        await this.getForm().setFieldsValue(FORM_VALUES);
        await this.getForm().submit();
      }
    },
  },
});
</script>
