<template>
  <!-- <CollapseContainer title="PROFORMA INVOICE RESPONSE" :canExpan="false" /> -->
  <CollapseContainer title="Filter">
    <BasicForm @register="register" @submit="handleFilter" />
  </CollapseContainer>

  <div class="p-1" style="background-color: white">
    <div
      class="w-1/6 !md:mt-0 !md:mr-4"
      style="float: left; text-align: right; align-items: center; height: 32px; display: grid"
    >
      Search CDT/PO No: &nbsp;
    </div>
    <div class="w-1/4 !md:mt-0 !md:mr-4" style="float: left">
      <a-input ref="inputRef" allow-clear @change="handleSearch" id="cdt-input">
        <template #prefix></template>
      </a-input>
    </div>
    <BasicTable @register="registerTable">
      <template #bodyCell="{ column, record }">
        <template v-if="column.key === 'action'">
          <TableAction
            :actions="[
              {
                label: 'Detail',
                onClick: handleViewDetail.bind(null, record),
              },
            ]"
          />
        </template>
        <template v-if="column.key === 'tanggal_diterima'">{{
          toDateFormat(record.tanggal_diterima)
        }}</template>
        <template v-if="column.field === 'supplier_name'">{{ record.merchant }}</template>
        <template v-if="column.key === 'status'">
          <Status
              :status="record.status"
            />
        </template>
        <template v-if="column.key === 'id'"
            ><strong>{{ record.referensi }}</strong></template
          >
      </template>
    </BasicTable>
  </div>
</template>

<script lang="ts">
  import { defineComponent, ref } from 'vue';
  import { BasicForm, FormProps, FormSchema, useForm } from '/@/components/Form/index';
  import { CollapseContainer } from '/@/components/Container/index';
  import { useMessage } from '/@/hooks/web/useMessage';
  import { BasicTable, useTable, BasicColumn, TableAction } from '/@/components/Table';
  import createOptions from './templates/dropdownOptions';
  import { pfirListApi } from '/@/api/vms/proformaInvoiceResp';
  import { reformatDate, toDateFormat } from './DetailTemplates';
  import { router } from '/@/router';
  import { BUSINESS_UNIT_LIST, STORE_LIST } from '/@/utils/vms/dropdownOptions';

  import { useUserStore } from '/@/store/modules/user';
  import { RoleEnum } from '/@/enums/roleEnum';
  import { Status } from '/@/views/components/DetailTemplates';
  const userStore = useUserStore();

  const STATUS_LIST = {
    ALL: 'All',
    AWAITING_ACTION: 'Menunggu respon',
    REJECTED: 'Ditolak',
    ACCEPTED: 'Disahkan',
    LITIGATION: 'Litigasi',
    CANCELLED: 'DiTolak',
    DRAFT: 'Draft',
    SUPPLIER_SENT: 'Dikirim',
    NEW: 'Baru',
  };

  const schemas: FormSchema[] = [
    {
      field: 'supplier_name',
      component: 'Select',
      label: 'Merchant',
      show: false,

      colProps: {
        span: 8,
      },
      componentProps: {
        placeholder: 'Merchant',
        onChange: (e: any) => {
          console.log(e);
        },
      },
    },
    {
      field: 'supplier_code',
      component: 'Input',
      label: 'Kode Supplier',
      defaultValue: userStore.getUserInfo.username,
      show: false,
      colProps: {
        span: 8,
      },
      componentProps: {
        placeholder: userStore.getUserInfo.username,
        onChange: (e: any) => {
          return e;
        },
      },
    },
    {
      field: 'PFIRFrom',
      component: 'RangePicker',
      label: 'PFIR Date From',
      colProps: {
        span: 8,
      },
    },
    {
      field: 'status',
      component: 'Select',
      label: 'Status',
      colProps: {
        span: 8,
      },
      componentProps: {
        placeholder: '--Select--',
        options: createOptions(STATUS_LIST),
      },
    },
    {
      field: 'store_code',
      component: 'Select',
      label: 'Toko',
      show: false,

      colProps: {
        span: 8,
      },
      componentProps: {
        placeholder: 'All',
        options: createOptions(STORE_LIST, true),
      },
    },
    {
      field: 'business_unit_name',
      component: 'Select',
      label: 'Business Unit',
      colProps: {
        span: 8,
      },
      componentProps: {
        placeholder: 'All',
        options: createOptions(BUSINESS_UNIT_LIST, true),
      },
    },
  ];

  const schemas1: FormSchema[] = [
    {
      field: 'supplier_name',
      component: 'Select',
      label: 'Merchant',
      colProps: {
        span: 8,
      },
      componentProps: {
        placeholder: 'Merchant',
        onChange: (e: any) => {
          console.log(e);
        },
      },
    },
    {
      field: 'PFIRFrom',
      component: 'RangePicker',
      label: 'PFIR Date From',
      colProps: {
        span: 8,
      },
    },
    {
      field: 'status',
      component: 'Select',
      label: 'Status',
      colProps: {
        span: 8,
      },
      componentProps: {
        placeholder: '--Select--',
        options: createOptions(STATUS_LIST),
      },
    },
    {
      field: 'store_code',
      component: 'Select',
      label: 'Toko',
      colProps: {
        span: 8,
      },
      componentProps: {
        placeholder: 'All',
        options: createOptions(STORE_LIST, true),
      },
    },
    {
      field: 'business_unit_name',
      component: 'Select',
      label: 'Business Unit',
      colProps: {
        span: 8,
      },
      componentProps: {
        placeholder: 'All',
        options: createOptions(BUSINESS_UNIT_LIST, true),
      },
    },
  ];

  const columns: BasicColumn[] = [
    {
      title: 'Referensi',
      key: 'id',
    },
    {
      title: 'Merchant',
      dataIndex: 'merchant',
    },
    {
      title: 'Toko',
      dataIndex: 'store',
    },
    {
      title: 'Revisi',
      dataIndex: 'revisi',
    },
    {
      title: 'Tanggal diterima',
      key: 'tanggal_diterima',
    },
    {
      title: 'Status',
      key: 'status',
    },
  ];

  var FORM_VALUES: Recordable = {};

  export function getFormPfir(): Partial<FormProps> {
    return {
      schemas: [
        ...schemas,
        {
          field: 'start_date',
          component: 'Input',
          label: '',
          colProps: {
            span: 8,
          },
        },
        {
          field: 'end_date',
          component: 'Input',
          label: '',
          colProps: {
            span: 8,
          },
        },
        {
          field: 'purchase_order',
          component: 'Input',
          label: 'Search CDT/PO No',
          colProps: {
            span: 8,
          },
          componentProps: {
            placeholder: 'Search CDT/PO No',
            onChange: (e: any) => {
              return e;
            },
          },
        },
      ],
    };
  }
  export function getFormPfir1(): Partial<FormProps> {
    return {
      schemas: [
        ...schemas1,
        {
          field: 'start_date',
          component: 'Input',
          label: '',
          colProps: {
            span: 8,
          },
        },
        {
          field: 'end_date',
          component: 'Input',
          label: '',
          colProps: {
            span: 8,
          },
        },
        {
          field: 'purchase_order',
          component: 'Input',
          label: 'Search CDT/PO No',
          colProps: {
            span: 8,
          },
          componentProps: {
            placeholder: 'Search CDT/PO No',
            onChange: (e: any) => {
              return e;
            },
          },
        },
      ],
    };
  }

  export default defineComponent({
    components: { BasicForm, CollapseContainer, TableAction, BasicTable,Status },
    setup() {
      const isSupplier = userStore.getRoleList.includes(RoleEnum.SUPPLIER);

      const check = ref(null);

      const [register] = useForm({
        labelWidth: 150,
        schemas: isSupplier ? schemas : schemas1,
        actionColOptions: {
          span: 20,
        },
        fieldMapToTime: [['fieldTime', ['startTime', 'endTime'], 'MM-YYYY']],
      });

      const [registerTable, { getForm }] = useTable({
        api: pfirListApi,
        columns: columns,
        bordered: true,
        useSearchForm: true,
        tableSetting: { fullScreen: true },
        formConfig: isSupplier ? getFormPfir() : getFormPfir1(),
        // rowKey: 'id',
        // rowSelection: {
        //   type: 'checkbox',
        // },
        actionColumn: {
          ellipsis: true,
          width: 100,
          title: 'Action',
          dataIndex: 'action',
        },
      });

      function handleViewDocument(record: Recordable) {
        console.log('klik untuk melihat detail', record);
      }

      function handleViewDetail(record: Recordable) {
        router.push(`/proforma-invoice-response/detail/${record.id}`);
      }

      function handlePrintSelected(record: Recordable) {
        console.log('klik untuk melihat detail', record);
      }

      return {
        registerTable,
        handleViewDocument,
        handleViewDetail,
        handlePrintSelected,
        register,
        getForm,
        schemas,
        check,
        STATUS_LIST,
        toDateFormat,
        // handleLoad,
      };
    },
    methods: {
      async handleFilter(values: Recordable) {
        document.getElementById('cdt-input').value = '';
        FORM_VALUES = {};

        if (values.PFIRFrom) {
          const range = values.PFIRFrom;
          delete values.PFIRFrom;
          FORM_VALUES = {
            ...values,
            start_date: reformatDate(range[0]),
            end_date: reformatDate(range[1]),
          };
        } else FORM_VALUES = values;

        Object.keys(FORM_VALUES).forEach((key) => {
          if (FORM_VALUES[key] === null || values[key] == '') {
            delete FORM_VALUES[key];
          }
          console.log('koko', FORM_VALUES);
        });

        await this.getForm().resetFields();
        await this.getForm().setFieldsValue(FORM_VALUES);
        await this.getForm().submit();
      },
      async handleSearch(e: ChangeEvent) {
        const searchValueRef = ref('');
        searchValueRef.value = e.target.value;
        var SEARCH_FORM_VALUES;
        if (e.target.value != '') {
          SEARCH_FORM_VALUES = { ...FORM_VALUES, purchase_order: searchValueRef.value };
          await this.getForm().setFieldsValue(SEARCH_FORM_VALUES);
          await this.getForm().submit();
        } else {
          await this.getForm().resetFields();
          await this.getForm().setFieldsValue(FORM_VALUES);
          await this.getForm().submit();
        }
      },
    },
  });
</script>
