<template>
  <div>
    <!-- <CollapseContainer :title="'CDT: '" :canExpan="false">
      <DocumentDropdownButton :documents="documents" :cdt="cdt" />
    </CollapseContainer> -->
    <KeepAlive>
      <Suspense>
        <PoDetailMain :poId="cdt" />
      </Suspense>
    </KeepAlive>
  </div>
</template>

<script lang="ts">
  import { defineComponent } from 'vue';
  import { useMessage } from '/@/hooks/web/useMessage';

  import { DocumentDropdownButton, PoDetailMain } from '/@/views/components/DetailTemplates';
  import {
    // totalPriceData,
    additionalInfoData,
    documents,
  } from './hard-code-materials/descData';
  // import { router } from '/@/router';
  // import { shallowRef } from '@vue/runtime-core';
  import { useRoute } from 'vue-router';
  import { CollapseContainer } from '/@/components/Container';

  export default defineComponent({
    components: {
      DocumentDropdownButton,
      PoDetailMain,
      CollapseContainer
    },
    setup() {
      const { createMessage } = useMessage();

      const route = useRoute();
      const cdt = route.params.cdt.toString();

      function handleViewDocument(record: Recordable) {
        console.log('klik untuk melihat detail', record);
      }

      function handleDownloadXML(record: Recordable) {
        console.log('klik untuk melihat detail', record);
      }

      return {
        handleViewDocument,
        handleDownloadXML,
        handleSubmit: (values: Recordable) => {
          createMessage.success('click search,values:' + JSON.stringify(values));
        },
        additionalInfoData,
        documents,
        cdt,
      };
    },
  });
</script>
