<template>
  <KeepAlive>
    <Suspense>
      <RaDetailMain
        :raId="raId"
        :orderInfoSchema="orderInfoSchema"
        :raInfoSchema="raInfoSchema"
        :supplierSchema="supplierSchema"
        :columns="columns"
      />
    </Suspense>
  </KeepAlive>
</template>

<script lang="ts">
  import { defineComponent } from 'vue';
  import { BasicColumn } from '/@/components/Table';
  import { toFixedFloat } from '/@/views/components/DetailTemplates';
  import { RaDetailMain } from '/@/views/components/DetailTemplates';
  import { useRoute } from 'vue-router';
  import { DescItem } from '/@/components/Description';

  const orderInfoSchema: DescItem[] = [
    { field: 'po_no', label: 'Nomor Order' },
    { field: 'order_date', label: 'Tanggal Order' },
    { field: 'dept_code', label: 'Kode Departemen' },
    { field: 'store_code', label: 'Kelompok Pemesan' },
    { field: 'delivery_to', label: 'Pengiriman Ke' },
    { field: 'recipient_code', label: 'Kode Penerima' },
  ];

  const supplierSchema: DescItem[] = [
    { field: 'supplier_code', label: 'Kode' },
    { field: 'supplier_phone', label: 'Telepon' },
    { field: 'supplier_fax_number', label: 'Fax' },
  ];

  export const raInfoSchema: DescItem[] = [
    { field: 'receiving_advice_number', label: 'Nomor RA' },
    { field: 'receiving_advice_date', label: 'Tanggal RA' },
  ];

  const columns: BasicColumn[] = [
    { title: 'Kode Barang', key: 'code', width: 120 },
    { title: 'Kapasitas/Barcode', key: 'capacityAndBarcode', width: 120 },
    { title: 'Nama Barang', key: 'itemName', width: 240 },
    { title: 'Gratis', key: 'freeQty', width: 80 },
    { title: 'Qty dipesan', key: 'orderedQty', width: 80 },
    { title: 'Qty konten', key: 'contentQty', width: 80 },
    { title: 'Qty diterima', key: 'acceptedQty', width: 80 },
    { title: 'Revised', key: 'revised', width: 80 },
    { title: 'Service Level', key: 'serviceLevel', width: 80 },
  ];

  export default defineComponent({
    components: {
      // DocumentDropdownButton,
      RaDetailMain,
    },

    setup() {
      const route = useRoute();
      const raId = route.params.id.toString();

      function handleViewDocument(record: Recordable) {
        console.log('klik untuk melihat detail', record);
      }

      function handleDownloadXML(record: Recordable) {
        console.log('klik untuk melihat detail', record);
      }

      function handleSubmit(values: Recordable) {
        console.log('click search,values: ' + JSON.stringify(values));
      }

      return {
        handleViewDocument,
        handleDownloadXML,
        handleSubmit,
        toFixedFloat,
        raId,
        orderInfoSchema,
        raInfoSchema,
        supplierSchema,
        columns,
        // documents,
        // getId,
      };
    },
  });
</script>

<style scoped>
  .destination {
    font-size: 20px;
  }

  .info-title {
    font-size: 14px;
    font-weight: bold;
  }
</style>
