<template>
  <KeepAlive>
    <Suspense>
      <!-- use v-if, not v-show -->
      <RarDetailSupplier
        :rarId="rarId"
        :orderInfoSchema="orderInfoSchema"
        :rarInfoSchema="rarInfoSchema"
        :supplierSchema="supplierSchema"
        :columns="editingColumns"
      />
    </Suspense>
  </KeepAlive>
</template>

<script lang="ts">
  import { defineComponent } from 'vue';
  import { BasicColumn } from '/@/components/Table/src/types/table';
  import { DescItem } from '/@/components/Description';
  import { RarDetailSupport, RarDetailSupplier } from '/@/views/components/DetailTemplates';
  import { useRoute } from 'vue-router';

  // COLOR #fcc0c0
  const columns: BasicColumn[] = [
    { title: 'Kode Barang', key: 'code', width: 120 },
    { title: 'Kapasitas/Barcode', key: 'capacityAndBarcode', width: 120 },
    { title: 'Nama Barang', key: 'itemName', width: 360 },
    { title: 'Gratis', key: 'freeQty', width: 80 },
    { title: 'Qty dipesan', key: 'orderedQty', width: 80 },
    { title: 'Qty konten', key: 'contentQty', width: 80 },
    { title: 'Terima', key: 'isAccepted', width: 80 },
    { title: 'Qty diterima', key: 'receivedQty', width: 80 },
    { title: 'Revised', key: 'revised', width: 80 },
    { title: 'Service Level', key: 'serviceLevel', width: 80 },
    { title: 'Keterangan', key: 'description', width: 120 },
  ];

  const rarInfoSchema: DescItem[] = [
    { field: 'number', label: 'Nomor RA' },
    { field: 'date', label: 'Tanggal RA' },
    { field: 'revision', label: 'Revisi RA' },
  ];

  const orderInfoSchema: DescItem[] = [
    { field: 'po_no', label: 'Nomor Order' },
    { field: 'order_date', label: 'Tanggal Order' },
    { field: 'dept_code', label: 'Kode Departemen' },
    { field: 'store_code', label: 'Kelompok Pemesan' },
    { field: 'delivery_to', label: 'Pengiriman Ke' },
    { field: 'supplier_code', label: 'Kode Penerima' },
  ];

  const supplierSchema: DescItem[] = [
    { field: 'supplier_code', label: 'Kode' },
    { field: 'supplier_phone', label: 'Telepon' },
    { field: 'supplier_fax_number', label: 'Fax' },
  ];

  export default defineComponent({
    components: {
      RarDetailSupplier,
    },
    setup() {
      const route = useRoute();
      const rarId = route.params.id.toString();

      const generalColumns = columns;
      const editingColumns: BasicColumn[] = columns.slice(0, 6).concat([
        {
          title: 'Terima',
          key: 'isAccepted',
          width: 80,
        },
        {
          title: 'Qty diterima',
          key: 'receivedQty', //dataIndex: 'received_qty'
          width: 160,
        },
        { title: 'Revised', key: 'revised', width: 80 },
        { title: 'Service Level', key: 'serviceLevel', width: 80 },
        { title: 'Keterangan', key: 'description', width: 160 }, //dataIndex: 'remarks'
      ]);
      // const supplierColumns = columns & { TODO }

      function handleViewDocument(record: Recordable) {
        console.log('klik untuk melihat detail', record);
      }

      function handlePrint(record: Recordable) {
        console.log('klik untuk melihat detail', record);
      }

      function handleDownloadXML(record: Recordable) {
        console.log('klik untuk melihat detail', record);
      }

      function handleSubmit(values: Recordable) {
        console.log('click search,values: ' + JSON.stringify(values));
      }

      return {
        handleViewDocument,
        handlePrint,
        handleDownloadXML,
        handleSubmit,
        rarId,
        orderInfoSchema,
        rarInfoSchema,
        supplierSchema,
        generalColumns,
        editingColumns,
        // supplierColumns,
      };
    },
  });
</script>
<style lang="less" scoped>
  .ant-table-tbody > tr.ant-table-row:hover > td,
  .ant-table-tbody > tr > td.ant-table-cell-row-hover {
    color: #ff0000;
  }
</style>
