<template>
  <!-- <CollapseContainer title="RECEIVING ADVICE" :canExpan="false">
    <a-button @click="handlePrintSelected" :type="'primary'">Cetak yang dipilih</a-button>
  </CollapseContainer> -->
  <CollapseContainer title="Filter">
    <BasicForm @register="register" @submit="handleFilter" />
  </CollapseContainer>

  <div class="p-1" style="background-color: white">
    <div
      class="w-1/6 !md:mt-0 !md:mr-4"
      style="float: left; text-align: right; align-items: center; height: 32px; display: grid"
    >
      Search CDT/PO No: &nbsp;
    </div>
    <div class="w-1/4 !md:mt-0 !md:mr-4" style="float: left">
      <a-input ref="inputRef" allow-clear @change="handleSearch" id="cdt-input">
        <template #prefix></template>
      </a-input>
    </div>
    <BasicTable @register="registerTable" :canResize="false">
      <template #bodyCell="{ column, record }">
        <template v-if="column.key === 'action'">
          <TableAction
            :actions="[
              {
                label: 'Detail',
                onClick: handleViewDetail.bind(null, record),
              },
            ]"
          />
        </template>
        <template v-if="column.key === 'status'">
          <Status
              :status="record.status"
            />
        </template>
        <template v-if="column.key === 'po_supplier_name'">{{ record.po.supplier_name }}</template>
        <template v-if="column.key === 'receiving_advice_date'">{{
          toDateFormat(record.receiving_advice_date)
        }}</template>
        <template v-if="column.key === 'store_code'"
          >{{ record.po.store_code }} - {{ record.po.delivery_to }}</template
        >
        <template v-if="column.key === 'id'"
            ><strong>{{ record.purchase_order }}</strong></template
          >
      </template>
    </BasicTable>
  </div>
</template>

<script lang="ts">
import { defineComponent, ref } from 'vue';
import { BasicForm, FormSchema, useForm } from '/@/components/Form/index';
import { CollapseContainer } from '/@/components/Container/index';
import { BasicTable, FormProps, useTable, BasicColumn, TableAction } from '/@/components/Table';
import createOptions from './templates/dropdownOptions';
import { router } from '/@/router';
import { raListApi } from '/@/api/vms/ReceivingAdvice';
import { toDateFormat, reformatDate } from '/@/views/components/DetailTemplates';
import { BUSINESS_UNIT_LIST, STORE_LIST, SUPPLIER_LIST } from '/@/utils/vms/dropdownOptions';
import { useUserStore } from '/@/store/modules/user';

import { RoleEnum } from '/@/enums/roleEnum';
import { Status } from '/@/views/components/DetailTemplates';

const userStore = useUserStore();

const STATUS_LIST = {
  '': 'All',
  NEW: 'Baru',
  AWAITING_ACTION: 'Menunggu respon',
  REJECTED: 'Ditolak',
  ACCEPTED: 'Disahkan',
  LITIGATION: 'Litigasi',
  // ABNORMAL: 'Abnormal',
};

const schemas: FormSchema[] = [
  {
    field: 'supplier_name',
    component: 'Input',
    label: 'Merchant',
    show: false,
    colProps: {
      span: 8,
    },
    componentProps: {
      placeholder: '--Select--',
      options: createOptions(SUPPLIER_LIST, true),
    },
  },
  {
    field: 'supplier_code',
    component: 'Input',
    label: 'Kode Supplier',
    defaultValue: userStore.getUserInfo.username,
    show: false,
    colProps: {
      span: 8,
    },
    componentProps: {
      placeholder: userStore.getUserInfo.username,
      onChange: (e: any) => {
        return e;
      },
    },
  },
  {
    field: 'RAFrom',
    component: 'RangePicker',
    label: 'RA Date From',
    colProps: {
      span: 8,
    },
  },
  {
    field: 'status',
    component: 'Select',
    label: 'Status',
    colProps: {
      span: 8,
    },
    componentProps: {
      placeholder: '--Select--',
      options: createOptions(STATUS_LIST),
    },
  },
  {
    field: 'store_code',
    component: 'Select',
    label: 'Toko',
    show: false,
    colProps: {
      span: 8,
    },
    componentProps: {
      placeholder: '--Select--',
      options: createOptions(STORE_LIST, true),
    },
  },
  {
    field: 'business_unit_name',
    component: 'Select',
    label: 'Business Unit',
    colProps: {
      span: 8,
    },
    componentProps: {
      placeholder: '--Select--',
      options: createOptions(BUSINESS_UNIT_LIST, true),
    },
  },
];

const schemas1: FormSchema[] = [
  {
    field: 'supplier_name',
    component: 'Input',
    label: 'Merchant',
    colProps: {
      span: 8,
    },
    componentProps: {
      placeholder: '--Select--',
      options: createOptions(SUPPLIER_LIST, true),
    },
  },
  {
    field: 'supplier_code',
    component: 'Input',
    label: 'Kode Supplier',
    defaultValue: userStore.getUserInfo.username,
    show: false,
    colProps: {
      span: 8,
    },
    componentProps: {
      placeholder: userStore.getUserInfo.username,
      onChange: (e: any) => {
        return e;
      },
    },
  },
  {
    field: 'RAFrom',
    component: 'RangePicker',
    label: 'RA Date From',
    colProps: {
      span: 8,
    },
  },
  {
    field: 'status',
    component: 'Select',
    label: 'Status',
    colProps: {
      span: 8,
    },
    componentProps: {
      placeholder: '--Select--',
      options: createOptions(STATUS_LIST),
    },
  },
  {
    field: 'store_code',
    component: 'Select',
    label: 'Toko',
    colProps: {
      span: 8,
    },
    componentProps: {
      placeholder: '--Select--',
      options: createOptions(STORE_LIST, true),
    },
  },
  {
    field: 'business_unit_name',
    component: 'Select',
    label: 'Business Unit',
    colProps: {
      span: 8,
    },
    componentProps: {
      placeholder: '--Select--',
      options: createOptions(BUSINESS_UNIT_LIST, true),
    },
  },
];

export function getFormRa(): Partial<FormProps> {
  return {
    schemas: [
      ...schemas,
      {
        field: 'start_date',
        component: 'Input',
        label: '',
        colProps: {
          span: 8,
        },
      },
      {
        field: 'end_date',
        component: 'Input',
        label: '',
        colProps: {
          span: 8,
        },
      },
      {
        field: 'purchase_order',
        component: 'Input',
        label: 'Search CDT/PO No',
        colProps: {
          span: 8,
        },
        componentProps: {
          placeholder: 'Search CDT/PO No',
          onChange: (e: any) => {
            return e;
          },
        },
      },
    ],
  };
}

export function getFormRa1(): Partial<FormProps> {
  return {
    schemas: [
      ...schemas1,
      {
        field: 'start_date',
        component: 'Input',
        label: '',
        colProps: {
          span: 8,
        },
      },
      {
        field: 'end_date',
        component: 'Input',
        label: '',
        colProps: {
          span: 8,
        },
      },
      {
        field: 'purchase_order',
        component: 'Input',
        label: 'Search CDT/PO No',
        colProps: {
          span: 8,
        },
        componentProps: {
          placeholder: 'Search CDT/PO No',
          onChange: (e: any) => {
            return e;
          },
        },
      },
    ],
  };
}

const columns: BasicColumn[] = [
  {
    title: 'Referensi',
    key: 'id',
  },
  {
    title: 'Merchant',
    dataIndex: 'supplier_name',
  },
  {
    title: 'Revisi',
    dataIndex: 'revision_number',
  },
  {
    title: 'Nomor RA',
    dataIndex: 'receiving_advice_number',
  },
  {
    title: 'Tanggal RA',
    key: 'receiving_advice_date',
  },
  {
    title: 'Status',
    key: 'status',
  },
  {
    title: 'Toko',
    dataIndex: 'store',
  },
];

var FORM_VALUES: Recordable = {};

export default defineComponent({
  components: { BasicForm, CollapseContainer, TableAction, BasicTable, Status },
  setup() {
    const isSupplier = userStore.getRoleList.includes(RoleEnum.SUPPLIER);

    const check = ref(null);

    const [register, { setProps }] = useForm({
      labelWidth: 150,
      schemas: isSupplier ? schemas : schemas1,
      actionColOptions: {
        span: 20,
      },
      submitButtonOptions: {
        text: 'Filter',
      },
      fieldMapToTime: [['fieldTime', ['startTime', 'endTime'], 'MM-YYYY']],
    });

    const [registerTable, { getForm }] = useTable({
      //title: 'Table Receiving Advice',
      api: raListApi,
      columns: columns,
      useSearchForm: true,
      bordered: true,
      formConfig: isSupplier ? getFormRa() : getFormRa1(),
      tableSetting: { fullScreen: true },
      // rowKey: 'id',
      // rowSelection: {
      //   type: 'checkbox',
      // },
      actionColumn: {
        ellipsis: true,
        width: 100,
        title: 'Action',
        dataIndex: 'action',
        // slots: { customRender: 'action' },
      },
    });

    function handleViewDocument(record: Recordable) {
      console.log('klik untuk melihat detail', record);
    }

    function handleViewDetail(record: Recordable) {
      router.push(`/receiving-advice/detail/${record.id}`);
    }

    //function handlePrintSelected(record: Recordable) {
    //   console.log('klik untuk melihat detail', record);
    // }

    return {
      registerTable,
      handleViewDocument,
      handleViewDetail,
      // handlePrintSelected,
      register,
      schemas,
      check,
      getForm,
      setProps,
      toDateFormat,
      reformatDate,
      STATUS_LIST,
    };
  },
  methods: {
    async handleFilter(values: Recordable) {
      const cdtInput: HTMLInputElement = <HTMLInputElement>document.getElementById('cdt-input');
      cdtInput.value = '';
      FORM_VALUES = {};
      console.log('raw', values);
      if (values.RAFrom != undefined) {
        const range: string[] = values.RAFrom;
        console.log(range);
        delete values.RAFrom;
        FORM_VALUES = {
          ...values,
          start_date: reformatDate(range[0]),
          end_date: reformatDate(range[1]),
        };
      } else {
        values.start_date = '';
        values.end_date = '';
        FORM_VALUES = values;
      }
      Object.keys(FORM_VALUES).forEach((key) => {
        if (FORM_VALUES[key] === null || values[key] == '') {
          delete FORM_VALUES[key];
        }
      });
      await this.getForm().resetFields();
      await this.getForm().setFieldsValue(FORM_VALUES);
      await this.getForm().submit();
    },
    async handleSearch(e: ChangeEvent) {
      const searchValueRef = ref('');
      searchValueRef.value = e.target.value;
      var SEARCH_FORM_VALUES;
      if (e.target.value != '') {
        SEARCH_FORM_VALUES = { ...FORM_VALUES, purchase_order: searchValueRef.value };
        await this.getForm().setFieldsValue(SEARCH_FORM_VALUES);
        await this.getForm().submit();
      } else {
        await this.getForm().resetFields();
        await this.getForm().setFieldsValue(FORM_VALUES);
        await this.getForm().submit();
      }
    },
  },
});
</script>
