<template>
  <div>
    <!-- <CollapseContainer title="TRF - KWITANSI" :canExpan="false">
      <a-button @click="handlePrintSelected" :type="'primary'">Cetak yang dipilih</a-button>
      <a-button @click="handleDownloadXML" :type="'primary'" class="ml-2 btn"
        >Download XML</a-button
      > 
    </CollapseContainer>  -->
    <CollapseContainer title="Filter">
      <BasicForm @register="register" @submit="handleFilter" />
    </CollapseContainer>
    <div class="p-1" style="background-color: white">
      <div style="margin-bottom: 8px">
        <div
          class="w-1/6 !md:mt-0 !md:mr-4"
          style="float: left; text-align: right; align-items: center; height: 32px; display: grid"
        >
          Nomor Kwitansi: &nbsp;
        </div>
        <div class="w-1/4 !md:mt-0 !md:mr-4" style="float: left">
          <a-input ref="inputRef" allow-clear @change="handleSearch" id="cdt-input"> </a-input>
        </div>
      </div>
      <BasicTable @register="registerTable">
        <template #bodyCell="{ column, record }">
          <template v-if="column.key === 'action'">
            <TableAction
              :actions="[
                {
                  label: 'Downlaod  ',
                  onClick: handleViewDetail.bind(null, record),
                },
              ]"
            />
          </template>
          <template v-if="column.key === 'status'">{{ STATUS_LIST[record.status] }}</template>
          <template v-if="column.key === 'created_date'">{{
            toDateFormat(record.created_date)
          }}</template>
          <template v-if="column.key === 'download_date'">{{
            toDateFormat(record.download_date)
          }}</template>
          <template v-if="column.key === 'store_code'"
            >{{ record.store_code }} - {{ record.delivery_to }}</template
          >
        </template>
      </BasicTable>
    </div>
  </div>
</template>

<script lang="ts">
  import { defineComponent, ref } from 'vue';
  import { BasicForm, FormSchema, useForm } from '/@/components/Form/index';
  import { CollapseContainer } from '/@/components/Container/index';
  import { BasicTable, FormProps, useTable, BasicColumn, TableAction } from '/@/components/Table';
  import createOptions from './templates/dropdownOptions';
  import { router } from '/@/router';
  import { toDateFormat, reformatDate } from '/@/views/components/DetailTemplates';
  import { BUSINESS_UNIT_LIST, STORE_LIST, SUPPLIER_LIST } from '/@/utils/vms/dropdownOptions';
  import { trfkListApi, trfkDetailApi } from '/@/api/vms/TrfKwitansi';
  import jsPDF from 'jspdf';
	import {
    toFixedFloat,
  } from '/@/views/components/DetailTemplates';
  // import { useRefs } from '/@/hooks/core/useRefs';
  // import { useCdtSearch } from '../application/useCdtSearch';

  // let API_URL_PARAMS: Recordable;

  import { useUserStore } from '/@/store/modules/user';
  import { RoleEnum } from '/@/enums/roleEnum';
  const userStore = useUserStore();

  const STATUS_LIST = {
    '': 'All',
    APPROVED: 'Diterima',
    REJECTED: 'DiTolak',
  };

  const schemas: FormSchema[] = [
    {
      field: 'supplier_code',
      component: 'Input',
      label: 'Kode Supplier',
      defaultValue: userStore.getUserInfo.username,
      show: false,
      colProps: {
        span: 8,
      },
      componentProps: {
        placeholder: userStore.getUserInfo.username,
        onChange: (e: any) => {
          return e;
        },
      },
    },
    // {
    //   field: 'merchant',
    //   component: 'Input',
    //   label: 'Kode Supplier',
    //   colProps: {
    //     span: 8,
    //   },
    // },
    {
      field: 'orderFrom',
      component: 'RangePicker',
      label: 'Order From',
      colProps: {
        span: 8,
      },
    },
    // {
    //   field: 'status',
    //   component: 'Select',
    //   label: 'Status',
    //   colProps: {
    //     span: 8,
    //   },
    //   componentProps: {
    //     placeholder: '--Select--',
    //     options: createOptions(STATUS_LIST),
    //   },
    // },
    // {
    //   field: 'toko',
    //   component: 'Select',
    //   label: 'Toko',
    //   colProps: {
    //     span: 8,
    //   },
    //   componentProps: {
    //     placeholder: '--Select--',
    //     options: createOptions(STORE_LIST, true),
    //   },
    // },
    // {
    //   field: 'isRevisedPO',
    //   component: 'CheckboxGroup',
    //   label: 'View Revised POs',
    //   colProps: {
    //     span: 8,
    //   },
    //   componentProps: {
    //     options: [
    //       {
    //         value: '1',
    //       },
    //     ],
    //   },
    // },
    // {
    //   field: 'business_unit',
    //   component: 'Select',
    //   label: 'Business Unit',
    //   colProps: {
    //     span: 8,
    //   },
    //   componentProps: {
    //     placeholder: 'All',
    //     options: createOptions(BUSINESS_UNIT_LIST, true),
    //   },
    // },
  ];
  const schemas1: FormSchema[] = [
    {
      field: 'supplier_code',
      component: 'Input',
      label: 'Supplier Kode',
      colProps: {
        span: 8,
      },
      componentProps: {
        placeholder: 'Supplier Kode',
        onChange: (e: any) => {
          console.log(e);
        },
      },
    },
    // {
    //   field: 'merchant',
    //   component: 'Input',
    //   label: 'Kode Supplier',
    //   colProps: {
    //     span: 8,
    //   },
    // },
    {
      field: 'orderFrom',
      component: 'RangePicker',
      label: 'Order From',
      colProps: {
        span: 8,
      },
    },
    // {
    //   field: 'status',
    //   component: 'Select',
    //   label: 'Status',
    //   colProps: {
    //     span: 8,
    //   },
    //   componentProps: {
    //     placeholder: '--Select--',
    //     options: createOptions(STATUS_LIST),
    //   },
    // },
    // {
    //   field: 'toko',
    //   component: 'Select',
    //   label: 'Toko',
    //   colProps: {
    //     span: 8,
    //   },
    //   componentProps: {
    //     placeholder: '--Select--',
    //     options: createOptions(STORE_LIST, true),
    //   },
    // },
    // {
    //   field: 'isRevisedPO',
    //   component: 'CheckboxGroup',
    //   label: 'View Revised POs',
    //   colProps: {
    //     span: 8,
    //   },
    //   componentProps: {
    //     options: [
    //       {
    //         value: '1',
    //       },
    //     ],
    //   },
    // },
    // {
    //   field: 'business_unit',
    //   component: 'Select',
    //   label: 'Business Unit',
    //   colProps: {
    //     span: 8,
    //   },
    //   componentProps: {
    //     placeholder: 'All',
    //     options: createOptions(BUSINESS_UNIT_LIST, true),
    //   },
    // },
  ];

  export function getFormPo(): Partial<FormProps> {
    return {
      schemas: [
        ...schemas,
        {
          field: 'start_date',
          component: 'Input',
          colProps: {
            span: 8,
          },
          label: 'Start Date', //unused
        },
        {
          field: 'end_date',
          component: 'Input',
          colProps: {
            span: 8,
          },
          label: 'End Date', //unused
        },
        {
          field: 'nomor_kwitansi',
          component: 'Input',
          label: 'Nomor Kwitansi',
          colProps: {
            span: 8,
          },
          componentProps: {
            placeholder: 'Nomor Kwitansi',
            onChange: (e: any) => {
              return e;
            },
          },
        },
      ],
    };
  }
  export function getFormPo1(): Partial<FormProps> {
    return {
      schemas: [
        ...schemas1,
        {
          field: 'start_date',
          component: 'Input',
          colProps: {
            span: 8,
          },
          label: 'Start Date', //unused
        },
        {
          field: 'end_date',
          component: 'Input',
          colProps: {
            span: 8,
          },
          label: 'End Date', //unused
        },
        {
          field: 'nomor_kwitansi',
          component: 'Input',
          label: 'Nomor Kwitansi',
          colProps: {
            span: 8,
          },
          componentProps: {
            placeholder: 'Nomor Kwitansi',
            onChange: (e: any) => {
              return e;
            },
          },
        },
      ],
    };
  }

  const columns: BasicColumn[] = [
    { title: 'No. Kwitansi', dataIndex: 'nomor_kwitansi' },
    { title: 'Create Date', key: 'created_date' },
    { title: 'Download Date', dataIndex: 'download_date' },
    { title: 'Kode Supllier', dataIndex: 'supplier_code' },
    { title: 'Nama Supplier', dataIndex: 'supplier_name' },
    { title: 'Bussines Unit', dataIndex: 'business_unit' },
  ];

  var FORM_VALUES: Recordable = {};

  export default defineComponent({
    components: { BasicForm, CollapseContainer, TableAction, BasicTable },
    setup() {
      const isSupplier = userStore.getRoleList.includes(RoleEnum.SUPPLIER);

      const check = ref(null);

      const [register] = useForm({
        labelWidth: 150,
        schemas: isSupplier ? schemas : schemas1,
        actionColOptions: {
          span: 22,
        },
        submitButtonOptions: {
          text: 'Filter',
        },
        fieldMapToTime: [['fieldTime', ['startTime', 'endTime'], 'MM-YYYY']],
      });

      const [registerTable, { getForm }] = useTable({
        //title: 'Tabel Retur Request',
        api: trfkListApi,
        columns: columns,
        bordered: true,
        useSearchForm: true,
        formConfig: isSupplier ? getFormPo() : getFormPo1(),
        tableSetting: { fullScreen: true },

        actionColumn: {
          ellipsis: true,
          width: 100,
          title: 'Action',
          dataIndex: 'action',
        },
      });

      function handleViewDocument(record: Recordable) {
        console.log('klik untuk melihat detail', record.reference);
      }

      async function handleViewDetail(record: Recordable) {
        const details = await trfkDetailApi({
					id: record.id
				});
				const items = details.items;
				let pdfName = `${items[0].nomor_kwitansi}.pdf`;
        var doc = new jsPDF('p', null, 'a4');

				items.forEach((detail, i) => {
          doc.setFontSize(8);

          doc.text("", 30, 7, 'center', {
							maxWidth: 120,
							align: 'left'
					}).setFont(undefined, 'bold');
					doc.text(items[0].business_unit_name, 31, 7, 'center', {
							maxWidth: 120,
							align: 'left'
					}).setFont(undefined, 'bold');
          doc.text(`${items[0].business_unit_address} ${detail.city} - ${detail.postal_code}`, 10, 12, {
							maxWidth: 100,
							align: 'left'
					}).setFont(undefined, 'bold');

          doc.text('Nomor Kwitansi', 160, 7).setFont(undefined, 'bold');
          doc.text(detail.nomor_kwitansi, 160, 12);

					doc.text(detail.nama_supplier, 30, 30).setFont(undefined, 'normal');
					doc.text(`Rp ${toFixedFloat(parseInt(detail.total_harga))}`, 30, 35).setFont(undefined, 'normal');
					doc.text(numberNotation(parseInt(detail.total_harga)).toString(), 30, 40, 'left').setFont(undefined, 'normal');

					if(i - 1 < items.length) doc.addPage();
        });
				doc.save(pdfName);
      }

      function handlePrintSelected(record: Recordable) {
        //TODO
        console.log('klik untuk melihat detail', record);
      }

      function handleDownloadXML(record: Recordable) {
        //TODO
        console.log('klik untuk melihat detail', record);
      }

			function numberNotation(n){
				if (n < 0)
					return false;
				let single_digit = ['', 'Satu', 'Dua', 'Tiga', 'Empat', 'Lima', 'Enam', 'Tujuh', 'Delapan', 'Sembilan']
				let double_digit = ['Sepuluh', 'Sebelas', 'Dua Belas', 'Tiga Belas', 'Empat Belas', 'Lima Belas', 'Enam Belas', 'Tujuh Belas', 'Delapan Belas', 'Sembilan Belas']
				let below_hundred = ['TwDua Puluh', 'Tiga Puluh', 'Empat Puluh', 'Lima Puluh', 'Enam Puluh', 'Tujuh Puluh', 'Depalan Puluh', 'Sembilan Puluh']
				if (n === 0) return 'Zero'
				function translate(n) {
					let word = "";
					if (n < 10) {
						word = single_digit[n] + ' ';
					}
					else if (n < 20) {
						word = double_digit[n - 10] + ' ';
					}
					else if (n < 100) {
						let rem = translate(n % 10);
						word = below_hundred[(n - n % 10) / 10 - 2] + ' ' + rem;
					}
					else if (n < 1000) {
						word = single_digit[Math.trunc(n / 100)] + ' Ratus ' + translate(n % 100);
					}
					else if (n < 1000000) {
						word = translate(parseInt(n / 1000)).trim() + ' Ribu ' + translate(n % 1000);
					}
					else if (n < 1000000000) {
						word = translate(parseInt(n / 1000000)).trim() + ' Juta ' + translate(n % 1000000);
					}
					else {
						word = translate(parseInt(n / 1000000000)).trim() + ' Miliar ' + translate(n % 1000000000);
					}
					return word;
				}
				let result = translate(n); 
				return result.trim()+' Rupiah.';
			}

      return {
        registerTable,
        handleViewDocument,
        handleViewDetail,
        handlePrintSelected,
        handleDownloadXML,
        getForm,
        register,
        check,
        toDateFormat,
        STATUS_LIST,
      };
    },
    methods: {
      async handleFilter(values: Recordable) {
        const cdtInput: HTMLInputElement = <HTMLInputElement>document.getElementById('cdt-input');
        cdtInput.value = '';
        FORM_VALUES = {};
        if (values.orderFrom != undefined) {
          const range: string[] = values.orderFrom;
          delete values.orderFrom;
          FORM_VALUES = {
            ...values,
            start_date: reformatDate(range[0]),
            end_date: reformatDate(range[1]),
          };
        } else {
          values.start_date = '';
          values.end_date = '';
          FORM_VALUES = values;
        }
        Object.keys(FORM_VALUES).forEach((key) => {
          if (FORM_VALUES[key] === null || values[key] == '') {
            delete FORM_VALUES[key];
          }
        });
        console.log(FORM_VALUES);
        await this.getForm().resetFields();
        await this.getForm().setFieldsValue(FORM_VALUES);
        await this.getForm().submit();
      },
      async handleSearch(e: ChangeEvent) {
        const searchValueRef = ref('');
        searchValueRef.value = e.target.value;
        var SEARCH_FORM_VALUES;
        if (e.target.value != '') {
          SEARCH_FORM_VALUES = { ...FORM_VALUES, nomor_kwitansi: searchValueRef.value };
          console.log('koko', SEARCH_FORM_VALUES);
          await this.getForm().setFieldsValue(SEARCH_FORM_VALUES);
          await this.getForm().submit();
        } else {
          await this.getForm().resetFields();
          await this.getForm().setFieldsValue(FORM_VALUES);
          await this.getForm().submit();
        }
      },
    },
  });
</script>
