<template>
  <CollapseContainer
    :title="'Proforma Invoice ID: ' + pfiDetailInfoApiResult.RA[0].purchase_order"
    :canExpan="false"
  >
    <div class="button">
      <a-button :type="'primary'" @click="jsonPrint">Lihat versi cetak</a-button>
      <!-- <DocumentDropdownButton :documents="documents" :cdt="otherPfiData.cdt" /> -->
      <a-button @click="handleAcceptPfi" :type="'primary ml-2'" v-show="isAccepted">
        Terima
      </a-button>
      <a-button @click="handleRejectPfi" :type="'primary ml-2'" v-show="isRejected">
        Tolak
      </a-button>
      <a-button @click="handleRevertPfi" :type="'primary ml-2'" v-show="isReturn">
        Kembalikan
      </a-button>
      <!-- <a-button :type="'primary ml-2'" disabled v-show="isAccepted">
      <strong>Diterima</strong>
      </a-button> -->
      <a-button @click="handleRevertPfi" :type="'primary ml-2'" v-show="isCancel">
        Batalkan PFI
      </a-button>
      <DocumentDropdownButton :documents="documents2" />
    </div>
  </CollapseContainer>
  <div class="p-1" id="header-pdf">
    <div class="md:flex enter-y">
      <div class="ant-card ant-card-bordered ant-card-small md:w-1/2 w-full !md:mt-0 !md:mr-4">
        <div class="mx-4 mt-4 info-title"> Informasi Order </div>
        <Description
          size="small"
          :bordered="true"
          :column="1"
          :data="pfiDetailInfoData"
          :schema="orderInfoSchema"
        />
        <div class="mx-4 mt-4 info-title"> Informasi PFI </div>
        <Description
          size="small"
          :bordered="true"
          :column="1"
          :data="pfiDetailInfoPFI"
          :schema="InfoSchema"
        />
      </div>
      <div class="ant-card ant-card-bordered ant-card-small md:w-1/2 w-full !md:mt-0 !md:mr-4">
        <div class="mx-4 mt-4 info-title"> Informasi Supplier </div>
        <div class="mx-4 mb-2 destination"> {{ pfiDetailInfoData.supplierName }} </div>
        <Description
          size="small"
          :bordered="true"
          :column="2"
          :data="pfiDetailInfoData"
          :schema="supplierSchema"
        />
      </div>
    </div>
  </div>

  <div class="p-1" style="background-color: white">
    <BasicTable @register="registerTable" class="main-table">
      <template #bodyCell="{ column, record }">
        <template v-if="column.key === 'code'">
          <ItemCodeCell
            :itemCode="record.item_code"
            :sub="record.sub_code"
            :unit="record.unit_code"
          />
        </template>
        <template v-else-if="column.key === 'itemName'">
          <ItemNameCell :itemName="record.item_name" :sub="record.item_name" />
        </template>
        <template v-else-if="column.key === 'capacityAndBarcode'">
          {{ record.capacity }} / {{ record.barcode }}
        </template>
        <template v-else-if="column.key === 'totalQty'">
          {{ record ? toFixedFloat(record.received_qty) : 1 }}
        </template>
        <template v-else-if="column.key === 'Unitprice'">
          {{ toFixedFloat(record.unit_price) }}
        </template>
        <template v-else-if="column.key === 'reconciled'">
          {{ record ? toFixedFloat(record.reconciled) : '' }}
        </template>
      </template>
    </BasicTable>
    <div class="md:flex enter-y" id="total-price-box">
      <div class="md:w-4/5 w-full !md:mt-0 !md:mr-4"> Total Harga: </div>
      <div class="md:w-1/5 w-full !md:mt-0 !md:mr-4" id="total-price-amount">
        Rp.{{ toFixedFloat(total) }}</div
      >
    </div>
    <div class="py-4 px-6" id="additional-info">
      <div class="info-title">Keterangan:</div>
      <div>{{ additionalInfoData }}</div>
    </div>
  </div>
</template>
<script setup lang="ts">
  import { pfiActionApi, pfiDetailApi, pfiInfoApi, pfiRevertApi } from '/@/api/vms/proformaInvoice';
  import { DescItem, Description } from '/@/components/Description';
  import { BasicColumn, useTable, BasicTable } from '/@/components/Table';
  import {
    ItemCodeCell,
    ItemNameCell,
    //QtyOrderCell,
    toDateFormat,
    toFixedFloat,
  } from '/@/views/components/DetailTemplates';
  import { CollapseContainer } from '/@/components/Container/index';
  import { useUserStore } from '/@/store/modules/user';
  import { router } from '/@/router';
  import { PfiActionParams } from '/@/api/vms/model/pfi/pfiActionModel';
  import { useMessage } from '/@/hooks/web/useMessage';
  import { PfiRevertParams } from '/@/api/vms/model/pfi/pfiRevertModel';
  const { createMessage, createConfirm, createSuccessModal } = useMessage();
  import { useTabs } from '/@/hooks/web/useTabs';

  import jsPDF from 'jspdf';
  import autoTable from 'jspdf-autotable';
  import logo from '/@/assets/images/logo.png';
  import { DocumentDropdownButton } from '/@/views/components/DetailTemplates';
  import { documentListApi5 } from '/@/api/vms/Document';

  const props = defineProps({
    pfiId: String,
  });

  const orderInfoSchema: DescItem[] = [
    { field: 'sender_code', label: 'Kode Penerima' },
    { field: 'dept_code', label: 'Kode Departemen' },
    { field: 'po_no', label: 'Nomor Order' },
    { field: 'order_date', label: 'Tanggal Order' },
  ];

  const supplierSchema: DescItem[] = [
    { field: 'supplier_code', label: 'Kode' },
    { field: 'supplier_phone', label: 'Telepon' },
    { field: 'supplier_fax_number', label: 'Fax' },
  ];

  const InfoSchema: DescItem[] = [
    { field: 'date_updated', label: 'Tanggal PFI' },
    { field: 'revision', label: 'Revisi' },
  ];

  const columns: BasicColumn[] = [
    { title: 'Kode Barang', key: 'code', width: 150 },
    { title: 'Kapasitas/Barcode', key: 'capacityAndBarcode', width: 150 },
    { title: 'Nama Barang', key: 'itemName', width: 240 },
    { title: 'Total Qty', key: 'totalQty', width: 80 },
    { title: 'Harga Unit', key: 'Unitprice', width: 80 },
    { title: 'Dicocokkan', key: 'reconciled', width: 90 },
    { title: 'keterangan', key: 'remarks', width: 100 },
  ];

  const userStore = useUserStore();
  const roles = userStore.getUserInfo.roles;

  let userRoles: string[] = [];
  roles.forEach((role) => {
    userRoles.push(role.value);
  });

  const additionalInfoData: String = `Always bring this document when delivering goods.`;

  const pfiDetailInfoApiResult = await pfiInfoApi({ id: props.pfiId! });

  const pfiDetailInfoData = pfiDetailInfoApiResult.RA[0].po;
  pfiDetailInfoData.sender_code = `${pfiDetailInfoData.sender_code} ${pfiDetailInfoData.store_code} - ${pfiDetailInfoData.delivery_to}`;
  pfiDetailInfoData.dept_code = `${pfiDetailInfoData.dept_code} - ${pfiDetailInfoData.department_name}`;
  pfiDetailInfoData.order_date = toDateFormat(pfiDetailInfoData.order_date);

  const pfiDetailInfoPFI = pfiDetailInfoApiResult.PFI;
  pfiDetailInfoPFI.date_updated =
    pfiDetailInfoPFI.date_updated != null
      ? toDateFormat(pfiDetailInfoPFI.date_updated)
      : 'Tue, Nov 12, 2019, 20:11';
  pfiDetailInfoPFI.revision = pfiDetailInfoPFI.revision;
  const PFIStatus = pfiDetailInfoPFI.status;
  console.log('stat', PFIStatus);
  const pfiItemListApiResult = await pfiDetailApi(props.pfiId);

  // const isEditable: boolean =
  //   userRoles.includes('SUPPLIER') && ['NEW', 'AWAITING_ACTION'].includes(PFIStatus);
  const isAccepted: boolean =
    userRoles.includes('SUPPLIER') && ['AWAITING_ACTION', 'NEW'].includes(PFIStatus);
  const isRejected: boolean =
    userRoles.includes('SUPPLIER') && ['AWAITING_ACTION', 'NEW'].includes(PFIStatus);
  const isReturn: boolean = userRoles.includes('') && ['ACCEPTED', 'REJECTED'].includes(PFIStatus);
  const isCancel: boolean =
    userRoles.includes('SUPPLIER') && ['AWAITING_ACTION', 'NEW'].includes(PFIStatus);
  //const isAccepted: boolean = userRoles.includes('SUPPLIER') && PFIStatus === 'ACCEPTED';
  const items: Recordable[] = pfiItemListApiResult.items;

  let total = 0;
  items.forEach((element) => {
    let tot =
      (element ? parseFloat(element.reconciled) : 1) *
      (element ? parseFloat(element.received_qty) : 1);
    total += parseFloat(tot);
  });

  let print = [];
  for (let index = 0; index < items.length; index++) {
    const element = items[index];
    print.push({
      // eslint-disable-next-line prettier/prettier
      No: index + 1,
      // eslint-disable-next-line prettier/prettier
      'Kode Barang':
        element.item_code + ' Sub: ' + element.sub_code + ' Unit: ' + element.unit_code,
      // eslint-disable-next-line prettier/prettier
      'Kapasitas/ Barcode': element.barcode + ' ' + element.capacity,
      // eslint-disable-next-line prettier/prettier
      'Nama Barang': element.item_name,
      'Total Qty': toFixedFloat(element.received_qty),
      // eslint-disable-next-line prettier/prettier
      'Harga Unit': toFixedFloat(element.unit_price),
      // eslint-disable-next-line prettier/prettier
      Dicocokkan: toFixedFloat(element.reconciled),
      // eslint-disable-next-line prettier/prettier
      Keterangan: element.remarks,
    });
  }

  const [registerTable] = useTable({
    title: 'Tabel Item',
    dataSource: items,
    columns: columns,
    bordered: true,
    tableSetting: { fullScreen: true },
    loading: false,
    pagination: false,
    canResize: true,
    scroll: { y: 300 },
    // showSummary: true,
  });

  interface Document {
    docKey: string;
    reference: string;
    status: string;
    date: Date;
    accepted?: string;
  }
  const documentApiResult = await documentListApi5({ pfi_id: props.pfiId! });
  console.log(documentApiResult);

  let documents: Document[] = [
    {
      docKey: 'po',
      reference: documentApiResult.items[0].id,
      status: documentApiResult.items[0].po_status,
      date: documentApiResult.items[0].po_date,
    },
    {
      docKey: 'ra',
      reference: documentApiResult.items[0].ra_id,
      status: documentApiResult.items[0].ra_status,
      date: documentApiResult.items[0].ra_date,
    },
    {
      docKey: 'rar',
      reference: documentApiResult.items[0].rar_id,
      status: documentApiResult.items[0].rar_status,
      date: documentApiResult.items[0].rar_date,
    },
    {
      docKey: 'pfi',
      reference: documentApiResult.items[0].pfi_id,
      status: documentApiResult.items[0].pfi_status,
      date: documentApiResult.items[0].pfi_date,
    },
    {
      docKey: 'pfir',
      reference: documentApiResult.items[0].pfir_id,
      status: documentApiResult.items[0].pfir_status,
      date: documentApiResult.items[0].pfir_date,
      // accepted: '',
    },
    {
      docKey: 'inv',
      reference: documentApiResult.items[0].i_id,
      status: documentApiResult.items[0].i_status,
      date: documentApiResult.items[0].i_date,
      // accepted: '',
    },
  ];

  let documents2: Document[] = [];
  if (documentApiResult.items[0].id != null) {
    documents2.push(documents[0]);
  }
  if (documentApiResult.items[0].ra_id != null) {
    documents2.push(documents[1]);
  }
  if (
    documentApiResult.items[0].rar_id != null &&
    documentApiResult.items[0].rar_status != 'CANCELLED'
  ) {
    documents2.push(documents[2]);
  }
  if (documentApiResult.items[0].pfi_id != null) {
    documents2.push(documents[3]);
  }
  // for (let index = 0; index < document2ApiResult.items.length; index++) {
  //   if(document2ApiResult.items[index].pfir_id!=null){
  //     documents[4].reference = document2ApiResult.items[index].pfir_id,
  //     documents[4].status = document2ApiResult.items[index].pfir_status,
  //     documents[4].date = document2ApiResult.items[index].pfir_date,
  //     documents2.push(documents[4]);
  //   }
  // }

  if (
    documentApiResult.items[0].pfir_id != null &&
    documentApiResult.items[0].pfir_status != 'CANCELLED'
  ) {
    documents2.push(documents[4]);
  }

  if (
    documentApiResult.items[0].i_id != null &&
    documentApiResult.items[0].i_status != 'CANCELLED'
  ) {
    documents2.push(documents[5]);
  }

  const { refreshPage } = useTabs();

  async function handleRejectPfi() {
    const actionProps: PfiActionParams = {
      id: props.pfiId!,
      action: 'REJECT',
    };

    createConfirm({
      iconType: 'warning',
      content: 'Apakah anda yakin ingin menolak Proforma Invoice ini ?',
      async onOk() {
        const pfiRejectActionApiResult = await pfiActionApi(actionProps);

        createSuccessModal({
          title: 'Success',
          content: 'Dokumen Proforma Invoice ditolak.',
          onOk() {
            router.push(`/proforma-invoice-response/detail/${pfiRejectActionApiResult.pfir_id}`);
            refreshPage();
          },
        });
      },
    });
  }

  async function handleRevertPfi() {
    const actionProps: PfiRevertParams = {
      id: props.pfiId!,
      action: 'AWAITING_ACTION',
    };

    createConfirm({
      iconType: 'warning',
      content: 'Apakah anda yakin ingin membatalkan Proforma Invoice ini ?',
      async onOk() {
        const pfiRevertActionApiResult = await pfiRevertApi(actionProps);

        createSuccessModal({
          title: 'Success',
          content: 'Dokumen Proforma Invoice diBatalkan.',
          onOk() {
            router.push(`/receiving-advice/detail/${pfiRevertActionApiResult.ra_id}`);
            refreshPage();
          },
        });
      },
    });
  }

  async function handleAcceptPfi() {
    const actionProps: PfiActionParams = {
      id: props.pfiId!,
      action: 'ACCEPT',
    };

    createConfirm({
      iconType: 'warning',
      content: 'Apakah anda yakin ingin menerima Proforma Invoice ini ?',
      async onOk() {
        const pfiAcceptionActionApiResult = await pfiActionApi(actionProps);

        createSuccessModal({
          title: 'Success',
          content: 'Dokumen Proforma Invoice diTerima. Draft Invoice dibuat.',
          onOk() {
            router.push(`/invoice/detail/${pfiAcceptionActionApiResult.inv_id}`); // POST
            refreshPage();
          },
        });
      },
    });
  }

  function jsonPrint() {
    let pdfName = `ProForma Invoice - ${pfiDetailInfoData.supplier_name}.pdf`;
    var doc = new jsPDF('p', null, 'a4');
    doc.setFontSize(9);
    let image = new Image();
    image.src = logo;
    doc.addImage(image, 'png', 5, 5, 77, 9);
    doc.text(105, 10, 'ProForma Invoice');
    const tableColumns = columns.map((value) => {
      return {
        header: value.title,
        dataKey: value.key,
      };
    });
    let data = items.map((value, index) => {
      return {
        no: index + 1,
        code: value.item_code + '\nSub: ' + value.sub_code + '\nUnit: ' + value.unit_code,
        capacityAndBarcode: value.capacity + '/' + value.barcode,
        itemName: value.item_name,
        totalQty: toFixedFloat(value.received_qty),
        Unitprice: toFixedFloat(value.unit_price),
        reconciled: toFixedFloat(value.reconciled),
        remarks: value.remarks,
      };
    });
    doc.html(document.getElementById('header-pdf'), {
      callback: function (doc) {
        // Save the PDF
        autoTable(doc, {
          columns: [
            {
              header: 'No',
              dataKey: 'no',
            },
            ...tableColumns,
          ],
          body: data,
          startY: 58,
          styles: {
            fontSize: 6,
          },
        });
        doc.setFontSize(9);
        doc.text(145, doc.lastAutoTable.finalY + 3, `Total harga: Rp.${toFixedFloat(total)}`);
        doc.html(document.getElementById('additional-info'), {
          callback: function (doc) {
            // Save the PDF
            doc.save(pdfName);
          },
          x: 5,
          y: doc.lastAutoTable.finalY + 10,
          width: 200, //target width in the PDF document
          windowWidth: 1500, //window width in CSS pixels
        });
      },
      x: 5,
      y: 15,
      width: 200, //target width in the PDF document
      windowWidth: 1500, //window width in CSS pixels
    });
  }
</script>
<style scoped>
  .button {
    float: right;
    display: block;
    margin-top: -45px;
    margin-right: 20px;
  }
  .destination {
    font-size: 20px;
  }
  .button {
    float: right;
    display: block;
    margin-top: -45px;
    margin-right: 20px;
  }
  .info-title {
    font-size: 14px;
    font-weight: bold;
  }

  #total-price-box {
    padding: 8px;
    font-size: 16px;
    text-align: right;
    margin-bottom: 16px;
  }

  #total-price-amount {
    font-weight: bold;
  }

  #additional-info {
    white-space: pre-line;
    font-size: 14px;
    background-color: #ee2a33;
    color: white;
    border-radius: 20px;
    margin: 0px 10px 20px;
  }
</style>
