<template>
  <CollapseContainer :title="'Consignment Performa Invoice'" :canExpan="false" />
  <div id="invoice-print-div" class="p-1">
    <div class="md:flex enter-y">
      <div class="ant-card ant-card-bordered ant-card-small md:w-1/2 w-full !md:mt-0 !md:mr-4">
        <div class="mx-4 mt-4 info-title"> Return Information </div>
        <Description
          size="small"
          :bordered="true"
          :column="1"
          :data="infos"
          :schema="orderInfoSchema"
        />
      </div>
      <div class="ant-card ant-card-bordered ant-card-small md:w-1/2 w-full !md:mt-0 !md:mr-4">
        <div class="mx-4 mt-4 info-title"> Informasi Supplier </div>
        <div class="mx-4 mb-2 destination"> {{ infos.supplier_name }} </div>
        <Description
          size="small"
          :bordered="true"
          :column="2"
          :data="infos"
          :schema="supplierSchema"
        />
      </div>
    </div>
  </div>

  <div class="p-1" style="background-color: white">
    <BasicTable @register="registerTable" class="main-table">
      <template #bodyCell="{ column, record }">
        <template v-if="column.key === 'Unitprice'">
          {{ toFixedFloat(record.unit_price) }}
        </template>
      </template>
    </BasicTable>
    <div class="md:flex enter-y" id="total-price-box">
      <div class="md:w-4/5 w-full !md:mt-0 !md:mr-4"> Total Harga: </div>
      <div class="md:w-1/5 w-full !md:mt-0 !md:mr-4" id="total-price-amount">
        Rp.{{ toFixedFloat(total) }}</div
      >
    </div>
  </div>
</template>
<script setup lang="ts">
  import { DescItem, Description } from '/@/components/Description';
  import { BasicColumn, useTable, BasicTable } from '/@/components/Table';
  import { toFixedFloat } from '/@/views/components/DetailTemplates';
  import { defineProps } from 'vue';
  import { CollapseContainer } from '/@/components/Container/index';
  import { useUserStore } from '/@/store/modules/user';
  import { cpfiDetailApi, cpfiInfoApi } from '/@/api/vms/ConsigmentproformaInvoice';

  const props = defineProps({
    csnrId: String,
  });

  const userStore = useUserStore();
  const roles = userStore.getUserInfo.roles;
  let userRoles: string[] = [];
  roles.forEach((role) => {
    userRoles.push(role.value);
  });

  const pfirItemListApiResult = await cpfiDetailApi(props.csnrId);
  const items: Recordable[] = pfirItemListApiResult.items;

  const pfirDetailInfoApiResult = await cpfiInfoApi(props.csnrId);
  const info: Recordable[] = pfirDetailInfoApiResult.items;
  const infos = info[0];

  let total = 0;
  items.forEach((element) => {
    let tot =
      (element.total_cons_payable ? parseFloat(element.total_cons_payable) : 1) *
      parseFloat(items.length);
    total += parseFloat(tot);
  });
  let data = [];

  for (let index = 0; index < items.length; index++) {
    const element = items[index];
    data.push({
      // eslint-disable-next-line prettier/prettier
      "no": element.no,
      // eslint-disable-next-line prettier/prettier
       "sales_date": element.sales_date,
      // eslint-disable-next-line prettier/prettier
      "barcode": element.barcode ,
      // eslint-disable-next-line prettier/prettier
      "bank_promo": element.bank_promo,      
      // eslint-disable-next-line prettier/prettier
      "sales_type": element.sales_type,
      // eslint-disable-next-line prettier/prettier
      "nama_barang": element.nama_barang,
      // eslint-disable-next-line prettier/prettier
      "sales_qty": toFixedFloat(element.sales_qty),
      // eslint-disable-next-line prettier/prettier
      "selling_price": toFixedFloat(element.selling_price),
      // eslint-disable-next-line prettier/prettier
      "base_cons_margin": toFixedFloat(element.base_cons_margin),
      // eslint-disable-next-line prettier/prettier
      "base_cons_payable": toFixedFloat(element.base_cons_payable),
      // eslint-disable-next-line prettier/prettier
      "support_promo_sup": toFixedFloat(element.support_promo_sup),
      // eslint-disable-next-line prettier/prettier
      "total_cons_payable": toFixedFloat(element.total_cons_payable),
      // eslint-disable-next-line prettier/prettier
      "terima": element.terima,
    });
  }

  let print = [];
  for (let index = 0; index < items.length; index++) {
    const element = items[index];
    print.push({
      // eslint-disable-next-line prettier/prettier
      "no": element.no,
      // eslint-disable-next-line prettier/prettier
       "sales_date": element.sales_date,
      // eslint-disable-next-line prettier/prettier
      "barcode": element.barcode ,
      // eslint-disable-next-line prettier/prettier
      "bank_promo": element.bank_promo,      
      // eslint-disable-next-line prettier/prettier
      "sales_type": element.sales_type,
      // eslint-disable-next-line prettier/prettier
      "nama_barang": element.nama_barang,
      // eslint-disable-next-line prettier/prettier
      "sales_qty": toFixedFloat(element.sales_qty),
      // eslint-disable-next-line prettier/prettier
      "selling_price": toFixedFloat(element.selling_price),
      // eslint-disable-next-line prettier/prettier
      "base_cons_margin": toFixedFloat(element.base_cons_margin),
      // eslint-disable-next-line prettier/prettier
      "base_cons_payable": toFixedFloat(element.base_cons_payable),
      // eslint-disable-next-line prettier/prettier
      "support_promo_sup": toFixedFloat(element.support_promo_sup),
      // eslint-disable-next-line prettier/prettier
      "total_cons_payable": toFixedFloat(element.total_cons_payable),
      // eslint-disable-next-line prettier/prettier
      "terima": element.terima,
    });
  }

  const orderInfoSchema: DescItem[] = [
    { field: 'pfi_number', label: 'PFI Number' },
    { field: 'tanggal_pfi', label: 'Tanggal PFI' },
    { field: 'revisi', label: 'Revisi' },
    { field: 'store', label: 'Toko' },
    { field: 'department', label: 'Departemen' },
    { field: 'nama_perusahaan', label: 'Nama perusahaan' },
    { field: 'alamat_perusahaan', label: 'Alamat perusahaan' },
    { field: 'npwp', label: 'NPWP' },
    { field: 'sales_start_date', label: 'Sales Start Date' },
    { field: 'sales_end_date', label: 'Sales End Date:' },
    { field: 'con_margin_rate', label: 'Consignment Margin Rate' },
    { field: 'con_margin_value', label: 'Consignment Margin Value' },
  ];

  const supplierSchema: DescItem[] = [
    { field: 'supplier_code', label: 'Kode Supplier' },
    { field: 'supplier_name', label: 'Nama Supplier' },
    { field: 'supplier_phone', label: 'Telepon' },
    { field: 'supplier_fax', label: 'Fax' },
  ];

  const columns: BasicColumn[] = [
    { title: 'Sales Date', dataIndex: 'item_code', width: 150 },
    { title: 'Barcode Bank Promo / Sales Type', dataIndex: 'barcode', width: 240 },
    { title: 'Nama Barang', dataIndex: 'nama_barang', width: 150 },
    { title: 'Sales Qty', dataIndex: 'sales_qty', width: 80 },
    { title: 'Selling Price', dataIndex: 'selling_price', width: 80 },
    { title: 'Base Consignment Margin', dataIndex: 'base_cons_margin', width: 80 },
    { title: 'Base Consignment Payable', dataIndex: 'base_cons_payable', width: 100 },
    { title: 'Support Promo Supplier', dataIndex: 'support_promo_sup', width: 100 },
    { title: 'Sub Total Consignment Payable', dataIndex: 'total_cons_payable', width: 100 },
    { title: 'Terima', dataIndex: 'terima', width: 100 },
  ];

  const [registerTable] = useTable({
    title: 'Tabel Item',
    dataSource: data,
    columns: columns,
    bordered: true,
    tableSetting: { fullScreen: true },
    loading: false,
    pagination: false,
    canResize: true,
    scroll: { y: 300 },
    // showSummary: true,
  });
</script>
<style scoped>
  .destination {
    font-size: 20px;
  }

  .info-title {
    font-size: 14px;
    font-weight: bold;
  }

  #total-price-box {
    padding: 8px;
    font-size: 16px;
    text-align: right;
    margin-bottom: 16px;
  }

  #total-price-amount {
    font-weight: bold;
  }

  #additional-info {
    white-space: pre-line;
    font-size: 14px;
    background-color: #ee2a33;
    color: white;
    border-radius: 20px;
    margin: 0px 10px 20px;
  }
</style>
